@{
    ViewData["Title"] = "Non Railway Client Master";
}


<div class="list-inner">
    <div class="tast-list">
        <h2>Non Railway Client Master</h2>
    </div>
    <div class="list-btn">
        <a asp-area="" asp-controller="NonRlyClientMaster" asp-action="Manage" class="formBtn"><span class="fa fa-plus"></span> Add New Non Railway Client</a>
    </div>
</div>

<div class="accordion-body">
    <div class="row my-0 d-flex align-items-end">
        <div class="col-md-2 mb-4">
            <label for="Reference">Orgnatation Name</label>
            <input type="text" id="clientname" class="input" maxlength="200" />
        </div>
        <div class="col-md-2 mb-4">
            <label for="Reference">Orgnatation Code</label>
            <input type="text" id="ShortCode" class="input" maxlength="200" />
        </div>
        <div class="col-md-6 mb-4 alignBtn">
            <div class="savenext-btn">
                <button type="button" class="save-btn active" onclick="InitializeDatatable();">Search</button>
            </div>
        </div>
    </div>
</div>

<section class="table-section">
    <div class="task-listinput">
        <div class="dash-table">
            <table id="dtnonclient" class="table-responsive">
                <thead>
                    <tr>
                        <th>Orgnatation Name</th>
                        <th>Orgnatation Code</th>
                        <th>Orgnatation Type</th>
                        <th>MOBILE</th>
                        <th>EMAIL</th>
                        <th>Contact Name</th>
                        <th class="dt-align-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {
            $('#clientname').on('keypress', function (event) {
                Validation();
            }); $('#ShortCode').on('keypress', function (event) {
                Validation();
            });
        });

        $(function () {
            InitializeDatatable();
        });

        function InitializeDatatable() {
            var clientname = $("#clientname").val();
            var ShortCode = $("#ShortCode").val();

            var ajaxUrl = "@Url.Action("LoadTable")";

            $("#dtnonclient").DataTable({
                stateSave: false,
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true,
                serverSide: true,
                destroy: true,
                paging: true,
                searching: false,
                ajax: {
                    url: ajaxUrl,
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            "clientname": clientname,
                            "ShortCode": ShortCode
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    },
                },
                columns: [
                    { data: "ClientName" },
                    { data: "ShortCode" },
                    { data: "Orgn_Type" },
                    { data: "MOBILE" },
                    { data: "EMAIL" },
                    { data: "ContactName" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            debugger
                            var id = data.Id;
                            var editUrl = '@Url.Action("Manage", "NonRlyClientMaster")/' + id;
                            var html = '<div align=\"center\" class=\"reportIcon actionCenter\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                            html += '<a onclick="Delete(this.id); return false;" href="javascript:void(\'0\');" id=\"' + id + '\" class=\"delete\"><i class=\"fa fa-trash\" title="Delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }

        function Delete(id) {
            var url = '@Url.Action("Delete", "NonRlyClientMaster")?ID=' + id;
            $("#btn-delete-yes").attr("href", url);
            $("#modal-delete-conf").modal("show");
        }

        function Validation() {
            var userInput = event.key;
            var regex = /^[a-zA-Z\s]+$/;

            if (!regex.test(userInput)) {
                event.preventDefault();
            }
        }
    </script>
}
