@model IBS.Models.Clientmaster

@{
    ViewData["Title"] = "Manage Non Client Master";
}
<div class="list-inner">
    <div class="tast-list">
        <h2>Manage Non Client</h2>
    </div>
    <div>
        <a asp-action="Index" asp-controller="NonRlyClientMaster" class="formBtn viewall-btn">View List</a>
    </div>
</div>


<div class="task-listinput">
    <form asp-controller="NonRlyClientMaster" asp-action="NonClientDetailsave" role="form" id="frmNonClient">
        <div class="accordion-body">
            <div class="row my-0">
                <input type="hidden" asp-for="Id" />
                <div class="col-md-4 mb-3">
                    <label for="Reference">Client Name</label><i class="text-danger">*</i>
                    <input type="text" class="input" ASP-FOR="ClientName" maxlength="300" id="clientname" required />
                    <span asp-validation-for="ClientName" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Short Code</label><i class="text-danger">*</i>
                    <input type="text" class="input" ASP-FOR="ShortCode" maxlength="300" required />
                    <span asp-validation-for="ShortCode" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Orgn Type(Sector)</label><i class="text-danger">*</i>
                    @Html.DropDownListFor(model => model.Orgn_Type, new SelectList(IBS.Models.Common.Non_Orgn_Type() , "Value", "Text"), "--Select--",new { @class = "form-control" })
                    <span asp-validation-for="Orgn_Type" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Contact Name</label><i class="text-danger">*</i>
                    <input type="text" class="input" ASP-FOR="ContactName" maxlength="300" id="contactname" required />
                    <span asp-validation-for="ContactName" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Contact Designation</label><i class="text-danger">*</i>
                    <input type="text" class="input" ASP-FOR="Client_DESIGNATION" maxlength="10" required />
                    <span asp-validation-for="Client_DESIGNATION" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Mobile No</label><i class="text-danger">*</i>
                    <input type="text" class="input" ASP-FOR="MOBILE" maxlength="10" id="mobilenumber" onkeypress="return isNumber(event)" required />
                    <span asp-validation-for="MOBILE" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Email</label><i class="text-danger">*</i>
                    <input type="email" class="input" ASP-FOR="EMAIL" id="email" maxlength="300" required />
                    <span asp-validation-for="EMAIL" id="emailValidationMessage" style="color:red;"></span>
                </div>
            </div>
            <div class="savenext-btn">
                <button type="button" class="save-btn active Permission_Save" onclick="Save();">Save</button>
            </div>
        </div>
    </form>
</div>


@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        $(document).ready(function() {
            $('#clientname').on('keypress', function (event) {
                Validation();
             });

            $('#contactname').on('keypress', function (event) {
                Validation();
             });
            $('#mobilenumber').on('keypress', function (event) {
                var userInput = event.key;
                var regex = /^[0-9]+$/;

                if (!regex.test(userInput)) {
                    event.preventDefault();
                }
            });
            $('#email').on('keyup', function () {
                Emailvalidation();
            });
        });

        function Save() {
            if ($("#frmNonClient").valid()) {
                if (!Emailvalidation()) {
                    return;
                }
                $("#frmNonClient").submit();
            }
        }

        function Validation(){
            var userInput = event.key;
            var regex = /^[a-zA-Z\s]+$/;

            if (!regex.test(userInput)) {
                event.preventDefault();
            }
        }

        function Emailvalidation() {
            const email = $('#email').val();
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

            if (!expr.test(email)) {
                $('#emailValidationMessage').text('Please enter a valid email address.');
                return false;
            } else {
                $('#emailValidationMessage').text('');
                return true;
            }
        }
    </script>
}