@{
    ViewData["Title"] = "Consignee/Purchaser Master";
}

<div class="list-inner">
    <div class="tast-list">
        <h2>Consignee/Purchaser Master</h2>
    </div>
    <div>
        <a asp-area="" asp-controller="ConsigneePurchase" asp-action="Manage" class="formBtn Permission_Add"><span class="fa fa-plus" id="btnAddNew"></span> Add New</a>
    </div>
</div>
<div class="task-listinput">
    <div class="accordion-body">
        <div class="task-inner row">
            <div class="col-md-3 mb-2">
                <div class="reference">
                    <label for="Reference">Consignee Code</label>
                    <input type="text" class="input" id="ConsigneeCode" />
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="reference">
                    <label for="Reference">Consignee Designation</label>
                    <input type="text" class="input" id="ConsigneeDesig" />
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="reference">
                    <label for="Reference">Railway/Purchase</label>
                    <input type="text" class="input" id="RailwayPurchase" />
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="reference">
                    <label for="Reference">City</label>
                    <input type="text" class="input" id="City" />
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="reference">
                    <label for="Reference">Sap Customer Code</label>
                    <input type="text" class="input" id="SapCustomerCode" />
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="reference">
                    <label for="Reference">GSTIN No</label>
                    <input type="text" class="input" id="GSTIN_No" />
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="savenext-btn btnAlign">
                    <button type="button" class="save-btn active" onclick="InitializeDatatable();" id="btnSearch">Search</button>
                    <button type="button" class="reset-btn" onclick="ClearControls();" id="btnClear">Clear</button>
                </div>
            </div>
        </div>
    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtConsigneeList" class="display nowrap" width="100%">
                    <thead>
                        <tr>
                            <th>Consignee code</th>
                            <th>Consignee Designation/Department</th>
                            <th>Description</th>
                            <th>Consignee Firm</th>
                            <th>Consignee City</th>
                            <th>Consignee Address</th>
                            <th>GSTIN No.</th>
                            <th class="dt-align-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        //$(document).ready(function () {
        //    InitializeDatatable();
        //});

        function InitializeDatatable() {
            var ConsigneeCode = $("#ConsigneeCode").val();
            var ConsigneeDesig = $("#ConsigneeDesig").val();
            var RailwayPurchase = $("#RailwayPurchase").val();
            var City = $("#City").val();
            var SapCustomerCode = $("#SapCustomerCode").val();
            var GSTIN_No = $("#GSTIN_No").val();

            $("#dtConsigneeList").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: false,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            "CONSIGNEE_CD": ConsigneeCode,
                            "CONSIGNEE_DESIG": ConsigneeDesig,
                            "CONSIGNEE_FIRM": RailwayPurchase,
                            "CITY": City,
                            "SAP_CUST_CD_CON": SapCustomerCode,
                            "GSTIN_NO": GSTIN_No,
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [// Columns Setups
                    { data: "CONSIGNEE_CD" },
                    { data: "CONSIGNEE_NAME" },
                    { data: "DESIG_DESC" },
                    { data: "CONSIGNEE_FIRM" },
                    { data: "CONSIGNEE_ADD1" },
                    { data: "CONSIGNEE_CITY" },
                    { data: "GSTIN_NO" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var id = row.CONSIGNEE_CD;
                            var editUrl = '@Url.Action("Manage", "ConsigneePurchase")/' + id;
                            var html = '<div align=\"center\" class=\"reportIcon actionCenter\"> <a href=\"' + editUrl + '\" class=\"edit btnedit\"><i class=\"fa fa-pencil Permission_EditView\" title="Edit"></i></a>';
                            //html += '<a onclick="Delete(' + id + ')" href="javascript:void(\'0\');" id=\"' + id + '\" class=\"delete btndelete\"><i class=\"fa fa-trash Permission_Delete\" title="Delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }

        function ClearControls() {
            $("#ConsigneeCode").val("");
            $("#ConsigneeDesig").val("");
            $("#RailwayPurchase").val("");
            $("#City").val("");
            $("#SapCustomerCode").val("");
            $("#GSTIN_No").val("");

            InitializeDatatable();
        }

        function Delete(id) {
            var url = '@Url.Action("Delete", "ConsigneePurchase")';
            $("#btn-delete-yes").attr("href", url + "/" + id);
            $("#modal-delete-conf").modal("show");
        }

    </script>
}


