@{
    ViewData["Title"] = "Inspection Certificate Book Set";
    string Region = IBS.Helper.SessionHelper.UserModelDTO.Region;
}

<div class="list-inner">
    <div class="tast-list">
        <h2>Inspection Certificate Book Set</h2>
    </div>
    <div class="list-btn">
        <a asp-area="" asp-controller="IC_Bookset_Form" asp-action="Manage" class="formBtn"><span class="fa fa-plus"></span> Add New</a>
    </div>
</div>
<div class="task-listinput">
    <div class="accordion-body">
        <div class="task-inner row">
            <div class="col-md-2">
                <div class="input-search">
                    <label for="BookNo">Book No.</label>
                    <input type="text" class="input" id="BookNo" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-search">
                    <label for="SetNoFrom">Set No. From</label>
                    <input type="text" class="input" id="SetNoFrom" onkeypress="return isNumber(event)" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-search">
                    <label for="IssueToIecd">IE to Whom Issued</label>
                    @Html.DropDownList("IssueToIecd", Common.GetIEIEToWhomIssued(Region), "--Select--",  new { @class = "" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="savenext-btn btnAlign">
                    <button type="button" class="save-btn active" onclick="InitializeDatatable();">Search</button>
                    <button type="button" class="reset-btn" onclick="CLearControls();">Clear</button>
                </div>
            </div>
        </div>
    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtBookSet" class="table-responsive">
                    <thead>
                        <tr>
                            <th>Book No</th>
                            <th>Set No. From</th>
                            <th>Set No. To</th>
                            <th>Issue Date to IE</th>
                            <th>IE to Whom Issued</th>
                            <th>Book Submitted</th>
                            <th>Book Submit Date</th>
                            <th>Book Issued To Region</th>
                            <th class="actionsTd">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>


@section scripts{
    <partial name="_DataTablesScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            InitializeDatatable();
        });

        function InitializeDatatable() {

            var BookNo = $("#BookNo").val();
            var SetNoFrom = $("#SetNoFrom").val();
            var IssueToIecd = $("#IssueToIecd").val();

            $("#dtBookSet").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            BookNo, SetNoFrom, IssueToIecd
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [// Columns Setups
                    { data: "BkNo" },
                    { data: "SetNoFr" },
                    { data: "SetNoTo" },
                    {
                        data: "IssueDt",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD/MM/YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "IeName" },
                    { data: "BkSubmitted" },
                    {
                        data: "BkSubmitDt",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD/MM/YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "Region" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var id = data.Id;
                            var editUrl = '@Url.Action("Manage", "IC_Bookset_Form")/' + id;
                            var html = '<div align=\"center\" class=\"reportIcon actionCenter\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                            //html += '<a onclick="Delete(this.id); return false;" href="javascript:void(\'0\');" id=\"' + id + '\" class=\"delete\"><i class=\"fa fa-trash\" title="Delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }

         function CLearControls() {
            $("#BookNo").val("");
            $("#SetNoFrom").val("");
            $("#IssueToIecd").val("");

            InitializeDatatable();
        }

        function Delete(id) {
            var url = '@Url.Action("Delete", "IC_Bookset_Form")';
            $("#btn-delete-yes").attr("href", url + "/" + id);
            $("#modal-delete-conf").modal("show");
        }

        $("#SetNoFrom").on("blur", function () {
            $(this).addLeadingZeros(3);
        });

        $.fn.addLeadingZeros = function (length) {
            if (this.val() == "") return;
            for (var el of this) {
                _value = el.value.replace(/^0+/, '');
                length = length - _value.length;
                if (length > 0) {
                    while (length--) _value = '0' + _value;
                }
                el.value = _value;
            }
        };


    </script>
}
