@{
    ViewData["Title"] = "Inspection Engineers";
    string Region = IBS.Helper.SessionHelper.UserModelDTO.Region;
}

<div class="list-inner">
    <div class="tast-list">
        <h2>Inspection Engineers</h2>
    </div>
    <div class="list-btn">
        <a asp-area="" asp-controller="InspectionEngineers" asp-action="Manage" class="formBtn"><span class="fa fa-plus"></span> Add New</a>
    </div>
</div>
<div class="task-listinput">
    <div class="accordion-body">
        <div class="task-inner row my-0">
            <div class="col-md-2">
                <div class="reference">
                    <label for="Reference">IE Code</label>
                    <input type="text" id="IeCd" class="input" onkeypress="return isNumber(event)" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="reference">
                    <label for="Reference">IE Short Name</label>
                    <input type="text" id="IeSname" class="input" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="reference">
                    <label for="Reference">IE Full Name</label>
                    <input type="text" id="IeName" class="input" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="reference">
                    <label for="Reference">Controlling Officer</label>
                    @Html.DropDownList("IeCoCd", new SelectList(IBS.Models.Common.GetControllingOfficer(Region) , "Value", "Text"),"--Select--")
                </div>
            </div>
            </div>
            <div class="row my-0">
            <div class="col-md-2">
                <div class="savenext-btn btnAlign">
                    <button type="button" class="save-btn active" onclick="InitializeDatatable();">Search</button>
                    <button type="button" class="reset-btn" onclick="ClearControls();">Clear</button>
                </div>
            </div>
        </div>
    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtIE" class="table-responsive">
                    <thead>
                        <tr>
                            <th>IE Code</th>
                            <th>IE Full Name</th>
                            <th>IE Short Name</th>
                            <th>Employee No</th>
                            <th>IE Seal No.</th>
                            <th>IE City</th>
                            <th>IE Region</th>
                            <th class="dt-align-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            InitializeDatatable();
        });

        function InitializeDatatable() {

            var IeCd = $("#IeCd").val();
            var IeSname = $("#IeSname").val();
            var IeName = $("#IeName").val();
            var IeCoCd = $("#IeCoCd").val();

            $("#dtIE").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            IeCd, IeSname, IeName, IeCoCd
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [// Columns Setups
                    { data: "IeCd" },
                    { data: "IeName" },
                    { data: "IeSname" },
                    { data: "IeEmpNo" },
                    { data: "IeSealNo" },
                    { data: "IeCityCd" },
                    { data: "IeRegion" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var IeCd = data.IeCd;
                            var IeRegion = data.IeRegion ?? "";
                            IeRegion = "'" + IeRegion + "'";
                            var html = '<div align=\"center\" class=\"reportIcon actionCenter\"> <a onclick="Edit(this.id,' + IeRegion + '); return false; " href="javascript: void (\'0\');" id=\"' + IeCd + '\" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                            html += '<a onclick="Delete(this.id,' + IeRegion + '); return false;" href="javascript:void(\'0\');" id=\"' + IeCd + '\" class=\"delete\"><i class=\"fa fa-trash\" title="Delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }

        function Edit(id, IeRegion) {
            if ('@Region' != IeRegion) {
                ShowHideMsgNew(false, "You Are Not Authorised to Update / Delete IE data of other Regions!!!");
                return;
            }

            window.location.href = '@Url.Action("Manage", "InspectionEngineers")/' + id;

        }

        function Delete(id, IeRegion) {
            if ('@Region' != IeRegion) {
                ShowHideMsgNew(false, "You Are Not Authorised to Update / Delete IE data of other Regions!!!");
                return;
            }

            var url = '@Url.Action("Delete", "BankMaster")';
            $("#btn-delete-yes").attr("href", url + "/" + id);
            $("#modal-delete-conf").modal("show");
        }

        function ClearControls() {
            $("#IeCd").val("");
            $("#IeSname").val("");
            $("#IeName").val("");
            $("#IeCoCd").val("");

            InitializeDatatable();
        }

    </script>
    }
