@using IBS.Helper;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/frontend/images/favicon.ico">
    <title>RITES Limited, A Government of India Enterprise</title>
    <link href="~/frontend/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="~/frontend/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" />
    <link href="~/frontend/css/front-style.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="description" content="RITES Limited, A Government of India Enterprise" />
    <script type="text/javascript" src="~/frontend/js/modernizr.js"></script>
    <script type="text/javascript" src="~/frontend/js/jquery-min.js"></script>

    @*<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
</head>

<body class="noJS">
    <div class="wrapper">
        <header id="header">
            <div class="headerRow">
                <div class="container">
                    <div class="logoRow">
                        <div class="row m-0">
                            <div class="col-lg-4 col-md-12">
                                <div class="mainLogo">
                                    <a asp-action="Index" asp-controller="Fhome" title="RITES Limited, A Government of India Enterprise">
                                        <img src="~/frontend/images/rites-logo.png" alt="RITES Limited, A Government of India Enterprise" /><br />
                                        <span class="secondTitle">(A Government of India Enterprise)</span><br />
                                        <span class="secondTitle">A Navaratna Schedule 'A' CPSE</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 d-flex align-items-center justify-content-center">
                                <div class="brandDetail text-center"> <span class="firstTitle">Quality Assurance Division</span> <span class="secondTitle">ISO 9001, 17020, 17065</span> </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="">
                                    <ul class="headerSkipContent">
                                        <li><a tabindex="1" href="#content">Skip to Main Content</a></li>
                                        <li class="fontResize">
                                            <div id="accessControl" class="textResizeWrapper">
                                                <input type="submit" value="A-" id="font_normal" title="Decrease Font Size" class="fontScaler large">
                                                <input type="submit" value="A" id="font_large" title="Normal Font Size" class="fontScaler normal">
                                                <input type="submit" value="A+" id="font_larger" title="Increase Font Size" class="fontScaler largest">
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="rightLinks">
                                        <li class="helpLineNumber">National Helpline Number <span>1800 425 7000 (TOLL FREE)</span> </li>
                                        <li class="langSelectBoxIn">
                                            <label for="languages" id="languageSelection">Language</label>
                                            <select name="Languages" id="languages" title="Select Language" class="">
                                                <option selected="selected" value="">English</option>
                                                <option value="">हिन्दी</option>
                                            </select>
                                            <input type="submit" name="btnSearchLng" value="Go" id="btnSearchLng" class="goButton">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainNavigationWrap" id="top">
                <div class="container">
                    <div id="mainNav" class="mainNavigation">
                        <div class="menuPart cf">
                            <ul id="nav">
                                <li><a asp-action="Index" asp-controller="Fhome">Home</a></li>
                                <li>
                                    <a href="#" title="About Us">About Us</a>
                                    <ul>
                                        <li><a asp-action="Overview" asp-controller="AboutUs">Overview</a></li>
                                        <li><a asp-action="QaDivisionProfile" asp-controller="AboutUs">QA Division Profile</a></li>
                                        <li><a asp-action="ServiceSpectrum" asp-controller="AboutUs">Service Spectrum</a></li>
                                        <li><a asp-action="Resources" asp-controller="AboutUs">Resources</a></li>
                                        <li><a asp-action="OurClients" asp-controller="AboutUs">Our Clients</a></li>
                                        <li><a asp-action="OurCommittment" asp-controller="AboutUs">Our Commitments</a></li>
                                    </ul>
                                </li>
                                @*<li><a asp-action="Index" asp-controller="Home">Admin</a></li>*@
                                <li>
                                    <a href="#" title="Client">Client</a>
                                    <ul>
                                        <li><a asp-action="Index" asp-controller="Home">Login</a></li>
                                        <li><a asp-action="Index" asp-controller="Home">Vendor Performance</a></li>
                                        <li><a asp-action="Index" asp-controller="Home">Specific PO/CALL Status With Downloading facility of IC/TEST Plan</a></li>
                                        <li><a asp-action="Index" asp-controller="ClientFeedback">Client Feedback</a></li>
                                        <li><a asp-action="Index" asp-controller="OnlineComplaints">Facility to Register Online Rejection Advice</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" title="Vendor">Vendor</a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">Guidelines for Call Registration(for New, Existing Vendors & Uploading of Lab Payment Receipt)</a>
                                            <ul>
                                                <li><a href="~/frontend/pdf/IVRS_NEW.pdf" target="_blank">Interactive Automatic Call Desk Helpline No. 1800 425 7000 (Toll Free)</a></li>
                                                <li><a href="~/frontend/pdf/General-Guidelines.PDF" target="_blank">General Guidelines to Register Inspection Call</a></li>
                                                <li><a href="~/frontend/pdf/Indicative-Guidelines.PDF" target="_blank">Indicative Guidelines to Suppliers For TPI</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="~/frontend/pdf/Vendor-Lab-Receipt-Upload-Mannual.pdf" target="_blank">Guidance for Uploading Lab Charges Payment Receipt</a></li>
                                        <li>
                                            <a href="javascript:void(0);">Inspection</a>
                                            <ul>
                                                <li><a asp-action="Index" asp-controller="Home">Po/call Registration</a></li>
                                                <li><a asp-action="Index" asp-controller="Home">Qty Enhancement</a></li>
                                                <li><a asp-action="Index" asp-controller="Home">New Items In Already Registered LOA</a></li>
                                                <li><a asp-action="Index" asp-controller="Home">Documents Upload</a></li>
                                                <li><a asp-action="Index" asp-controller="Home">Specific Po/call Status</a></li>
                                                <li><a asp-action="Index" asp-controller="Home">Download Inspection Invoice</a></li>
                                            </ul>
                                        </li>
                                        <li><a asp-action="Index" asp-controller="Home">Online Payment Through Gateway</a></li>
                                        <li><a href="~/frontend/pdf/CRCharges.pdf" target="_blank">Cancellation Charges</a></li>
                                        <li><a href="~/frontend/pdf/CRCharges.pdf" target="_blank">Rejection Charges</a></li>
                                        <li><a href="javascript:void(0);" target="_blank">Lab Charges</a>
                                            <ul>
                                                <li><a href="~/frontend/pdf/Average-Lab-Testing-Time-NR.pdf" target="_blank">Northern Region</a></li>
                                                <li><a href="~/frontend/pdf/Average-Lab-Testing-Time-WR.pdf" target="_blank">Western Region</a></li>
                                                <li><a href="~/frontend/pdf/Average-Lab-Testing-Time-SR.pdf" target="_blank">Southern Region</a></li>
                                                <li><a href="~/frontend/pdf/Average-Lab-Testing-Time-ER.pdf" target="_blank">Eastern Region</a></li>
                                            </ul>    
                                        </li>
                                        <li><a asp-action="Index" asp-controller="VendorFeedback">Vendor Feedback</a></li>
                                        <li><a href="~/frontend/pdf/BANK-DETAILS.PDF" target="_blank">Bank Details of All Regions</a></li>
                                        <li><a href="javascript:void(0);" target="_blank">Manual Inspection Call Format</a></li>
                                        <li><a href="~/frontend/pdf/Online-Inspection-Invoice-of-RITES.pdf" target="_blank">Online Inspection Invoice of Rites</a></li>
                                    </ul>
                                </li>
                                @*<li><a href="#" title="Inspection engineer Interface">Inspection engineer Interface</a></li>*@
                                <li><a href="#" title="Quick Links">Quick Links</a>
                                    <ul>
                                        <li><a asp-action="Index" asp-controller="Home">Client Login</a></li>
                                        <li><a asp-action="Index" asp-controller="Home">Vendor Login</a></li>
                                        <li><a asp-action="Index" asp-controller="Home">IE Login</a></li>
                                        <li><a asp-action="Index" asp-controller="Home">User Login</a></li>
                                        <li><a asp-action="Index" asp-controller="Home">Liaisoning Officer Login</a></li>
                                        <li><a asp-action="Index" asp-controller="Home">Online Payment Through Gateway</a></li>
                                        <li><a asp-action="Index" asp-controller="FeedbackSuggestion">Feedback & Suggestions</a></li>
                                        <li><a href="https://rites.com/" target="_blank">Online Payment Through Gateway</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" title="Miscellaneous">Miscellaneous</a>
                                    <ul>
                                        <li><a asp-action="InfoInstructions" asp-controller="Miscellaneous">Info &amp; Instructions</a></li>
                                        <li><a asp-action="PhotoGallery" asp-controller="Miscellaneous">Photo Gallery</a></li>
                                        <li><a asp-action="QaChannelYouTube" asp-controller="Miscellaneous">QA Channel (YouTube)</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" title="Contact Us">Contact Us</a>
                                    <ul>
                                        <li><a asp-action="NorthernRegion" asp-controller="ContactUs">Northern Region</a></li>
                                        <li><a asp-action="WesternRegion" asp-controller="ContactUs">Western Region</a></li>
                                        <li><a asp-action="SouthernRegion" asp-controller="ContactUs">Southern Region</a></li>
                                        <li><a asp-action="EasternRegion" asp-controller="ContactUs">Eastern Region</a></li>
                                        <li><a asp-action="CentralRegion" asp-controller="ContactUs">Central Region</a></li>
                                        <li><a asp-action="ForeignInspection" asp-controller="ContactUs">Foreign Inspection</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()
       @* <div class="container">
            <div class="innerContent">
                
                
            </div>

        </div>*@

        <div class="thirdPartyLinks">
            <div class="container">
                <div class="footerLogoSlider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="footerLogoImageBox"> <a href="https://www.rites.com/" target="_blank" title="https://www.rites.com, The National Portal of India : External website that opens in a new window"><img src="~/frontend/images/rites-footer-logo.png" alt="https://www.rites.com, The National Portal of India : External website that opens in a new window" /></a> </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="footerLogoImageBox"> <a href="https://www.india.gov.in/" target="_blank" title="https://india.gov.in, The National Portal of India : External website that opens in a new window"><img src="~/frontend/images/india-gov-logo.jpg" alt="https://india.gov.in, The National Portal of India : External website that opens in a new window" /></a> </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="footerLogoImageBox"> <a href="https://www.rites.com/RITES@50" target="_blank" title="https://www.rites.com/RITES@50, The National Portal of India : External website that opens in a new window"><img src="~/frontend/images/rites-at-50-logo.png" alt="https://www.rites.com/RITES@50, The National Portal of India : External website that opens in a new window" /></a> </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="footerLogoImageBox"> <a href="https://www.mygov.in/" target="_blank" title="https://www.mygov.in/ The National Portal of India : External website that opens in a new window"><img src="~/frontend/images/my_gov.jpg" alt="https://www.mygov.in/ The National Portal of India : External website that opens in a new window" /></a> </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="footerLogoImageBox"> <a href="https://swachhbharatmission.gov.in/sbmcms/index.htm" target="_blank" title="https://swachhbharatmission.gov.in/ The National Portal of India : External website that opens in a new window"><img src="~/frontend/images/swatch-bharat.jpg" alt="https://swachhbharatmission.gov.in/ The National Portal of India : External website that opens in a new window" /></a> </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="footerLogoImageBox"> <a href="https://digitalindia.gov.in/" target="_blank" title="https://digitalindia.gov.in/ The National Portal of India : External website that opens in a new window"><img src="~/frontend/images/digital-india.jpg" alt="https://digitalindia.gov.in/ The National Portal of India : External website that opens in a new window" /></a> </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="footerLogoImageBox"> <a href="https://samanvay.cpse.in/" target="_blank" title="https://samanvay.cpse.in/ The National Portal of India : External website that opens in a new window"><img src="~/frontend/images/samanvay-logo.jpg" alt="https://samanvay.cpse.in/ The National Portal of India : External website that opens in a new window" /></a> </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="footerLogoImageBox"> <a href="https://mib.gov.in/mann-ki-baat" target="_blank" title="https://mib.gov.in/mann-ki-baat The National Portal of India : External website that opens in a new window"><img src="~/frontend/images/man-ki-baat.png" alt="https://mib.gov.in/mann-ki-baat The National Portal of India : External website that opens in a new window" /></a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="footerLogoSlider-prev sliderSmallArrow" role="button" aria-label="Previous slide" tabindex="0"><span class="fa fa-chevron-left"></span> </div>
                    <div class="footerLogoSlider-next sliderSmallArrow" role="button" aria-label="Next slide" tabindex="0"><span class="fa fa-chevron-right"></span></div>
                </div>
            </div>
        </div>
        <div class="footerAddress">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3>Address</h3>
                                <p>
                                    <span class="fa fa-map-marker"></span> <strong>Rites Ltd</strong><br />
                                    Shikhar, Plot No.01,<br />
                                    Sector 29, Gurugram,<br />
                                    Haryana, India-122001
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <h3>
                                    Regional Offices
                                </h3>
                                <ul class="regionalLinks">
                                    <li><a href="~/ContactUs/NorthernRegion">Northern Region</a></li>
                                    <li><a href="~/ContactUs/WesternRegion">Western Region</a></li>
                                    <li><a href="~/ContactUs/SouthernRegion">Southern Region</a></li>
                                    <li><a href="~/ContactUs/EasternRegion">Eastern Region</a></li>
                                    <li><a href="~/ContactUs/CentralRegion">Central Region</a></li>
                                    <li><a href="~/ContactUs/ForeignInspection">Foreign Inspection</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mapHolder">
                            <a href="https://maps.app.goo.gl/ZRNnkxHdU9tmmeFK9" title="Rites Ltd." target="_blank"><img src="~/frontend/images/rites-map.jpg" alt="Rites Ltd." /></a>
                            @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4959.728915232059!2d77.07005993533826!3d28.47780143180329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d191c59617f3d%3A0xad803124639e55c7!2sRITES%20Limited!5e0!3m2!1sen!2sin!4v1700485601825!5m2!1sen!2sin" style="border:0; margin:0; width:100%; height:220px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerStrip">
            <div class="container">
                <p>Copyright © 2023 RITES IT Division, Northern Region</p>
            </div>
        </div>
        <div id="backToTop"><a href="#top" id="atop" title="Go to Navigation">Go to Navigation</a></div>
    </div>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript" src="~/frontend/js/bootstrap.min.js"></script>
    <noscript class="displayNone">
    </noscript>
    <script type="text/javascript" src="~/frontend/js/functions.js"></script>
    <noscript class="displayNone">
    </noscript>
    <script type="text/javascript" src="~/frontend/js/general.js"></script>
    <noscript class="displayNone">
    </noscript>

</body>

</html>
