<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IBS | @ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link type="text/css" href="~/css/admin-style.css" rel="stylesheet" />
    <link type="text/css" href="~/css/admin-responsive.css" rel="stylesheet" />
    <script src="~/js/modernizr.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/js/crypto-js.js"></script>
    <script src="~/js/aes.js"></script>
</head>

<body class="noJS">
    @* @{
    string LoginType = Convert.ToString(IBS.Helper.SessionHelper.UserModelDTO.LoginType);
    }*@

    <partial name="_AlterPartial" />

    <noscript class="jsRequired">
        This page uses Javascript. Your browser either doesn't support Javascript
        or you have it turned off. To see this page as it is meant to appear
        please use a Javascript enabled browser.
    </noscript>
    <!--Wrapper-->
    <div id="wrapper">
        <!--mainContainer-->
        <section id="mainContainer">

            <!--header-->
            <header id="header">
                <!--logoSection-->
                <div class="logoSection">
                    <a href="dashboard.htm" title="RITES Limited"><img src="~/images/rites-logo.png" width="191" height="57" alt="RITES Limited" /></a>
                </div>
                <!--logoSection-->
                <!--topLinksAndSearch-->
                <div class="topLinksAndSearch cf">
                    <!--userTopLinks-->
                    <div class="userTopLinks">
                        <ul>
                            <li>
                                <div class="search">
                                    <input type="text" placeholder="Enter Keyword" />
                                    <button type="submit"> <span class="fa fa-search"></span> </button>
                                </div>
                            </li>
                            <li>
                                <div class="relative">
                                    <a href="#" class="openDrpPopup"> <span class="fa fa-bell-o" aria-hidden="true"></span> <span class="roundCount red">5</span> </a>
                                    <div class="dropPopup messagePopup">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span class="dropPopupTitle">Lorem Ipsum is simply dummy.</span> <span class="dropPopupText">
                                                        Lorem Ipsum is simply dummy text of the printing
                                                        and typesetting industry.
                                                    </span> <span class="dropPopupDate">15-06-2016</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="dropPopupTitle">Lorem Ipsum is simply dummy.</span> <span class="dropPopupText">
                                                        Lorem Ipsum is simply dummy text of the printing
                                                        and typesetting industry.
                                                    </span> <span class="dropPopupDate">15-06-2016</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="dropPopupTitle">Lorem Ipsum is simply dummy.</span> <span class="dropPopupText">
                                                        Lorem Ipsum is simply dummy text of the printing
                                                        and typesetting industry.
                                                    </span> <span class="dropPopupDate">15-06-2016</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="dropPopupTitle">Lorem Ipsum is simply dummy.</span> <span class="dropPopupText">
                                                        Lorem Ipsum is simply dummy text of the printing
                                                        and typesetting industry.
                                                    </span> <span class="messageDate">15-06-2016</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="viewAll">View All Messages</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--userTopLinks-->
                    <!--userInformation-->
                    <div class="userInformation">
                        <!--userImg-->
                        <div class="userImgWrap">
                            <div class="userImg"> <img src="~/images/user-icon.png" width="51" height="51" alt="Admin" title="admin" /> </div>
                        </div>
                        <!--userImg-->
                        <!--userDetail-->
                        <div class="userDetail">
                            <a href="#" class="openDrpPopup">
                                <div class="user">
                                    <h4> Rishi Haria <i class="fa-solid fa-chevron-down"></i> </h4>
                                    <p>Admin</p>
                                </div>
                            </a>
                            <div class="dropPopup messagePopup">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Account</a>
                                    </li>
                                    <li>
                                        @if (IBS.Helper.SessionHelper.UserModelDTO != null)
                                        {
                                            <a asp-action="ChangePassword" asp-controller="Home" asp-route-id="@IBS.Models.Common.EncryptQueryString(Convert.ToString(IBS.Helper.SessionHelper.UserModelDTO.UserID))">
                                                <i class="fa fa-key" aria-hidden="true"></i>
                                                Change Password
                                            </a>
                                        }
                                    </li>
                                    <li>
                                        <form asp-area="" asp-action="Logout" asp-controller="Home">
                                            <button type="submit" class="logout-btn"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</button>
                                            @*<a href="#"><i class="fa fafa-sign-out" aria-hidden="true"></i> Logout</a>*@
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--userDetail-->
                    </div>
                    <!--userInformation-->
                    <div class="navBtn"><a href="#" id="menu-toggle" class="navbar-toggle"><i class="fa fa-bars"></i></a></div>
                </div>
                <!--topLinksAndSearch-->
            </header>
            <!--header-->
            <!--contentContainer-->
            <div class="contentContainer">
                <!--leftSidebarNav-->
                <aside id="sidebar" class="navbar-default navbar-static-side">
                    <div class="sidebar-collapse menu-scroll">
                        <ul id="side-menu" class="nav">
                            <li><a asp-action="Index" asp-controller="Dashboard"><i class="fa fa-fw"><img src="~/images/dashboard-ico.png" alt="dashboard" /></i><span class="menu-title">Dashboard</span></a></li>
                            @*<li><a asp-action="Index" asp-controller="Landlord"><i class="fa fa-fw"><img src="~/images/landlord-icons.svg" alt="landlord" /></i><span class="menu-title">Landlord</span></a></li>*@

                            <li>
                                <a href="#"><span class="fa arrow"></span><i class="fa  fa-fw"><img src="~/images/master-agreement-ico.png" alt="tenant" /></i><span class="menu-title">Master</span></a>
                                <ul class="nav nav-second-level">
                                    <li><a asp-action="Index" asp-controller="Role"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">Role</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="fa arrow"></span><i class="fa  fa-fw"><img src="~/images/master-ico.png" alt="tenant" /></i><span class="menu-title">PCDO Master</span></a>
                                <ul class="nav nav-second-level">
                                    <li><a asp-action="Index" asp-controller="Contract"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">Contract</span></a></li>
                                    <li><a asp-action="Index" asp-controller="ClientContract"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">ClientContract</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="fa arrow"></span><i class="fa  fa-fw"><img src="~/images/master-ico.png" alt="tenant" /></i><span class="menu-title">Administrator</span></a>
                                <ul class="nav nav-second-level">
                                    <li><a asp-action="UserMaster" asp-controller="UserAdministrator"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">User</span></a></li>
                                    <li><a asp-action="MessageMaster" asp-controller="GeneralMessages"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">General Message</span></a></li>
                                    <li><a asp-action="Allow_Old_Bill_DateMaster" asp-controller="Allow_Old_Bill_Date"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">Allow Old Bill Date Form</span></a></li>
                                    <li><a asp-action="MasterTableStatusList" asp-controller="MasterTableStatus"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">Master Tables Status</span></a></li>
                                    <li><a asp-action="IE_InstructionsMaster" asp-controller="IE_Instructions_Admin"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">Instructions for Inspection Engineer</span></a></li>
                                    <li><a asp-action="Index" asp-controller="DEOVendorPurchesOrder"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">Purchase Order Submitted By Vendors Awaiting Allocation Of Case No.</span></a></li>
                                    <li><a asp-action="UploadDoc" asp-controller="AdminUserUploadDoc"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">Upload Documents</span></a></li>
                                    <li><a asp-action="Index" asp-route-allowdl="Y" asp-controller="DownloadDocuments"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">Download Documents</span></a></li>
                                    <li><a asp-action="Index" asp-route-allowdl="Y" asp-route-actiontype="CI" asp-controller="DownloadDocuments"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">Download Corporate Instructions</span></a></li>
                                    <li><a asp-action="#" asp-controller="#"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">Purchase Order Submitted By Vendors Awaiting Allocation Of Case No.</span></a></li>
                                    <li><a asp-action="Index" asp-controller="DEOCRISPurchesOrderMA"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">MA Issued against CRIS Purchase Orders Registered In RITES.</span></a></li>
                                    <li><a asp-action="Index" asp-controller="MAapprove"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">Approval For MA</span></a></li>
                                    <li><a asp-action="Index" asp-controller="DEOCRISPurchesOrderMAWCaseNo"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">MA Issued against CRIS Purchase Orders Not Registered In RITES.(Under Testing)</span></a></li>


                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="fa arrow"></span><i class="fa  fa-fw"><img src="~/images/vendor-ico.png" alt="tenant" /></i><span class="menu-title">Vendor Details</span></a>
                                <ul class="nav nav-second-level">
                                    <li><a asp-action="Manage" asp-controller="VendorProfile"><i class="fa fa-angle-double-right"></i><span class="menu-title">Vendor Profile</span></a></li>
                                    <li><a asp-action="Index" asp-controller="VendorProfile"><i class="fa fa-angle-double-right"></i><span class="menu-title">Vendor list</span></a></li>
                                    <li><a asp-action="Manage" asp-controller="VendorProfile"><i class="fa fa-angle-double-right"></i><span class="menu-title">Vendor Document</span></a></li>

                                    <li><a asp-action="Index" asp-controller="POMaster"><i class="fa fa-angle-double-right"></i><span class="submenu-title">PO/Contracts Registration</span></a></li>
                                    <li><a asp-action="VendorCallRegister" asp-controller="VendorCallRegister"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Call For Inspection</span></a></li>
                                    <li><a asp-action="Index" asp-controller="PurchesOrder1LOA"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Add New Items in Already Registered LOA</span></a></li>
                                    <li><a asp-action="Index" asp-controller="CallRegister"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Registered Pending Calls Off Qty Enhancement Form</span></a></li>
                                    <li><a asp-action="Index" asp-controller="DownloadInspectionFeeBill"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Inspection Fee Bill</span></a></li>
                                    @*<li><a asp-action="Index" asp-controller="Role"><i class="fa fa-angle-double-right"></i><span class="menu-title">Specific PO Call/IC Status</span></a></li>*@
                                    <li><a asp-action="Index" asp-controller="VendorCallsMarkedForSpecificPO"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Specific PO Call Status</span></a></li>
                                    <li><a asp-action="Index" asp-controller="Role"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Specific PO IC Status</span></a></li>
                                    <li><a asp-action="Index" asp-controller="Role"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Lab Invoice</span></a></li>
                                    <li><a asp-action="Index" asp-controller="Role"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Add MA</span></a></li>
                                    <li><a asp-action="Index" asp-controller="Role"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Lab Sample Payment</span></a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#"><span class="fa arrow"></span><i class="fa  fa-fw"><img src="~/images/inspection-ico.png" alt="IE" /></i><span class="menu-title">IE Details</span></a>
                                <ul class="nav nav-second-level">
                                    <li><a asp-action="Index" asp-controller="UnitOfMeasurementsMaster"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Unit of Measurements Master</span></a></li>
                                    <li><a asp-action="Index" asp-controller="RitesDesignationMaster"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Rites Designation Master</span></a></li>
                                    <li><a asp-action="Index" asp-controller="RailwaysDirectory"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Railways Directory</span></a></li>
                                    <li><a asp-action="Index" asp-controller="Rly_Designation_Form"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Railway Designation Master</span></a></li>
                                    <li><a asp-action="Index" asp-controller="Role"><i class="fa fa-angle-double-right"></i><span class="submenu-title">City  Master</span></a></li>
                                    <li><a asp-action="Index" asp-controller="IE_CO_Form"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Controlling Officers of Inspecting Engineers</span></a></li>
                                    <li><a asp-action="Index" asp-controller="InspectionEngineers"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Inspection Engineers</span></a></li>
                                    <li><a asp-action="Index" asp-controller="Role"><i class="fa fa-angle-double-right"></i><span class="submenu-title">IC Book Set</span></a></li>
                                    <li><a asp-action="Index" asp-controller="Role"><i class="fa fa-angle-double-right"></i><span class="submenu-title">IC Book Set Search</span></a></li>
                                    <li><a asp-action="Index" asp-controller="Role"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Vendor/Manufacturer Master</span></a></li>
                                    <li><a asp-action="Index" asp-controller="Consignee_PMForm"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Consignee/Purchaser Master</span></a></li>
                                    <li><a asp-action="Index" asp-controller="Role"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Consignee/ Purchaser Entry</span></a></li>
                                    <li><a asp-action="Index" asp-controller="Bill_Paying_Officer_Form"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Bill Paying Officer (BPO)</span></a></li>
                                    <li><a asp-action="Index" asp-controller="BankMaster"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Bank Master</span></a></li>
                                    <li><a asp-action="Index" asp-controller="AccountCodesDirectory"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Account Codes Directory</span></a></li>
                                    <li><a asp-action="Index" asp-controller="Role"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Search of Hologram to IE</span></a></li>
                                    <li><a asp-action="Index" asp-controller="ClusterMaster"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Cluster Master</span></a></li>
                                    <li><a asp-action="Index" asp-controller="Role"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Vendor Cluster</span></a></li>
                                    <li><a asp-action="Index" asp-controller="Role"><i class="fa fa-angle-double-right"></i><span class="submenu-title">IE Cluster</span></a></li>
                                    <li><a asp-action="Index" asp-controller="Role"><i class="fa fa-angle-double-right"></i><span class="submenu-title">IE Maximum Call Limit Form</span></a></li>
                                    <li><a asp-action="Index" asp-controller="MasterItemsListForm"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Master Items List Form</span></a></li>
                                    <li><a asp-action="Index" asp-controller="Role"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Master Items PL Form</span></a></li>
                                    <li><a asp-action="CallsMarkedToIE" asp-route-type="C" asp-controller="CallsMarkedToIE"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Sorted On Call Date</span></a></li>
                                    <li><a asp-action="CallsMarkedToIE" asp-route-type="V" asp-controller="CallsMarkedToIE"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Sorted On Vendor</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="fa arrow"></span><i class="fa  fa-fw"><img src="~/images/transaction-ico.png" alt="IE" /></i><span class="menu-title">IE Transaction</span></a>
                                <ul class="nav nav-second-level">
                                    <li><a asp-action="DailyWorkPlan" asp-controller="DailyWorkPlan"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Daily Work Plan</span></a></li>
                                    <li><a asp-action="#" asp-controller="#"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Pending JI Complaints for IE Remarks</span></a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#"><span class="fa arrow"></span><i class="fa  fa-fw"><img src="~/images/inspection-payment-ico.png" alt="tenant" /></i><span class="menu-title">Lab</span></a>
                                <ul class="nav nav-second-level">
                                    <li><a asp-action="LaboratoryMaster" asp-controller="LaboratoryMaster"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">Laboratory Master</span></a></li>
                                    <li><a asp-action="LabTDSEntry" asp-controller="LabTDSEntry"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">Lab TDS Entry</span></a></li>
                                    <li><a asp-action="LabRegisterForm" asp-controller="LabRegisterForm"> <i class="fa fa-angle-double-right"></i><span class="submenu-title">Lab Register Form</span></a></li>
                                </ul>
                            </li>

                            <li><a asp-action="Index" asp-controller="ConsigneeComplaints"><i class="fa fa-angle-double-right"></i><span class="menu-title">Consignee Complaints</span></a></li>
                            <li><a asp-action="Index" asp-controller="NCRRegister"><i class="fa fa-angle-double-right"></i><span class="menu-title">NCR Register</span></a></li>
                            <li><a href="#"><i class="fa  fa-fw"><img src="~/images/reports-ico.png" alt="reports" /></i><span class="menu-title">Reports</span></a></li>
                        </ul>
                    </div>
                </aside>
            
            <!--leftSidebarNav-->


            <div class="adminInnerContent">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
                <partial name="_DeleteConfirmationPartial" />
            </div>
            </div>
            <!--footer-->
            <footer id="footer" class="footer">
                <p>Copyright &copy; 2023, IBS. All rights reserved.</p>
            </footer>
            <!--footer-->

        </section>
        <!--mainContainer-->
    </div>
    <!--Wrapper-->
    <!-- <div class="overlay">
        <div class="spinner"></div>
    </div>-->
    <script src="~/js/highcharts.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/js/functions.js"></script>
    <script src="~/js/admin-general.js"></script>

</body>

</html>
