@model IBS.Models.RailwaysDirectoryModel

@{
    ViewData["Title"] = "Railways Directory";
}
<div class="list-inner">
    <div class="tast-list">
        <h2>Railways Directory</h2>
    </div>
</div>
<section class="table-section">
    <div class="task-listinput">
        <div class="accordion-body">
            <form data-ajax="true" asp-antiforgery="true" asp-controller="RailwaysDirectory" asp-action="RailwaysDirectoryDetailsSave" data-ajax-method="post" data-ajax-complete="completed" id="frmRailwaysDirectory">
                <input type="hidden" asp-for="RlyCd" />
                <div class="accordion-body">
                    <div class="row my-0">
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Railway/Production Unit</label>
                            <textarea class="input" asp-for="Railway" maxlength="30"> </textarea>
                            <span asp-validation-for="Railway" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Head Quarter</label>
                            <textarea class="input" asp-for="HeadQuarter" maxlength="30"> </textarea>
                            <span asp-validation-for="HeadQuarter" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="savenext-btn">
                        <a asp-controller="RailwaysDirectory" asp-action="Index" class="reset-btn">Cancel</a>
                        <button type="button" class="save-btn active" onclick="Save();">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        function Save() {
            if ($("#frmRailwaysDirectory").valid()) {
                $("#frmRailwaysDirectory").submit();
            }
        }
        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            window.location.href = "/RailwaysDirectory/Index";
        };
    </script>
}