@model IBS.Models.VendorClusterModel

@{
    ViewData["Title"] = "Vendor Cluster";
}
<div class="list-inner">
    <div class="tast-list">
        <h2>Vendor Cluster</h2>
    </div>
</div>
<section class="table-section">
    <div class="task-listinput">
        <div class="accordion-body">
            <form data-ajax="true" asp-antiforgery="true" asp-controller="VendorCluster" asp-action="VendorClusterDetailsSave" data-ajax-method="post" data-ajax-complete="completed" id="frmVendorCluster">
                <input type="hidden" asp-for="VendorCode" />
                <div class="accordion-body">
                    <div class="row my-0">
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Name of Vendor/Manufacture Code</label>
                            <textarea class="input" asp-for="DepartmentName" maxlength="30"> </textarea>
                            <span asp-validation-for="DepartmentName" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Department Name</label>
                            <textarea class="input" asp-for="ClusterCode" maxlength="30"> </textarea>
                            <span asp-validation-for="ClusterCode" class="text-danger"></span>
                        </div>
                    </div>
                   
                    <div class="savenext-btn">
                        <a asp-controller="VendorCluster" asp-action="Index" class="reset-btn">Cancel</a>
                        <button type="button" class="save-btn active" onclick="Save();">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        function Save() {
            if ($("#frmVendorCluster").valid()) {
                $("#frmVendorCluster").submit();
            }
        }
        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            //window.location.href = "/VendorCluster/Index";
            window.location.href = '@Url.Action("Index", "VendorCluster")';
        };
    </script>
}