.chatArea .chatBox {
    right: inherit !important;
    bottom: inherit !important;
}

.chatBox {
    width: 100%;
    height: calc(100vh - 20px);
    background-color: #efe6df;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    border:1px solid #d1d1d1;
}

.chatBoxHeader {
    background-color: #017f6a;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .chatBoxHeader h2 {
        font-size: 16px;
        font-weight: 600;
        margin: 0px;
        padding: 0px;
    }

    .chatBoxHeader .btn {
        flex-shrink: 0;
        display: inline-flex;
        align-items: center;
        color: #008b29;
        font-size: 12px;
        font-weight: bold;
        padding: 5px 10px;
        height: 35px;
    }

        .chatBoxHeader .btn:hover {
            background-color: #fff;
        }

.chatBoxBody {
    height: calc(100vh - 68px);
    overflow: auto;
    padding:0;
}

.chatLeftBoxBody {
    width: 30%;
    border-right: 1px solid #d1d1d1;
    background:#fff;

}

.chatBoxBody h4, .chatBoxHeadBody li h4 {
    font-size: 12px;
    font-weight: 500;
}

.chatBoxBody h4, .chatBoxBody p, .chatBoxHeadBody li p {
    margin: 0;
    padding: 0px;
}

.chatBoxBody ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


.chatBoxBody li:not(:last-child) {
    border-bottom: 1px solid #ccc;
   
    margin: 0;
}

.chatBoxBody li {
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px;

}

    .chatBoxBody li.active {
        background: #e9eaeb;
        
    }

.chatBoxIcon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 0 10px 0 0;
}

.chatBoxIconBg1 {
    background-color: #edcea5;
    color: #a25600;
}

.chatBoxIconBg2 {
    background-color: #a2d2ff;
    color: #0f62b0;
}

.chatBoxIconBg3 {
    background-color: #83c5be;
    color: #1e7f75;
}

.chatBoxIconBg4 {
    background-color: #ffddd2;
    color: #ba4a25;
}

.chatBoxIconBg5 {
    background-color: #ffb3c6;
    color: #bf2b51;
}

.chatBoxIconBg6 {
    background-color: #cbdfbd;
    color: #4a8b1b;
}

.chatBoxIconBg7 {
    background-color: #ced9c0;
    color: #5b7a10;
}

.chatInputArea {
    background: #d1d1d1;
    padding: 10px;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    border-radius: 12px;
}

    .chatInputArea input[type="text"] {
        border-radius: 30px;
        width: 100%;
        padding: 10px 15px;
        box-sizing: border-box;
        border: 1px solid #999;
        background: #fff;
    }

.chatBoxHeadBody ul, .chatBoxBody .chatBodyText {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chatBoxHeadBody li {
    display: flex;
    align-items: center;
}

.chatBoxBody .chatBodyText {
    padding-bottom: 50px;
}

    .chatBoxBody .chatBodyText li {
        display: flex;
        border: none;
        margin: 0;
        padding: 0;
    }

.chatBoxHeadBody li h4 {
    margin: 0;
}

.chatBoxBody .chatBodyText .recieveText {
    background: #fff;
    border-radius: 6px;
    margin: 5px 0;
     padding: 10px 10px 20px 10px;
    position: relative;
    min-width: 60px;
    box-shadow: 1px 1px 2px 0px #d1d1d1;
}

.chatBoxBody .chatBodyText .sendText {
    background: #e6feda;
    border-radius: 6px;
    margin: 5px 0;
    padding: 10px 10px 20px 10px;
    text-align: left;
    position: relative;
    min-width: 60px;
    box-shadow: 1px 1px 2px 0px #d1d1d1;
}

.chatBoxBody .chatBodyText .reciveTextHolder {
    justify-content: start;
}

.chatBoxBody .chatBodyText .sendTextHolder {
    justify-content: end;
}

.userSelect {
    padding: 2px 8px !important;
    max-width: 150px;
    border-radius: 6px;
    width: 100%;
    background: #fff;
    height: 35px;
}

.messageBody {
    display: flex;
}

.userChatBox {
    width: 75%;
    margin-left: 0.5%;
    position: relative;
}

    .userChatBox .chatBoxBody {
        padding: 20px;
        height: calc(100vh - 137px);
    }

.recieveText:after {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    border: 10px solid transparent;
    border-top: 10px solid #fff;
}

.sendText:after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    border: 10px solid transparent;
    border-top: 10px solid #e6feda;
}

.submitChatBtn {
    position: absolute;
    right: 12px;
    top: 12px;
    background: #F66A2F;
    border-radius: 35px;
    padding: 5px;
    width: 60px;
    height: 39px;
    color: #fff;
}
.timeStamp{
    font-size: 11px;
    position: absolute;
    right: 2px;
    bottom: 0;
}
.messageDate{ text-align:center; width:100%; position:relative;}
.messageDate span{ background:#f1f1f1; padding:2px; border-radius:5px; z-index:1; position:relative; display:inline-block;}
.messageDate:before{width:100%; content:""; height:1px; background:#d1d1d1; position:absolute; left:0; top:14px;}
.chatBoxBody li.active h4{ font-weight:bold;}
.chatTopFilter{background:#f1f1f1; padding:15px; border-radius:12px; margin-bottom:15px;}
.chatTopFilter .form-select{ height:45px;}
.chatTopFilter #txtMessage{ background:#fff;}
.chatTopFilter .userMultiSelect .multiselect-native-select, .chatTopFilter .userMultiSelect .multiselect-native-select .btn-group{ width:100%; display:block;}
.multiselect-container .multiselect-option .form-check-label, .multiselect-container .multiselect-all .form-check-label{ padding-bottom:0;}
.multiselect-container .multiselect-option .form-check, .multiselect-container .multiselect-all .form-check{ display:flex; align-items:center;}