@{
    ViewData["Title"] = "Account Codes Directory";
}

<div class="list-inner">
    <div class="tast-list">
        <h2>Account Codes Directory</h2>
    </div>
    <div class="list-btn">
        <a asp-area="" asp-controller="AccountCodesDirectory" asp-action="Manage" class="formBtn"><span class="fa fa-plus"></span> Add New</a>
    </div>
</div>
<div class="task-listinput">
    <div class="accordion-body">
        <div class="task-inner row">
            <div class="col-md-2">
                <div class="input-search">
                    <label for="AccountCD">Account CD</label>
                    <input type="text" class="input" id="AccountCD" onkeypress="return isNumber(event)" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-search">
                    <label for="AccountDesc">Account Desc</label>
                    <input type="text" class="input" id="AccountDesc" />
                </div>
            </div>
            <div class="col-md-3" style="margin-top: 30px;">
                <div class="savenext-btn">
                    <button type="button" class="save-btn active" onclick="InitializeDatatable();">Search</button>
                    <button type="button" class="reset-btn" onclick="CLearControls();">Clear</button>
                </div>
            </div>
        </div>
    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtACD" class="table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Account Code</th>
                            <th>Account Description</th>
                            <th style="text-align:center">View Details</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            InitializeDatatable();
        });

        function InitializeDatatable() {

            var AccountCD = $("#AccountCD").val();
            var AccountDesc = $("#AccountDesc").val();

            $("#dtACD").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            AccountCD, AccountDesc
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "AccountCode" },
                    { data: "AccDesc" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var id = data.AccCd;
                            var editUrl = '@Url.Action("Manage", "AccountCodesDirectory")/' + id;
                            var html = '<div align=\"center\" class=\"reportIcon actionCenter\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                            html += '<a onclick="Delete(this.id); return false;" href="javascript:void(\'0\');" id=\"' + id + '\" class=\"delete\"><i class=\"fa fa-trash\" title="Delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[1, "asc"]]
            });
        }

        function CLearControls() {
            $("#AccountCD").val("");
            $("#AccountDesc").val("");

            InitializeDatatable();
        }

        function Delete(id) {
            var url = '@Url.Action("Delete", "AccountCodesDirectory")';
            $("#btn-delete-yes").attr("href", url + "/" + id);
            $("#modal-delete-conf").modal("show");
        }
    </script>
}
