@{
    ViewData["Title"] = "Controlling Officers of Inspecting Engineers";
}

<div class="list-inner">
    <div class="tast-list">
        <h2>Controlling Officers of Inspecting Engineers</h2>
    </div>
    <div class="list-btn">
        <a asp-area="" asp-controller="IE_CO_Form" asp-action="Manage" class="formBtn"><span class="fa fa-plus"></span> Add New</a>
    </div>
</div>
<section class="table-section">
    <div class="task-listinput">
        <div class="dash-table">
            <table id="dtCO" class="table-responsive">
                <thead>
                    <tr>
                        <th>Controlling Officer Code</th>
                        <th>Controlling Officer Name</th>
                        <th>Designation</th>
                        <th>Phone No.</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th style="text-align:center">View Details</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            InitializeDatatable();
        });

        function InitializeDatatable() {
            $("#dtCO").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [// Columns Setups
                    { data: "CoCd" },
                    { data: "CoName" },
                    { data: "CoDesig" },
                    { data: "CoPhoneNo" },
                    { data: "CoEmail" },
                    { data: "CoTypeName" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var id = data.CoCd;
                            var editUrl = '@Url.Action("Manage", "IE_CO_Form")/' + id;
                            var html = '<div align=\"center\" class=\"reportIcon actionCenter\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                            html += '<a onclick="Deelete(this.id); return false;" href="javascript:void(\'0\');" id=\"' + id + '\" class=\"delete\"><i class=\"fa fa-trash\" title="Delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }

        function Deelete(id) {
            var url = '@Url.Action("Delete", "IE_CO_Form")';
            $("#btn-delete-yes").attr("href", url + "/" + id);
            $("#modal-delete-conf").modal("show");
        }

    </script>
}
