@model IBS.Models.IE_CO_FormModel

@{
    ViewData["Title"] = "Controlling Officers of Inspecting Engineers";
}
<div class="list-inner">
    <div class="tast-list">
        <h2>Controlling Officers of Inspecting Engineers</h2>
    </div>
</div>
<div class="task-listinput">
    <form asp-controller="IE_CO_Form" asp-action="Manage" id="frmIE_CO_Form">
        <input type="hidden" asp-for="CoCd" />
        <div class="accordion-body">
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="Reference">Controlling Officer</label>
                    <input type="text" class="input" asp-for="CoName" maxlength="30">
                    <span asp-validation-for="CoName" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Designation</label>
                    @Html.DropDownListFor(model => model.CoDesig, Common.GetDesignations(), "--Select--",  new { @class = "" })
                    <span asp-validation-for="CoDesig" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Phone No.</label>
                    <input type="text" class="input" asp-for="CoPhoneNo" maxlength="21">
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="Reference">Email</label>
                    <input type="text" class="input" asp-for="CoEmail" maxlength="50">
                    <span asp-validation-for="CoEmail" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Controlling Officer Status</label>
                    @Html.DropDownListFor(model => model.CoStatus, new SelectList(Common.GetCOStatus() , "Value", "Text"), new { @class = "" })
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">CM Type</label>
                    @Html.DropDownListFor(model => model.CoType, new SelectList(Common.GetCMType() , "Value", "Text"), new { @class = "" })
                </div>
            </div>
            <div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Status Date (DD/MM/YYYY)</label>
                    <input asp-for="CoStatusDt" type="text" class="datepicker" placeholder="DD/MM/YYYY" />
                    <span asp-validation-for="CoStatusDt" class="text-danger"></span>
                </div>
            </div>
            <div class="savenext-btn">
                <a asp-controller="IE_CO_Form" asp-action="Index" class="reset-btn">Cancel</a>
                <button type="button" class="save-btn active" onclick="SubmitCODetails();">Save</button>
            </div>
        </div>
    </form>

</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        function SubmitCODetails() {
            if ($("#frmIE_CO_Form").valid()) {
                $("#frmIE_CO_Form").submit();
            }
        }

    </script>
}