@model IBS.Models.VenderCallRegisterModel
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="heading3">Call Registration Successful</h3>
            @*<h5 class="modal-title"><spam id="spnPopUpMsg"></spam></h5>*@
        </div>

        <label for="spnPopUpMsg"><strong><span id="spnPopUpMsg"></span></strong></label>

        <div class="modal-footer">
            <div class="savenext-btn">
                <button class="save-btn active" id="btnPopUpOk" onclick="PopUpOk()">Ok</button>
            </div>
        </div>
    </div>
</div>
