@model IBS.Models.VenderCallRegisterModel
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Your Call is Registered, Acknowledgement mail is sent on your registered email-id!!! </h5>
            
        </div>
        <div class="modal-footer">
            <div class="savenext-btn">
                @*<button type="button" class="reset-btn" data-bs-dismiss="modal">Close</button>*@
                <button class="save-btn active" id="btnPopUpOk" onclick="PopUpOk()">Ok</button>
            </div>
        </div>
    </div>
</div>
