<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="heading3">Terms & Conditions</h3>
        </div>
        <table>
            <tr>
                <td>1. I hereby declare that all details given by me above are correct to the best of my knowledge and in case any information is found to be incorrect. I understand that call is liable to be cancelled with full Call Cancellation charges by RITES. </td>
            </tr>
            <tr>
                <td>
                    2. Besides, I am fully aware that any amendment to PO/LOA is to be uploaded on IBS (path shown below), as and when, i recieve it from the purchaser and it will be my responsibility that all the MAs recieved till the date of inspection are uploaded on IBS and will provide all of these MAs to the Inspecting Engineer during inspection, if any additional MA is recieved during inspection up to the issue of IC, the same will also be provided to Inspecting Engineer immediately.
                    <br />
                    <br />
                    <span style="color:orangered">Vendor Login=>Add MA=>Enter Case No.= >Add New MA= >Fill the MA Details=>Upload Original MA Copy=> Save MA </span>
                </td>
            </tr>
            <tr>
                <td>3. In case, any discrepancy/incorrect data observed in the submitted test report(s) at any later stage in future, we shall be fully and solely responsible for the same and RITES shall have all the rights to take suitable actions accordingly. </td>
            </tr>
        </table>
        <div class="modal-footer">
            <div class="savenext-btn">
                <button class="save-btn active" id="btnTermsOk" onclick="TermsOk()">Ok</button>
            </div>
        </div>
    </div>
</div>
