<div class="accordion-body" style="margin-bottom: 11px !important;">
    <div class="row">
        <div class="col-md-12">
             <h3 class="heading3">For The Period</h3>
        </div>
        </div>
    <div class="row d-flex align-items-end">
        <div class="col-md-4">
            <label for="reference">Month</label>
            @Html.DropDownList("ddlMonth", new SelectList(IBS.Models.Common.GetMonth() , "Value", "Text"),"--Select--")
        </div>
        <div class="col-md-4">
            <label for="reference">Year</label>
            @Html.DropDownList("ddlYear", new SelectList(IBS.Models.Common.GetYears() , "Value", "Text"),"--Select--")
        </div>
        <div class="col-md-3">
            <div class="savenext-btn">
                <button type="button" class="save-btn active" onclick="Search();">Submit</button>
            </div>
        </div>
    </div>
</div>
