@model IBS.Models.OnlineComplaints

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<div class="container" id="content">
    <div class="innerContent">
        <div class="list-inner">
            <div class="tast-list">
                <h2>Online Rejection Advice Registration Form</h2>
            </div>
        </div>
        <div class="accordion-body" id="tab-1">
            <form data-ajax="true" asp-antiforgery="true" asp-controller="OnlineComplaints" asp-action="ComplaintsSave" data-ajax-method="post" data-ajax-complete="completed" id="frmComplaints" enctype="multipart/form-data">
                
                    <input type="hidden" name="hdnUploadedDocumentList_tab-1" id="hdnUploadedDocumentList_tab-1" value="" />
                    <input type="text" asp-for="ItemSrnoPo"  maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
                    <input type="text" asp-for="UomCd"  maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
                    <input type="text" asp-for="Rate"  maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
                    <input type="text" asp-for="RejectionValue"  maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
                    <input type="text" asp-for="CaseNo"  maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
                    <input type="text" asp-for="VendCd"  maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
                    <input type="text" asp-for="ConsigneeCd"  maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
                    <input type="text" asp-for="IE_CD"  maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
                    <input type="text" asp-for="CoCd"  maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>
                    <input type="text" asp-for="ITEM_DESC_PO"  maxlength="100" readonly="true" style="text-transform: uppercase;" hidden>

                <div class="row m-3">
                    <div class="col-md-12">
                        <div class="alert alert-info">
                        <label style="padding:0; margin:0;" asp-for="Registrationdt">Registration Date: <span id="registrationDate"></span></label>
                        </div>
                   </div>
                </div>                    
                <div class="row m-3">
                    <div class="col-md-12">
                        <h3 class="heading3 mb-4">Consignee Details</h3>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Name</label><i class="text-danger">*</i>
                        <input type="text" class="input" ASP-FOR="Name" maxlength="300" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Designation</label><i class="text-danger">*</i>
                        <input type="text" class="input" ASP-FOR="Designation" maxlength="300" required />
                        <span asp-validation-for="Designation" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Email</label><i class="text-danger">*</i>
                        <input type="text" class="input" ASP-FOR="Email" maxlength="300" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Reference">Mobile No.</label><i class="text-danger">*</i>
                        <input type="text" class="input" ASP-FOR="MobileNO" onkeypress="return isNumber(event)" id="mobilenumber" maxlength="10" required />
                        <span asp-validation-for="MobileNO" class="text-danger"></span>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-12">
                <h3 class="heading3 mb-4">Rejection Details</h3>
                </div>
                </div>

                <div class="row m-3">
                    <div class="col-md-2 mb-2">
                        <label for="Reference">Book No.</label><i class="text-danger">*</i>
                        <input type="text" class="input" ASP-FOR="BKNo" maxlength="300" id="bkno" required />
                        <span asp-validation-for="BKNo" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="Reference">Set No.</label><i class="text-danger">*</i>
                        <input type="text" class="input" ASP-FOR="SetNo" maxlength="300" id="setno" required />
                        <span asp-validation-for="SetNo" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="InspRegion">Inspection Region</label><i class="text-danger">*</i>
                        @Html.DropDownListFor(model => model.InspRegion, new SelectList(IBS.Models.Common.InspRegion() , "Value", "Text"),"--Select--", new { id = "InspRegionDropdown" })
                        <span asp-validation-for="InspRegion" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Item">Item</label>
                        <select asp-for="Item" class="form-control"></select>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="Reference">Qty. as per IC</label><i class="text-danger">*</i>
                        <input type="text" class="input" ASP-FOR="QtyperIC" id="QtyperIC" maxlength="300" required />
                        <span asp-validation-for="QtyperIC" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="Reference">Qty. Rejected</label><i class="text-danger">*</i>
                        <input type="text" class="input" ASP-FOR="QtyRejected" maxlength="300" required />
                        <span asp-validation-for="QtyRejected" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Reasons of Rejection</label><i class="text-danger">*</i>
                        <input type="text" class="input" ASP-FOR="RejectionReason" maxlength="300" required />
                        <span asp-validation-for="RejectionReason" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Remarks (If Any)</label>
                        <input type="text" class="input" ASP-FOR="Remarks" maxlength="300" />
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="Reference">Rejection Memo No.</label><i class="text-danger">*</i>
                        <input type="text" class="input" ASP-FOR="RejMemono" maxlength="300" required />
                        <span asp-validation-for="RejMemono" class="text-danger"></span>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="Reference">Rejection Memo Date</label><i class="text-danger">*</i>
                        <input type="text" class="datepicker" placeholder="DD/MM/YYYY"  ASP-FOR="RejMemodate" maxlength="300" required />
                        <span asp-validation-for="RejMemodate" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 mb-4">
                        <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.Upload_Rejection_Memo" />
                    </div>
                    <div class="savenext-btn">
                        <button type="button" class="save-btn active" onclick="Save();">Save</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>



@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            var currentDateTime = new Date();
            var formattedDate = currentDateTime.getDate().toString().padStart(2, '0') + "/" +
                (currentDateTime.getMonth() + 1).toString().padStart(2, '0') + "/" +
                currentDateTime.getFullYear();
            $('#registrationDate').text(formattedDate);
        });

        $('#mobilenumber').on('keypress', function (event) {
            var userInput = event.key;
            var regex = /^[0-9]+$/;

            if (!regex.test(userInput)) {
                event.preventDefault();
            }
        });

        $("#InspRegionDropdown").change(function () {
            debugger
            var InspRegionDropdown = $(this).val();
            var bkno = $("#bkno").val();
            var setno = $("#setno").val();
            var url = '@Url.Action("GetItems", "OnlineComplaints")';
            $.ajax({
                url:url,
                type: 'GET',
                data: { InspRegionDropdown: InspRegionDropdown, bkno: bkno, setno: setno },
                success: function (data) {
                    var Item = $("#Item");
                    Item.empty();
                    Item.append($('<option>').text('--Select--').val(''));

                    var items = JSON.parse(data);

                    if(items.length != 0){
                         Item.append($('<option>').text(items[0].ITEM_DESC_PO).val(items[0].ITEM_SRNO_PO));
                    }
                }
            });
        });

        $("#Item").change(function () {
         
            var ItemSno = $(this).val();
            var InspRegionDropdown = $("#InspRegionDropdown").val();
            var bkno = $("#bkno").val();
            var setno = $("#setno").val();
            var url = '@Url.Action("GetItems", "OnlineComplaints")';
            $.ajax({
               url:url,
                type: 'GET',
                data: { ItemSno: ItemSno, bkno: bkno, setno: setno, InspRegionDropdown: InspRegionDropdown },
                success: function (data) {
                    var Item = $("#Item");
                    Item.empty();
                    var items = JSON.parse(data);
                    Item.append($('<option>').text(items[0].ITEM_DESC_PO).val(items[0].ITEM_SRNO_PO));
                    $("#QtyperIC").val(items[0].QTY_TO_INSP);
                    $("#ITEM_DESC_PO").val(items[0].ITEM_DESC_PO);
                    $("#ItemSrnoPo").val(items[0].ITEM_SRNO_PO);
                    $("#UomCd").val(items[0].UOM_CD);
                    $("#RejectionValue").val(items[0].UOM_S_DESC);
                    $("#Rate").val(items[0].RATE);
                    $("#CaseNo").val(items[0].CASE_NO);
                    $("#VendCd").val(items[0].VEND_CD);
                    $("#ConsigneeCd").val(items[0].CONSIGNEE_CD);
                    $("#IeCd").val(items[0].IE_CD);
                    $("#CoCd").val(items[0].CO_CD);
                }
            });
        });

        function Save(){
            debugger
            var Item = $("#Item").val();

            if(Item == ''){
                alert("Item Is Not Exist For This Book No And Set No.");
                return;
            }

            if ($("#frmComplaints").valid()) {
                SaveSingleDocuments("tab-1");
                $("#frmComplaints").submit();
            }
        }

        completed = function (response) {
            var res = response.responseJSON;
            var redirectUrl = '@Url.Action("Index", "OnlineComplaints")';
            ShowHideMsgNew(res.status, res.responseText);
            setTimeout(function () {
                window.location.href = redirectUrl;
            }, 2000);
        };

    </script>
}