@model IBS.Models.IE_Instructions_AdminModel

@{
    ViewData["Title"] = "Manage instructions for IE";
    string clsView = "";
    @if (@Model.MessageId != null)
    {
        clsView = "Permission_View";
    }
}
<div class="list-inner">
    <div class="tast-list">
        <h2>Manage instructions for IE</h2>
    </div>
</div>
<div class="task-listinput">
    <form role="form" asp-controller="IE_Instructions_Admin" asp-action="IE_InstructionsManage" id="frmDetails">
        <input type="hidden" asp-for="MessageId" />
        <div class="accordion-body">
            <div class="row my-0">
                <div class="col-md-3 mb-3" style="display:none;">
                    <label for="Reference">Message Id</label>
                    <input type="text" class="input" asp-for="MessageId" maxlength="50" style="text-transform: uppercase;" readonly="readonly">
                    <span asp-validation-for="MessageId" class="text-danger"></span>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">Letter No.</label>
                    <input type="text" class="input" asp-for="LetterNo" maxlength="50" style="text-transform: uppercase;">
                    <span asp-validation-for="LetterNo" class="text-danger"></span>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="LetterDate">Letter Dt.</label>
                    <input id="LetterDt" asp-for="LetterDt" type="text" class="datepicker" placeholder="DD/MM/YYYY" readonly="readonly" />
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-12 mb-3">
                    <label for="Reference">Message</label>
                    <textarea rows="4" asp-for="Message" style="text-transform: uppercase;"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
            </div>

            <div class="savenext-btn">
                <button type="button" class="save-btn active Permission_Save" onclick="Save();">Save</button>
                <a asp-controller="IE_Instructions_Admin" asp-action="IE_InstructionsMaster" class="reset-btn">Cancel</a>
            </div>
        </div>
    </form>
</div>
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script>
        function Save() {
            if ($("#frmDetails").valid()) {
                $("#frmDetails").submit();
            }
        }
    </script>
}