@model IBS.Models.BankMasterModel

@{
    ViewData["Title"] = "Manage Banks Directory";
}
<div class="list-inner">
    <div class="tast-list">
        <h2>Manage Banks Directory</h2>
    </div>
</div>

<div class="task-listinput">
    <form asp-controller="BankMaster" asp-action="Manage" id="frmBankMaster">
        <input type="hidden" asp-for="BankCd" />
        <div class="accordion-body">
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="Reference">Bank Name <i class="text-danger">*</i></label>
                    <input type="text" class="input" asp-for="BankName" maxlength="30" />
                    <span asp-validation-for="BankName" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">FMIS Bank Code</label>
                    <input type="text" class="input" asp-for="FmisBankCd" onkeypress="return isNumber(event)" maxlength="4">
                </div>
            </div>
            <div class="savenext-btn">
                <a asp-controller="BankMaster" asp-action="Index" class="reset-btn">Cancel</a>
                <button type="button" class="save-btn active" onclick="SubmitBankData();">Save</button>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        function SubmitBankData() {
            if ($("#frmBankMaster").valid()) {
                $("#frmBankMaster").submit();
            }
        }

    </script>
}