
@{
    ViewData["Title"] = "Billing Adjustment List";
}

<div>
    <div class="list-inner">
        <div class="tast-list">
            <h2>Billing Adjustment List</h2>
        </div>
        <div class="list-btn">
            <a asp-area="" asp-controller="BillingAdjustment" asp-action="Manage" class="formBtn">Add New BillingAdjustment</a>
        </div>
    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtBillingAdjustment" class="table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Adjustment Year/Month</th>
                            <th>Adjustment Amt.</th> 
                            <th>Remarks</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        
        $(function () {
            InitializeDatatable();
        });

        function InitializeDatatable() {
            $("#dtBillingAdjustment").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "Adjusment_Yr_Mth" },
                    { data: "Adjustment_Amt" },
                    { data: "Remarks" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var _AdjusmentYrMth = data.Adjusment_Yr_Mth;
                            var editUrl = '@Url.Action("Manage", "BillingAdjustment")?_AdjusmentYrMth=' + _AdjusmentYrMth;
                            var html = '<div align=\"center\" class=\"reportIcon\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                            html += '<a onclick="BillingAdjustmentDelete(this._AdjusmentYrMth); return false;" href="javascript:void(\'0\');" id=\"' + _AdjusmentYrMth + '\" class=\"delete\"><i class=\"fa fa-trash\" title="Delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }

        function BillingAdjustmentDelete(_AdjusmentYrMth) {
            var url = '@Url.Action("Delete", "BillingAdjustment")';
            $("#btn-delete-yes").attr("href", url + "/" + _AdjusmentYrMth);
            $("#modal-delete-conf").modal("show");
        }
    </script>
}
