@model IBS.Models.UploadDocModel

@{
    ViewData["Title"] = "UPLOAD DOCUMENTS";
}

<form data-ajax="true" asp-antiforgery="true" asp-controller="AdminUserUploadDoc" asp-action="DetailsSave" data-ajax-method="post" data-ajax-complete="completed" id="frmDetails">

    <div class="list-inner">
        <div class="tast-list">
            <h2>@ViewData["Title"] </h2>
        </div>
        <input type="hidden" asp-for="FileId" />
    </div>
    <div class="accordion-body">
        <div class="row my-0">
            <div class="col-md-3 mb-3">
                <div class="reference">
                    <label for="Name">Document Type </label>
                    @Html.DropDownListFor(model => model.DocType, new SelectList(IBS.Models.Common.GetDocType() , "Value", "Text"),"--Select--", new { @class = "" ,onChange="GetDocSubType('')"})
                    <span class="text-danger" id="spnErrorAuthLevl"></span>
                </div>
            </div>

            <div class="col-md-3 mb-3" id="divIEName" style="display:none;">
                <div class="reference">
                    <label id="IEName" for="Name">INSTRUCTIONS TO IE </label>
                    @Html.DropDownListFor(model => model.DocSubType, new SelectList(IBS.Models.Common.GetDocSubType("") , "Value", "Text"),"--Select--", new { @class = "" })
                    <span class="text-danger" id="spnErrorLlRef"></span>
                </div>
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-6 mb-3">
                <label for="Reference">Name of the Document</label>
                <input type="text" class="input" asp-for="DocumentName" maxlength="30" style="text-transform: uppercase;">
                <span asp-validation-for="DocumentName" class="text-danger"></span>
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-3 mb-3">
                <label for="Reference">Document No.</label>
                <input type="text" class="input" asp-for="DocumentNo" maxlength="100" style="text-transform: uppercase;">
                <span asp-validation-for="DocumentNo" class="text-danger"></span>
            </div>

            <div class="col-md-3 mb-3">
                <div class="reference">
                    <label for="Name">Issue Date</label>
                    <input type="text" class="datepicker" placeholder="dd-MM-yyyy" asp-for="IssueDt" maxlength="30" style="text-transform: uppercase;" readonly="readonly">
                    <span asp-validation-for="IssueDt" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-3 mb-3">
                <div class="accordion-body">
                    <div class="row my-0">
                        <div class="col-md-4 mb-3">
                            <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.objuserDTO" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-0">
            <div class="col-md-6 mb-3">
                <div class="savenext-btn">
                    <a asp-controller="AdminUserUploadDoc" asp-action="Index" class="reset-btn">Cancel</a>
                    <button type="button" class="save-btn active">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {

            $('#IssueDt').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-mm-yy',
            });
        });

        function Save() {
            if ($("#frmDetails").valid()) {
                $("#frmDetails").submit();
            }
        }

        function GetDocSubType(id) {
            var DocType = $("#DocType").val();
            var DocTypeName = $("#DocType option:selected").text();
            $.ajax({
                url: '@Url.Action("GetDocSubType", "DownloadDocuments")?DocType=' + DocType,
                type: 'GET',
                cache: false,
                data: '{}',
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response.status) {

                    if (DocType == "F" || DocType == "M" || DocType == "A" || DocType == "Q" || DocType == "D" || DocType == "O" || DocType == "X" || DocType == "Y") {
                        $("#divIEName").hide();
                    }
                    else {
                        $("#divIEName").show();
                    }
                    $("#IEName").text(DocTypeName);
                    $("#DocSubType").html("");
                    $("#DocSubType").append("<option value=''>--Select--</option>");
                    $.each(response.list, function (index, value) {
                        $("#DocSubType").append("<option value=" + value.Value + " >" + value.Text + "</option>");
                    });
                    if (id > 0) {
                        $("#DocSubType").val(id);
                    }
                }
            });
        }

        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            window.location.href = "/AdminUserUploadDoc";
        };
    </script>
}