<table width="800" align="center" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #000;">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="33%" align="left" valign="middle"><img src="~/images/rites-logo.png" width="150" height="53" alt="Logo"></td>
    <td width="33%" align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:14px; text-align:center;"><span style="font-size:12px;"><strong>RITES LTD</strong></span><br>
NORTHERN REGION(INSPECTION)<br>
12TH FLOOR,CORE-II,SCOPE MINAR,<br>
LAXMI NAGAR,DELHI-110092(INDIA)<br>
Phone: 011-22029110,22029109 Email:nrinspn@rites.com</td>
    <td width="33%">&nbsp;</td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td style="font-family:Arial, Helvetica, sans-serif; text-align:center; font-size:12px; height:25px;"><strong>TAX INVOICE</strong></td>
  </tr>
  <tr>
    <td style="border-top:1px solid #000; border-bottom:1px solid #000;"><table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td style="font-family:Arial, Helvetica, sans-serif; font-size:11px;"><strong>GSTIN:</strong> 07AAACR0830QIZ8</td>
    <td style="font-family:Arial, Helvetica, sans-serif; text-align:right; font-size:11px;"><strong>PAN:</strong> AAACR0830Q</td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; width:33%;"><strong>M/s BANKE BEHARI CHEMICALS PRIVATE<br>
LIMITED,</strong><br>
<br>
SAROJANI NAGAR, D-12, INDUSTRIAL<br>
AREA, KANPUR ROAD,<br>
LUCKNOW<br>
<br>
<strong>Recipient GSTIN No:</strong><br>
09AACCB2679P1Z1</td>
    <td align="center" valign="top" style="text-align:center; width:33%;"><img src="qr-code.png" width="159" height="156" alt="QR"></td>
    <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; width:33%;"><strong>Invoice No. :</strong>R0608L22/00395<br>
<strong>Invoive Date:</strong> 22 /08/2022</td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td style="width:70%; font-family:Arial, Helvetica, sans-serif; font-size:11px;"><strong>Irn No.</strong> ebc345a829c398ff76d700dc1059df8a24006a461890fe14fc98d<br> 
<strong>Case No:</strong> N22020294</td>
    <td style="width:30%; font-family:Arial, Helvetica, sans-serif; font-size:11px;"><strong>Ack No.</strong> 132212993214450<br><strong>Ack Date.</strong> 24/08/2022 09:55:00</td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="100%" border="1" cellspacing="0" cellpadding="5">
  <tr>
    <td align="center" valign="middle" style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:11px;">SR. No.</td>
    <td align="center" valign="middle" style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:11px;">Item Description</td>
    <td align="center" valign="middle" style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:11px;">HSN/SAC</td>
    <td align="center" valign="middle" style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:11px;">Qty.</td>
    <td align="center" valign="middle" style="text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:11px;">Totat testing Charges (in INR)</td>
  </tr>
  <tr>
    <td height="180" align="center" valign="top" style=" font-family:Arial, Helvetica, sans-serif; font-size:11px;">1</td>
    <td align="left" valign="top" style=" font-family:Arial, Helvetica, sans-serif; font-size:11px;">BLEACHING POWER</td>
    <td align="center" valign="top" style=" font-family:Arial, Helvetica, sans-serif; font-size:11px;">998346</td>
    <td align="left" valign="top" style=" font-family:Arial, Helvetica, sans-serif; font-size:11px;">1.0</td>
    <td align="right" valign="top" style=" font-family:Arial, Helvetica, sans-serif; font-size:11px;">7600</td>
  </tr>
  <tr>
    <td colspan="5" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="16%" align="left" valign="top" style=" font-family:Arial, Helvetica, sans-serif; font-size:11px;">iGST18%</td>
    <td width="58%" align="left" valign="top" style=" font-family:Arial, Helvetica, sans-serif; font-size:11px;">1368</td>
    <td width="18%" align="left" valign="top" style=" font-family:Arial, Helvetica, sans-serif; font-size:11px;">SUB TOTAL</td>
    <td width="8%" align="right" valign="top" style=" font-family:Arial, Helvetica, sans-serif; font-size:11px;">7600</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
    <td align="left" valign="top">&nbsp;</td>
    <td align="left" valign="top" style=" font-family:Arial, Helvetica, sans-serif; font-size:11px;">Total Tax</td>
    <td align="right" valign="top" style=" font-family:Arial, Helvetica, sans-serif; font-size:11px;">1368</td>
  </tr>
</table>
</td>
    </tr>
  <tr>
    <td colspan="5"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="74%" align="left" valign="top" style=" font-family:Arial, Helvetica, sans-serif; font-size:11px;">( Rs. Eight Thousand Nine Hundred Sixty-Eight Only /- )</td>
    <td width="18%" align="left" valign="top" style=" font-family:Arial, Helvetica, sans-serif; font-size:11px;">GRAND TOTAL</td>
    <td width="8%" align="right" valign="top" style=" font-family:Arial, Helvetica, sans-serif; font-size:11px;">7600</td>
    </tr>
  </table></td>
    </tr>
</table>
</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="5">
      <tr>
        <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:11px;"><u>Terms &amp; Conditions</u><br>
1.PLEASE ADDRESS ALL COMMUNICATION TO ADDRESS SHOWN ABOVE<br>
2.NAME OF BANK-AXIS BANK LTD,BRANCH-DLF GURGAON,TYPE OF ACCOUNT CURRENT A/C,<br>
ACCOUNT NO.131010200012272,BRANCH CODE-131 IFSC NEFT CODE-UTIB0000131<br>
MICR/Br Code:110211019,PAN NO:AAACR0830Q<br><br><br><br>
This is computer generated invoice and does not require physical signature</td>
        <td align="center" valign="top"><img src="digital-sign.png" width="241" height="98" alt="digital sign"></td>
      </tr>
    </table></td>
  </tr>
</table>