@model IBS.Models.LabPostingReport
@{
    ViewData["Title"] = "LAB POSTING REPORT";
}

<div>
    <div class="list-inner">
        <div class="tast-list">
            <h2>LAB POSTING REPORT</h2>
        </div>

    </div>
    <div class="accordion-body">
        <div class="row my-0">
            <div class="col-md-3 mb-3">
                <label for="PropertyId">From Date</label>
                <input type="text" class="input datepicker" id="dtfrom" />
                <span class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label for="PropertyId">To Date</label>
                <input type="text" class="input datepicker" id="dtto" />
                <span class="text-danger"></span>
            </div>
        </div>
        
    </div>
    <div class="savenext-btn" style="margin-left:50%;">
        <button type="button" class="save-btn active" onclick="show();">Search</button>
    </div>
</div>
<div id="hide" style="display:none">
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtlarpt" class="table-responsive">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Sample Reg No.</th>
                            <th>Sample Reg Date</th>
                            <th>Case No.</th>
                            <th>Call Date</th>
                            <th>Call Sno</th>
                            <th>Vendor</th>
                            <th>IE</th>
                            <th>Total Lab Charge</th>
                            <th>Amount Cleared By DD</th>
                            <th>TDS</th>
                            <th>TDS Date</th>
                            <th>Due</th>
                            <th>Chq No.</th>
                            <th>Chq Dt.</th>
                            <th>Chq Amount</th>
                            <th>Amount Adjusted</th>
                            <th>Chq Case No</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>


@section scripts{

    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        function show() {
            if($("#dtfrom").val() == ''){
                alert("Please Select From Date");
                return false;
            }
            else if($("#dtto").val() == ''){
                alert("Please Select To Date");
                return false;
            }
            var wFrmDtO = $("#dtfrom").val();
            var wToDt = $("#dtto").val();
            
            InitializeDatatable(wFrmDtO, wToDt);
            $("#hide").css("display", "block");
        }
        
        $(function () {
            
        });

        function InitializeDatatable(wFrmDtO, wToDt) {

            $("#dtlarpt").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            wFrmDtO: wFrmDtO,
                            wToDt: wToDt
                            
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },

                    { data: "sampleRegNo" },
                    { data: "sampleRegDate" },
                    { data: "caseNo" },
                    { data: "callRecvDate" },
                    { data: "callSno" },
                    { data: "vendor" },
                    { data: "ieName" },
                    { data: "totalLabCharges" },
                    { data: "amountReceived" },
                    { data: "tdsAmt" },
                    { data: "tdsDate" },
                    { data: "amtDue" },
                    { data: "chqNo" },
                    { data: "chqDate" },
                    { data: "amount" },
                    { data: "amountAdjusted" },
                    { data: "chqCaseNo" }
                    
                ],

                "order": [[0, "asc"]]
            });

        }



    </script>
}