@{
    ViewData["Title"] = "SAP Integration";
}

<div class="list-inner">
    <div class="tast-list">
        <h2>SAP Integration</h2>
    </div>
</div>
<div class="accordion-body">
    <div class="row my-0">
        <div class="col-md-4 mb-3">
            <label for="txtBPO_Cd">BPO Code (From)</label>
            <input type="text" class="input" id="txtBPO_Cd" />
        </div>
    </div>
    <div class="savenext-btn">
        <a asp-controller="SAPIntegration" asp-action="Index" class="reset-btn">Cancel</a>
        <button type="button" class="save-btn active" onclick="SubmitExportExcelBPOData();">Export Excel</button>
    </div>
</div>


@section scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
        });

        function SubmitExportExcelBPOData() {

            var BPO_Cd = $("#txtBPO_Cd").val();

            $.post("@Url.Action("ExportExcelBPO", "SAPIntegration")", { BPO_Cd: BPO_Cd }, function (response) {
                if (response != null) {
                }
            });
        }

    </script>
}
