@{
    ViewData["Title"] = "IE TRAINING DETAILS LIST";
}

<div>
    <div class="list-inner">
        <div class="tast-list">
            <h2>IE TRAINING DETAILS LIST</h2>
        </div>
        <div class="list-btn">
            <a asp-area="" asp-controller="IETrainingDetails" asp-action="IETrainingDetails" class="formBtn Permission_Add"><span class="fa fa-plus"></span> Add New Training Details</a>
        </div>
    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dttraining" class="table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Course ID</th>
                            <th>Course Name</th>
                            <th>Course Institute</th>
                            <th>Certificate</th>                          
                            <th>Training Category</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@section scripts{

    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            InitializeDatatable();
        });

        function InitializeDatatable() {

            $("#dttraining").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "course_id" },
                    { data: "course_name" },
                    { data: "course_institute" },
                    { data: "certificate" },
                     //{ data: "training_category" },

                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var Category = data.training_category;
                            
                            var TrainName = "";
                            if (Category == 'O') {
                                TrainName = "Outside";
                            }
                            else
                            {
                                TrainName = "In-House";
                            }
                            var html = TrainName;
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }
    </script>
}