
<div class="list-inner">
    <div class="tast-list">
        <h2>Manpower in QA Vertical</h2>
    </div>
    <div class="list-btn">
        <a asp-area="" asp-controller="ManPowerQA" asp-action="Manage" class="formBtn Permission_Add"><span class="fa fa-plus"></span> Add New</a>
    </div>
</div>



