@model IBS.Models.ChatMessage

@{
    ViewData["Title"] = "Index";
    int SenderId = ViewBag.SenderId;
    int ReceiverId = Model.msg_recv_ID ?? 0;
}

<div class="list-inner">
    <div class="tast-list">
        <h2>SignalR Chat Demo</h2>
    </div>
</div>
<div class="task-listinput">
    <form role="form" id="frmChatMessage">
        <div class="accordion-body chatArea">
            <div class="row my-0">
                <div class="col-md-2 mb-3">
                    <label for="Reference">User Name</label>
                    @Html.DropDownList("dpUser", new SelectList(IBS.Models.Common.GetUserMaster(), "Value", "Text"), "--Select--")
                    @*<span asp-validation-for="msg_recv_ID" class="text-danger"></span>*@
                </div>
                <div class="col-md-8 mb-3">
                    <label for="Reference">Message</label>
                    <input type="text" id="txtMessage" />
                </div>
                <div class="col-md-2 mb-3 savenext-btn" style="margin-top:30px;">
                    <button type="button" class="save-btn active" id="btnSave" onclick="SendMessage(1);">Send</button>
                </div>
            </div>
            <div class="chatBox">
                <div class="chatBoxHeader">
                    <h2>Message</h2>
                </div>
                <div class="messageBody">
                    <div class="chatBoxBody chatLeftBoxBody">
                    </div>
                    <div class="userChatBox">
                        <div class="chatBoxBody chatRightBoxBody">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<link href="~/css/chat.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script>

<script>

    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    var SenderId = @SenderId;
    var ReceiverId = @ReceiverId;

    $(document).ready(function () {
        GetUserReceiverList();
        GetChatMessageList(ReceiverId);
    });

    function GetUserReceiverList() {
        $.ajax({
            url: '@Url.Action("ChatUserReceiver", "Chat")',
            type: 'POST',
            cache: false,
            processData: false,
            contentType: false
        }).done(function (response) {
            if (response != null) {
                $(".chatLeftBoxBody").html("");
                $(".chatLeftBoxBody").html(response);
                $(".userList").removeClass("active");
                $("#li" + ReceiverId).addClass("active");
            }
        });
    }

    function GetChatMessageList(recvid) {
        ReceiverId = recvid;
        $.ajax({
            url: '@Url.Action("ChatMessageHistory", "Chat")/' + ReceiverId,
            type: 'POST',
            cache: false,
            processData: false,
            contentType: false
        }).done(function (response) {
            if (response != null) {
                $(".chatRightBoxBody").html("");
                $(".chatRightBoxBody").html(response);
                $(".userList").removeClass("active");
                $("#li" + ReceiverId).addClass("active");
            }
        });
    }

    function SendMessage(type) {
        var message = "";
        if (type == 1) {
            ReceiverId = parseInt($("#dpUser").val());
            message = $("#txtMessage").val();
        }
        else if (type == 2) {
            message = $("#txtMsg").val();
        }

        if (ReceiverId == "" || message == "") {
            alert("Receiver and Message is required.")
            return;
        }

        connection.invoke("SendMessage", SenderId, ReceiverId, message, type);

        if (type == 1) { $("#txtMessage").val(""); }
        else if (type == 2) { $("#txtMsg").val(""); }
    }

    connection.start().then(function () {
        connection.invoke("OnConnectedAsync", SenderId);
    });

    connection.on("ReceiveMessage", function (ReceiverId, message, MsgType) {
        if (MsgType == 1) {
            window.location.href = "@Url.Action("Index", "Chat")";
        }
        else {
            if (SenderId != ReceiverId) {
                var element = '<li class="sendTextHolder" > <div class="sendText" >' + message + '</div></li>';
                $(".chatBodyText").append(element);
            }
            if (SenderId == ReceiverId) {
                var element = '<li class="reciveTextHolder" > <div class="recieveText" >' + message + '</div></li>';
                $(".chatBodyText").append(element);
            }
        }
    });

</script>