
@{
    ViewData["Title"] = "CentralRegion";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}
<div class="container">
    <div class="row m-0">
        <div class="col-lg-12">
            <div class="innerContent">
                <div class="list-inner">
                    <div class="tast-list">
                        <h2>Contact Us</h2>
                    </div>
                </div>
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="shadowRoundBox">
                                <h3 class="heading3">CENTRAL REGION INSPECTION OFFICE</h3>
                                <p> <span class="fa fa-map-marker"></span> 50, EXPANSION BUILDING, BHILAI STEEL PLANT AREA BHILAI -490001 </p>
                                <p class="pb-0 mb-0">
                                    <span class="fa fa-phone"></span> +91-788-2227304/2226457<br />
                                    <span class="fa fa-fax"></span> +91-788- 2227305<br />
                                    <span class="fa fa-envelope"></span> <a href="mailto:crinspn@rites.com">crinspn@rites.com</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="shadowRoundBox">
                                <h3 class="heading3">Inspection Engineer's & Their Controllings Contact Information</h3>
                                <p class="pb-0 mb-0">INTERACTIVE AUTOMATIC CALL DESK HELPLINE NO. <span class="orangeText">1800 425 7000</span> (TOLL FREE)</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="shadowRoundBox">
                                <h4 class="heading4">SBU Head,GGM & GM Contact Information</h4>
                                <p class="pb-0 mb-0">
                                    Sh. H. S. NAYAK (GM-I/SBU Head/CR)<br />
                                    <span class="fa fa-phone"></span> 0788-2227304<br />
                                    <span class="fa fa-envelope"></span> <a href="mailto:sbu.cinsp@rites.com">sbu.cinsp@rites.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <table class="borderTable mb-0">
                        <tbody>
                            <tr>
                                <th>S.No.</th>
                                <th>IE Name</th>
                                <th>Mobile No.</th>
                                <th>IE Email</th>
                                <th>CO Name</th>
                                <th>CO Mobile No.</th>
                                <th>CO Email</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>ABHIMANYU KR.SINGH</td>
                                <td>000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>ADITYA SELOT</td>
                                <td>000</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>AJAY KUMAR</td>
                                <td>9425550147</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>AKASH SAHU</td>
                                <td>9425550214</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>ALAKH NIRANJAN SINGH</td>
                                <td>9425550247</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>ALOKESH MONDAL</td>
                                <td>9425550587</td>
                                <td>alokeshmondal@rites.com</td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>AMAN SINGH</td>
                                <td>9752771759</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>AMIT GIRI</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>AMIT KUMAR</td>
                                <td>9910283284</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>AMIT KUMAR BHASKAR</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>AMIT KUMAR SINGH</td>
                                <td>000</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>AMOL KUMAR NARNAWARE</td>
                                <td>9425550254</td>
                                <td></td>
                                <td>T. Ramakrishna</td>
                                <td>9098772498</td>
                                <td>tramakrishna@rites.com</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>ANAND KUMAR SAW</td>
                                <td>9770417404</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>ANAND LINDA</td>
                                <td>9425550187</td>
                                <td>anand_ranchi3@yahoo.co.in</td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>ANIL KUMAR GAUR</td>
                                <td>9425550158</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>ANIL KUMAR NAMDEO</td>
                                <td>9425550259</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>ANKIT KUMAR SINGH</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>ANUP KUMAR BHOI</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>ARCHAN KARANJAI</td>
                                <td>9711577879</td>
                                <td></td>
                                <td>RAKESH SRIVASTAVA</td>
                                <td>9425297232</td>
                                <td>rakeshsrivastava@rites.com</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>ARUN KUMAR MALIK</td>
                                <td>9425550267</td>
                                <td></td>
                                <td>T. Ramakrishna</td>
                                <td>9098772498</td>
                                <td>tramakrishna@rites.com</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>ARVIND KUMAR</td>
                                <td>9425550263</td>
                                <td></td>
                                <td>T. Ramakrishna</td>
                                <td>9098772498</td>
                                <td>tramakrishna@rites.com</td>
                            </tr>
                            <tr>
                                <td>22</td>
                                <td>ASHFAQUE AHMED</td>
                                <td>000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>23</td>
                                <td>ASHISH KUMAR</td>
                                <td>9805230475</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>24</td>
                                <td>ASHISH KUMAR JAISWAL</td>
                                <td>000</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>25</td>
                                <td>ASHISH YERPUDE</td>
                                <td>9907659072</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>26</td>
                                <td>ASHOK D CHOUDHARI</td>
                                <td>9425550269</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>27</td>
                                <td>ASHUTOSH MANI TRIPATHI</td>
                                <td>7987705231</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>28</td>
                                <td>ASHWANI KUMAR SAHU</td>
                                <td>9425550241</td>
                                <td></td>
                                <td>T. Ramakrishna</td>
                                <td>9098772498</td>
                                <td>tramakrishna@rites.com</td>
                            </tr>
                            <tr>
                                <td>29</td>
                                <td>ATUL SINGH</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>30</td>
                                <td>AVADUTHA PRASHANTHA</td>
                                <td>9963703066</td>
                                <td></td>
                                <td>T. Ramakrishna</td>
                                <td>9098772498</td>
                                <td>tramakrishna@rites.com</td>
                            </tr>
                            <tr>
                                <td>31</td>
                                <td>AVINASH KUMAR MISHRA</td>
                                <td>000</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>32</td>
                                <td>Alok Chaurasia</td>
                                <td>7587144559</td>
                                <td>alokchaurasia@rites.com</td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>33</td>
                                <td>Amol Arun Khobragade</td>
                                <td>7987164193</td>
                                <td>aakengineer@gmail.com</td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>34</td>
                                <td>Anand Tiwari</td>
                                <td>9827323982</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>35</td>
                                <td>Anirban Rakshit</td>
                                <td>7993005734</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>36</td>
                                <td>B. SHARAT KUMAR</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>37</td>
                                <td>BAMBAM PANDIT</td>
                                <td>8517863844</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>38</td>
                                <td>BARISTER R BHABBAS</td>
                                <td>9425550178</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>39</td>
                                <td>BASANT KUMAR DESHLAHARA</td>
                                <td>9479056221</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>40</td>
                                <td>BHAGATSINH JAGDISH VERMA</td>
                                <td>9770717257</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>41</td>
                                <td>BHAKTA CHARAN BHAINSAL</td>
                                <td>8983640197</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>42</td>
                                <td>BHALENDRA BANCHHOR</td>
                                <td>9425550142</td>
                                <td></td>
                                <td>T. Ramakrishna</td>
                                <td>9098772498</td>
                                <td>tramakrishna@rites.com</td>
                            </tr>
                            <tr>
                                <td>43</td>
                                <td>BHESHMANI DEWANGAN</td>
                                <td>000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>44</td>
                                <td>BHOJRAM KURREY</td>
                                <td>7587284221</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>45</td>
                                <td>BHUPENDRA SHARMA</td>
                                <td>6265196697</td>
                                <td></td>
                                <td>T. Ramakrishna</td>
                                <td>9098772498</td>
                                <td>tramakrishna@rites.com</td>
                            </tr>
                            <tr>
                                <td>46</td>
                                <td>BONI BHARDWAJ</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>47</td>
                                <td>Bharat N Chauhan</td>
                                <td>00</td>
                                <td></td>
                                <td>V K DWIVEDI</td>
                                <td>9870589505</td>
                                <td>vnioddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>48</td>
                                <td>CH VENKATA RAMANA</td>
                                <td>9425550247</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>49</td>
                                <td>CHANCHAL KESHREE KR. DARSHAN</td>
                                <td>9907979168</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>50</td>
                                <td>CHANDRAKANT SAHU</td>
                                <td>9039145803</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>51</td>
                                <td>CHANDRAKANT YADAV</td>
                                <td>9285127045</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>52</td>
                                <td>CR/BHILAI</td>
                                <td>9425297156</td>
                                <td>rites.crbhilai@gmail.com</td>
                                <td>H.S.NAYAK</td>
                                <td>09826130766</td>
                                <td>nayakhsn@rediffmail.com</td>
                            </tr>
                            <tr>
                                <td>53</td>
                                <td>D. KOTESWARA RAO</td>
                                <td>00</td>
                                <td></td>
                                <td>H.S.NAYAK</td>
                                <td>09826130766</td>
                                <td>nayakhsn@rediffmail.com</td>
                            </tr>
                            <tr>
                                <td>54</td>
                                <td>D.RAKESH RAMANA</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>55</td>
                                <td>DEVENDRA KUMAR</td>
                                <td>7024212354</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>56</td>
                                <td>DEVESH KUMAR ADITYA</td>
                                <td>000</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>57</td>
                                <td>DHARMENDRA DAS SAHU</td>
                                <td>8103332063</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>58</td>
                                <td>DHARMENDRA KUMAR</td>
                                <td>8509490100</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>59</td>
                                <td>DIKESH KUMAR DEWANGAN</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>60</td>
                                <td>DILEEP KUMAR SAHU</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>61</td>
                                <td>Deepak Choudhary</td>
                                <td>0000</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>62</td>
                                <td>Durgesh Hirwani</td>
                                <td>0000</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>63</td>
                                <td>ESHAN BENDALE</td>
                                <td>000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>64</td>
                                <td>FRADY JOHN MASIH</td>
                                <td>9907196793</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>65</td>
                                <td>GAJENDRA KUMAR SAHU</td>
                                <td>000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>66</td>
                                <td>GAJENDRA SINGH</td>
                                <td>000</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>67</td>
                                <td>GAURAV SHARMA</td>
                                <td>917366583</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>68</td>
                                <td>GOPAL PRASAD YADAV</td>
                                <td>9981008119</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>69</td>
                                <td>GOUR GOPAL PAL</td>
                                <td>8016747455</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>70</td>
                                <td>GOVIND SAHU</td>
                                <td>9425550217</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>71</td>
                                <td>Gaurav Bhoi</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>72</td>
                                <td>HARSHDEEP</td>
                                <td>9425550590</td>
                                <td></td>
                                <td>H.S.NAYAK</td>
                                <td>09826130766</td>
                                <td>nayakhsn@rediffmail.com</td>
                            </tr>
                            <tr>
                                <td>73</td>
                                <td>HIMKER SINGH</td>
                                <td>000</td>
                                <td></td>
                                <td>T. Ramakrishna</td>
                                <td>9098772498</td>
                                <td>tramakrishna@rites.com</td>
                            </tr>
                            <tr>
                                <td>74</td>
                                <td>Hari Sankar Prasad</td>
                                <td>9425550586</td>
                                <td>harisankarprasad@rites.com</td>
                                <td>H.S.NAYAK</td>
                                <td>09826130766</td>
                                <td>nayakhsn@rediffmail.com</td>
                            </tr>
                            <tr>
                                <td>75</td>
                                <td>Hitesh Kumar Solanki</td>
                                <td>8085294469</td>
                                <td>hiteshkumarsolanki@rites.com</td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>76</td>
                                <td>J.V.V. SATYANARAYAN</td>
                                <td>9893264254</td>
                                <td></td>
                                <td>RAKESH SRIVASTAVA</td>
                                <td>9425297232</td>
                                <td>rakeshsrivastava@rites.com</td>
                            </tr>
                            <tr>
                                <td>77</td>
                                <td>JAILAL DHANKAR</td>
                                <td>9425550264</td>
                                <td></td>
                                <td>T. Ramakrishna</td>
                                <td>9098772498</td>
                                <td>tramakrishna@rites.com</td>
                            </tr>
                            <tr>
                                <td>78</td>
                                <td>JHAMMAN LAL SAHU</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>79</td>
                                <td>JITENDRA KUMAR</td>
                                <td>9425550169</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>80</td>
                                <td>JITENDRA KUMAR GANJIR</td>
                                <td>7772056653</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>81</td>
                                <td>JITENDRA SAHU</td>
                                <td>000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>82</td>
                                <td>JUDHISTI</td>
                                <td>000</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>83</td>
                                <td>Jyoti Agarwal</td>
                                <td>8800748008</td>
                                <td>jyotigupta@rites.com</td>
                                <td>H.S.NAYAK</td>
                                <td>09826130766</td>
                                <td>nayakhsn@rediffmail.com</td>
                            </tr>
                            <tr>
                                <td>84</td>
                                <td>K.B. GURUNG</td>
                                <td>992663336</td>
                                <td></td>
                                <td>RAKESH SRIVASTAVA</td>
                                <td>9425297232</td>
                                <td>rakeshsrivastava@rites.com</td>
                            </tr>
                            <tr>
                                <td>85</td>
                                <td>KAHNU CHARANA PANDA</td>
                                <td>7389875942</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>86</td>
                                <td>KAMAL KISHOR</td>
                                <td>8720084841</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>87</td>
                                <td>KAMLESH KUMAR</td>
                                <td>000</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>88</td>
                                <td>KAMRUL HODA ANSARI</td>
                                <td>000</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>89</td>
                                <td>KANHAIYA LAL SONWANI</td>
                                <td>000</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>90</td>
                                <td>KAPIL MEHTA</td>
                                <td>000</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>91</td>
                                <td>KARAN BEDI</td>
                                <td>9729600985</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>92</td>
                                <td>KARTIK CHANDRA KUNDU</td>
                                <td>9425550262</td>
                                <td></td>
                                <td>T. Ramakrishna</td>
                                <td>9098772498</td>
                                <td>tramakrishna@rites.com</td>
                            </tr>
                            <tr>
                                <td>93</td>
                                <td>KAUSHAL KUMAR SINGH</td>
                                <td>000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>94</td>
                                <td>KAUSHIK DAS</td>
                                <td>00</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>95</td>
                                <td>KRASHNA MURARI SHARMA</td>
                                <td>7059071918</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>96</td>
                                <td>KRISHNA NAND GIRI</td>
                                <td>000</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>97</td>
                                <td>KUNDAN KUMAR</td>
                                <td>7654741002</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>98</td>
                                <td>L SHANKAR RAO</td>
                                <td>9425550156</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>99</td>
                                <td>LAKESH KUMAR</td>
                                <td>9981696544</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>100</td>
                                <td>LALIT KUMAR</td>
                                <td>9425550224</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>101</td>
                                <td>LALIT KUMAR AHIRWAR</td>
                                <td>9425550157</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>102</td>
                                <td>M LINGANA</td>
                                <td>9425550251</td>
                                <td></td>
                                <td>T. Ramakrishna</td>
                                <td>9098772498</td>
                                <td>tramakrishna@rites.com</td>
                            </tr>
                            <tr>
                                <td>103</td>
                                <td>M.K. MANGAL</td>
                                <td>9425550327</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>MADHAV KUMAR BARIK</td>
                                <td>8895769998</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>105</td>
                                <td>MAHENDRA KUMAR RAJORIYA</td>
                                <td>9425550248</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>106</td>
                                <td>MANGA TIRKEY</td>
                                <td>9425550146</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>107</td>
                                <td>MANINDER SINGH</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>108</td>
                                <td>MAYANK TOMAR</td>
                                <td>9810912940</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>109</td>
                                <td>MD. ABDUL AZEEM</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>110</td>
                                <td>MD. SHOAIB KHAN</td>
                                <td>8770331774</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>111</td>
                                <td>MOHAMMAD WASEEM AKRAM</td>
                                <td>000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>112</td>
                                <td>MOHAN LAL DESMUKH</td>
                                <td>9425550140</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>113</td>
                                <td>MUKESH KUMAR</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>114</td>
                                <td>MUKESH KUMAR TRIPATHI</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>115</td>
                                <td>Manoj Kumar</td>
                                <td>0000</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>116</td>
                                <td>NAVEEN SHARMA</td>
                                <td>000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>117</td>
                                <td>NEERAJ SAO</td>
                                <td>000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>118</td>
                                <td>NEHA SAHA</td>
                                <td>9827275431</td>
                                <td></td>
                                <td>P. SATYANARAYANA</td>
                                <td>9425297156</td>
                                <td>satynpariyaridi@gmail.com</td>
                            </tr>
                            <tr>
                                <td>119</td>
                                <td>NISHANT KUMAR</td>
                                <td>9425550216</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>120</td>
                                <td>NITESH KUMAR DEVANGAN</td>
                                <td>000</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>121</td>
                                <td>NITESH KUMAR SUKHDEVE</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>122</td>
                                <td>NITIN RAJPUT</td>
                                <td>9425297162</td>
                                <td>NTN.RAJPUT89@GMAIL.COM</td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>123</td>
                                <td>Navdeep Tamrakar</td>
                                <td>7389917950</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>124</td>
                                <td>Naveen Kumar</td>
                                <td>0000</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>125</td>
                                <td>OM PRAKASH SAHU</td>
                                <td>000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>126</td>
                                <td>P. SATYANARAYANA</td>
                                <td>9425297156</td>
                                <td>psatyanarayana@rites.com</td>
                                <td>H.S.NAYAK</td>
                                <td>09826130766</td>
                                <td>nayakhsn@rediffmail.com</td>
                            </tr>
                            <tr>
                                <td>127</td>
                                <td>P.KAMARAJ</td>
                                <td>07882852973</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>128</td>
                                <td>P.N. UMANG</td>
                                <td>000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>129</td>
                                <td>PRANEET KUMAR KALPENDE</td>
                                <td>9425550173</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>130</td>
                                <td>PRAVEEN KUMAR MAHENDRA</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>131</td>
                                <td>PRAVEEN KUMAR NISHAD</td>
                                <td>000</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>132</td>
                                <td>PRAVEEN KUMAR YADAV</td>
                                <td>7898972549</td>
                                <td></td>
                                <td>T. Ramakrishna</td>
                                <td>9098772498</td>
                                <td>tramakrishna@rites.com</td>
                            </tr>
                            <tr>
                                <td>133</td>
                                <td>PREMJEET KUMAR SINGH</td>
                                <td>9425550245</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>134</td>
                                <td>PURUSHOTTAM KUMAR SONI</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>135</td>
                                <td>Prakash Singh</td>
                                <td>00</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>136</td>
                                <td>Prem Prakash Verma</td>
                                <td>0000</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>137</td>
                                <td>Priya Biswas</td>
                                <td>0000</td>
                                <td>cgstraigarh.r1@gmail.com</td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>138</td>
                                <td>R.K. SAHU</td>
                                <td>9752324747</td>
                                <td></td>
                                <td>RAKESH SRIVASTAVA</td>
                                <td>9425297232</td>
                                <td>rakeshsrivastava@rites.com</td>
                            </tr>
                            <tr>
                                <td>139</td>
                                <td>RAHUL KUMAR NILESH</td>
                                <td>9867942562</td>
                                <td></td>
                                <td>Gopi M.</td>
                                <td>9967640902</td>
                                <td>gopim@rites.com</td>
                            </tr>
                            <tr>
                                <td>140</td>
                                <td>RAJA DEVINENI</td>
                                <td>0</td>
                                <td></td>
                                <td>H.S.NAYAK</td>
                                <td>09826130766</td>
                                <td>nayakhsn@rediffmail.com</td>
                            </tr>
                            <tr>
                                <td>141</td>
                                <td>RAJA SHARAD SONMANI</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>142</td>
                                <td>RAKESH KUMAR</td>
                                <td>9891530027</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>143</td>
                                <td>RAKESH SRIVASTAVA</td>
                                <td>9425297232</td>
                                <td>rakeshsrivastava@rites.com</td>
                                <td>H.S.NAYAK</td>
                                <td>09826130766</td>
                                <td>nayakhsn@rediffmail.com</td>
                            </tr>
                            <tr>
                                <td>144</td>
                                <td>RAM SWAROOP VERMA</td>
                                <td>8120172247</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>145</td>
                                <td>RAMESHWARI MALL</td>
                                <td>+917882242063</td>
                                <td>nayakhsn@rediffmail.com</td>
                                <td>H.S.NAYAK</td>
                                <td>09826130766</td>
                                <td>nayakhsn@rediffmail.com</td>
                            </tr>
                            <tr>
                                <td>146</td>
                                <td>RANJEET KUMAR BORKAR</td>
                                <td>9425550249</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>147</td>
                                <td>RAVI SHANKA RAI</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>148</td>
                                <td>ROHIT KUMAR DESHMUKH</td>
                                <td>9425550092</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>149</td>
                                <td>ROHIT SINGH</td>
                                <td>9425550342</td>
                                <td>RSROHIT9291@GMAIL.COM</td>
                                <td>H.S.NAYAK</td>
                                <td>09826130766</td>
                                <td>nayakhsn@rediffmail.com</td>
                            </tr>
                            <tr>
                                <td>150</td>
                                <td>Ranjan Kumar Das</td>
                                <td>8541892962</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>151</td>
                                <td>Rashikh Khan</td>
                                <td>9425550235</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>152</td>
                                <td>Rupesh Bhosle</td>
                                <td>9039691085</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>153</td>
                                <td>S V DHOPRE</td>
                                <td>9425297231</td>
                                <td></td>
                                <td>H.S.NAYAK</td>
                                <td>09826130766</td>
                                <td>nayakhsn@rediffmail.com</td>
                            </tr>
                            <tr>
                                <td>154</td>
                                <td>SACHIDANAND PANDEY</td>
                                <td>9407985895</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>155</td>
                                <td>SAGAR JAISWAL</td>
                                <td>000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>156</td>
                                <td>SANDEEP HAZARI</td>
                                <td>8337095969</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>157</td>
                                <td>SANDEEP PANDA</td>
                                <td>9425550268</td>
                                <td></td>
                                <td>T. Ramakrishna</td>
                                <td>9098772498</td>
                                <td>tramakrishna@rites.com</td>
                            </tr>
                            <tr>
                                <td>158</td>
                                <td>SANJAY KUMAR SWAIN</td>
                                <td>9425550238</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>159</td>
                                <td>SANJEEV KUMAR MOURYA</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>160</td>
                                <td>SATYAM BHAVANEE</td>
                                <td>9302431673</td>
                                <td></td>
                                <td>T. Ramakrishna</td>
                                <td>9098772498</td>
                                <td>tramakrishna@rites.com</td>
                            </tr>
                            <tr>
                                <td>161</td>
                                <td>SAYED SOHEB HUSSAIN</td>
                                <td>8984543228</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>162</td>
                                <td>SHAILENDRA KUMAR TRIPATHI</td>
                                <td>000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>163</td>
                                <td>SHAILESH N KAPGATE</td>
                                <td>9425550194</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>164</td>
                                <td>SHAILESH PARTE</td>
                                <td>9425550239</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>165</td>
                                <td>SHAMBHU PASWAN</td>
                                <td>9425550085</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>166</td>
                                <td>SHASHI BHUSHAN PRASAD</td>
                                <td>9425550314</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>167</td>
                                <td>SHER SINGH PARIHAR</td>
                                <td>0000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>168</td>
                                <td>SHIVAM KRISHNATRAY</td>
                                <td>9411833084</td>
                                <td>shivamkrish24@gmail.com</td>
                                <td>H.S.NAYAK</td>
                                <td>09826130766</td>
                                <td>nayakhsn@rediffmail.com</td>
                            </tr>
                            <tr>
                                <td>169</td>
                                <td>SHYAM SURENDRA BABU KADARI</td>
                                <td>9490082738</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>170</td>
                                <td>SIBARAM SAHU</td>
                                <td>9425550261</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>171</td>
                                <td>SONI KUMAR</td>
                                <td>000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>172</td>
                                <td>SRINIVAS BARIGELA</td>
                                <td>9425550232</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>173</td>
                                <td>SUDIPTO KUMAR MONDAL</td>
                                <td>9425550266</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>174</td>
                                <td>SUJEET KUMAR</td>
                                <td>9685832346</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>175</td>
                                <td>SUMEET GANESH GAWAI</td>
                                <td>9822555606</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>176</td>
                                <td>SUMEET NANDI</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>177</td>
                                <td>SUMIT MATHUR</td>
                                <td>9425550165</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>178</td>
                                <td>SUNIL KUMAR CHOUBEY</td>
                                <td>9754068035</td>
                                <td></td>
                                <td>Gopi M.</td>
                                <td>9967640902</td>
                                <td>gopim@rites.com</td>
                            </tr>
                            <tr>
                                <td>179</td>
                                <td>SURAJ KUMAR</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>180</td>
                                <td>SURENDRA DEWANGAN</td>
                                <td>000</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>181</td>
                                <td>SURYA KUMAR DEWANGAN</td>
                                <td>7566064033</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>182</td>
                                <td>SUSHANT KUMAR SHARMA</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>183</td>
                                <td>SUSHIL KUMAR DEWANGAN</td>
                                <td>9301055953</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>184</td>
                                <td>SYED ZEESHAN ALI</td>
                                <td>000</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>185</td>
                                <td>Sayyad Kasim Ali</td>
                                <td>0000</td>
                                <td></td>
                                <td>SIDDHARTHA PALIT</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                            </tr>
                            <tr>
                                <td>186</td>
                                <td>Shrikant Yawalkar</td>
                                <td>9425550218</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>187</td>
                                <td>Shriram Mandwe</td>
                                <td>8889179513</td>
                                <td></td>
                                <td>RAJA DEVINENI</td>
                                <td>9425297216</td>
                                <td>rajadevineni@rites.com</td>
                            </tr>
                            <tr>
                                <td>188</td>
                                <td>Siddhartha Palit</td>
                                <td>9993247502</td>
                                <td>siddharthapalit@rites.com</td>
                                <td>P. SATYANARAYANA</td>
                                <td>9425297156</td>
                                <td>satynpariyaridi@gmail.com</td>
                            </tr>
                            <tr>
                                <td>189</td>
                                <td>Srinivas Arsole</td>
                                <td>7000138506</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>190</td>
                                <td>Suraj Banerjee</td>
                                <td>000</td>
                                <td></td>
                                <td>P KAMRAJ</td>
                                <td>9425556561</td>
                                <td>pkamraj@rites.com</td>
                            </tr>
                            <tr>
                                <td>191</td>
                                <td>Suyash Tiwari</td>
                                <td>000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>192</td>
                                <td>T. MURLI</td>
                                <td>7993492683</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>193</td>
                                <td>TEEKESHWAR RAO</td>
                                <td>0000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>194</td>
                                <td>Tevendra Singh Baghel</td>
                                <td>00</td>
                                <td></td>
                                <td>P KAMRAJ</td>
                                <td>9425556561</td>
                                <td>pkamraj@rites.com</td>
                            </tr>
                            <tr>
                                <td>195</td>
                                <td>UMESH PRAKASH SRIVASTAVA</td>
                                <td>9691631855</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>196</td>
                                <td>VIJAY WAMANRAO DESHPANDE</td>
                                <td>000</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>197</td>
                                <td>VIJENDRA KUMAR PRASAD</td>
                                <td>9425550163</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>198</td>
                                <td>VIKAS KUMAR</td>
                                <td>000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>199</td>
                                <td>VINOD KUMAR DWIVEDI</td>
                                <td>9870589505</td>
                                <td></td>
                                <td>T. Ramakrishna</td>
                                <td>9098772498</td>
                                <td>tramakrishna@rites.com</td>
                            </tr>
                            <tr>
                                <td>200</td>
                                <td>VIPIN TIWARI</td>
                                <td>000</td>
                                <td></td>
                                <td>T. Ramakrishna</td>
                                <td>9098772498</td>
                                <td>tramakrishna@rites.com</td>
                            </tr>
                            <tr>
                                <td>201</td>
                                <td>VISHAL GAYAKWAD</td>
                                <td>000</td>
                                <td></td>
                                <td>D K Rao</td>
                                <td>9769496478</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>202</td>
                                <td>VISHAL KUMAR</td>
                                <td>000</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>203</td>
                                <td>VISHAL MALVIYA</td>
                                <td>9425550154</td>
                                <td></td>
                                <td>T. Ramakrishna</td>
                                <td>9098772498</td>
                                <td>tramakrishna@rites.com</td>
                            </tr>
                            <tr>
                                <td>204</td>
                                <td>VIVEK KUMAR</td>
                                <td>000</td>
                                <td></td>
                                <td>T. Ramakrishna</td>
                                <td>9098772498</td>
                                <td>tramakrishna@rites.com</td>
                            </tr>
                            <tr>
                                <td>205</td>
                                <td>YOGESH CHANDRA SAHU</td>
                                <td>9425550198</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>206</td>
                                <td>YOGESH KUMAR PARGANIHA</td>
                                <td>9425550189</td>
                                <td></td>
                                <td>Vinod Kumar Dwivedi</td>
                                <td>9870589505</td>
                                <td>vinoddwivedi@rites.com</td>
                            </tr>
                            <tr>
                                <td>207</td>
                                <td>Yogesh Kumar Chaudhary</td>
                                <td>00</td>
                                <td></td>
                                <td>V K DWIVEDI</td>
                                <td>9870589505</td>
                                <td>vnioddwivedi@rites.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>