
@{
    ViewData["Title"] = "EasternRegion";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<div class="container">
    <div class="row m-0">
        <div class="col-lg-12">
            <div class="innerContent">
                <div class="list-inner">
                    <div class="tast-list">
                        <h2>Contact Us</h2>
                    </div>
                </div>
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="heading3">EASTERN REGION</h3>
                            <p>
                                <span class="fa fa-map-marker"></span>  <strong>RITES LTD.</strong> <span class="subName">(A Govt. of India Enterprise)</span><br />
                                CENTRAL STATION BUILDING (METRO) 56, C.R.AVENUE (3rd Floor) KOLKATA - 700 012
                            </p>
                            <p>
                                <span class="fa fa-phone"></span> +91-33-22348665/22348370<br />
                                <span class="fa fa-fax"></span>  +91-33-22348704<br />
                                <span class="fa fa-envelope"></span> <a href="mailto:erinspn@rites.com">erinspn@rites.com</a>
                            </p>
                            <h3 class="heading3">Inspection Engineer's & Their Controllings Contact Information</h3>
                            <p>INTERACTIVE AUTOMATIC CALL DESK HELPLINE NO. <span class="orangeText">1800 425 7000</span> (TOLL FREE)</p>
                            <table class="borderTable">
                                <tbody>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>IE Name</th>
                                        <th>Mobile No.</th>
                                        <th>IE Email</th>
                                        <th>CO Name</th>
                                        <th>CO Mobile No.</th>
                                        <th>CO Email</th>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>A.K.JAISWAL</td>
                                        <td>9831027240</td>
                                        <td>avanishkumar@rites.com</td>
                                        <td>G.S.MANNA</td>
                                        <td>9073399485</td>
                                        <td>gouranga.sundar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>ABHIMANYU SAHOO</td>
                                        <td>9073399486</td>
                                        <td>abimanyusahoo@rites.com</td>
                                        <td>SRI DEEPAK MAHAJAN</td>
                                        <td>9167138172</td>
                                        <td>deepakmahajan@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>ABHISHEK MAURYA</td>
                                        <td>9073399505</td>
                                        <td>abhishek.maurya@rites.com</td>
                                        <td>G.S.MANNA</td>
                                        <td>9073399485</td>
                                        <td>gouranga.sundar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>AMIT SINGH</td>
                                        <td>7678356399</td>
                                        <td>s.amit02920936@gmail.com</td>
                                        <td>SRI DEEPAK MAHAJAN</td>
                                        <td>9167138172</td>
                                        <td>deepakmahajan@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>AMOL ASHOKRAO BHARNE</td>
                                        <td>9073399516</td>
                                        <td>amol.bharne@rites.com</td>
                                        <td>G.S.MANNA</td>
                                        <td>9073399485</td>
                                        <td>gouranga.sundar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>ANIL KUMAR UPADHYAY</td>
                                        <td>8336994354</td>
                                        <td>anilupadhyay@rites.com</td>
                                        <td>SRI DEEPAK MAHAJAN</td>
                                        <td>9167138172</td>
                                        <td>deepakmahajan@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>ASHIS KOLEY</td>
                                        <td>9831397447</td>
                                        <td>ashiskoley@rites.com</td>
                                        <td>SRI DEEPAK MAHAJAN</td>
                                        <td>9167138172</td>
                                        <td>deepakmahajan@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>ASHWINI KUMAR</td>
                                        <td>9073399506</td>
                                        <td>ashwanikumar@rites.com</td>
                                        <td>ROHITA KUMAR DASH</td>
                                        <td>9073399519</td>
                                        <td>rohitkumar1@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>ATHAR JAWED</td>
                                        <td>9073399522</td>
                                        <td>athar.javed@rites.com</td>
                                        <td>G.S.MANNA</td>
                                        <td>9073399485</td>
                                        <td>gouranga.sundar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>BALAKRISHNA S</td>
                                        <td>8867237609</td>
                                        <td>balakrishna@rites.com</td>
                                        <td>G.S.MANNA</td>
                                        <td>9073399485</td>
                                        <td>gouranga.sundar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>CHANDRA SEN</td>
                                        <td>9073399520</td>
                                        <td>chandrasen@rites.com</td>
                                        <td>ROHITA KUMAR DASH</td>
                                        <td>9073399519</td>
                                        <td>rohitkumar1@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>DEEPAK MAHAJAN</td>
                                        <td>9167138172</td>
                                        <td>deepakmahajan@rites.com</td>
                                        <td>SRI RAJESH RAHEJA</td>
                                        <td>9958688699</td>
                                        <td>sbu.einsp@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>DURGAPUR</td>
                                        <td>03432586635</td>
                                        <td></td>
                                        <td>SRI SANJEET KUMAR SINGH</td>
                                        <td>9073399510</td>
                                        <td>sanjeetkumarsingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td>G.S MANNA</td>
                                        <td>9073399485</td>
                                        <td>gouranga.sundar@rites.com</td>
                                        <td>SRI RAJESH RAHEJA</td>
                                        <td>9958688699</td>
                                        <td>sbu.einsp@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td>GAUTAM KUMAR</td>
                                        <td>8336994353</td>
                                        <td>gautam.kumar@rites.com</td>
                                        <td>SRI T.S.ADAK</td>
                                        <td>9073399487</td>
                                        <td>tarasankaradak@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td>HIMANSHU PRAKASH</td>
                                        <td>9073399508</td>
                                        <td>himanshu.prakash@rites.com</td>
                                        <td>SRI DEEPAK MAHAJAN</td>
                                        <td>9167138172</td>
                                        <td>deepakmahajan@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>ISHA APURWA</td>
                                        <td>8336994350</td>
                                        <td>ishaapurwa@rites.com</td>
                                        <td>SRI DEEPAK MAHAJAN</td>
                                        <td>9167138172</td>
                                        <td>deepakmahajan@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td>KAUSHIK DAS</td>
                                        <td>9073399501</td>
                                        <td>k.das1234@rites.com</td>
                                        <td>ROHITA KUMAR DASH</td>
                                        <td>9073399519</td>
                                        <td>rohitkumar1@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td>KULDEEP DEWANGAN</td>
                                        <td>8336994352</td>
                                        <td>k.dewangan@rites.com</td>
                                        <td>SRI T.S.ADAK</td>
                                        <td>9073399487</td>
                                        <td>tarasankaradak@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>KUMAR SUDHIR PRASAD</td>
                                        <td>9073399521</td>
                                        <td>kr.sudhirprasad@rites.com</td>
                                        <td>ROHITA KUMAR DASH</td>
                                        <td>9073399519</td>
                                        <td>rohitkumar1@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>21</td>
                                        <td>KUMAR SUNDARAM</td>
                                        <td>7000607974</td>
                                        <td>kumarsundaram@rites.com</td>
                                        <td>SRI T.S.ADAK</td>
                                        <td>9073399487</td>
                                        <td>tarasankaradak@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>22</td>
                                        <td>LOKESH KUMAR KUMAWAT</td>
                                        <td>9073399517</td>
                                        <td>kumawat.lokesh@rites.com</td>
                                        <td>ROHITA KUMAR DASH</td>
                                        <td>9073399519</td>
                                        <td>rohitkumar1@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>23</td>
                                        <td>MALINI SAHA</td>
                                        <td>9830234920</td>
                                        <td>malinisaha@rites.com</td>
                                        <td>SRI RAJESH RAHEJA</td>
                                        <td>9958688699</td>
                                        <td>sbu.einsp@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>24</td>
                                        <td>MAYANK SHARMA</td>
                                        <td>9958699419</td>
                                        <td>mayank.1@rites.com</td>
                                        <td>SRI DEEPAK MAHAJAN</td>
                                        <td>9167138172</td>
                                        <td>deepakmahajan@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>25</td>
                                        <td>MISCELLANEOUS (CIVIL)</td>
                                        <td>22348730</td>
                                        <td></td>
                                        <td>G.S.MANNA</td>
                                        <td>9073399485</td>
                                        <td>gouranga.sundar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>26</td>
                                        <td>PALASH DE</td>
                                        <td>7993275004</td>
                                        <td>palashde@rites.com</td>
                                        <td>G.S.MANNA</td>
                                        <td>9073399485</td>
                                        <td>gouranga.sundar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>27</td>
                                        <td>PARMESHWAR PRASAD</td>
                                        <td>8810314536</td>
                                        <td>parmeshwarprasad20@gmail.com</td>
                                        <td>SRI DEEPAK MAHAJAN</td>
                                        <td>9167138172</td>
                                        <td>deepakmahajan@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>28</td>
                                        <td>PINAKI MAJUMDAR</td>
                                        <td>9073399526</td>
                                        <td>pinaki_maj@rites.com</td>
                                        <td>G.S.MANNA</td>
                                        <td>9073399485</td>
                                        <td>gouranga.sundar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>29</td>
                                        <td>RAJEEV</td>
                                        <td>9073399494</td>
                                        <td>rajeevgarg@rites.com</td>
                                        <td>SRI DEEPAK MAHAJAN</td>
                                        <td>9167138172</td>
                                        <td>deepakmahajan@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>30</td>
                                        <td>RAJESH RANJAN</td>
                                        <td>8336994357</td>
                                        <td>rajesh.ranjan1@rites.com</td>
                                        <td>SRI T.S.ADAK</td>
                                        <td>9073399487</td>
                                        <td>tarasankaradak@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>31</td>
                                        <td>RAKESH ROSHAN</td>
                                        <td>8336994351</td>
                                        <td>rakeshroshan@rites.com</td>
                                        <td>SRI DEEPAK MAHAJAN</td>
                                        <td>9167138172</td>
                                        <td>deepakmahajan@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>32</td>
                                        <td>RANJIT YADAV</td>
                                        <td>9073399499</td>
                                        <td>ranjit45yadav@gmail.com</td>
                                        <td>ROHITA KUMAR DASH</td>
                                        <td>9073399519</td>
                                        <td>rohitkumar1@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>33</td>
                                        <td>RAVI CHANDRAM</td>
                                        <td>7024068981</td>
                                        <td>ravi.chandram@rites.com</td>
                                        <td>SRI T.S.ADAK</td>
                                        <td>9073399487</td>
                                        <td>tarasankaradak@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>34</td>
                                        <td>ROHITA KUMAR DASH</td>
                                        <td>9073399519</td>
                                        <td>rohitkumar1@rites.com</td>
                                        <td>G.S.MANNA</td>
                                        <td>9073399485</td>
                                        <td>gouranga.sundar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>35</td>
                                        <td>S.RAKESH KUMAR</td>
                                        <td>9474598598</td>
                                        <td>srakesh.kumar@rites.com</td>
                                        <td>G.S.MANNA</td>
                                        <td>9073399485</td>
                                        <td>gouranga.sundar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>36</td>
                                        <td>SANJEET KUMAR SINGH</td>
                                        <td>9073399510</td>
                                        <td>sanjeetkumarsingh@rites.com</td>
                                        <td>SRI RAJESH RAHEJA</td>
                                        <td>9958688699</td>
                                        <td>sbu.einsp@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>37</td>
                                        <td>SHISIR ROY</td>
                                        <td>9073399484</td>
                                        <td>sisir_met06@yahoo.co.in</td>
                                        <td>G.S.MANNA</td>
                                        <td>9073399485</td>
                                        <td>gouranga.sundar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>38</td>
                                        <td>SIBRAM MONDAL</td>
                                        <td>9874834638</td>
                                        <td>sibrammondal_123@rediffmail.com</td>
                                        <td>MALINI SAHA</td>
                                        <td>9073399488</td>
                                        <td>malinisaha@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>39</td>
                                        <td>SORABH KUMAR</td>
                                        <td>9073399511</td>
                                        <td>sorabh.kumar@rites.com</td>
                                        <td>G.S.MANNA</td>
                                        <td>9073399485</td>
                                        <td>gouranga.sundar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>40</td>
                                        <td>SUBRATA PAUL</td>
                                        <td>9073399482</td>
                                        <td>subrata.paul1@rites.com</td>
                                        <td>SRI DEEPAK MAHAJAN</td>
                                        <td>9167138172</td>
                                        <td>deepakmahajan@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>41</td>
                                        <td>SURJEET SINGH</td>
                                        <td>9874111161</td>
                                        <td>surjeet.pcw@rites.com</td>
                                        <td>G.S.MANNA</td>
                                        <td>9073399485</td>
                                        <td>gouranga.sundar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>42</td>
                                        <td>T VIJAY SHANKAR</td>
                                        <td>8754407526</td>
                                        <td>vijayshankar.t@rites.com</td>
                                        <td>SRI DEEPAK MAHAJAN</td>
                                        <td>9167138172</td>
                                        <td>deepakmahajan@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>43</td>
                                        <td>T.S.ADAK</td>
                                        <td>9073399487</td>
                                        <td>tarasankaradak@rites.com</td>
                                        <td>G.S.MANNA</td>
                                        <td>9073399485</td>
                                        <td>gouranga.sundar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>44</td>
                                        <td>V.KANNABIRAN</td>
                                        <td>7904367884</td>
                                        <td>vkannabiran@rites.com</td>
                                        <td>G.S.MANNA</td>
                                        <td>9073399485</td>
                                        <td>gouranga.sundar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>45</td>
                                        <td>V.P.SUNIL KUMAR</td>
                                        <td>8928072974</td>
                                        <td>vpsunilkumar@rites.com</td>
                                        <td>G.S.MANNA</td>
                                        <td>9073399485</td>
                                        <td>gouranga.sundar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>46</td>
                                        <td>VIKASH KUMAR</td>
                                        <td>9073399504</td>
                                        <td>iamvikash.kumar@rites.com</td>
                                        <td>SRI DEEPAK MAHAJAN</td>
                                        <td>9167138172</td>
                                        <td>deepakmahajan@rites.com</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4 class="heading4">SBU Head,GGM & GM Contact Information</h4>
                            <p>
                                Sh. RAJESH RAHEJA (AGM-I/SBU Head/ER)<br />
                                <span class="fa fa-phone"></span> 033-22348912<br />
                                <span class="fa fa-envelope"></span> <a href="mailto:sbu.einsp@rites.com">sbu.einsp@rites.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



