
@{
    ViewData["Title"] = "NorthernRegion";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<div class="container">
    <div class="row m-0">
        <div class="col-lg-12">
            <div class="innerContent">
                <div class="list-inner">
                    <div class="tast-list">
                        <h2>Contact Us</h2>
                    </div>
                </div>
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="heading3">NORTHERN REGION INSPECTION OFFICE</h3>
                            <p>
                                <span class="fa fa-map-marker"></span> 12TH FLOOR, CORE-2, SCOPE MINAR, LAXMI NAGAR, DELHI-110092</p>
                            <p>INTERACTIVE AUTOMATIC CALL DESK HELPLINE NO. <span class="orangeText">1800 425 7000</span> (TOLL FREE)</p>
                            <h4 class="heading4">CALL DESK</h4>
                            <p>
                                <span class="fa fa-phone"></span>  +91-8800018691, 8800018692, 8800018693, 8800018694, 8800018695<br>
                                [MONDAY TO FRIDAY: 0900 HRS TO 1730 HRS]<br>
                                <span class="fa fa-envelope"></span>  <a href="mailto:nrinspn@rites.com">nrinspn@rites.com</a>
                            </p>
                            <h4 class="heading4">FINANCE</h4>
                            <p>
                                <span class="fa fa-envelope"></span>  <a href="mailto:nrinspn.fin@rites.com">nrinspn.fin@rites.com</a><br />
                                (For Inspection Bills Related. Kindly Mention Case No, Call Date, Call SNo, Book No & Set No)
                            </p>
                            <h4 class="heading4">IT</h4>
                            <p>
                                <span class="fa fa-envelope"></span> <a href="mailto:nrinspn.it@rites.com">nrinspn.it@rites.com</a><br />
                                (For New Vendor, Bill Paying Officer, Consignee or Client Registration along with the relevant documents.)
                            </p>
                            <h4 class="heading4">Call Desk Officer</h4>
                            <p> <span class="fa fa-phone"></span> 8826992654</p>
                            <h3 class="heading3">Inspection Engineer's & Their Controllings Contact Details</h3>
                           @* <h4 class="heading4">Northern Region</h4>
                            <p>INTERACTIVE AUTOMATIC CALL DESK HELPLINE NO. <span class="orangeText">1800 425 7000</span> (TOLL FREE)<br />
                                Inspection Engineers & Their Controllings Contact Information
                            </p>*@
                            <table class="borderTable">
                                <tbody>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>IE Name</th>
                                        <th>Mobile No.</th>
                                        <th>IE Email</th>
                                        <th>CO Name</th>
                                        <th>CO Mobile No.</th>
                                        <th>CO Email</th>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>ABDESH SINGH YADAV</td>
                                        <td>9958880250</td>
                                        <td>abdeshsingh.yadav@rites.com</td>
                                        <td>RAJEEV KUMAR AHUJA</td>
                                        <td>8826992661</td>
                                        <td>rajeevkahuja@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>ABHISHEK ANAND</td>
                                        <td>8130990746</td>
                                        <td>abhishek.1187@rites.com</td>
                                        <td>MOHIT PATEL</td>
                                        <td>8826992654</td>
                                        <td>mohitpatel@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>ABHISHEK KUMAR</td>
                                        <td>9560811233</td>
                                        <td>er-abhishek.kumar@rites.com</td>
                                        <td>RAJEEV KUMAR AHUJA</td>
                                        <td>8826992661</td>
                                        <td>rajeevkahuja@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>ABHISHEK YADAV</td>
                                        <td>8130990749</td>
                                        <td>abhishek.84iet@rites.com</td>
                                        <td>NEERAJ SINGH</td>
                                        <td>8826992672</td>
                                        <td>neerajsingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>AHUJA RAJEEV KUMAR</td>
                                        <td>8826992658</td>
                                        <td>rajeevkahuja@rites.com</td>
                                        <td>T RAMA KRISHNA</td>
                                        <td>8826992660</td>
                                        <td>tramakrishna@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>AJAY SINGH YADAV</td>
                                        <td>9560076953</td>
                                        <td>ajayy01403@gmail.com</td>
                                        <td>VIJAY KUMAR</td>
                                        <td>8826992666</td>
                                        <td>vijaykumar3@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>AJIT SINGH</td>
                                        <td>8826992658</td>
                                        <td>ajitsingh@rites.com</td>
                                        <td>SANDEEP GUPTA</td>
                                        <td>8800194055</td>
                                        <td>sgupta@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>AKASH GUPTA</td>
                                        <td>8130555478</td>
                                        <td>guptaakash910@rites.com</td>
                                        <td>SHLOK KUMAR</td>
                                        <td>8826992652</td>
                                        <td>shlokkumar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>ANVI</td>
                                        <td>8130990756</td>
                                        <td>anvi.31@rites.com</td>
                                        <td>T RAMA KRISHNA</td>
                                        <td>8826992660</td>
                                        <td>tramakrishna@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>ARVIND KUMAR</td>
                                        <td>8130990757</td>
                                        <td>y.arvind@rites.com</td>
                                        <td>NEERAJ SINGH</td>
                                        <td>8826992672</td>
                                        <td>neerajsingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>ASHISH KUMAR GABA</td>
                                        <td>8130990741</td>
                                        <td>ashish.gaba@rites.com</td>
                                        <td>BRIJVEER SINGH</td>
                                        <td>8130990752</td>
                                        <td>brijveersingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>ASHOK KUMAR</td>
                                        <td>8826005593</td>
                                        <td>ashokkumar.1@rites.com</td>
                                        <td>SANDEEP GUPTA</td>
                                        <td>8800194055</td>
                                        <td>sgupta@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>ASHU VERMA</td>
                                        <td>9811836476</td>
                                        <td>ashu.verma@rites.com</td>
                                        <td>Paramjit Singh Monga</td>
                                        <td>9998936727</td>
                                        <td>paramjitsmonga@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td>ASHUTOSH GAUTAM</td>
                                        <td>8448390127</td>
                                        <td>a.gautam@rites.com</td>
                                        <td>Paramjit Singh Monga</td>
                                        <td>9998936727</td>
                                        <td>paramjitsmonga@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td>ASHUTOSH KUMAR ANUPAM</td>
                                        <td>9717511233</td>
                                        <td>ashutosh.anupam@rites.com</td>
                                        <td>BRIJVEER SINGH</td>
                                        <td>8130990752</td>
                                        <td>brijveersingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td>ATUL KUMAR SHARMA</td>
                                        <td>7042520242</td>
                                        <td>atul.sharma1989@rites.com</td>
                                        <td>BRIJVEER SINGH</td>
                                        <td>8130990752</td>
                                        <td>brijveersingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>AVINASH RAI</td>
                                        <td>9990474904</td>
                                        <td>avi.rai90@rites.com</td>
                                        <td>RAJEEV KUMAR AHUJA</td>
                                        <td>8826992661</td>
                                        <td>rajeevkahuja@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td>BADRI NARAYAN MEENA</td>
                                        <td>8130990753</td>
                                        <td>bnmeena@rites.com</td>
                                        <td>BRIJVEER SINGH</td>
                                        <td>8130990752</td>
                                        <td>brijveersingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td>BIS-NR</td>
                                        <td>8800194055</td>
                                        <td></td>
                                        <td>SANDEEP GUPTA</td>
                                        <td>8800194055</td>
                                        <td>sgupta@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>CHETAN KUMAR</td>
                                        <td>9950555505</td>
                                        <td>kumar.chetan@rites.com</td>
                                        <td>VIJAY KUMAR</td>
                                        <td>8826992666</td>
                                        <td>vijaykumar3@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>21</td>
                                        <td>CRNOTE</td>
                                        <td>9999999999</td>
                                        <td></td>
                                        <td>KAMAL GUPTA</td>
                                        <td>7827156063</td>
                                        <td>kamalguptaoffice82@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td>22</td>
                                        <td>DEEPANSHU KUCHHAL</td>
                                        <td>9651726997</td>
                                        <td>deepanshu.kuchhal@rites.com</td>
                                        <td>VIJAY KUMAR</td>
                                        <td>8826992666</td>
                                        <td>vijaykumar3@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>23</td>
                                        <td>DHARMENDRA KR SACHAN</td>
                                        <td>8826992681</td>
                                        <td>dharmendarkumar@rites.com</td>
                                        <td>Paramjit Singh Monga</td>
                                        <td>9998936727</td>
                                        <td>paramjitsmonga@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>24</td>
                                        <td>G S INDRESH</td>
                                        <td>9902437100, 8130990754</td>
                                        <td>indresh.gs@rites.com</td>
                                        <td>NEERAJ SINGH</td>
                                        <td>8826992672</td>
                                        <td>neerajsingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>25</td>
                                        <td>GAURAV KUMAR MANGAL</td>
                                        <td>8826992667</td>
                                        <td>gauravkumarmangal@rites.com</td>
                                        <td>MOHIT PATEL</td>
                                        <td>8826992654</td>
                                        <td>mohitpatel@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>26</td>
                                        <td>GAURAV LOHIYA</td>
                                        <td>8448390129</td>
                                        <td>gaurav.lohiya@rites.com</td>
                                        <td>RAJEEV KUMAR AHUJA</td>
                                        <td>8826992661</td>
                                        <td>rajeevkahuja@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>27</td>
                                        <td>GAURAV SHARMA</td>
                                        <td>8826992676</td>
                                        <td>gauravsharma@rites.com</td>
                                        <td>NEERAJ SINGH</td>
                                        <td>8826992672</td>
                                        <td>neerajsingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>28</td>
                                        <td>HARIHAR NARAYAN SHARMA</td>
                                        <td>8448390131</td>
                                        <td>narayana.hari@rites.com</td>
                                        <td>LALTA PRASAD</td>
                                        <td>9811747308</td>
                                        <td>laltaprasad@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>29</td>
                                        <td>HARSH TRIPATHI</td>
                                        <td>8826091263</td>
                                        <td>harsh.rites90@rites.com</td>
                                        <td>MOHIT PATEL</td>
                                        <td>8826992654</td>
                                        <td>mohitpatel@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>30</td>
                                        <td>HARVINDER SINGH</td>
                                        <td>8826992673</td>
                                        <td>harvinder.sliet@rites.com</td>
                                        <td>SANDEEP GUPTA</td>
                                        <td>8800194055</td>
                                        <td>sgupta@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>31</td>
                                        <td>HIRDESH</td>
                                        <td>8448390125</td>
                                        <td>hirdesh.gaur@rites.com</td>
                                        <td>Paramjit Singh Monga</td>
                                        <td>9998936727</td>
                                        <td>paramjitsmonga@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>32</td>
                                        <td>KAILASH YADAV</td>
                                        <td>8130990759</td>
                                        <td>yadav.kailash@rites.com</td>
                                        <td>LALTA PRASAD</td>
                                        <td>9811747308</td>
                                        <td>laltaprasad@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>33</td>
                                        <td>KUMAR RAJEEV</td>
                                        <td>8130990758</td>
                                        <td>rajeevkumar1@rites.com</td>
                                        <td>BRIJVEER SINGH</td>
                                        <td>8130990752</td>
                                        <td>brijveersingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>34</td>
                                        <td>KUMAR SHLOK</td>
                                        <td>8826992652</td>
                                        <td>shlokkumar@rites.com</td>
                                        <td>T RAMA KRISHNA</td>
                                        <td>8826992660</td>
                                        <td>tramakrishna@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>35</td>
                                        <td>KVS NARAYAN</td>
                                        <td>8130990743</td>
                                        <td>kvss.narayana@rites.com</td>
                                        <td>NEERAJ SINGH</td>
                                        <td>8826992672</td>
                                        <td>neerajsingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>36</td>
                                        <td>LAB (SPECTRO TEST ANALYSIS)</td>
                                        <td>8826992656</td>
                                        <td>ritesnr.lab@rites.com</td>
                                        <td>VIJAY KUMAR</td>
                                        <td>8826992666</td>
                                        <td>vijaykumar3@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>37</td>
                                        <td>MANDEEP KUMAR</td>
                                        <td>8448390121</td>
                                        <td>mandeep.kumar678@rites.com</td>
                                        <td>MOHIT PATEL</td>
                                        <td>8826992654</td>
                                        <td>mohitpatel@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>38</td>
                                        <td>MANU KACHHAL</td>
                                        <td>8826091306</td>
                                        <td>manu.kachhal@rites.com</td>
                                        <td>SANDEEP GUPTA</td>
                                        <td>8800194055</td>
                                        <td>sgupta@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>39</td>
                                        <td>MEENA MANGI LAL</td>
                                        <td>8800771583</td>
                                        <td>mlmrites@gmail.com</td>
                                        <td>RAJEEV KUMAR AHUJA</td>
                                        <td>8826992661</td>
                                        <td>rajeevkahuja@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>40</td>
                                        <td>MOHIT PATEL</td>
                                        <td>8826992654</td>
                                        <td>mohitpatel@rites.com</td>
                                        <td>T RAMA KRISHNA</td>
                                        <td>8826992660</td>
                                        <td>tramakrishna@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>41</td>
                                        <td>MRITYUNJAY MANDAL</td>
                                        <td>8130555708</td>
                                        <td>mrityunjaymandal95@gmail.com</td>
                                        <td>T RAMA KRISHNA</td>
                                        <td>8826992660</td>
                                        <td>tramakrishna@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>42</td>
                                        <td>N C THAKUR</td>
                                        <td>8437043079</td>
                                        <td>nc.thakur@rites.com</td>
                                        <td>LALTA PRASAD</td>
                                        <td>9811747308</td>
                                        <td>laltaprasad@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>43</td>
                                        <td>NIRANJAN KUMAR</td>
                                        <td>8826992682</td>
                                        <td>niranjan.rites10@gmail.com</td>
                                        <td>BRIJVEER SINGH</td>
                                        <td>8130990752</td>
                                        <td>brijveersingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>44</td>
                                        <td>OM PRAKASH</td>
                                        <td>8725977503</td>
                                        <td>omlight_156@rites.com</td>
                                        <td>BRIJVEER SINGH</td>
                                        <td>8130990752</td>
                                        <td>brijveersingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>45</td>
                                        <td>PARAMJIT SINGH MONGA</td>
                                        <td>9998936727</td>
                                        <td>paramjitsmonga@rites.com</td>
                                        <td>T RAMA KRISHNA</td>
                                        <td>8826992660</td>
                                        <td>tramakrishna@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>46</td>
                                        <td>PARMINDER SINGH</td>
                                        <td>9915739100</td>
                                        <td>parminder.rites@rites.com</td>
                                        <td>VIJAY KUMAR</td>
                                        <td>8826992666</td>
                                        <td>vijaykumar3@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>47</td>
                                        <td>PARMOD</td>
                                        <td>8448390122</td>
                                        <td>pramod.sharma@rites.com</td>
                                        <td>RAJEEV KUMAR AHUJA</td>
                                        <td>8826992661</td>
                                        <td>rajeevkahuja@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>48</td>
                                        <td>PARVEEN KUMAR</td>
                                        <td>8826992662</td>
                                        <td>parveenkumar@rites.com</td>
                                        <td>MOHIT PATEL</td>
                                        <td>8826992654</td>
                                        <td>mohitpatel@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>49</td>
                                        <td>PATHAN AKRAM ALI KHAN</td>
                                        <td>8130444784</td>
                                        <td>akramakp@rites.com</td>
                                        <td>SANDEEP GUPTA</td>
                                        <td>8800194055</td>
                                        <td>sgupta@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>50</td>
                                        <td>PRAKASH KUMAR GUPTA</td>
                                        <td>9892375804</td>
                                        <td>prakash.gupta@rites.com</td>
                                        <td>LALTA PRASAD</td>
                                        <td>9811747308</td>
                                        <td>laltaprasad@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>51</td>
                                        <td>PRASAD LALTA</td>
                                        <td>9811747308</td>
                                        <td>laltaprasad@rites.com</td>
                                        <td>T RAMA KRISHNA</td>
                                        <td>8826992660</td>
                                        <td>tramakrishna@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>52</td>
                                        <td>PRASHANT GUNJAN</td>
                                        <td>9479271505</td>
                                        <td>prashant.sec1985@gmail.com</td>
                                        <td>Paramjit Singh Monga</td>
                                        <td>9998936727</td>
                                        <td>paramjitsmonga@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>53</td>
                                        <td>PRIYADARSHI</td>
                                        <td>8448390120</td>
                                        <td>priyadarshi.aks@rites.com</td>
                                        <td>NEERAJ SINGH</td>
                                        <td>8826992672</td>
                                        <td>neerajsingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>54</td>
                                        <td>RAHUL KUMAR</td>
                                        <td>8826091533</td>
                                        <td>rahul.kumar@rites.com</td>
                                        <td>RAJEEV KUMAR AHUJA</td>
                                        <td>8826992661</td>
                                        <td>rajeevkahuja@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>55</td>
                                        <td>RAJAT SHARMA</td>
                                        <td>8448390130</td>
                                        <td>rajat.sharma@rites.com</td>
                                        <td>RAJEEV KUMAR AHUJA</td>
                                        <td>8826992661</td>
                                        <td>rajeevkahuja@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>56</td>
                                        <td>RAJINDER SINGH</td>
                                        <td>8130990744</td>
                                        <td>rajinder1.singh@rites.com</td>
                                        <td>SANDEEP GUPTA</td>
                                        <td>8800194055</td>
                                        <td>sgupta@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>57</td>
                                        <td>RAMAN DEEP SHARMA</td>
                                        <td>8448390132</td>
                                        <td>raman.a@rites.com</td>
                                        <td>Paramjit Singh Monga</td>
                                        <td>9998936727</td>
                                        <td>paramjitsmonga@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>58</td>
                                        <td>RANA SATISH KUMAR</td>
                                        <td>8826005509</td>
                                        <td>skrana1964@rites.com</td>
                                        <td>BRIJVEER SINGH</td>
                                        <td>8130990752</td>
                                        <td>brijveersingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>59</td>
                                        <td>RANDEEP SINGH</td>
                                        <td>8826992663</td>
                                        <td>randeep.singh27@rites.com</td>
                                        <td>SANDEEP GUPTA</td>
                                        <td>8800194055</td>
                                        <td>sgupta@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>60</td>
                                        <td>RAVINDRA VERMA</td>
                                        <td>7800204288</td>
                                        <td>insp.rverma@rites.com</td>
                                        <td>LALTA PRASAD</td>
                                        <td>9811747308</td>
                                        <td>laltaprasad@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>61</td>
                                        <td>RINL</td>
                                        <td>9811747308</td>
                                        <td>laltaprasad@rites.com</td>
                                        <td>LALTA PRASAD</td>
                                        <td>9811747308</td>
                                        <td>laltaprasad@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>62</td>
                                        <td>RITESH PARIHAR</td>
                                        <td>8826992670</td>
                                        <td>riteshparihar.78@rites.com</td>
                                        <td>Paramjit Singh Monga</td>
                                        <td>9998936727</td>
                                        <td>paramjitsmonga@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>63</td>
                                        <td>SAIL</td>
                                        <td>9013577476</td>
                                        <td></td>
                                        <td>VIJAY KUMAR</td>
                                        <td>8826992666</td>
                                        <td>vijaykumar3@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>64</td>
                                        <td>SANDEEP GUPTA</td>
                                        <td>8800194055</td>
                                        <td>sgupta@rites.com</td>
                                        <td>T RAMA KRISHNA</td>
                                        <td>8826992660</td>
                                        <td>tramakrishna@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>65</td>
                                        <td>SANDEEP KUMAR</td>
                                        <td>7988932645</td>
                                        <td>sandeep.kr1@rites.com</td>
                                        <td>RAJEEV KUMAR AHUJA</td>
                                        <td>8826992661</td>
                                        <td>rajeevkahuja@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>66</td>
                                        <td>SANJAY KUMAR GOVIL</td>
                                        <td>8826992653</td>
                                        <td>sanjaykumar@rites.com</td>
                                        <td>S SRIDHAR</td>
                                        <td>8826992650</td>
                                        <td>sridhar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>67</td>
                                        <td>SANJEEV KUMAR RAM NAIK</td>
                                        <td>8826992679</td>
                                        <td>sanjeevramnaik@rites.com</td>
                                        <td>VIJAY KUMAR</td>
                                        <td>8826992666</td>
                                        <td>vijaykumar3@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>68</td>
                                        <td>SANOJ KUMAR YADAV</td>
                                        <td>8826992669</td>
                                        <td>ssanojyadav08@gmail.com</td>
                                        <td>NEERAJ SINGH</td>
                                        <td>8826992672</td>
                                        <td>neerajsingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>69</td>
                                        <td>SAURABH SINGH</td>
                                        <td>8826992680</td>
                                        <td>saurabhsingh1010@gmail.com</td>
                                        <td>LALTA PRASAD</td>
                                        <td>9811747308</td>
                                        <td>laltaprasad@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>70</td>
                                        <td>SHASHI MANGAL</td>
                                        <td>9871124488</td>
                                        <td>shashi.mangal@rites.com</td>
                                        <td>SANDEEP GUPTA</td>
                                        <td>8800194055</td>
                                        <td>sgupta@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>71</td>
                                        <td>SHIV KUMAR</td>
                                        <td>8130990751</td>
                                        <td>shivkumar@rites.com</td>
                                        <td>LALTA PRASAD</td>
                                        <td>9811747308</td>
                                        <td>laltaprasad@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>72</td>
                                        <td>SHIVAM GUPTA</td>
                                        <td>8130990760</td>
                                        <td>insp.shivam@rites.com</td>
                                        <td>T RAMA KRISHNA</td>
                                        <td>8826992660</td>
                                        <td>tramakrishna@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>73</td>
                                        <td>SINGH BRIJVEER</td>
                                        <td>8130990752</td>
                                        <td>brijveersingh@rites.com</td>
                                        <td>T RAMA KRISHNA</td>
                                        <td>8826992660</td>
                                        <td>tramakrishna@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>74</td>
                                        <td>SINGH MANOJ KUMAR</td>
                                        <td>8130990755</td>
                                        <td>manoj11855@rites.com</td>
                                        <td>BRIJVEER SINGH</td>
                                        <td>8130990752</td>
                                        <td>brijveersingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>75</td>
                                        <td>SINGH NEERAJ</td>
                                        <td>8826992672</td>
                                        <td>neerajsingh@rites.com</td>
                                        <td>T RAMA KRISHNA</td>
                                        <td>8826992660</td>
                                        <td>tramakrishna@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>76</td>
                                        <td>SURJEET SINGH</td>
                                        <td>8130990740</td>
                                        <td>surjeet.dei@rites.com</td>
                                        <td>NEERAJ SINGH</td>
                                        <td>8826992672</td>
                                        <td>neerajsingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>77</td>
                                        <td>SWAPNIL GUPTA</td>
                                        <td>8130990750</td>
                                        <td>swapnil.gupta@rites.com</td>
                                        <td>MOHIT PATEL</td>
                                        <td>8826992654</td>
                                        <td>mohitpatel@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>78</td>
                                        <td>THOGITI RAMA KRISHANA</td>
                                        <td>8826992660</td>
                                        <td>tramakrishna@rites.com</td>
                                        <td>Sanjay Kumar</td>
                                        <td>8826992653</td>
                                        <td>sanjaykumar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>79</td>
                                        <td>TYAGI YOGESH KUMAR</td>
                                        <td>8826992683</td>
                                        <td>ykt2024@rites.com</td>
                                        <td>SANDEEP GUPTA</td>
                                        <td>8800194055</td>
                                        <td>sgupta@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>80</td>
                                        <td>VARINDER KUMAR</td>
                                        <td>8448390124</td>
                                        <td>varinder.13415@rites.com</td>
                                        <td>SHLOK KUMAR</td>
                                        <td>8826992652</td>
                                        <td>shlokkumar@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>81</td>
                                        <td>VIJAY KUMAR</td>
                                        <td>8826992666</td>
                                        <td>vijaykumar3@rites.com</td>
                                        <td>T RAMA KRISHNA</td>
                                        <td>8826992660</td>
                                        <td>tramakrishna@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>82</td>
                                        <td>VISHVDEEP SHARMA</td>
                                        <td>9592995555</td>
                                        <td>vishvdeep.sharma@rites.com</td>
                                        <td>NEERAJ SINGH</td>
                                        <td>8826992672</td>
                                        <td>neerajsingh@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>83</td>
                                        <td>YERRA MURALI KRISHNA</td>
                                        <td>8130990747</td>
                                        <td>murali.yerra@rites.com</td>
                                        <td>MOHIT PATEL</td>
                                        <td>8826992654</td>
                                        <td>mohitpatel@rites.com</td>
                                    </tr>
                                    <tr>
                                        <td>84</td>
                                        <td>YOGRAJ THAKUR</td>
                                        <td>8130555243</td>
                                        <td>yograj.thakur@rites.com</td>
                                        <td>MOHIT PATEL</td>
                                        <td>8826992654</td>
                                        <td>mohitpatel@rites.com</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4 class="heading4">SBU Head,GGM & GM Contact Information</h4>
                            <p>Sh. S Sridhar (GM-I/SBU Head/NR)<br />
                            <span class="fa fa-phone"></span> 011-22402502<br />
                            <span class="fa fa-envelope"></span> sbu.ninsp@rites.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

