
@{
    ViewData["Title"] = "SouthernRegion";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}
<div class="container">
    <div class="row m-0">
        <div class="col-lg-12">
            <div class="innerContent">
                <div class="list-inner">
                    <div class="tast-list">
                        <h2>Contact Us</h2>
                    </div>
                </div>
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shadowRoundBox">
                                <h3 class="heading3">SOUTHERN REGION</h3>
                                <p class="pb-0 mb-0">
                                    <span class="fa fa-map-marker"></span> <strong>RITES LTD.</strong>
                                    <span class="subName">(A Govt. of India Enterprise)</span><br />
                                    CTS BUILDING - 2ND FLOOR, BSNL COMPLEX, NO. 16,<br />
                                    GREAMS ROAD CHENNAI-600006 <br /><br />
                                    <span class="fa fa-phone"></span> +91-44-28290356, 28292807, 28292817<br />
                                    <span class="fa fa-fax"></span> +91-44-28290359<br />
                                    <span class="fa fa-envelope"></span> <a href="mailto:srinspn@rites.com">srinspn@rites.com</a>
                                </p>
                            </div>
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shadowRoundBox">
                                <h3 class="heading3">Inspection Engineer's & Their Controllings Contact Information </h3>
                                <p class="pb-0 mb-0">INTERACTIVE AUTOMATIC CALL DESK HELPLINE NO. <span class="orangeText">1800 425 7000</span> (TOLL FREE)</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="shadowRoundBox">
                                <h4 class="heading4">SBU Head,GGM & GM Contact Information</h4>
                                <p class="pb-0 mb-0">
                                    Sh. K Gopal (GM-I/SBU Head/SR)<br />
                                    <span class="fa fa-phone"></span> 044-28292837 <span class="fa fa-envelope"></span> <a href="mailto:sbu.sinsp@rites.com">sbu.sinsp@rites.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <table class="borderTable mb-0">
                        <tbody>
                            <tr>
                                <th>S.No.</th>
                                <th>IE Name</th>
                                <th>Mobile No.</th>
                                <th>IE Email</th>
                                <th>CO Name</th>
                                <th>CO Mobile No.</th>
                                <th>CO Email</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>A N GANESH BABU</td>
                                <td>7200439461</td>
                                <td>ganeshbabu.an@rites.com</td>
                                <td>K.S. PANDIAN</td>
                                <td>9073399490</td>
                                <td>kspandian@rites.com</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>A. DEVADEV</td>
                                <td>9705522768</td>
                                <td>devadev1984@gmail.com</td>
                                <td>K B JAYAN</td>
                                <td>8754431901</td>
                                <td>kbjayan@rites.com</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>ADI RAMAKRISHNA REDDY</td>
                                <td>7259929799</td>
                                <td>reddy.ark@rites.com</td>
                                <td>K B JAYAN</td>
                                <td>8754431901</td>
                                <td>kbjayan@rites.com</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>ANNAYYAPPA</td>
                                <td>9900976999</td>
                                <td>anna.cms2014@rites.com</td>
                                <td>H K ANAND</td>
                                <td>9340572124</td>
                                <td>mhari@rites.com</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>B.ARUNKUMAR GOUD</td>
                                <td>9989504213</td>
                                <td>b.arungoud@rites.com</td>
                                <td>G MANOGARAPERUMAL</td>
                                <td>9591988702</td>
                                <td>gmanogara@rites.com</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>BINEESH A LATHIF</td>
                                <td>9445364750</td>
                                <td>bin.lathif@rites.com</td>
                                <td>G MANOGARAPERUMAL</td>
                                <td>9591988702</td>
                                <td>gmanogara@rites.com</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>C MAHESH</td>
                                <td>9949076486</td>
                                <td>MAHESH.CILIMIKOTI@GMAIL.COM</td>
                                <td>H K ANAND</td>
                                <td>9340572124</td>
                                <td>mhari@rites.com</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>G A S GANESH</td>
                                <td>9498005618</td>
                                <td>gasganesh@rites.com</td>
                                <td>H K ANAND</td>
                                <td>9340572124</td>
                                <td>mhari@rites.com</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>G SIVAKUMAR</td>
                                <td>8754432734</td>
                                <td>sivakumar.rites@gmail.com</td>
                                <td>K B JAYAN</td>
                                <td>8754431901</td>
                                <td>kbjayan@rites.com</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>G. MANOGARAPERUMAL</td>
                                <td>9591988702</td>
                                <td>gmanogara@rites.com</td>
                                <td>K CHANDRASEKAR</td>
                                <td>9641947665</td>
                                <td>krish.sekar@rites.com</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>G. SRINIVASAN</td>
                                <td>9677076868</td>
                                <td>srinivasan.gs@rites.com</td>
                                <td>K B JAYAN</td>
                                <td>8754431901</td>
                                <td>kbjayan@rites.com</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>G.LENINKUMAR</td>
                                <td>8790922558</td>
                                <td>lenin.kumar@rites.com</td>
                                <td>G MANOGARAPERUMAL</td>
                                <td>9591988702</td>
                                <td>gmanogara@rites.com</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>GHALI BHARDWAJ</td>
                                <td>8686586083</td>
                                <td>bharadwaj@rites.com</td>
                                <td>G MANOGARAPERUMAL</td>
                                <td>9591988702</td>
                                <td>gmanogara@rites.com</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>H V RAMAKRISHNAMURTHY</td>
                                <td>9445241315</td>
                                <td>hvrk.murthy@rites.com</td>
                                <td>G MANOGARAPERUMAL</td>
                                <td>9591988702</td>
                                <td>gmanogara@rites.com</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>JAYAN K.B.</td>
                                <td>9645666765</td>
                                <td>kbjayan@rites.com</td>
                                <td>K CHANDRASEKAR</td>
                                <td>9641947665</td>
                                <td>krish.sekar@rites.com</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>K.IMAYARAJ</td>
                                <td>8667212578</td>
                                <td>imayaraj.k@rites.com</td>
                                <td>K B JAYAN</td>
                                <td>8754431901</td>
                                <td>kbjayan@rites.com</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>K.ROSHAN</td>
                                <td>9445514286</td>
                                <td>k.roshan@rites.com</td>
                                <td>K B JAYAN</td>
                                <td>8754431901</td>
                                <td>kbjayan@rites.com</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>K.S. PANDIAN</td>
                                <td>9073399490</td>
                                <td>kspandian@rites.com</td>
                                <td>K CHANDRASEKAR</td>
                                <td>9641947665</td>
                                <td>krish.sekar@rites.com</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>KARRI ADITYA NARAYANAN</td>
                                <td>8610276021</td>
                                <td>karriaditya@gmail.com</td>
                                <td>K B JAYAN</td>
                                <td>8754431901</td>
                                <td>kbjayan@rites.com</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>M VIVEKANANDAN</td>
                                <td>9600069086</td>
                                <td>vani.yash@rites.com</td>
                                <td>K B JAYAN</td>
                                <td>8754431901</td>
                                <td>kbjayan@rites.com</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>M. HARI KISHORE ANAND</td>
                                <td>9340572124</td>
                                <td>mhari@rites.com</td>
                                <td>K CHANDRASEKAR</td>
                                <td>9641947665</td>
                                <td>krish.sekar@rites.com</td>
                            </tr>
                            <tr>
                                <td>22</td>
                                <td>N SATYANARAYANA</td>
                                <td>8861259676</td>
                                <td>sathya.349@rites.com</td>
                                <td>H K ANAND</td>
                                <td>9340572124</td>
                                <td>mhari@rites.com</td>
                            </tr>
                            <tr>
                                <td>23</td>
                                <td>N T VIJAYAKUMAR</td>
                                <td>9940282488</td>
                                <td>vam.ntvk@rites.com</td>
                                <td>K B JAYAN</td>
                                <td>8754431901</td>
                                <td>kbjayan@rites.com</td>
                            </tr>
                            <tr>
                                <td>24</td>
                                <td>N.RAJESH KHANNA</td>
                                <td>7982658417</td>
                                <td>rajesh.k69@rites.com</td>
                                <td>H K ANAND</td>
                                <td>9340572124</td>
                                <td>mhari@rites.com</td>
                            </tr>
                            <tr>
                                <td>25</td>
                                <td>NAGA SREENIVAS D.</td>
                                <td>7358602381</td>
                                <td>dosapatinagasreenivas@rites.com</td>
                                <td>K B JAYAN</td>
                                <td>8754431901</td>
                                <td>kbjayan@rites.com</td>
                            </tr>
                            <tr>
                                <td>26</td>
                                <td>P MURUGAN</td>
                                <td>9566453826</td>
                                <td>murugan.palanisamy@rites.com</td>
                                <td>K B JAYAN</td>
                                <td>8754431901</td>
                                <td>kbjayan@rites.com</td>
                            </tr>
                            <tr>
                                <td>27</td>
                                <td>P VIJAYAKUMAR</td>
                                <td>9444149387</td>
                                <td>pvijayakumar.123@rites.com</td>
                                <td>K B JAYAN</td>
                                <td>8754431901</td>
                                <td>kbjayan@rites.com</td>
                            </tr>
                            <tr>
                                <td>28</td>
                                <td>P.T. KARTHIKEYA PRABHU</td>
                                <td>8754432717</td>
                                <td>ptk.prabhu@rites.com</td>
                                <td>K B JAYAN</td>
                                <td>8754431901</td>
                                <td>kbjayan@rites.com</td>
                            </tr>
                            <tr>
                                <td>29</td>
                                <td>PADAIRAMU P</td>
                                <td>9080228544</td>
                                <td>PKPADAIRAMU@GMAIL.COM</td>
                                <td>G MANOGARAPERUMAL</td>
                                <td>9591988702</td>
                                <td>gmanogara@rites.com</td>
                            </tr>
                            <tr>
                                <td>30</td>
                                <td>R SURESH</td>
                                <td>9566627727</td>
                                <td>suresh.raj@rites.com</td>
                                <td>K.S. PANDIAN</td>
                                <td>9073399490</td>
                                <td>kspandian@rites.com</td>
                            </tr>
                            <tr>
                                <td>31</td>
                                <td>R. RAJASIMHAN</td>
                                <td>8754432738</td>
                                <td>rajasimhan.r@rites.com</td>
                                <td>K.S. PANDIAN</td>
                                <td>9073399490</td>
                                <td>kspandian@rites.com</td>
                            </tr>
                            <tr>
                                <td>32</td>
                                <td>RAMACHANDRAREDDY NEELAPU</td>
                                <td>9966947999</td>
                                <td>ramu320@rites.com</td>
                                <td>G MANOGARAPERUMAL</td>
                                <td>9591988702</td>
                                <td>gmanogara@rites.com</td>
                            </tr>
                            <tr>
                                <td>33</td>
                                <td>S. RAGAVENDRAN</td>
                                <td>9677125379</td>
                                <td>ragavendra.75@rites.com</td>
                                <td>K.S. PANDIAN</td>
                                <td>9073399490</td>
                                <td>kspandian@rites.com</td>
                            </tr>
                            <tr>
                                <td>34</td>
                                <td>S. SREENIVASA RAO</td>
                                <td>9494972936</td>
                                <td>sadhana.sreenivasa@rites.com</td>
                                <td>H K ANAND</td>
                                <td>9340572124</td>
                                <td>mhari@rites.com</td>
                            </tr>
                            <tr>
                                <td>35</td>
                                <td>S.J.R. NAIK</td>
                                <td>8978856748</td>
                                <td>sjanakiramnaik@rites.com</td>
                                <td>H K ANAND</td>
                                <td>9340572124</td>
                                <td>mhari@rites.com</td>
                            </tr>
                            <tr>
                                <td>36</td>
                                <td>V RAJAN</td>
                                <td>8056047737</td>
                                <td>vrajan.10535@rites.com</td>
                                <td>K.S. PANDIAN</td>
                                <td>9073399490</td>
                                <td>kspandian@rites.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>