
@{
    ViewData["Title"] = "WesternRegion";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}
<div class="container">
    <div class="row m-0">
        <div class="col-lg-12">
            <div class="innerContent">
                <div class="list-inner">
                    <div class="tast-list">
                        <h2>Contact Us</h2>
                    </div>
                </div>
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shadowRoundBox">
                                <h3 class="heading3">WESTERN REGION</h3>
                                <p class="pb-0 mb-0">
                                    <span class="fa fa-map-marker"></span> <strong>RITES LTD.</strong> (A Govt. of India Enterprise)<br />
                                    5TH FLOOR, REGENT CHAMBER, ABOVE STATUS RESTAURANT, NARIMAN POINT, MUMBAI -400021<br />
                                    <span class="fa fa-phone"></span> +91-22-68943400/68943445<br />
                                    <span class="fa fa-envelope"></span> <a href="mailto:wrinspn@rites.com">wrinspn@rites.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shadowRoundBox">
                                <h3 class="heading3">Inspection Engineer's & Their Controllings Contact Information</h3>
                                <p class="pb-0 mb-0">INTERACTIVE AUTOMATIC CALL DESK HELPLINE NO. <span class="orangeText">1800 425 7000</span> (TOLL FREE)</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="shadowRoundBox">
                                <h4 class="heading4">SBU Head,GGM & GM Contact Information</h4>
                                <p class="pb-0 mb-0">
                                    Sh. P V KOHADE (GM-I/SBU Head/WR)<br />
                                    <span class="fa fa-envelope"></span> <a href="mailto:sbu.winsp@rites.com">sbu.winsp@rites.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <table class="borderTable mb-0">
                        <tbody>
                            <tr>
                                <th>S.No.</th>
                                <th>IE Name</th>
                                <th>Mobile No.</th>
                                <th>IE Email</th>
                                <th>CO Name</th>
                                <th>CO Mobile No.</th>
                                <th>CO Email</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>AJAI KUMAR TRIPATHI</td>
                                <td>9004682030/9869184099</td>
                                <td>ajai.tripathi@rites.com</td>
                                <td>GANESH KRISHNARAO INGOLE</td>
                                <td>8600017722</td>
                                <td>ganeshkingole@rites.com</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>AJAY VEER SINGH</td>
                                <td>6265774901</td>
                                <td>sajayveer9@gmail.com</td>
                                <td>M. MURALI</td>
                                <td>8056159066</td>
                                <td>mmurali@rites.com</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>AKSHAYA KUMAR SWAIN</td>
                                <td>9836764585</td>
                                <td>akshaya.swain@rites.com</td>
                                <td>Prafulla V Kohade</td>
                                <td>8600017716</td>
                                <td>p.v.kohade@rites.com</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>ANUJ KUMAR VERMA</td>
                                <td>7008437480</td>
                                <td>anujk.verma@rites.com</td>
                                <td>GANESH KRISHNARAO INGOLE</td>
                                <td>8600017722</td>
                                <td>ganeshkingole@rites.com</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>ASHOK KUMAR TOPPO</td>
                                <td>7387083489/9422989899</td>
                                <td>ashoktoppo@rites.com</td>
                                <td>NIDHISH KUMAR NARNAWARE</td>
                                <td>8600017715</td>
                                <td>nidhishnarnaware@rites.com</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>AVADESH MEENA</td>
                                <td>7387098541</td>
                                <td>avdheshmeena@rites.com</td>
                                <td>D KOTESWARA RAO</td>
                                <td>8600017719</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>AVASHESH KUMAR PURI</td>
                                <td>9584890794</td>
                                <td>avashesh16@gmail.com</td>
                                <td>NIDHISH KUMAR NARNAWARE</td>
                                <td>8600017715</td>
                                <td>nidhishnarnaware@rites.com</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>B.PRASANNA KUMAR</td>
                                <td>7387098072</td>
                                <td>b.prasannakumar@rites.com</td>
                                <td>SANGAPPA ABBIGERI</td>
                                <td>7387091423</td>
                                <td>sangappanabbigiri@rites.com</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>BHARAT N CHAUHAN</td>
                                <td>9898031244</td>
                                <td>bharatnchauhan@rites.com</td>
                                <td>SANGAPPA ABBIGERI</td>
                                <td>7387091423</td>
                                <td>sangappanabbigiri@rites.com</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>C.SANJEEVA RAO</td>
                                <td>7387098542</td>
                                <td>chappasanjeeva@rites.com</td>
                                <td>A. K. SWAIN</td>
                                <td>9836764585</td>
                                <td>akshaya.swain@rites.com</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>D. KOTESWARA RAO</td>
                                <td>8600017719</td>
                                <td>dkrao@rites.com</td>
                                <td>Prafulla V Kohade</td>
                                <td>8600017716</td>
                                <td>p.v.kohade@rites.com</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>DEEPAK KUMAR SINGH</td>
                                <td>8006746575</td>
                                <td>deepaksinghj@rites.com</td>
                                <td>A. K. SWAIN</td>
                                <td>9836764585</td>
                                <td>akshaya.swain@rites.com</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>DEEPAK KUMAR TRIPATHI</td>
                                <td>7738462456</td>
                                <td>deepak.ktripathi@rites.com</td>
                                <td>D KOTESWARA RAO</td>
                                <td>8600017719</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>DHARAM SINGH FARTYAL</td>
                                <td>9819908075/7387098547</td>
                                <td>dharmsfartyal@rites.com</td>
                                <td>NIDHISH KUMAR NARNAWARE</td>
                                <td>8600017715</td>
                                <td>nidhishnarnaware@rites.com</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>ESWAR NAIK</td>
                                <td>9491155022</td>
                                <td>eswarnaikr@gmail.com</td>
                                <td>SANGAPPA ABBIGERI</td>
                                <td>7387091423</td>
                                <td>sangappanabbigiri@rites.com</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>GADI KRISHNA RAO</td>
                                <td>9493674210</td>
                                <td>krishna@rites.com</td>
                                <td>A. K. SWAIN</td>
                                <td>9836764585</td>
                                <td>akshaya.swain@rites.com</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>GANESH K INGOLE</td>
                                <td>8600017722</td>
                                <td>ganeshkingole@rites.com</td>
                                <td>Prafulla V Kohade</td>
                                <td>8600017716</td>
                                <td>p.v.kohade@rites.com</td>
                            </tr>
                            <tr>
                                <td>18</td>
                                <td>HARSHAVARDHAN KULKARNI</td>
                                <td>9975452064</td>
                                <td>harshkul@rites.com</td>
                                <td>M. MURALI</td>
                                <td>8056159066</td>
                                <td>mmurali@rites.com</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>Hareram Sah</td>
                                <td>9931814069</td>
                                <td>hareram11m35@gmail.com</td>
                                <td>M. MURALI</td>
                                <td>8056159066</td>
                                <td>mmurali@rites.com</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>IREPS</td>
                                <td>9810038276</td>
                                <td>agg.sumit@rites.com</td>
                                <td>Prafulla V Kohade</td>
                                <td>8600017716</td>
                                <td>p.v.kohade@rites.com</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>JAY JAPE(NSIC)</td>
                                <td>9425960036</td>
                                <td>jay_jape@rediffmail.com</td>
                                <td>A. K. SWAIN(NSIC)</td>
                                <td>9836764585</td>
                                <td>akshaya.swain@rites.com</td>
                            </tr>
                            <tr>
                                <td>22</td>
                                <td>Jitendra Kumar</td>
                                <td>9785411909</td>
                                <td>jitumeena86@yahoo.com</td>
                                <td>D KOTESWARA RAO</td>
                                <td>8600017719</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>23</td>
                                <td>K SHRINIVAS MURTHY</td>
                                <td>9511275030</td>
                                <td>ksmurthy02@gmail.com</td>
                                <td>A. K. SWAIN</td>
                                <td>9836764585</td>
                                <td>akshaya.swain@rites.com</td>
                            </tr>
                            <tr>
                                <td>24</td>
                                <td>K.J.MANIKANDAN</td>
                                <td>8770076323</td>
                                <td>kjmanikandan@rites.com</td>
                                <td>A. K. SWAIN</td>
                                <td>9836764585</td>
                                <td>akshaya.swain@rites.com</td>
                            </tr>
                            <tr>
                                <td>25</td>
                                <td>K.Thiyagarajan</td>
                                <td>9425235853</td>
                                <td>kthiyagarajan@rites.com</td>
                                <td>SANGAPPA ABBIGERI</td>
                                <td>7387091423</td>
                                <td>sangappanabbigiri@rites.com</td>
                            </tr>
                            <tr>
                                <td>26</td>
                                <td>KAUSHAL PRASAD SHARMA.</td>
                                <td>7405068114</td>
                                <td>kaushal.rites@gmail.com</td>
                                <td>SANGAPPA ABBIGERI</td>
                                <td>7387091423</td>
                                <td>sangappanabbigiri@rites.com</td>
                            </tr>
                            <tr>
                                <td>27</td>
                                <td>KETAN KUMAR</td>
                                <td>9643597405</td>
                                <td>ketankumarrawat@gmail.com</td>
                                <td>M. MURALI</td>
                                <td>8056159066</td>
                                <td>mmurali@rites.com</td>
                            </tr>
                            <tr>
                                <td>28</td>
                                <td>LAXMAN MORE</td>
                                <td>7387083496</td>
                                <td>laxman.more@rites.com</td>
                                <td>D KOTESWARA RAO</td>
                                <td>8600017719</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>29</td>
                                <td>M. MURALI</td>
                                <td>8056159066</td>
                                <td>mmurali@rites.com</td>
                                <td>Prafulla V Kohade</td>
                                <td>8600017716</td>
                                <td>p.v.kohade@rites.com</td>
                            </tr>
                            <tr>
                                <td>30</td>
                                <td>M.C.NIGAM</td>
                                <td>7709005395</td>
                                <td>mcnigam@rites.com</td>
                                <td>NIDHISH KUMAR NARNAWARE</td>
                                <td>8600017715</td>
                                <td>nidhishnarnaware@rites.com</td>
                            </tr>
                            <tr>
                                <td>31</td>
                                <td>MIHIR DHALI</td>
                                <td>9051862124/7003789735</td>
                                <td>mihir.dhali@rites.com</td>
                                <td>D KOTESWARA RAO</td>
                                <td>8600017719</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>32</td>
                                <td>Mangal Singh Bari</td>
                                <td>9777935006</td>
                                <td>mangalsinghbari@gmail.com</td>
                                <td>M. MURALI</td>
                                <td>8056159066</td>
                                <td>mmurali@rites.com</td>
                            </tr>
                            <tr>
                                <td>33</td>
                                <td>NADAF M IQBAL</td>
                                <td>9920515772/7709005356</td>
                                <td>nadaf.iqbal@rites.com</td>
                                <td>SANGAPPA ABBIGERI</td>
                                <td>7387091423</td>
                                <td>sangappanabbigiri@rites.com</td>
                            </tr>
                            <tr>
                                <td>34</td>
                                <td>NIDHISH KUMAR NARNAWARE</td>
                                <td>8600017715</td>
                                <td>nidhishnarnaware@rites.com</td>
                                <td>Prafulla V Kohade</td>
                                <td>8600017716</td>
                                <td>p.v.kohade@rites.com</td>
                            </tr>
                            <tr>
                                <td>35</td>
                                <td>NIKESH S RAUT</td>
                                <td>7741007636</td>
                                <td>nksh_raut@rediffmail.com</td>
                                <td>NIDHISH KUMAR NARNAWARE</td>
                                <td>8600017715</td>
                                <td>nidhishnarnaware@rites.com</td>
                            </tr>
                            <tr>
                                <td>36</td>
                                <td>NITIJ KAUSHAL</td>
                                <td>7807445674</td>
                                <td>nitijkaushal_75804@yahoo.co.in</td>
                                <td>GANESH KRISHNARAO INGOLE</td>
                                <td>8600017722</td>
                                <td>ganeshkingole@rites.com</td>
                            </tr>
                            <tr>
                                <td>37</td>
                                <td>Nand Kumar</td>
                                <td>8962253040</td>
                                <td>nand1981@gmail.com</td>
                                <td>NIDHISH KUMAR NARNAWARE</td>
                                <td>8600017715</td>
                                <td>nidhishnarnaware@rites.com</td>
                            </tr>
                            <tr>
                                <td>38</td>
                                <td>P.K.PASWAN(NSIC)</td>
                                <td>9930202015</td>
                                <td>pra_mit52@yahoo.com</td>
                                <td>A. K. SWAIN(NSIC)</td>
                                <td>9836764585</td>
                                <td>akshaya.swain@rites.com</td>
                            </tr>
                            <tr>
                                <td>39</td>
                                <td>PANKAJ BHIWAPURKAR</td>
                                <td>7757008865</td>
                                <td>pankaj_bhiwapurkar@yahoo.com</td>
                                <td>M. MURALI</td>
                                <td>8056159066</td>
                                <td>mmurali@rites.com</td>
                            </tr>
                            <tr>
                                <td>40</td>
                                <td>PARITOSH KUMAR</td>
                                <td>8437035852</td>
                                <td>patel_paritosh@rediffmail.com</td>
                                <td>SANGAPPA ABBIGERI</td>
                                <td>7387091423</td>
                                <td>sangappanabbigiri@rites.com</td>
                            </tr>
                            <tr>
                                <td>41</td>
                                <td>PRADEEP KUMAR</td>
                                <td>9227777089</td>
                                <td>kkk_pardeep@rediffmail.com</td>
                                <td>GANESH KRISHNARAO INGOLE</td>
                                <td>8600017722</td>
                                <td>ganeshkingole@rites.com</td>
                            </tr>
                            <tr>
                                <td>42</td>
                                <td>PRAFULL RAMDAS NAIK</td>
                                <td>7709005356</td>
                                <td>npriyatama1087@gmail.com</td>
                                <td>SANGAPPA ABBIGERI</td>
                                <td>7387091423</td>
                                <td>sangappanabbigiri@rites.com</td>
                            </tr>
                            <tr>
                                <td>43</td>
                                <td>PRAHLAD KUMAR MEENA</td>
                                <td>7410093109</td>
                                <td>meena.prahlad@rites.com</td>
                                <td>NIDHISH KUMAR NARNAWARE</td>
                                <td>8600017715</td>
                                <td>nidhishnarnaware@rites.com</td>
                            </tr>
                            <tr>
                                <td>44</td>
                                <td>PRANAY.S.NAGAR</td>
                                <td>7709151030</td>
                                <td>pranay.nagar@rites.com</td>
                                <td>D KOTESWARA RAO</td>
                                <td>8600017719</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>45</td>
                                <td>PRAVIN BORKAR</td>
                                <td>8830036291</td>
                                <td>pravinborar1982@rediffmail.com</td>
                                <td>NIDHISH KUMAR NARNAWARE</td>
                                <td>8600017715</td>
                                <td>nidhishnarnaware@rites.com</td>
                            </tr>
                            <tr>
                                <td>46</td>
                                <td>PRAVIN DANI</td>
                                <td>9320741712</td>
                                <td>pravindani4@rediffmail.com</td>
                                <td>NIDHISH KUMAR NARNAWARE</td>
                                <td>8600017715</td>
                                <td>nidhishnarnaware@rites.com</td>
                            </tr>
                            <tr>
                                <td>47</td>
                                <td>PRAVIN KUMAR SINGH</td>
                                <td>7387098548</td>
                                <td>praveenksingh@rites.com</td>
                                <td>M. MURALI</td>
                                <td>8056159066</td>
                                <td>mmurali@rites.com</td>
                            </tr>
                            <tr>
                                <td>48</td>
                                <td>Pratap Kumar Rout</td>
                                <td>7738121788</td>
                                <td>pkrout.rites@rites.com</td>
                                <td>GANESH KRISHNARAO INGOLE</td>
                                <td>8600017722</td>
                                <td>ganeshkingole@rites.com</td>
                            </tr>
                            <tr>
                                <td>49</td>
                                <td>R Ramakrishnan</td>
                                <td>7387098071</td>
                                <td>r.ramakrishnan@rites.com</td>
                                <td>M. MURALI</td>
                                <td>8056159066</td>
                                <td>mmurali@rites.com</td>
                            </tr>
                            <tr>
                                <td>50</td>
                                <td>ROSHAN H.GHODMARE</td>
                                <td>9404342731/ 7410093112</td>
                                <td>roshanghodmare15@rites.com</td>
                                <td>SANGAPPA ABBIGERI</td>
                                <td>7387091423</td>
                                <td>sangappanabbigiri@rites.com</td>
                            </tr>
                            <tr>
                                <td>51</td>
                                <td>Rajendra Singh Rathore</td>
                                <td>9039667540 / 98285 82824</td>
                                <td>rajendrarathore@rites.com</td>
                                <td>GANESH KRISHNARAO INGOLE</td>
                                <td>8600017722</td>
                                <td>ganeshkingole@rites.com</td>
                            </tr>
                            <tr>
                                <td>52</td>
                                <td>Rakesh Kumar Varma</td>
                                <td>9004762105</td>
                                <td>rakesh.verma79@rites.com</td>
                                <td>SANGAPPA ABBIGERI</td>
                                <td>7387091423</td>
                                <td>sangappanabbigiri@rites.com</td>
                            </tr>
                            <tr>
                                <td>53</td>
                                <td>Ravi Ramdasji Bhagwatkar</td>
                                <td>8888880694</td>
                                <td>ravi.bhagwatkar@rediffmail.com</td>
                                <td>SANGAPPA ABBIGERI</td>
                                <td>7387091423</td>
                                <td>sangappanabbigiri@rites.com</td>
                            </tr>
                            <tr>
                                <td>54</td>
                                <td>Ravindra T. Joshi</td>
                                <td>9993596463</td>
                                <td>joshi.67@rites.com</td>
                                <td>A. K. SWAIN</td>
                                <td>9836764585</td>
                                <td>akshaya.swain@rites.com</td>
                            </tr>
                            <tr>
                                <td>55</td>
                                <td>Rishitosh Kujur(NSIC)</td>
                                <td>8051086476</td>
                                <td>rishi.cena135@gmail.com</td>
                                <td>A. K. SWAIN(NSIC)</td>
                                <td>9836764585</td>
                                <td>akshaya.swain@rites.com</td>
                            </tr>
                            <tr>
                                <td>56</td>
                                <td>SANDEEP BANSOD</td>
                                <td>7507648481</td>
                                <td>sandip.ban@rediffmail.com</td>
                                <td>D KOTESWARA RAO</td>
                                <td>8600017719</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>57</td>
                                <td>SANDEEP H. MISHRA</td>
                                <td>7410093111</td>
                                <td>sandeepmishra@rites.com</td>
                                <td>GANESH KRISHNARAO INGOLE</td>
                                <td>8600017722</td>
                                <td>ganeshkingole@rites.com</td>
                            </tr>
                            <tr>
                                <td>58</td>
                                <td>SANDEEP KHAIRNAR</td>
                                <td>7977533232</td>
                                <td>sandipskhairnar@rites.com</td>
                                <td>A. K. SWAIN</td>
                                <td>9836764585</td>
                                <td>akshaya.swain@rites.com</td>
                            </tr>
                            <tr>
                                <td>59</td>
                                <td>SATISH KUMAR</td>
                                <td>7355506270</td>
                                <td>satishkumarpatil2@gmail.com</td>
                                <td>NIDHISH KUMAR NARNAWARE</td>
                                <td>8600017715</td>
                                <td>nidhishnarnaware@rites.com</td>
                            </tr>
                            <tr>
                                <td>60</td>
                                <td>SHARAD WASUDEORAO RAUT</td>
                                <td>9004682030</td>
                                <td>sharadraut.12841@rites.com</td>
                                <td>SANGAPPA ABBIGERI</td>
                                <td>7387091423</td>
                                <td>sangappanabbigiri@rites.com</td>
                            </tr>
                            <tr>
                                <td>61</td>
                                <td>SUNIL CHAND</td>
                                <td>8839559484</td>
                                <td>sunilchand@rites.com</td>
                                <td>NIDHISH KUMAR NARNAWARE</td>
                                <td>8600017715</td>
                                <td>nidhishnarnaware@rites.com</td>
                            </tr>
                            <tr>
                                <td>62</td>
                                <td>SURAJ SAHOO</td>
                                <td>8983240690</td>
                                <td>surajritesie@rediffmail.com</td>
                                <td>SANGAPPA ABBIGERI</td>
                                <td>7387091423</td>
                                <td>sangappanabbigiri@rites.com</td>
                            </tr>
                            <tr>
                                <td>63</td>
                                <td>SURESH KUMAR SUMAN</td>
                                <td>9869800767</td>
                                <td>suresh.kr.suman@rites.com</td>
                                <td>M. MURALI</td>
                                <td>8056159066</td>
                                <td>mmurali@rites.com</td>
                            </tr>
                            <tr>
                                <td>64</td>
                                <td>Sangappa N Abbigeri</td>
                                <td>7387091423</td>
                                <td>sangappanabbigiri@rites.com</td>
                                <td>Prafulla V Kohade</td>
                                <td>8600017716</td>
                                <td>p.v.kohade@rites.com</td>
                            </tr>
                            <tr>
                                <td>65</td>
                                <td>Sudhanshu Chaturvedi</td>
                                <td>9702545878</td>
                                <td>sudhanshu4@yahoo.com</td>
                                <td>D KOTESWARA RAO</td>
                                <td>8600017719</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>66</td>
                                <td>UPENDRA CHAUBEY</td>
                                <td>8788210509</td>
                                <td>ukc_rites@yahoo.co.in</td>
                                <td>GANESH KRISHNARAO INGOLE</td>
                                <td>8600017722</td>
                                <td>ganeshkingole@rites.com</td>
                            </tr>
                            <tr>
                                <td>67</td>
                                <td>Umesh Kumar</td>
                                <td>9691561543</td>
                                <td>umesh.mech1987@gmail.com</td>
                                <td>D KOTESWARA RAO</td>
                                <td>8600017719</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>68</td>
                                <td>VAIBHAV KHANTE</td>
                                <td>8087595035/7387091051</td>
                                <td>vaibhavkhante08@rites.com</td>
                                <td>A. K. SWAIN</td>
                                <td>9836764585</td>
                                <td>akshaya.swain@rites.com</td>
                            </tr>
                            <tr>
                                <td>69</td>
                                <td>VIKASH VERMA</td>
                                <td>7903593082</td>
                                <td>vikashverma@rites.com</td>
                                <td>M. MURALI</td>
                                <td>8056159066</td>
                                <td>mmurali@rites.com</td>
                            </tr>
                            <tr>
                                <td>70</td>
                                <td>VIKRANT SINGH(NSIC)</td>
                                <td>7208453831</td>
                                <td>rites_vikrant@rediffmail.com</td>
                                <td>GANESH KRISHNARAO INGOLE</td>
                                <td>8600017722</td>
                                <td>ganeshkingole@rites.com</td>
                            </tr>
                            <tr>
                                <td>71</td>
                                <td>VINOD KUMAR</td>
                                <td>9399747106</td>
                                <td>vinod.r1973@gmail.com</td>
                                <td>GANESH KRISHNARAO INGOLE</td>
                                <td>8600017722</td>
                                <td>ganeshkingole@rites.com</td>
                            </tr>
                            <tr>
                                <td>72</td>
                                <td>VIRENDRA KUMAR BHATT</td>
                                <td>9993329320</td>
                                <td>virendra.kumar.bhatt@rites.com</td>
                                <td>M. MURALI</td>
                                <td>8056159066</td>
                                <td>mmurali@rites.com</td>
                            </tr>
                            <tr>
                                <td>73</td>
                                <td>VISMAY SINGH</td>
                                <td>9731599621</td>
                                <td>vismay.singh0788@rites.com</td>
                                <td>D KOTESWARA RAO</td>
                                <td>8600017719</td>
                                <td>dkrao@rites.com</td>
                            </tr>
                            <tr>
                                <td>74</td>
                                <td>Yogesh Kumar Patel</td>
                                <td>7387098546</td>
                                <td>yogesh.patel2011@rites.com</td>
                                <td>A. K. SWAIN</td>
                                <td>9836764585</td>
                                <td>akshaya.swain@rites.com</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
  </div>
</div>


