@model IBS.Models.InterUnitRecieptModel

@{
    ViewData["Title"] = "Inter Unit Reciept";
    string clsView = "";
    //if (Model.SNO > 0)
    //{
    //    clsView = "Permission_View";
    //}
}

<div class="list-inner">
    <div class="tast-list">
        <h2>Search IU Voucher</h2>
    </div>
    <div class="list-btn">
        <a asp-area="" asp-controller="InterUnitReciept" asp-action="Manage" class="formBtn"><span class="fa fa-plus"></span> Add New</a>
    </div>
</div>
<section class="@clsView">
    <div class="task-listinput">
        <div class="accordion-body">
            <div class="row align-items-end my-0">
                        <div class="col-md-4">
                        <label for="Reference">Voucher No</label>
                        <input type="text" asp-for="VCHR_NO" id="Vchr_no"  maxlength="300" />
                    </div>
                <div class="col-md-4">
                    <div class="BtnEdit savenext-btn">
                     <button type="button" class="save-btn active Permission_Save" onclick="Edit();">Edit Voucher</button>
                    </div>
                  </div>
            </div>
            <table id="dtInterUnitReciept" class="table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>IU Advice No/Ref No.</th>
                            <th>IU Advice Date./Ref Date.</th>
                            <th>Amount</th>
                            <th>Region From Which Recieved</th>
                            <th>BPO</th>
                            <th>Account</th>
                            <th>Narration</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                </table>
        </div>
    </div>
</section>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            $("#dtInterUnitReciept").css("display", "none");
           // var vchrNo = "";
           // InitializeDatatable(vchrNo);
          
        });
        function Edit() {
            debugger;
              var vchrNo = $("#Vchr_no").val();

            if (vchrNo != "") {
                $("#dtInterUnitReciept").css("display", "block");
                InitializeDatatable(vchrNo);
            }     
            else{
                alert("Please enter Voucher No.");
            }
        }
        completed = function (response) {
            debugger;
          
        };

        function InitializeDatatable(vchrNo) {
            var VCHR_NO = vchrNo;
            debugger;
            $("#dtInterUnitReciept").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: false,
                destroy: true,
                paging: true,// Paging Setups
                searching: false,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("RecieptList")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        debugger;
                        var AdditionalValues = {
                           
                            VCHR_NO: VCHR_NO
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                            ;
                        }
                    },
                    //{ data: "SNO" },
                    { data: "CHQ_NO" },
                    { data: "CHQ_DT" },
                    { data: "AMOUNT" },
                    { data: "BANK_CD" },
                    { data: "BPO_CD" },
                    { data: "ACC_CD" },
                    { data: "NARRATION" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            debugger;
                            var VCHR_NO = data.VCHR_NO;
                            var CHQ_NO = data.CHQ_NO;
                            var CHQ_DT = data.CHQ_DT;
                            var BANK_CD = data.BANK_NAME;
                           var VCHR_DT = data.VCHR_DT;


                            var editUrl = '@Url.Action("Manage", "InterUnitReciept")?VCHR_NO=' + VCHR_NO + '&BANK_CD=' + BANK_CD + '&CHQ_NO=' + CHQ_NO + '&CHQ_DT=' + CHQ_DT + '&VCHR_DT=' + VCHR_DT;
                            var html = '<div align=\"center\" class=\"reportIcon\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                            html += '<a onclick="Delete(\'' + VCHR_NO + '\', \'' + CHQ_NO + '\', \'' + CHQ_DT + '\', \'' + BANK_CD + '\'); return false;" href="javascript:void(\'0\');" id=\"' + VCHR_NO + '\" class=\"delete\"><i class=\"fa fa-trash\" title="Delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }

        function Delete(VCHR_NO, CHQ_NO, CHQ_DT, BANK_CD) {
            debugger;
            var url = '@Url.Action("Delete", "InterUnitReciept")';
            url += '?VCHR_NO=' + encodeURIComponent(VCHR_NO) +
                '&CHQ_NO=' + encodeURIComponent(CHQ_NO) +
                '&CHQ_DT=' + encodeURIComponent(CHQ_DT) +
                '&BANK_CD=' + encodeURIComponent(BANK_CD);
            $("#btn-delete-yes").attr("href", url);
            $("#modal-delete-conf").modal("show");
        }

      
    </script>
}