@model IBS.Models.HologramAccountalSearchModel

@{
    ViewData["Title"] = "Hologram Accountal List";
}


<div class="tast-list">
    <h2>Hologram Accountal List</h2>
    <form data-ajax="true" asp-antiforgery="false" asp-controller="" asp-action="" data-ajax-method="post" data-ajax-complete="completed" id="frmHologramAccountDetails" style="margin-top: 7px;">
        <div class="accordion-body">
            <div class="row my-0 d-flex align-items-end">
                <div class="col-md-2 mb-4">
                    <label for="Reference">Book No</label>
                    <input type="text" class="input" asp-for="BK_NO" maxlength="200" />
                    @*<span asp-validation-for="BK_NO" class="text-danger"></span>*@
                </div>

                <div class="col-md-2 mb-4">
                    <label for="Reference">Set No</label>
                    <input type="text" class="input" asp-for="SET_NO" maxlength="200" />
                    @*<span asp-validation-for="SET_NO" class="text-danger"></span>*@
                </div>
                <div class="col-md-6 mb-4 alignBtn">
                    <div class="savenext-btn">
                        <button type="button" class="save-btn active" id="btnSearch">Search</button>
                    </div>
                </div>
            </div>           
            <div class="alert alert-warning center">
                <span id="Label8">Enter Book No. & Set No. Against which the Holograms are to be linked.</span>
            </div>
        </div>
    </form>
</div>

<div class="alert alert-secondary center mb-3">
    <span id="Label8">Search Result is Sorted on Book No. &amp; Set No.</span>
</div>
<section class="table-section">
    <div class="task-listinput">
        <div class="dash-table">
            <table id="dtList" class="table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Case No.</th>
                        <th>Book No</th>
                        <th>Set No.</th>
                        <th>IE</th>
                        <th>Holograms used on Material</th>
                        <th>Holograms used on Samples</th>
                        <th>Holograms used on Test</th>
                        <th>Holograms used on IC</th>
                        <th>Hologram used on IC Doc</th>
                        <th>Holograms used on Other Location</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>


@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {

            var gridData = [];
            //$(function () {
            InitializeDatatable();
            //});

            $("#btnSearch").click(function () {
                InitializeDatatable();
            });

            //$("#btnDelete").click(function () {
            //    GetRegionCode("delete");
            //});
            //$("#btnSubmit").click(function () {
            //    GetRegionCode("submit");
            //});
        });

        function GetRegionCode(bk_no, set_no, type) {
            //var bk_no = $("#BK_NO").val();
            //var set_no = $("#SET_NO").val();
            var url = "@Url.Action("GetRegionCode", "HologramAccountal")" + "?BK_NO=" + bk_no + "&SET_NO=" + set_no;
            $.ajax({
                url: url,
                type: "POST",
                dataType: "JSON",
                processData: false, // Prevent jQuery from converting the data to a string
                contentType: false,
                success: function (response) {
                    if (response == "1") {
                        if (type == "delete") {
                            ShowHideMsgNew(false, "You are not Authorised to Update/Delete Hologram Data For Other Regions.!!!")
                            alert("You are not Authorised to Update/Delete Hologram Data For Other Regions.!!!");
                        } else if (type == "submit") {
                            ShowHideMsgNew(false, "You are not Authorised to Add Hologram Data For Other Regions.!!!")
                            alert("You are not Authorised to Add Hologram Data For Other Regions.!!!");
                        }
                    }
                    else if (response == "2") {
                        //Manage();
                        Manage(bk_no, set_no);
                    }
                    else {
                        ShowHideMsgNew(false, "No Record Present for Given Book No and Set No in IC Master!!!")
                        alert("No Record Present for Given Book No and Set No in IC Master!!! ");
                    }
                }
            });
        }
        function InitializeDatatable() {
            var BK_NO = $("#BK_NO").val();
            var SET_NO = $("#SET_NO").val();

            $("#dtList").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: false,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable", "HologramAccountal")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            "BK_NO": BK_NO,
                            "SET_NO": SET_NO
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "CASE_NO" },
                    { data: "BK_NO" },
                    { data: "SET_NO" },
                    { data: "IE_SNAME" },
                    { data: "HG_NO_MATERIAL" },
                    { data: "HG_NO_SAMPLE" },
                    { data: "HG_NO_TEST" },
                    { data: "HG_NO_IC" },
                    { data: "HG_NO_IC_DOC" },
                    { data: "HG_NO_OT" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {

                            gridData = row;
                            var html = '<div align=\"center\" class=\"reportIcon\" style="text-align: center;cursor: pointer;"> ';
                            //html += '<a onclick="SelectDetails(\'' + data.BK_NO + '\',\'' + data.SET_NO + '\')" id=\"' + data.BK_NO + '\" class=\"delete\"">SELECT</a>';
                            html += '<a onclick="GetRegionCode(\'' + data.BK_NO + '\',\'' + data.SET_NO + '\',\'submit\');" id=\"' + data.BK_NO + '\" class=\"edit\""><i class=\"fa fa-pencil Permission_EditView\" title="Edit"></i></a>';
                            html += '<a onclick = "GetRegionCode(\'' + data.BK_NO + '\',\'' + data.SET_NO + '\',\'delete\'); " id=\"' + data.BK_NO + '\" class=\"delete\"" > <i class=\"fa fa-trash Permission_Delete\" title="Delete" style="margin: 10px;"></i></a>';
                            html += '</div>';
                            return html;
                        }
                    }
                ],
                "order": [[0, "asc"]]
            });
        }

        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            //window.location.href = "/HologramAccountal";
            window.location.href = '@Url.Action("Index", "HologramAccountal")';
        };

        function SelectDetails(bk_no, set_no) {
            $("#BK_NO").val(bk_no);
            $("#SET_NO").val(set_no);
        }

        function Manage(bk_no, set_no) {
            //var bk_no = $("#BK_NO").val();
            //var set_no = $("#SET_NO").val();

            var url = '@Url.Action("Manage", "HologramAccountal")';
            var editUrl = url + "?BK_NO=" + bk_no + "&SET_NO=" + set_no;
            window.location.href = editUrl;
        }

    </script>
}