@{
    ViewData["Title"] = "Purchase order submitted by vendors awaiting allocation of case number";
}

<div>
    <div class="list-inner">
        <div class="tast-list">
            <h2>Purchase order submitted by vendors awaiting allocation of case number List</h2>
        </div>
    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtList" class="table-responsive nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ref No.</th>
                            <th>Purchase Order Number</th>
                            <th>Purchase Order Date</th>
                            <th>Recv Date</th>
                            <th>Agency</th>
                            <th>Vendor</th>
                            <th>Place of Inspection</th>
                            <th>Region</th>
                            <th>Remarks</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@section scripts{

    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            InitializeDatatable();
        });

        function InitializeDatatable() {
            $("#dtList").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
               // scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "IMMS_POKEY" },
                    { data: "PO_NO" },
                    { data: "PO_DT" },
                    { data: "RECV_DT" },
                    { data: "RLY_CD" },
                    { data: "VEND_NAME" },
                    { data: "POI" },
                    { data: "REGION" },
                    { data: "REMARKS" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var ImmsPokey = data.IMMS_POKEY;
                            var ImmsRlyCd = data.IMMS_RLY_CD;
                            var editUrl = '@Url.Action("Manage", "DEOCRISPurchesOrderMAWCaseNo")?ImmsPokey=' + ImmsPokey + "&ImmsRlyCd=" + ImmsRlyCd;
                            var html = '<div align=\"center\" class=\"reportIcon actionCenter\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil Permission_EditView\" title="Edit"></i></a>';
                            html += '</div>';
                            return html;
                        }
                    },
                    //{ data: "MaStatus" },
                ],
                "order": [[0, "asc"]],
                "initComplete": function (settings, json) {
                    $("#dtList").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
                },
            });
        }

    </script>
}