@model IBS.Models.AllGeneratedBills
@{
    ViewData["Title"] = "Banks Directory";
}
@*<html>
<head>
    <meta charset="utf-8">
    <title>Untitled Document</title>
    <style>
        .hindi {
            font-family: 'mangal';
        }

        table,
        tr,
        td,
        th {
            border-collapse: collapse;
        }
    </style>
    <link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet'>
</head>
<body>*@
<style>
    .hindi {
        font-family: 'mangal';
    }

    table,
    tr,
    td,
    th {
        border-collapse: collapse;
    }
</style>
<div>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td width="100%">
                <!-- table start-->
                <table width="100%" style="border:1px solid #000;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="100%" style="border-bottom:1px solid #000;">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td valign="middle" width="40%"><img src="img/riteslogo1.jpg" alt="" style="width:600px;display: block;" /></td>
                                    <td width="15%" valign="middle" align="center" style="font-size:25px; font-family:Arial, Helvetica, sans-serif;">
                                        <b>
                                            <br>CREDIT NOTE<br>
                                            <span class="hindi">मूल </span>ORIGINAL
                                        </b>
                                    </td>
                                    <td width="15%" valign="middle" align="center" style="font-size:25px; font-family:Arial, Helvetica, sans-serif;">
                                        <b>
                                            <span class="hindi"><img src="img/nirikshan.JPG" alt="" /></span>
                                            <br>INSPECTION FEE BILL<br>
                                            <span class="hindi">मूल </span>ORIGINAL
                                        </b>
                                    </td>
                                    <td width="45%" style="font-size:11px; font-family:Arial, Helvetica, sans-serif; line-height:9px;padding-bottom: 15px;" valign="middle" align="right">
                                        <b>
                                            <table>
                                                <tr>
                                                    <td><br><span class="hindi"><img src="img/h1.JPG" alt="" /></span>/ Format No.</td>
                                                    <td align="center" width="10"><br>:</td>
                                                    <td><br>F-7.5-12/1.Rev Nill</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="hindi">आयकर सं </span>/ PAN No.</td>
                                                    <td align="center" width="10">:</td>
                                                    <td>AAACR0830Q</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="hindi">माल और सेवा कर सं </span>/ GSTIN No.</td>
                                                    <td align="center" width="10">:</td>
                                                    <td>07AAACR0830Q1Z8</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="hindi">दूरभाष </span>/ Telephone</td>
                                                    <td align="center" width="10">:</td>
                                                    <td>011-22029110/22029109</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="hindi"><img src="img/h5.JPG" alt="" /></span>/ Fax No.</td>
                                                    <td align="center" width="10">:</td>
                                                    <td>011-22024665</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="hindi">ई-मेल </span>/ E-mail</td>
                                                    <td align="center" width="10">:</td>
                                                    <td>nrinspn@rites.com</td>
                                                </tr>
                                                <tr>
                                                    <td><span class="hindi">आई आर ई पी एस</span> / IREPS Code</td>
                                                    <td align="center" width="10">:</td>
                                                    <td>128383 (For Rly)</td>
                                                </tr>
                                            </table>
                                        </b>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                </table>
            </td>
        </tr>
    </table>
</div>
@*</body>
</html>*@

