@{
    ViewData["Title"] = "PURCHASE ORDER FORM List";
}

<div>
    <div class="list-inner">
        <div class="tast-list">
            <h2>PURCHASE ORDER FORM List</h2>
        </div>
        <div class="list-btn">
            <a asp-area="" asp-controller="POMaster" asp-action="Manage" class="formBtn Permission_Add"><span class="fa fa-plus"></span> Add New PO Master</a>
        </div>
    </div>
    <div class="accordion-body">
        <div class="row my-0">
            <div class="col-md-2 mb-3">
                <label for="reference">Ref No.</label>
                <input type="text" class="input" id="txtCaseNumber" autocomplete="on">
            </div>
            <div class="col-md-3 mb-3">
                <label for="reference">PO/Offer Letter No.</label>
                <input type="text" class="input" id="txtPONumber">
            </div>
            <div class="col-md-2 mb-3">
                <label for="reference">PO Date</label>
                <input type="text" class="input datepicker" id="txtPODate">
            </div>
            <div class="col-md-2 mb-3">
                <div class="savenext-btn" style="margin-top: 31px;">
                    <button type="button" class="save-btn active" onclick="Search();">search</button>
                </div>
            </div>
        </div>
    </div>
    <section class="table-section" id="dvdtPOMaster" style="display:none;">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtPOMaster" class="table-responsive nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="padR10 center">Action</th>
                            <th class="padR10 center">View PO Details</th>
                            <th>Ref No.</th>
                            <th>Purchase Order Number</th>
                            <th>Purchase Order Date</th>
                            <th>Agency</th>
                            <th>Vendor</th>
                            <th>Purchaser Name</th>
                            <th>Remarks</th>
                            <th>Case No.</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        // $(function () {
        //     InitializePOMasterDatatable();
        // });
        function Search() {
            $("#dvdtPOMaster").css("display", "block");
            InitializePOMasterDatatable();
        }
        function InitializePOMasterDatatable() {
            var CaseNo = $("#txtCaseNumber").val();
            var PoNo = $("#txtPONumber").val();
            var PoDt = $("#txtPODate").val();
            $("#dtPOMaster").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                //scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: false,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            CaseNo: CaseNo, PoNo: PoNo, PoDt: PoDt
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var id = data.CaseNo;
                            var editUrl = '@Url.Action("Manage", "POMaster")?CaseNo=' + id;
                            var html = '<div align=\"center\" class=\"reportIcon center\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil Permission_EditView\" title="Edit"></i></a>';
                            if (data.RealCaseNo == null || data.RealCaseNo == "") {
                                html += '<a onclick="POMasterDelete(this.id); return false;" href="javascript:void(\'0\');" id=\"' + id + '\" class=\"delete\"><i class=\"fa fa-trash Permission_Delete\" title="Delete" style="margin:10px;"></i>';
                            }
                            html += '</div>';
                            return html;

                        }
                    },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var id = data.CaseNo;
                            var RlyCd = data.MainrlyCd;
                            var RlyNonrly = data.RlyNonrly;
                            var PoDtDate = data.PoDtDate;
                            var poDetsilsUrl = '@Url.Action("PODetails", "POMaster")?CaseNo=' + id;
                            var html = '<div align=\"center\" class=\"reportIcon center\"> <a href=\"' + poDetsilsUrl + '\" class=\"edit\"><i class=\"fa fa-eye\" title="View PO Details"></i></a>';
                            html += '</div>';
                            return html;
                        }
                    },
                    { data: "CaseNo" },
                    { data: "PoNo" },
                    {
                        data: "PoDt",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD/MM/YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "RlyCd" },
                    { data: "VendorName" },
                    { data: "ConsigneeSName" },
                    { data: "Remarks" },
                    { data: "RealCaseNo" },

                ],
                "order": [[0, "asc"]],
                "initComplete": function (settings, json) {
                    $("#dtPOMaster").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
                },
            });
        }

        function POMasterDelete(id) {
            var url = '@Url.Action("Delete", "POMaster")?CaseNo=' + id;
            $("#btn-delete-yes").attr("href", url);
            $("#modal-delete-conf").modal("show");
        }

    </script>
}
