@model IBS.Models.RDMModel

@{
    ViewData["Title"] = "Manage Rites Designation Directory";
}
<div class="list-inner">
    <div class="tast-list">
        <h2>Manage Rites Designation Directory</h2>
    </div>
</div>
<div class="task-listinput">
    <form role="form" asp-controller="RitesDesignationMaster" asp-action="Manage" method="post" id="frmRitesDesignationMaster">
        <input type="hidden" asp-for="RDesigCd" />
        <div class="accordion-body">
            <div class="row d-flex align-items-end my-0">
                <div class="col-md-4">
                    <label for="Reference">Designation <i class="text-danger">*</i></label>
                    <input type="text" class="input" asp-for="RDesignation" maxlength="10">
                    <span asp-validation-for="RDesignation" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                <div class="savenext-btn">
                    <a asp-controller="RitesDesignationMaster" asp-action="Index" class="reset-btn">Cancel</a>
                    <button type="button" class="save-btn active" onclick="SubmitRitesDesignation();">Save</button>
                </div>
                </div>
            </div>
            
        </div>
    </form>
</div>
@section scripts{

    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        function SubmitRitesDesignation() {
            if ($("#frmRitesDesignationMaster").valid()) {
                $("#frmRitesDesignationMaster").submit();
            }
        }

    </script>
}