@model IBS.Models.SummaryVendorWiseInspModel
@{
    ViewData["Title"] = "SUMMARY OF VENDOR WISE INSPECTIONS";
}
<style>
    a.btnicons {
        transition: all 0.4s;
        border: 1px solid #848484;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 50%;
        margin: 0 6px;
    }
</style>
<div>
    <div class="list-inner">
        <div class="tast-list">
            <h2>SUMMARY OF VENDOR WISE INSPECTIONS</h2>
        </div>

    </div>
    <div class="accordion-body">
        <div class="row my-0">
            <div class="col-md-5 mb-3" style="margin-top:auto;">
                <label for="PropertyId">For All Vendor's</label>
                <input type="radio" name="radioGroup" id="rb1" />
                <span class="text-danger"></span>
            </div>
            <div class="col-md-5 mb-3" style="margin-top:auto;">
                <label for="PropertyId">For Particular Vendor</label>
                <input type="radio" name="radioGroup" id="rb2" />
                <span class="text-danger"></span>
            </div>
            
        </div>
        <div class="row my-0">
        <div class="col-md-7 mb-3" id="ddlc" style="display:none;">
                <label for="PropertyId">Select Particular Vendor</label>
                @Html.DropDownListFor(model => model.Month, Common.GetVendorLabRpt(), new { @id="ddlcon"})
            <span asp-validation-for="Month" class="text-danger"></span>
        </div>
        </div>
        <div class="row my-0">
            <div class="col-md-2 mb-3" style="margin-top:auto;">
                <label for="PropertyId">For the Month</label>
                <input type="radio" name="radioGroup2" id="rb3" />
                <span class="text-danger"></span>
            </div>
            <div class="col-md-2 mb-3" style="margin-top:auto;">
                <label for="PropertyId">For Given Period</label>
                <input type="radio" name="radioGroup2" id="rb4" />
                <span class="text-danger"></span>
            </div>
            <div class="col-md-2 mb-3" style="display:none" id="dtf">
                <label for="PropertyId">From Date</label>
                <input type="text" class="input datepicker" id="dtfrom" />
                <span class="text-danger"></span>
            </div>
            <div class="col-md-2 mb-3" style="display:none" id="dtt">
                <label for="PropertyId">To Date</label>
                <input type="text" class="input datepicker" id="dtto" />
                <span class="text-danger"></span>
            </div>
            <div class="col-md-2 mb-3" id="dd1">
                 <label for="PropertyId">Month</label>
                @Html.DropDownListFor(model => model.Month, Common.GetMonth(), new { @id="ddlmonth"})
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
             <div class="col-md-2 mb-3"  id="dd2">
                 <label for="PropertyId">Year</label>
                @Html.DropDownListFor(model => model.Year, Common.GetYear(), new { @id="ddlyear"})
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>
        <div class="row my-0">
            <label>Report based on </label>
            <div class="col-md-3 mb-3">
                <label for="PropertyId">IC Date</label>
                <input type="radio" name="radioGroup3" id="rb5" />
                <span class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-3" >
                <label for="PropertyId">Bill Date</label>
                <input type="radio" name="radioGroup3" id="rb6" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="row my-0">
            <label>Report to be Sorted on </label>
            <div class="col-md-3 mb-3">
                <label for="PropertyId">Vendor Name</label>
                <input type="radio" name="radioGroup4" id="rb7" />
                <span class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label for="PropertyId">Material Value</label>
                <input type="radio" name="radioGroup4" id="rb8" />
                <span class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="savenext-btn" style="margin-left:50%;">
        <button type="button" class="save-btn active" onclick="ViewReport();">Search</button>
        <button type="button" class="reset-btn" onclick="ClearControls();">Clear</button>
    </div>

</div>



@section scripts{

    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        function ClearControls() {
            location.reload(true);
        }
        
        $('input[name="radioGroup"]').change(function () {

            var selectedId = $(this).attr('id');
            if (selectedId == "rb1") {
                sessionStorage.removeItem("rbb1");
                sessionStorage.removeItem("rbb2");
                sessionStorage.setItem("rbb1", true);
                $("#ddlc").css("display", "none");
            }
            else 
            {
                sessionStorage.removeItem("rbb1");
                sessionStorage.removeItem("rbb2");
                sessionStorage.setItem("rbb2", true);
                sessionStorage.setItem("con", $("#ddlcon").val());
                $("#ddlc").css("display", "block");
            }            

        });
        $('input[name="radioGroup3"]').change(function () {
            var selectedId = $(this).attr('id');
            if (selectedId == "rb5") {
                sessionStorage.removeItem("rbb5");
                sessionStorage.removeItem("rbb6");
                sessionStorage.setItem("rbb5", true);
                //$("#dd1").css("display", "none");
            }
            else {
                sessionStorage.removeItem("rbb5");
                sessionStorage.removeItem("rbb6");
                sessionStorage.setItem("rbb6", true);
                //$("#dd1").css("display", "block");
            }
        });

        $('input[name="radioGroup2"]').change(function () {
            
            var selectedId = $(this).attr('id');
            if (selectedId == "rb3") {
                sessionStorage.removeItem("rbb3");
                sessionStorage.removeItem("rbb4");
                sessionStorage.setItem("rbb4", false);
                $("#dtf").css("display", "none");
                $("#dtt").css("display", "none");
                $("#dd1").css("display", "block");
                $("#dd2").css("display", "block");

            }
            else {
                sessionStorage.removeItem("rbb3");
                
                sessionStorage.removeItem("rbb4");
                sessionStorage.setItem("rbb4", true);
                
                $("#dtf").css("display", "block");
                $("#dtt").css("display", "block");
                $("#dd1").css("display", "none");
                $("#dd2").css("display", "none");
            }
        });
        $('input[name="radioGroup4"]').change(function () {
            var selectedId = $(this).attr('id');
            if (selectedId == "rb7") {
                sessionStorage.removeItem("rbb7");
                sessionStorage.removeItem("rbb8");
                sessionStorage.setItem("rbb7", true);
                //$("#dd1").css("display", "none");
            }
            else {
                sessionStorage.removeItem("rbb8");
                sessionStorage.removeItem("rbb7");
                sessionStorage.setItem("rbb8", true);
                //$("#dd1").css("display", "block");
            }
        });
        
        $(function () {
            $("#rb1").prop("checked", true);
            $("#rb3").prop("checked", true);
            $("#rb5").prop("checked", true);
            sessionStorage.setItem("rbb5", true);
            sessionStorage.setItem("rbb4", false);
            $("#rb7").prop("checked", true);
        });
        function ViewReport() {

           // var ReportType = "Summary of Consignee Wise Inspections";
           
            var ForGiven = sessionStorage.getItem("rbb4");
            var ReportBasedon = sessionStorage.getItem("rbb5");
            var MaterialValue = sessionStorage.getItem("rbb8");
            if (sessionStorage.getItem("rbb4") == "false"){
                var Month = $("#ddlmonth").val();
                var Year = $("#ddlyear").val();
            }
            else
            {
                var parts = $("#dtfrom").val().split('/');
                var FromDate = parts[1]+'/'+ parts[0]+'/'+parts[2];
                var parts2 = $("#dtto").val().split('/');
                var ToDate = parts2[1] + '/' + parts2[0] + '/' + parts2[2];
                
            }
            
            var ForParticular = sessionStorage.getItem("rbb2");
            var lstParticular = sessionStorage.getItem("con");
            let myObject = { ForGiven, ReportBasedon,MaterialValue, FromDate, ToDate, Month, Year, ForParticular, lstParticular };

            var url = '@Url.Action("Manage", "SummaryVendorWiseInsp")?' + $.param(myObject);
            window.open(url, '_blank');
        }
       
    </script>
}