@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml"; 
}
<div class="swiper homeImgSlider">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="homeBannerImg"><img src="images/home-banner.jpg" alt="RITES Limited, A Government of India Enterprise" /></div>
            <div class="bannerCaption">
                <div class="mainCaption">A Trusted Partner In Business Across The Globe</div>
                <!--<div class="subCaption">Electrician - NSQF-6</div>-->
                <!--<div class="captionButton"><a class="button" href="#" title="Apply Now">Apply Now</a></div>-->
            </div>
        </div>
        <div class="swiper-slide">
            <div class="homeBannerImg"><img src="images/home-banner.jpg" alt="RITES Limited, A Government of India Enterprise" /></div>
            <div class="bannerCaption">
                <div class="mainCaption">A Trusted Partner In Business Across The Globe</div>
                <!--<div class="subCaption">Electrician - NSQF-6</div>-->
                <!--<div class="captionButton"><a class="button" href="#" title="Apply Now">Apply Now</a></div>-->
            </div>
        </div>
    </div>
    <!--<div class="homeImgSlider-prev"><img src="images/Banner-Left-Arrow-.png" alt="Left Arrow" /></div>
    <div class="homeImgSlider-next"><img src="images/Banner-Right-Arrow.png" alt="Right Arrow" /></div>-->
</div>

<div class="updateSection">
    <div class="container">
        <div class="aboutSection">
            <div class="latestNews">
                <h2 class="newsTitle">Note</h2>
                <div class="tickerNews">
                    <div class="marqueeScrolling cf">
                        <a class="btnMPause">Pause</a>
                        <ul id="js_Notification" class="marquee cf">
                            <li><a target="_blank" href="#" title="Vacancy Circular for Engagement of Consultant in National Skill Development Fund/Trust on contractual basis">Vacancy Circular for Engagement of Consultant in National Skill Development Fund/Trust on contractual basis</a></li>
                            <li><a target="_blank" href="#" title="Vacancy Circular for Engagement of Consultant in National Skill Development Fund/Trust on contractual basis">Vacancy Circular for Engagement of Consultant in National Skill Development Fund/Trust on contractual basis</a></li>
                            <li><a target="_blank" href="#" title="Vacancy Circular for Engagement of Consultant in National Skill Development Fund/Trust on contractual basis">Vacancy Circular for Engagement of Consultant in National Skill Development Fund/Trust on contractual basis</a></li>
                        </ul>
                        <a href="latest-news.htm" class="viewAllLink" title="View All">View All <img src="images/arrow-right.png" alt="View All" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="overViewSection">
            <div class="row m-0">
                <div class="col-md-9">
                    <div class="overViewContent">
                        <h2>Overview</h2>
                        <div class="row m-0">
                            <div class="col-md-6">
                                <ul class="bulletTextList m-0">
                                    <li>One of the largest, oldest, multidisciplinary Govt. </li>
                                    <li>Third Party Inspection (TPI) Agency </li>
                                    <li>Very rich experience over 47 years </li>
                                    <li>Transparent and Impartial TPI for all engineering items including Mechanical/ Civil/ Electrical/ Electronics items/components &amp; assemblies, Machine &amp; Plants (M&amp;P), Bridge Girders, track items etc.</li>
                                    <li>Vendors Capability &amp; Capacity Assessment </li>
                                    <li>Rich experience of Inspection in Foreign Countries </li>
                                    <li>Material testing in laboratories accredited to ISO/IEC 17025 by NABL</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="bulletTextList m-0">
                                    <li>PAN India presence through five Regional Inspection offices</li>
                                    <li>More than 300 highly qualified inspection professionals located across the country </li>
                                    <li>Transparent TPI monitoring operations through In-house software (IBS)</li>
                                    <li>Client Interface through dedicated Client Login </li>
                                    <li>Quality Awards winner </li>
                                    <li>Deals with large diversified clientele Govt., PSUs, State Govt., Autonomous bodies, Private sectors</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-0">
                    <div class="overViewRightSection">
                        <p>We kindly request our esteemed partners (Vendors) to participate in CVC drive for eradication of corruption by signing Organisation Integrity Pledge, as available on the CVC Website.</p>
                        <a class="knowMoreButton" href="#">Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="awardCollectionSection">
    <div class="container">
        <div class="awardCollectionContentPart">
            <div class="row m-0">
                <div class="col-md-6">
                    <div class="certificationWrap">
                        <h2 class="text-center">Certifications</h2>
                        <div class="certificationSlider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="certificateImageBox"> <img src="images/certificate-01.jpg" alt="Certification" /> <span>ISO 9001:2015 Certification</span></div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="certificateImageBox"> <img src="images/certificate-02.jpg" alt="Certification" /> <span>ISO/IEC 17020:2012 Accreditation</span></div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="certificateImageBox"> <img src="images/certificate-03.jpg" alt="Certification" /> <span>ISO/IEC 17025 Accredited Labs</span></div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="certificationSlider-prev sliderSmallArrow" role="button" aria-label="Previous slide" tabindex="0"><img src="images/slider-left-arrow.png" alt="Left Arrow" /> </div>
                            <div class="certificationSlider-next sliderSmallArrow" role="button" aria-label="Next slide" tabindex="0"><img src="images/slider-right-arrow.png" alt="Right Arrow" /> </div>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="awardWrap">
                        <h2 class="text-center">Awards</h2>
                        <div class="awardsSlider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="awardImageBox"> <img src="images/award-01.jpg" alt="Award" /> </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="awardImageBox"> <img src="images/award-02.jpg" alt="Award" /> </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="awardImageBox"> <img src="images/award-03.jpg" alt="Award" /> </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="awardsSlider-prev sliderSmallArrow" role="button" aria-label="Previous slide" tabindex="0"><img src="images/slider-left-arrow.png" alt="Left Arrow" /> </div>
                            <div class="awardsSlider-next sliderSmallArrow" role="button" aria-label="Next slide" tabindex="0"><img src="images/slider-right-arrow.png" alt="Right Arrow" /> </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
