@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml"; 
}
<div class="swiper homeImgSlider">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="homeBannerImg"><img src="images/home-banner.jpg" alt="RITES Limited, A Government of India Enterprise" /></div>
            <div class="bannerCaption">
                <div class="mainCaption">A Trusted Partner In QA Services</div>
                <!--<div class="subCaption">Electrician - NSQF-6</div>-->
                <!--<div class="captionButton"><a class="button" href="#" title="Apply Now">Apply Now</a></div>-->
            </div>
        </div>
        <div class="swiper-slide">
            <div class="homeBannerImg"><img src="images/home-banner.jpg" alt="RITES Limited, A Government of India Enterprise" /></div>
            <div class="bannerCaption">
                <div class="mainCaption">A Trusted Partner In QA Services</div>
                <!--<div class="subCaption">Electrician - NSQF-6</div>-->
                <!--<div class="captionButton"><a class="button" href="#" title="Apply Now">Apply Now</a></div>-->
            </div>
        </div>
    </div>
    <!--<div class="homeImgSlider-prev"><img src="images/Banner-Left-Arrow-.png" alt="Left Arrow" /></div>
    <div class="homeImgSlider-next"><img src="images/Banner-Right-Arrow.png" alt="Right Arrow" /></div>-->
</div>

<div class="updateSection">
    <div class="container">
        <div class="aboutSection">
            <div class="latestNews">
                <h2 class="newsTitle">Latest News</h2>
                <div class="tickerNews">
                    <div class="marqueeScrolling cf">
                        <a class="btnMPause">Pause</a>
                        <ul id="js_Notification" class="marquee cf">
                            <li><a target="_blank" href="#" title="Please ensure Inspection Call is submitted at least five(5) working days before the expiry of the delivery period , otherwise Call shall not be accepted. Any incomplete inspection call not be considered and summarily rejected. Further in cases requiring lab testing outside the vendor premises, additional time required for testing should also provided for.  ">Please ensure Inspection Call is submitted at least five(5) working days before the expiry of the delivery period , otherwise Call shall not be accepted. Any incomplete inspection call not be considered and summarily rejected. Further in cases requiring lab testing outside the vendor premises, additional time required for testing should also provided for.  </a></li>
                            <li><a target="_blank" href="#" title="Please ensure Inspection Call is submitted at least five(5) working days before the expiry of the delivery period , otherwise Call shall not be accepted. Any incomplete inspection call not be considered and summarily rejected. Further in cases requiring lab testing outside the vendor premises, additional time required for testing should also provided for.  ">Please ensure Inspection Call is submitted at least five(5) working days before the expiry of the delivery period , otherwise Call shall not be accepted. Any incomplete inspection call not be considered and summarily rejected. Further in cases requiring lab testing outside the vendor premises, additional time required for testing should also provided for.  </a></li>
                            <li><a target="_blank" href="#" title="Please ensure Inspection Call is submitted at least five(5) working days before the expiry of the delivery period , otherwise Call shall not be accepted. Any incomplete inspection call not be considered and summarily rejected. Further in cases requiring lab testing outside the vendor premises, additional time required for testing should also provided for.  ">Please ensure Inspection Call is submitted at least five(5) working days before the expiry of the delivery period , otherwise Call shall not be accepted. Any incomplete inspection call not be considered and summarily rejected. Further in cases requiring lab testing outside the vendor premises, additional time required for testing should also provided for.  </a></li>
                        </ul>
                        @*<a href="latest-news.htm" class="viewAllLink" title="View All">View All <img src="images/arrow-right.png" alt="View All" /></a>*@
                    </div>
                </div>
            </div>
        </div>
       @* <div class="overViewSection">
            <div class="row m-0">
                <div class="col-md-9">
                    <div class="overViewContent">
                        <h2>Overview</h2>
                        <div class="row m-0">
                            <div class="col-md-6">
                                <ul class="bulletTextList m-0">
                                    <li>One of the largest, oldest, multidisciplinary Govt. </li>
                                    <li>Third Party Inspection (TPI) Agency </li>
                                    <li>Very rich experience over 47 years </li>
                                    <li>Transparent and Impartial TPI for all engineering items including Mechanical/ Civil/ Electrical/ Electronics items/components &amp; assemblies, Machine &amp; Plants (M&amp;P), Bridge Girders, track items etc.</li>
                                    <li>Vendors Capability &amp; Capacity Assessment </li>
                                    <li>Rich experience of Inspection in Foreign Countries </li>
                                    <li>Material testing in laboratories accredited to ISO/IEC 17025 by NABL</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="bulletTextList m-0">
                                    <li>PAN India presence through five Regional Inspection offices</li>
                                    <li>More than 300 highly qualified inspection professionals located across the country </li>
                                    <li>Transparent TPI monitoring operations through In-house software (IBS)</li>
                                    <li>Client Interface through dedicated Client Login </li>
                                    <li>Quality Awards winner </li>
                                    <li>Deals with large diversified clientele Govt., PSUs, State Govt., Autonomous bodies, Private sectors</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 p-0">
                    <div class="overViewRightSection">
                        <p>We kindly request our esteemed partners (Vendors) to participate in CVC drive for eradication of corruption by signing Organisation Integrity Pledge, as available on the CVC Website.</p>
                        <a class="knowMoreButton" href="http://pledge.cvc.nic.in/" target="_blank">Know More</a>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="servicesSection" id="content">
            <div class="servicesContent">
                <h2>Services</h2>

                <ul class="servicesList">
                    <li>
                        <div class="serviceText">Third Party<br /> Inspections</div>
                        <div class="icons"><img src="~/frontend/images/third-party-inspection.svg" alt="Third Party Inspections" /></div>
                    </li>
                    <li>
                        <div class="serviceText">Capability and Capacity<br /> Assessment</div>
                        <div class="icons"><img src="~/frontend/images/capability-assement.svg" alt="Capability and Capacity Assessment" /></div>
                    </li>
                    <li>
                        <div class="serviceText">Independent <br />Safety Assessment</div>
                        <div class="icons"><img src="~/frontend/images/indepent-safety-assessment.svg" alt="Independent Safety Assessment" /></div>
                    </li>
                    <li>
                        <div class="serviceText">Laboratory <br />Material Testing</div>
                        <div class="icons"><img src="~/frontend/images/laboratory-testing-material.svg" alt="Laboratory Material Testing" /></div>
                    </li>
                    <li>
                        <div class="serviceText">Independent Review <br />and Monitoring Agency</div>
                        <div class="icons"><img src="~/frontend/images/indepent-review.svg" alt="Independent Review and Monitoring Agency" /></div></li>
                    <li>
                        <div class="serviceText">Product Certification</div>
                        <div class="icons"><img src="~/frontend/images/product-certification.svg" alt="Product Certification" /></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="kipSection">
    <div class="container">
        <h2>
            KPIs
        </h2>
        <ul class="kipList">
            <li>
                <div class="icons"><img src="~/frontend/images/no-of-inspections.svg" alt="No of Inspections" /></div>
                <div>
                    <span class="counts">105073</span>
                No of Inspections
                </div>
            </li>
            <li>
                <div class="icons"><img src="~/frontend/images/no-of-vendors.svg" alt="No of Vendors" /></div>
                <div>
                    <span class="counts">8114</span>
                No of Vendors
                </div>
            </li>
            <li>
                <div class="icons"><img src="~/frontend/images/no-of-client.svg" alt="No of Clients" /></div>
                <div>
                <span class="counts">3924</span>
                No of Clients
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="awardCollectionSection">
    <div class="container">
        <div class="awardCollectionContentPart">
            <div class="row m-0">
                <div class="col-md-6">
                    <div class="certificationWrap">
                        <h2 class="text-center">Certifications</h2>
                        <div class="certificationSlider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="certificateImageBox"><a href="~/frontend/images/ISO-9001.jpg" class="homeImgPopup"> <img src="images/certificate-01.jpg" alt="Certification" /> <span>ISO 9001:2015 Certification</span></a></div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="certificateImageBox"><a href="~/frontend/images/IEC-17020-2012.jpg" class="homeImgPopup"> <img src="images/certificate-02.jpg" alt="Certification" /> <span>ISO/IEC 17020:2012 Accreditation</span></a></div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="certificateImageBox"><a href="~/frontend/images/certificate-03.jpg" class="homeImgPopup"> <img src="images/certificate-03.jpg" alt="Certification" /> <span>ISO/IEC 17025 Accredited Labs</span></a></div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="certificationSlider-prev sliderSmallArrow" role="button" aria-label="Previous slide" tabindex="0"><img src="images/slider-left-arrow.png" alt="Left Arrow" /> </div>
                            <div class="certificationSlider-next sliderSmallArrow" role="button" aria-label="Next slide" tabindex="0"><img src="images/slider-right-arrow.png" alt="Right Arrow" /> </div>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="awardWrap">
                        <h2 class="text-center">Awards</h2>
                        <div class="awardsSlider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="awardImageBox"> <a href="~/frontend/images/A1.jpg" class="homeImgPopup"><img src="images/award-01.jpg" alt="Award" /> <span>11<sup>th</sup> National Quality Conclave</span></a> </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="awardImageBox"> <a href="~/frontend/images/A2.jpg" class="homeImgPopup"><img src="images/award-03.jpg" alt="Award" /> <span>हिंदी वाक् प्रतियोगिता</span></a> </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="awardImageBox"> <a href="~/frontend/images/A5.jpg" class="homeImgPopup"><img src="images/award-02.jpg" alt="Award" /> <span>RITES Annual Day Awards 2018</span></a> </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="awardsSlider-prev sliderSmallArrow" role="button" aria-label="Previous slide" tabindex="0"><img src="images/slider-left-arrow.png" alt="Left Arrow" /> </div>
                            <div class="awardsSlider-next sliderSmallArrow" role="button" aria-label="Next slide" tabindex="0"><img src="images/slider-right-arrow.png" alt="Right Arrow" /> </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<div class="ourClientSection">
    <div class="container">
        <div class="ourClientWrap">
            <h2 class="text-center">Our Clients</h2>
            <div class="ourClientSlider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="ourClientImageBox"> <img src="~/frontend/images/01-indian-railways.jpg" alt="Indian Railways" /> </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ourClientImageBox"> <img src="~/frontend/images/02-dedicated-freight-corridor.jpg" alt="Dedicted Freight Corridor" /> </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ourClientImageBox"> <img src="~/frontend/images/03-dmrc.jpg" alt="Delhi Metro Rail Corporation" /> </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ourClientImageBox"> <img src="~/frontend/images/04-indian-railway-cofmow.jpg" alt="Indian Railway, COFMOW" /> </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ourClientImageBox"> <img src="~/frontend/images/05-central-organization-for-railway-electrification.jpg" alt="Central Organization for Railway Electrification" /> </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ourClientImageBox"> <img src="~/frontend/images/06-rail-vikas-nigam-limited.jpg" alt="Rail Vikas Nigam Limited" /> </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ourClientImageBox"> <img src="~/frontend/images/07-rail-coach-factory-kapurthala.jpg" alt="Rail Coach Factory, Kapurthala" /> </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ourClientImageBox"> <img src="~/frontend/images/08-modern-coach-factory-raebareli.jpg" alt="Modern Coach Factory, Raibareli" /> </div>
                        </div>
                    </div>
                </div>
                <!--<div class="ourClientSlider-prev sliderSmallArrow" role="button" aria-label="Previous slide" tabindex="0"><img src="~/frontend/images/slider-left-arrow.png" alt="Left Arrow" /> </div>
                <div class="ourClientSlider-next sliderSmallArrow" role="button" aria-label="Next slide" tabindex="0"><img src="~/frontend/images/slider-right-arrow.png" alt="Right Arrow" /> </div>-->
            </div>
        </div>
    </div>
</div>
<div class="homeGallerySection">
    <div class="container">
        <div class="homeGalleryWrap">
            <div class="d-flex justify-content-between">
            <h2>Inspections Gallery</h2>
                <a class="mt-2" href="~/Miscellaneous/PhotoGallery" title="View All Gallery">View All <span class="fa fa-chevron-right"></span></a>
            </div>
            <div class="homeGallerySlider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="homeGalleryImageBox"> <img src="~/frontend/images/insp7.jpg" alt="Inspection" /> </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="homeGalleryImageBox"> <img src="~/frontend/images/insp8.jpg" alt="Inspection" /> </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="homeGalleryImageBox"> <img src="~/frontend/images/insp9.jpg" alt="Inspection" /> </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="homeGalleryImageBox"> <img src="~/frontend/images/insp10.jpg" alt="Inspection" /> </div>
                        </div>
                    </div>
                </div>
                <div class="homeGallerySlider-prev sliderSmallArrow" role="button" aria-label="Previous slide" tabindex="0"><span class="fa fa-chevron-circle-left"></span> </div>
                <div class="homeGallerySlider-next sliderSmallArrow" role="button" aria-label="Next slide" tabindex="0"><span class="fa fa-chevron-circle-right"></span></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
    $('.homeImgPopup').magnificPopup({
        type: 'image',
        closeOnContentClick: true,
        closeBtnInside: false,
        fixedContentPos: true,
        mainClass: 'mfp-no-margins mfp-with-zoom', 
        image: {
            verticalFit: true
        },
        zoom: {
            enabled: true,
            duration: 300 
        }
    });
    });
</script>