@model IBS.Models.MasterItemsListFormModel

@{
    ViewData["Title"] = "Master Items List Form";
}
<div class="list-inner">
    <div class="tast-list">
        <h2>Master Items List Form</h2>
    </div>
</div>
<section class="table-section">
    <div class="task-listinput">
        <div class="accordion-body">
            <form data-ajax="true" asp-antiforgery="true" asp-controller="MasterItemsListForm" asp-action="MasterItemsListFormDetailsSave" data-ajax-method="post" data-ajax-complete="completed" id="frmMasterItemsListForm">
                
                <div class="accordion-body">
                    <div class="row my-0">
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Item Description</label>
                            <textarea class="input" asp-for="ItemDesc" maxlength="30"> </textarea>
                            <span asp-validation-for="ItemDesc" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Descipline</label>
                            <textarea class="input" asp-for="Department" maxlength="30"> </textarea>
                            <span asp-validation-for="Department" class="text-danger"></span>
                        </div>
                        
                    </div>

                    <div class="savenext-btn">
                        <a asp-controller="MasterItemsListForm" asp-action="Index" class="reset-btn">Cancel</a>
                        <button type="button" class="save-btn active" onclick="Save();">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        function Save() {
            if ($("#frmMasterItemsListForm").valid()) {
                $("#frmMasterItemsListForm").submit();
            }
        }
        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            window.location.href = "/MasterItemsListForm/Index";
        };
    </script>
}