@model IBS.Models.UserModel
@{
    ViewData["Title"] = "Change Password";
}

<div>
    <div class="list-inner">
        <div class="tast-list">
            <h2>Change Password</h2>
        </div>
    </div>
    <section>
        <div class="task-listinput">
            <div class="task-inner row">
                <form role="form" asp-controller="Home" asp-action="ChangePassword" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="UserId" />
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="OldPassword">Old Password <i class="text-danger">*</i></label>
                                <input type="password" class="form-control" id="OldPassword" name="OldPassword" maxlength="100" autofocus />
                                <span class="text-danger" id="spnErrorOldPassword"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="NewPassword">New Password <i class="text-danger">*</i></label>
                                <input type="password" class="form-control" id="NewPassword" name="NewPassword" maxlength="100" autofocus />
                                <span class="text-danger" id="spnErrorNewPassword"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="ConfirmPasword">Confirm Password <i class="text-danger">*</i></label>
                                <input type="password" class="form-control" id="ConfirmPasword" name="ConfirmPasword" maxlength="100" />
                                <span class="text-danger" id="spnErrorConfirmPasword"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row my-0">
                        <div class="savenext-btn">
                            <a asp-controller="Dashboard" asp-action="Index" class="reset-btn">Cancel</a>
                            <button type="submit" class="save-btn active" onclick="return SubmitPassword();">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </section>
</div>
@section scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        function SubmitPassword() {
            $("#spnErrorOldPassword").html("");
            if ($("#OldPassword").val() == "") {
                $("#spnErrorOldPassword").html("Please enter old password!");
                $("#OldPassword").focus();
                return false;
            }
            $("#spnErrorNewPassword").html("");
            if ($("#NewPassword").val() == "") {
                $("#spnErrorNewPassword").html("Please enter new password!");
                $("#NewPassword").focus();
                return false;
            }
            $("#spnErrorConfirmPasword").html("");
            if ($("#ConfirmPasword").val() == "") {
                $("#spnErrorConfirmPasword").html("Please enter confirm password!");
                $("#ConfirmPasword").focus();
                return false;
            }
            $("#spnErrorConfirmPasword").html("");
            if ($("#NewPassword").val() != $("#ConfirmPasword").val()) {
                $("#spnErrorConfirmPasword").html("New password and confirm password must be same!");
                $("#ConfirmPasword").focus();
                return false;
            }
            //var SaltedToken = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz012345678912";
            //$("#OldPassword").val(EncryptMsg($("#OldPassword").val(), SaltedToken));
            //$("#NewPassword").val(EncryptMsg($("#NewPassword").val(), SaltedToken));
            //$("#ConfirmPasword").val(EncryptMsg($("#ConfirmPasword").val(), SaltedToken));
              
            return true;
        }
    </script>
}