@using Microsoft.Extensions.Options;
@model IBS.Models.ForgotPasswordModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="loginForm">
    <h2 class="heading1 bold">Forgot Password</h2>
    <form role="form" asp-antiforgery="true" asp-controller="Home" asp-action="ForgotPassword" method="post" autocomplete="off" id="frmForgotPassword">
        <input type="hidden" asp-for="UserType" name="UserType" />
        <div class="row">
            <div class="col-md-12">
                <div class="inputIcon">
                    <label for="Name">Username or Email-Id<i class="text-danger">*</i></label>
                    <input type="text" id="UserName" name="UserName" class="input" asp-for="UserName" maxlength="50" placeholder="Enter your User name or Email-Id" autocomplete="off" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row my-0">
            <div class="remecheckbox">
                <a asp-controller="Home" asp-action="Index" class="link1"><span class="fa fa-long-arrow-left"></span> Back to Login</a>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-12">
                <button type="submit" class="btn btnGreen">Submit</button>
            </div>
        </div>
    </form>
</div>
@section scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

    </script>
}