@model IBS.Models.LoginModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="loginForm">
    <h2 class="heading1 bold">Login</h2>
    <form role="form" asp-controller="Home" asp-action="Login" id="frmLogin">

        <div class="row">
            <div class="col-md-12">
                <label for="email">User Name</label>
                <input type="text" class="input" asp-for="UserName" maxlength="50" placeholder="User Name" autocomplete="off" autofocus />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="eyeShowHide">
                <label for="password">Password</label>
                <div class="inputIcon">
                    <input type="password" asp-for="Password" class="input" data-toggle="password" autocomplete="off" placeholder="••••••••">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="row" style="display:none;">
            <div class="col-md-12">
                <div class="reference">
                    <label for="Caseno">User Type</label>
                    @Html.DropDownListFor(model => model.UserType, new SelectList(IBS.Models.Common.GetUserTypeLogin(), "Value", "Text"), "--Select--")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="reference">
                    <label for="Caseno">User Type</label>
                    @Html.DropDownListFor(model => model.UserType, new SelectList(IBS.Models.Common.GetUserTypeLogin(), "Value", "Text"), "--Select--", new { onchange = "UserTypeChange()" })
                    <span asp-validation-for="UserType" id="valUserType" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="remember">
                    <div class="remecheckbox">
                        <input type="checkbox" class="input">
                        Remembered Me
                    </div>
                    <a id="forgotPasswordLink" href="#" title="Forgot Password" class="link1" onclick="checkValidation()">Forgot your password ?</a>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-12">
                <button type="button" class="btn btnGreen" onclick="Loginsubmit()">Login</button>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-md-12 text-center"><p class="m-0 dividerLine">Don't have an account? <a class="registerLink" href="#">Register Now</a></p></div>
        </div>

    </form>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        $(document).ready(function () {
            $("#eyeShowHide i").on('click', function (event) {
                event.preventDefault();
                if ($('#eyeShowHide input').attr("type") == "text") {
                    $('#eyeShowHide input').attr('type', 'password');
                    $('#eyeShowHide i').addClass("fa-eye");
                    $('#eyeShowHide i').removeClass("fa-eye-slash");
                } else if ($('#eyeShowHide input').attr("type") == "password") {
                    $('#eyeShowHide input').attr('type', 'text');
                    $('#eyeShowHide i').removeClass("fa-eye");
                    $('#eyeShowHide i').addClass("fa-eye-slash");
                }
            });
        });

        $(document).keypress(function (e) {
            if (e.which == 13) {
                $('#frmLogin').submit();
            }
        });

        function Loginsubmit() {
            if ($("#frmLogin").valid()) {
                $("#frmLogin").submit();
            }
        }

        function UserTypeChange() {
            $("#forgotPasswordLink").attr("href", '@Url.Action("ForgotPassword", "Home")?usertype=' + $("#UserType").val());
        }
        function checkValidation() {
            debugger;
            if ($("#UserType").val() == "" || $("#UserType").val() == null) {
                ShowHideMsgNew(false, "User Type is required.");
                return;
            }
        }
    </script>
}
