@model IBM.Models.ResetPasswordModel
@{ ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";}

<div class="bodyContent">
    <div class="container-fluid">
        <div class="innerTitle mb-5">
            <h3>Reset Password</h3>
        </div>
        <div class="formWrapperCard">
            <form role="form" asp-antiforgery="true" asp-controller="Home" asp-action="ResetPassword" method="post" id="frmResetPassword">
                @*<input type="hidden" id="hdnSaltedToken" value="@ViewBag.SaltedToken" />*@
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" id="hdfEncUserId" name="hdfEncUserId" value="" />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="Name">User Name <i class="text-danger">*</i></label>
                            <input type="text" class="form-control" asp-for="UserName" maxlength="100" autofocus />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="Name">New Password<i class="text-danger">*</i></label>
                            <input type="password" class="form-control" asp-for="NewPassword" maxlength="50" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="Name">Confirm Password<i class="text-danger">*</i></label>
                            <input type="password" class="form-control" asp-for="ConfirmPassword" maxlength="50" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="btnSet d-flex justify-content-end">
                            <a asp-controller="Home" asp-action="Index" class="secondaryBtn">Back to Login</a>
                            <button type="submit" class="primaryBtn ml-3" onclick="SubmitPassword();">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        function SubmitPassword() {
            //$("#NewPassword").val(EncryptMsg($("#NewPassword").val(), $('#hdnSaltedToken').val()));
            //$("#ConfirmPassword").val(EncryptMsg($("#ConfirmPassword").val(), $('#hdnSaltedToken').val()));
            //$("#hdfEncUserId").val(EncryptMsg($("#UserId").val(), $('#hdnSaltedToken').val()));
            return true;
        }

    </script>

}