<div class="alert403">
    <div class="alert alert-danger center p-5">
        <div class="acess404">
            <img src="~/images/img-403.png" />
        </div>
        <h1>Access Denied </h1>
        <h3>You dont have permission to view this resource.</h3>

    </div>
</div>

