@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="dashHeader justify-content-between">
    <h2 class="alignLeft">Client Dashboard</h2>
    <a href="#" class="addNew"><span class="fa fa-plus"></span> Add New Purchase Order</a>
</div>
<div class="admindashboard-section">
    <div class="admindashboard-wrap">
        <div class="row admin-dashboard">
            <div class="col-lg-3">
                <div class="dashboard-box das1Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">35</div>
                            <div class="total-inner">Number Inspection <br>of Request</div>
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-1.svg" alt="Inspection Requests"> </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-box das2Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">15</div>
                        </div>
                        <div class="total-inner">Inspection<br> Ongoing</div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-2.svg" alt="Inspection Assigned"> </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-box das3Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">12</div>
                        </div>
                        <div class="total-inner">Inspection <br>Completed</div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-3.svg" alt="Inspection Completed"> </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-box das4Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">07</div>
                        </div>
                        <div class="total-inner">Inspection<br> Pending</div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-5.svg" alt="Inspection Pending"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="graph-section">
    <div class="invoice">
        <h3 class="headingh3">Vendor wise rejections</h3>

        <div class="datefrom">
            <div class="vendorSelect">
                <select>
                    <option>Select vendor name</option>
                </select>
            </div>
            <div class="from-celender">
                <input placeholder="From" type="text" class="datepicker" />
            </div>
            <div class="colwithbtn">
                <input placeholder="To" type="text" class="datepicker" />
            </div>
        </div>
    </div>
    <div class="graph">
        <div id="monthlychart"></div>
    </div>
</section>
<section class="table-section">
    <div class="table-title">
        <h3 class="headingh3">Recent request status</h3>
    </div>
    <div class="task-inner row">
        <div class="col-md-4">
            <div class="input-search">
                <label for="Search" class="d-none">Search</label>
                <input type="text" id="Search" placeholder="Search">
            </div>
        </div>
        <div class="col-md-4 p-0">
            <div class="task-select">
                <div class="customSelectOuter">
                    <label for="Status" class="d-none">Select Status</label>
                    <select id="Status" name="selectcorporation" class="">
                        <option>Select Status</option>
                        <option>Option 1</option>
                    </select>
                </div>
                <div class="customSelectOuter">
                    <label for="ongoing" class="d-none">Ongoing</label>
                    <select id="ongoing" name="selectcorporation" class="">
                        <option>Ongoing</option>
                        <option>Option 1</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tast-date">
                <div class="datefrom">
                    <div class="from-celender">
                        <label for="From" class="d-none">From</label>
                        <input id="From" placeholder="From" type="text" class="datepicker">
                    </div>
                    <div class="colwithbtn">
                        <label for="To" class="d-none">To</label>
                        <input id="To" placeholder="To" type="text" class="datepicker">
                    </div>
                    <button class="search-btn"><span class="fa fa-search"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="dash-table">
        <table class="table-responsive">
            <thead>
                <tr>
                    <th scope="col">Sr. No</th>
                    <th scope="col">Date</th>
                    <th scope="col">Req. No.</th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Details</th>
                    <th scope="col">Inspection Engineers</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>20-07-2023</td>
                    <td>RITES/01/0203</td>
                    <td>M/s Express Global Logistics Pvt. Ltd, Mumbai</td>
                    <td>Freight Forwarding activities for handling export & import...</td>
                    <td>Mr. Manoj Vajpay</td>
                    <td class="oranges">Overdue</td>
                    <td class="action center"><a href="#"><span class="fa fa-eye"></span></a> <a href="#"><span class="fa fa-pencil-square-o"></span></a></td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>20-07-2023</td>
                    <td>RITES/01/0203</td>
                    <td>M/s Becton Dickinson India Private Limited.</td>
                    <td>CD4 Machine Reagents Kits for FACS Count Machines...</td>
                    <td>Smt. Smita Patil</td>
                    <td class="green-color">Resolve</td>
                    <td class="action center"><a href="#"><span class="fa fa-eye"></span></a> <a href="#"><span class="fa fa-pencil-square-o"></span></a></td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>20-07-2023</td>
                    <td>RITES/01/0203</td>
                    <td>M/s Myrtle Project &amp; Consultancy Pvt. Ltd.</td>
                    <td>Construction of RCC Boundary wall with Precast Panel &...</td>
                    <td>Mr. Gaurang Dholera</td>
                    <td class="blue-color">Pending</td>
                    <td class="action center"><a href="#"><span class="fa fa-eye"></span></a> <a href="#"><span class="fa fa-pencil-square-o"></span></a></td>
                </tr>
                <tr>
                    <td>04</td>
                    <td>20-07-2023</td>
                    <td>RITES/01/0203</td>
                    <td>M/s Micron Pharmaceuticals Ltd.</td>
                    <td>Procurement of Nevirapine Oral Suspension & Syrup...</td>
                    <td>Mr. Ajay Tomer</td>
                    <td class="green-color">Resolve</td>
                    <td class="action center"><a href="#"><span class="fa fa-eye"></span></a> <a href="#"><span class="fa fa-pencil-square-o"></span></a></td>
                </tr>
                <tr>
                    <td>05</td>
                    <td>20-07-2023</td>
                    <td>RITES/01/0203</td>
                    <td>M/s Verve Human Care Laboratories, Dehradun</td>
                    <td>Tablet Buprenorphine 0.4 mg Tablets QTY. 1,97,40,000</td>
                    <td>Mr. Mayank Malegauker</td>
                    <td class="oranges">Overdue</td>
                    <td class="action center"><a href="#"><span class="fa fa-eye"></span></a> <a href="#"><span class="fa fa-pencil-square-o"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableBottomLink">
        <div class="recordCount">Showing <span>5</span> out of <span>100</span> records</div> <a class="viewall" href="#">View All</a>
    </div>
</section>
<section class="table-section">
<div class="table-title">
    <h3 class="headingh3">Recent purchase order</h3>
</div>
<div class="task-inner row">
    <div class="col-md-4">
        <div class="input-search">
            <label for="Search2" class="d-none">Search</label>
            <input type="text" id="Search2" placeholder="Search">
        </div>
    </div>
    <div class="col-md-4 p-0">
        <div class="task-select">
            <div class="customSelectOuter">
                <label for="Vendor2" class="d-none">Select Vendor</label>
                <select id="Vendor2" name="selectcorporation" class="">
                    <option>Select Vendor</option>
                    <option>Option 1</option>
                </select>
            </div>
            <div class="customSelectOuter">
                <label for="ongoing" class="d-none">Select Status</label>
                <select id="ongoing" name="selectcorporation" class="">
                    <option>Select Status</option>
                    <option>Option 1</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="tast-date">
            <div class="datefrom">
                <div class="from-celender">
                    <label for="From" class="d-none">From</label>
                    <input id="From" placeholder="From" type="text" class="datepicker">
                </div>
                <div class="colwithbtn">
                    <label for="To" class="d-none">To</label>
                    <input id="To" placeholder="To" type="text" class="datepicker">
                </div>
                <button class="search-btn"><span class="fa fa-search"></span></button>
            </div>
        </div>
    </div>
</div>
<div class="dash-table">
    <table class="table-responsive">
        <thead>
            <tr>
                <th scope="col">Sr. No</th>
                <th scope="col">Date</th>
                <th scope="col">Req. No.</th>
                <th scope="col">Vendor</th>
                <th scope="col">Details</th>
                <th scope="col">Inspection Engineers</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>20-07-2023</td>
                <td>RITES/01/0203</td>
                <td>M/s Express Global Logistics Pvt. Ltd, Mumbai</td>
                <td>Freight Forwarding activities for handling export & import...</td>
                <td>Mr. Manoj Vajpay</td>
                <td class="oranges">Overdue</td>
                <td class="action center"><a href="#"><span class="fa fa-eye"></span></a> <a href="#"><span class="fa fa-pencil-square-o"></span></a></td>
            </tr>
            <tr>
                <td>02</td>
                <td>20-07-2023</td>
                <td>RITES/01/0203</td>
                <td>M/s Becton Dickinson India Private Limited.</td>
                <td>CD4 Machine Reagents Kits for FACS Count Machines...</td>
                <td>Smt. Smita Patil</td>
                <td class="green-color">Resolve</td>
                <td class="action center"><a href="#"><span class="fa fa-eye"></span></a> <a href="#"><span class="fa fa-pencil-square-o"></span></a></td>
            </tr>
            <tr>
                <td>03</td>
                <td>20-07-2023</td>
                <td>RITES/01/0203</td>
                <td>M/s Myrtle Project &amp; Consultancy Pvt. Ltd.</td>
                <td>Construction of RCC Boundary wall with Precast Panel &...</td>
                <td>Mr. Gaurang Dholera</td>
                <td class="blue-color">Pending</td>
                <td class="action center"><a href="#"><span class="fa fa-eye"></span></a> <a href="#"><span class="fa fa-pencil-square-o"></span></a></td>
            </tr>
            <tr>
                <td>04</td>
                <td>20-07-2023</td>
                <td>RITES/01/0203</td>
                <td>M/s Micron Pharmaceuticals Ltd.</td>
                <td>Procurement of Nevirapine Oral Suspension & Syrup...</td>
                <td>Mr. Ajay Tomer</td>
                <td class="green-color">Resolve</td>
                <td class="action center"><a href="#"><span class="fa fa-eye"></span></a> <a href="#"><span class="fa fa-pencil-square-o"></span></a></td>
            </tr>
            <tr>
                <td>05</td>
                <td>20-07-2023</td>
                <td>RITES/01/0203</td>
                <td>M/s Verve Human Care Laboratories, Dehradun</td>
                <td>Tablet Buprenorphine 0.4 mg Tablets QTY. 1,97,40,000</td>
                <td>Mr. Mayank Malegauker</td>
                <td class="oranges">Overdue</td>
                <td class="action center"><a href="#"><span class="fa fa-eye"></span></a> <a href="#"><span class="fa fa-pencil-square-o"></span></a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="tableBottomLink">
    <div class="recordCount">Showing <span>5</span> out of <span>100</span> records</div> <a class="viewall" href="#">View All</a>
</div>
</section>
@section scripts{
<script>
    Highcharts.chart('monthlychart', {
        colors: ['#515CB2', '#F26768'],
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Amount in lac'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:14px">{point.key}</span><table style="border:none; margin:0;"><tr>',
            pointFormat: '<td style="color:{series.color};padding:5px; font-size:14px; text-align:center; border:none;">{point.y:.1f} Lac' +
                '<span style="display:block; color:#000; font-size:11px;">{series.name}</span></td>',
            footerFormat: '</tr></table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        exporting: {
            enabled: false
        },
        series: [{
            name: 'Total Order',
            data: [49, 71, 106, 129, 144, 176, 135, 148, 216, 194, 95, 54]
        }, {
            name: 'Rejected',
            data: [48, 38, 39, 41, 47, 48, 59, 59, 52, 65, 59, 51]

        }]
    });
</script>
}