@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="dashHeader justify-content-between">
    <h2 class="alignLeft">
        CM/Call Desk Incharge Dashboard
    </h2>
</div>
<div class="admindashboard-section">
    <div class="admindashboard-wrap">
        <div class="row admin-dashboard">
            <div class="col-lg-4">
                <div class="dashboard-box das1Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">35</div>
                            <div class="total-inner">
                                No. of <br />Total Calls

                            </div>
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-1.svg" alt="Inspection Requests"> </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="dashboard-box das2Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">15</div>
                        </div>
                        <div class="total-inner">
                            No. of manually<br /> marked calls
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-2.svg" alt="Inspection Assigned"> </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="dashboard-box das3Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">12</div>
                        </div>
                        <div class="total-inner">
                            No. of Online<br /> Calls marked
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-3.svg" alt="Inspection Completed"> </div>
                </div>
            </div>
        </div>
        <div class="row admin-dashboard">
            <div class="col-lg-4">
                <div class="dashboard-box das4Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">07</div>
                        </div>
                        <div class="total-inner">
                            No. of POs,<br /> Awaiting for  Case No.

                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-5.svg" alt="Inspection Pending"> </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="dashboard-box das5Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">35</div>
                            <div class="total-inner">
                                Pending Calls<br /> to Remark
                            </div>
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-1.svg" alt="Inspection Requests"> </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="dashboard-box das6Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">15</div>
                        </div>
                        <div class="total-inner">
                            No. of pending online<br /> calls awaiting marking

                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-2.svg" alt="Inspection Assigned"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="table-section">
    <div class="table-title">
        <h3 class="headingh3">
            IE wise performance
        </h3>
    </div>
    <div class="iePieGraphGrid">
        <table class="borderGrid">
            <tr>
                <th>Sr. No.</th>
                <th>Name of IE</th>
                <th>Total Calls</th>
                <th>Pending Calls</th>
                <th>Accepted Calls</th>
                <th>Cancelled Calls</th>
                <th>Under Lab Testing</th>
                <th>Still Under Inspection</th>
                <th>Stage Rejection</th>
            </tr>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>6</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>7</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>8</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>9</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>10</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</section>