@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="dashHeader justify-content-between">
    <h2 class="alignLeft">
        CM/D & AR Dashboard
    </h2>
</div>
<div class="admindashboard-section">
    <div class="admindashboard-wrap cmdar">
        <div class="row admin-dashboard">
            <div class="col-lg-4">
                <div class="dashboard-box das1Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">35</div>
                            <div class="total-inner">
                                No. of Major<br /> Charge Sheets
                            </div>
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/no-of-major-charge-sheets-icon.svg" alt="Inspection Requests"> </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="dashboard-box das2Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">15</div>
                        </div>
                        <div class="total-inner">
                            No. of Minor<br /> Charge sheets
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/no-of-major-charge-sheets-icon.svg" alt="Inspection Assigned"> </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="dashboard-box das3Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">12</div>
                        </div>
                        <div class="total-inner">
                            No. of Consignee Complaints<br /> Closed at RITES' End
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/no-of-consignee-complaints-closed-rites-icon.svg" alt="Inspection Completed"> </div>
                </div>
            </div>
        </div>
        <div class="row admin-dashboard">
            <div class="col-lg-4">
                <div class="dashboard-box das4Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">07</div>
                        </div>
                        <div class="total-inner">
                            No. of POs,<br /> Awaiting for  Case No.

                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/no-of-POs-awaiting-for-case-no-icon.svg" alt="Inspection Pending"> </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="dashboard-box das5Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">35</div>
                            <div class="total-inner">
                                No. Pending<br /> Charge sheets
                            </div>
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/no-pending-charges-sheets-icon.svg" alt="Inspection Requests"> </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<section class="table-section">
    <div class="table-title">
        <h3 class="headingh3">
            Penalty fixes on IE
        </h3>
    </div>
    <div class="iePieGraphGrid">
        <table class="borderGrid">
            <tr>
                <th class="srNo">S.No</th>
                <th>Name of IE </th>
                <th>Penalty Imposed(Rs.)</th>
                <th class="action center">Action</th>
            </tr>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td class="action center"><a href="#"><span class="fa fa-thumbs-o-up"></span></a> <a href="#" class="deney"><span class="fa fa-ban"></span></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td class="action center"><a href="#"><span class="fa fa-thumbs-o-up"></span></a> <a href="#" class="deney"><span class="fa fa-ban"></span></a></td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td class="action center"><a href="#"><span class="fa fa-thumbs-o-up"></span></a> <a href="#" class="deney"><span class="fa fa-ban"></span></a></td>
            </tr>
            <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td class="action center"><a href="#"><span class="fa fa-thumbs-o-up"></span></a> <a href="#" class="deney"><span class="fa fa-ban"></span></a></td>
            </tr>
            <tr>
                <td>5</td>
                <td></td>
                <td></td>
                <td class="action center"><a href="#"><span class="fa fa-thumbs-o-up"></span></a> <a href="#" class="deney"><span class="fa fa-ban"></span></a></td>
            </tr>
        </table>
    </div>
</section>