@model CM_JI_ViewAll_Model
@{
    var type = Model.Type;
    var title = "";
    if (type == "IEP")
    {
        title = "IE Wise Perfomance";
    }
    else if (type == "OPJC")
    {
        title = "Oldest Pending Cases";
    }
    else if (type == "ICC")
    {
        title = "IEs with the Highest Consignee Complaints";
    }
    else if (type == "VCC")
    {
        title = "Vendors with the Highest Consignee Complaints";
    }
    else if (type == "CCC")
    {
        title = "Clients with the Most Complaints Raised";
    }
    ViewData["Title"] = title;
}

<div class="list-inner">
    <div class="tast-list">
        <h3 class="heading3"><span id="spnHeading"></span> </h3>
    </div>
    <div>
        <a asp-action="CMJIIncharge" asp-controller="Dashboard" class="formBtn viewall-btn" id="btnBack">Back</a>
    </div>
</div>

<div class="accordion-body" id="body">
    <div class="row my-0">
        <input type="hidden" asp-for="Type" />
        <input type="hidden" asp-for="JI_REGION" />
        <div class="col-md-3 mb-3">
            <div class="reference">
                <label for="Reference">From</label>
                <input type="text" class="datepicker" id="FromDate" placeholder="DD/MM/YYYY" />
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="reference">
                <label for="Reference">To</label>
                <input type="text" class="datepicker" id="ToDate" placeholder="DD/MM/YYYY" />
            </div>
        </div>
    </div>
    <div class="row my-0">
        <div class="col-md-12 mb-3">
            <div class="savenext-btn">
                <button type="button" class="save-btn active Permission_Save" onclick="InitializeDatatable()" id="btnSearch">Search</button>
            </div>
        </div>
    </div>
</div>

<section class="table-section">
    <div class="task-listinput">
        <div class="dash-table">
            <table id="dtList" class="table-responsive">
                <thead>
                    <tr>
                        @* <th>#</th>
                        <th>Name of Client</th>
                        <th>No. of bills</th>
                        <th>Value (₹)</th>
                        <th>PO No.</th>*@
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>

@section scripts{

    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        var Columns = [];
        $(function () {            
            var currentDate = new Date();
            var financialYearDates = GetFinancialYearStartEndDate(); //calculateFinancialYearDates(currentDate);

            $("#FromDate").val($.datepicker.formatDate("dd/mm/yy", financialYearDates.start));
            $("#ToDate").val($.datepicker.formatDate("dd/mm/yy", financialYearDates.end));

            const urlParams = new URLSearchParams(window.location.search);
            const type = urlParams.get('Type');
            const region = urlParams.get('Region');
            $("#Type").val(type);
            $("#JI_REGION").val(region);
            if (type == "IEP") {
                $("#spnHeading").text("IE Wise Perfomance");
                Columns = [
                    {
                        data: '', title: "#", orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "IE_NAME", title: "IE" },
                    { data: "TOTAL_CALL", title: "Total Call" },
                    { data: "PENDING_CALL", title: "Pending Call" },
                    { data: "ACCEPTED_CALL", title: "Accepted Call" },
                    { data: "CANCELLED_CALL", title: "Cancelled Call" },
                    { data: "UNDER_LAB_CALL", title: "Under Lab Testing Call" },
                    { data: "STILL_INSP_CALL", title: "Still Under Inspection Call" },
                    { data: "STAGE_REJECTION_CALL", title: "Stage Rejection Call" },
                ]
            }
            else if (type == "OPJC") {
                $("#spnHeading").text("Oldest Pending JI Cases");
                Columns = [
                    {
                        data: '', title: "#", orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "CONSIGNEE", title: "Consignee" },
                    { data: "IE_NAME", title: "IE" },
                    { data: "JI_REGION", title: "Region" },
                    { data: "CASE_NO", title: "Case No" },
                    {
                        data: "CALL_RECV_DT", title: "Call Date", render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD/MM/YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "CALL_SNO", title: "Call Sno" },
                    { data: "JI_SNO", title: "JI SNo" },
                    {
                        data: "JI_DT", title: "JI Date", render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD/MM/YYYY") : "";
                            }
                            return data;
                        }
                    },
                ]
            } else if (type == "ICC") {
                $("#spnHeading").text("IE with the Highest Consignee Complaints");
                Columns = [
                    {
                        data: '', title: "#", orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "NAME", title: "IE" },
                    { data: "NO_OF_CONSINEE_COMPLAINTS", title: "Number of complaints" }
                ]
            } else if (type == "VCC") {
                $("#spnHeading").text("Vendors with the Highest Consignee Complaints");
                Columns = [
                    {
                        data: '', title: "#", orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "NAME", title: "Vendor" },
                    { data: "NO_OF_CONSINEE_COMPLAINTS", title: "Number of complaints" }
                ]
            } else if (type == "CCC") {
                $("#spnHeading").text("Client Wise Consignee Complaints");
                Columns = [
                    {
                        data: '', title: "#", orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "NAME", title: "Client" },
                    { data: "NO_OF_CONSINEE_COMPLAINTS", title: "Number of complaints" },
                ]
            }
            InitializeDatatable();
        });        

        function InitializeDatatable() {
            var FromDate = $("#FromDate").val();
            var ToDate = $("#ToDate").val();
            var Type = $("#Type").val();
            var Region = $("#JI_REGION").val();

            $("#dtList").DataTable({
                stateSave: false,
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true,
                serverSide: true,
                destroy: true,
                paging: true,
                searching: true,
                ajax: {
                    url: "@Url.Action("LoadDashboard_CM_JI_ViewAll_List", "Dashboard")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            FromDate, ToDate, Type, Region
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: Columns,
                "order": [[0, "asc"]]
            });
        }                
    </script>
}


