@model IBS.Models.AdminCountListing
@{
    ViewData["Title"] = "No. of Total Calls";
}

<div class="list-inner">
    <div class="tast-list">
        @*<h3 class="heading3">@ViewData["Title"] </h3>*@
        <h3 class="heading3"><span id="spnHeading"></span> </h3>
    </div>
</div>
<input type="hidden" asp-for="ActionType" />
<div class="accordion-body">
    <div class="row my-0">
        <div class="col-md-3">
            <div class="input-search">
                <label for="FromDate">For The Period From</label>
                <input type="text" class="datepicker" id="FromDate" placeholder="DD/MM/YYYY" />
                <span class="text-danger field-validation-error" id="spnErrorfromdt"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-search">
                <label for="ToDate">To</label>
                <input type="text" class="datepicker" id="ToDate" placeholder="DD/MM/YYYY" />
                <span class="text-danger field-validation-error" id="spnErrortodt"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="savenext-btn btnAlign">
                <button type="button" class="save-btn active" onclick="Search();">Search</button>
            </div>
        </div>
    </div>
</div>
<section class="table-section">
    <div class="task-listinput">
        <div class="dash-table">
            <table id="dtList" class="table-responsive">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>


@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        var Columns = [];
        $(function () {
            debugger
            var currentDate = new Date();
            var financialYearDates = calculateFinancialYearDates(currentDate);

            $("#FromDate").val($.datepicker.formatDate("dd/mm/yy", financialYearDates.start));
            $("#ToDate").val($.datepicker.formatDate("dd/mm/yy", financialYearDates.end));
            const urlParams = new URLSearchParams(window.location.search);
            const type = urlParams.get('Type');
            $("#ActionType").val(type);
            if (type == "TC") {
                $("#spnHeading").text("No. of Total Calls.");
            }
            else if (type == "M") {
                $("#spnHeading").text("No. of Pending Calls.");
            }
            else if (type == "A") {
                $("#spnHeading").text("No. of Accepted Calls.");
            }
            else if (type == "C") {
                $("#spnHeading").text("No. of Cancelled Calls.");
            }
            else if (type == "U") {
                $("#spnHeading").text("No. of Under Lab Testing.");
            }
            else if (type == "S") {
                $("#spnHeading").text("No. of Still Under Inspection.");
            }
            else if (type == "T") {
                $("#spnHeading").text("No. of Stage Rejection.");
            } 

            if (type == "TC" || type == "M" || type == "A" || type == "C" || type == "U" || type == "S" || type == "T") {
                Columns = [
                    {
                        data: '', title: "#", orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "CaseNo", title: "Case No" },
                    { data: "PoNo", title: "PO NO" },
                    {
                        data: "PoDt", title: "PO DT", render: function (data, type, row) {
                            if (type === "display" || type === "filter") {
                                return data != null && data != "" ? moment(data).format("DD-MM-YYYY") : "";
                            }
                            return data;
                        }
                    },
                    {
                        data: "CallRecvDt", title: "Call Recv Dt", render: function (data, type, row) {
                            if (type === "display" || type === "filter") {
                                return data != null && data != "" ? moment(data).format("DD-MM-YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "CallSno", title: "Call SNo" },
                    { data: "CallInstallNo", title: "Call Install No" },
                    { data: "CallStatus", title: "Call Status" },
                    { data: "CallLetterNo", title: "Call Letter No" },
                    { data: "Remarks", title: "Remarks" },
                    { data: "RegionCode", title: "Region" },
                ]
            } 
            InitializeDatatable();
        });

        function calculateFinancialYearDates(currentDate) {
            var currentYear = currentDate.getFullYear();

            var financialYearStartDate = new Date(currentYear, 3, 1);
            var financialYearEndDate = new Date(currentYear + 1, 2, 31);

            return {
                start: financialYearStartDate,
                end: financialYearEndDate
            };
        }

        function Search() {
            InitializeDatatable();
        }

        function InitializeDatatable() {
            var FromDate = $("#FromDate").val();
            var ToDate = $("#ToDate").val();
            var ActionType = $("#ActionType").val();

            $("#dtList").DataTable({
                stateSave: false,
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true,
                serverSide: true,
                destroy: true,
                paging: true,
                searching: true,
                ajax: {
                    url: "@Url.Action("LoadDashboard_Client_List", "Dashboard")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            FromDate, ToDate, ActionType
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: Columns,
                "order": [[0, "asc"]]
            });
        }
    </script>
}