@model DashboardModel
@{
    ViewData["Title"] = "IE_Dashboard_Detail";
}

<div class="list-inner">
    <div class="tast-list">
        <h3 class="heading3"><span id="spnHeading"></span> </h3>
    </div>
    <div>
        <a asp-action="Index" asp-controller="Dashboard" class="formBtn viewall-btn" id="btnBack">Back</a>
    </div>
</div>

<div class="accordion-body" id="body">
    <div class="row my-0">
        <input asp-for="ActionType" hidden />
        <div class="col-md-3 mb-3">
            <div class="reference">
                <label for="Reference">From</label>
                <input type="text" class="datepicker" id="FromDate" placeholder="DD/MM/YYYY" />
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="reference">
                <label for="Reference">To</label>
                <input type="text" class="datepicker" id="ToDate" placeholder="DD/MM/YYYY" />
            </div>
        </div>
    </div>
    <div class="row my-0">
        <div class="col-md-12 mb-3">
            <div class="savenext-btn">
                <button type="button" class="save-btn active Permission_Save" onclick="InitializeDatatable()" id="btnSearch">Search</button>
            </div>
        </div>
    </div>
</div>

<section class="table-section">
    <div class="task-listinput">
        <div class="dash-table">
            <table id="dtList" class="table-responsive">
                <thead>
                    <tr>
                       @* <th>#</th>
                        <th>Name of Client</th>
                        <th>No. of bills</th>
                        <th>Value (₹)</th>
                        <th>PO No.</th>*@
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>

@section scripts{

    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        var Columns = [];
        $(function () {

            var currentDate = new Date();
            var financialYearDates = calculateFinancialYearDates(currentDate);

            $("#FromDate").val($.datepicker.formatDate("dd/mm/yy", financialYearDates.start));
            $("#ToDate").val($.datepicker.formatDate("dd/mm/yy", financialYearDates.end));

            debugger
            const urlParams = new URLSearchParams(window.location.search);
            const type = urlParams.get('Type');
            $("#ActionType").val(type);
            $("#ActionType").val(type);
            if (type == "CHP") {
                $("#spnHeading").text("No. of Clients with Highest Payments. ");
                Columns = [
                    {
                        data: '',orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "ClientName" ,title:"Client Name"},
                    { data: "NoofBills", title: "No. of Bills" },
                    { data: "Value", title: " Value (₹)" },
                ]
            } else if (type == "CHO") {
                $("#spnHeading").text("No. of Clients with Highest Outstanding. ");
                Columns = [
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "ClientName", title: "Client Name" },
                    { data: "NoofBills" , title: "No. of Bills"},
                    { data: "Value", title: " Value (₹)" },
                ]
            } else if (type == "OPC") {
                $("#spnHeading").text("No. of Oldest Pending Cases. ");
                Columns = [
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "CaseNo", title: "Case No" },
                    { data: "CallDate", title: "Call Date",
                                     render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD-MM-YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "PONO", title: "PO NO" },
                ]
            } else if (type == "OJC") {
                $("#spnHeading").text("No. of Oldest JI Cases.  ");
                Columns = [
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "CaseNo", title: "Case No" },
                    { data: "CallDate", title: "Call Date",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD-MM-YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "PONO", title: "PO NO" },
                ]
            }
            InitializeDatatable();
        });

        function calculateFinancialYearDates(currentDate) {
            var currentYear = currentDate.getFullYear();

            var financialYearStartDate = new Date(currentYear, 3, 1);
            var financialYearEndDate = new Date(currentYear + 1, 2, 31);

            return {
                start: financialYearStartDate,
                end: financialYearEndDate
            };
        }

       
        function InitializeDatatable() {
            var FromDate = $("#FromDate").val();
            var ToDate = $("#ToDate").val();
            var TypeOfList = $("#ActionType").val();

            $("#dtList").DataTable({
                stateSave: false,
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true,
                serverSide: true,
                destroy: true,
                paging: true,
                searching: true,
                ajax: {
                    url: "@Url.Action("LoadDashboard_Admin_ViewAll_List", "Dashboard")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            FromDate, ToDate,TypeOfList
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: Columns,
                "order": [[0, "asc"]]
            });
        }

    </script>
}
