@{
    ViewData["Title"] = "IE_Dashboard_Detail";
}

<div class="list-inner">
    <div class="tast-list">
        <h3 class="heading3"><span id="spnHeading"></span> </h3>
    </div>
    <div>
        @*<a asp-action="CMGeneral" asp-controller="Dashboard" class="formBtn viewall-btn" id="btnBack">Back</a>*@
    </div>
</div>

<div class="accordion-body" id="body">
    <div class="row my-0">
        <div class="col-md-3 mb-3">
            <div class="reference">
                <label for="Reference">From</label>
                <input type="text" class="datepicker" id="FromDate" placeholder="DD/MM/YYYY" />
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="reference">
                <label for="Reference">To</label>
                <input type="text" class="datepicker" id="ToDate" placeholder="DD/MM/YYYY" />
            </div>
        </div>
    </div>
    <div class="row my-0">
        <div class="col-md-12 mb-3">
            <div class="savenext-btn btnAlign">
                <button type="button" class="save-btn active Permission_Save" onclick="InitializeDatatable()" id="btnSearch">Search</button>
            </div>
        </div>
    </div>
</div>

<section class="table-section">
    <div class="task-listinput">
        <div class="dash-table">
            <table id="dtList" class="table-responsive">
                <thead>
                    <tr>
                        @* <th>#</th>
                        <th>Name of Client</th>
                        <th>No. of bills</th>
                        <th>Value (₹)</th>
                        <th>PO No.</th>*@
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>

@section scripts{

    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        var Columns = [];
        $(function () {

            var financialYearDates = GetFinancialYearStartEndDate();

            $("#FromDate").val($.datepicker.formatDate("dd/mm/yy", financialYearDates.start));
            $("#ToDate").val($.datepicker.formatDate("dd/mm/yy", financialYearDates.end));

            debugger
            const urlParams = new URLSearchParams(window.location.search);
            const type = urlParams.get('Type');
            $("#ActionType").val(type);
            $("#ActionType").val(type);

            $("#spnHeading").text("IE wise performance");
                
            InitializeDatatable();
        });        

        function InitializeDatatable() {
            var FromDate = $("#FromDate").val();
            var ToDate = $("#ToDate").val();

            $("#dtList").DataTable({
                stateSave: false,
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true,
                serverSide: true,
                destroy: true,
                paging: true,
                searching: true,
                ajax: {
                    url: "@Url.Action("LoadDashboard_CMGeneral_ViewAll_List", "Dashboard")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            FromDate, ToDate
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: Columns = [
                    {
                        data: '', title: "#", orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "IE_NAME", title: "IE NAME" },
                    { data: "TotalCallsCount", title: "Total Calls" },
                    { data: "PendingCallsCount", title: "Pending Calls" },
                    { data: "AcceptedCallsCount", title: "Accepted Calls" },
                    { data: "CancelledCallsCount", title: "Cancelled Calls" },
                    { data: "UnderLabTestingCount", title: "Under Lab Testing" },
                    { data: "StillUnderInspectionCount", title: "Still UnderInspection" },
                    { data: "StageRejectionCount", title: "Stage Rejection" },
                ],
                "order": [[0, "asc"]]
            });
        }

    </script>
}
