@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


    <div class="dashHeader">
        <h2 class="alignLeft">Inspection Engineer (IE) Dashboard</h2>
    </div>
    <div class="admindashboard-section">
        <div class="admindashboard-wrap">
            <div class="row ie-dashboard">
                <div class="col-lg-3">
                    <div class="dashboard-box das1Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">35</div>
                            <div class="total-inner">
                                Total<br /> Calls
                            </div>
                            </div>
                        </div>
                        <div class="total-icons"><img src="~/images/dash-icon-1.svg" alt="Inspection Requests"> </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="dashboard-box das2Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">18</div>
                            </div>
                        <div class="total-inner">
                            Pending<br /> Calls
                        </div>
                        </div>
                        <div class="total-icons"><img src="~/images/dash-icon-3.svg" alt="Inspection Completed"> </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="dashboard-box das3Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">15</div>
                            </div>
                        <div class="total-inner">
                            Accepted <br />Calls
                        </div>
                        </div>
                        <div class="total-icons"><img src="~/images/dash-icon-2.svg" alt="Inspection Assigned"> </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="dashboard-box das4Client">
                        <div class="dash-total">
                            <div class="dash-count">
                                <div class="total-amount">02</div>
                            </div>
                        <div class="total-inner">
                            Cancelled<br /> Calls
                        </div>
                        </div>
                        <div class="total-icons"><img src="~/images/request-cancel.svg" alt="Request Cancel"> </div>
                    </div>
                </div>
            </div>
        <div class="row ie-dashboard">
            <div class="col-lg-3">
                <div class="dashboard-box das5Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">35</div>
                            <div class="total-inner">
                                Under Lab <br />Testing
                            </div>
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-1.svg" alt="Inspection Requests"> </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-box das6Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">18</div>
                        </div>
                        <div class="total-inner">
                            Still Under<br /> Inspection
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-3.svg" alt="Inspection Completed"> </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-box das7Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">15</div>
                        </div>
                        <div class="total-inner">
                            Stage<br /> Rejection
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-2.svg" alt="Inspection Assigned"> </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-box das8Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">02</div>
                        </div>
                        <div class="total-inner">
                            DSC Expiry<br /> Date
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/request-cancel.svg" alt="Request Cancel"> </div>
                </div>
            </div>
        </div>
        <div class="row ie-dashboard">
            <div class="col-lg-3">
                <div class="dashboard-box das9Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">35</div>
                            <div class="total-inner">
                                Total Number of NC<br /> Isued against IE
                            </div>
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-1.svg" alt="Inspection Requests"> </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-box das10Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">18</div>
                        </div>
                        <div class="total-inner">
                            Outstanding NC in the <br />current financial year
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-3.svg" alt="Inspection Completed"> </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-box das11Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">15</div>
                        </div>
                        <div class="total-inner">
                            IC issued by IE but<br /> not recieved in office
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/dash-icon-2.svg" alt="Inspection Assigned"> </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="dashboard-box das12Client">
                    <div class="dash-total">
                        <div class="dash-count">
                            <div class="total-amount">02</div>
                        </div>
                        <div class="total-inner">
                            Total Consignee<br /> Compaint
                        </div>
                    </div>
                    <div class="total-icons"><img src="~/images/request-cancel.svg" alt="Request Cancel"> </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<section>
    <div class="graph-section iePieGraphGrid">
    <div class="row my-0">
        <div class="col-lg-6">
            
                <div class="invoice">
                    <h3 class="headingh3">Complaint</h3>
                </div>
                <div class="graph">
                    <div id="complaintPieChart"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="invoice">
                    <h3 class="headingh3">Complaint Status</h3>
                </div>
                <table class="borderGrid">
                    <tr>
                        <th class="textLeft">Status</th>
                        <th class="text-center">Complaints</th>
                    </tr>
                    <tr>
                        <td class="textLeft">Deleted</td>
                        <td class="text-center">2</td>
                    </tr>
                    <tr>
                        <td class ="textLeft">Pending</td>
                        <td class="text-center">12</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Accepted</td>
                        <td class="text-center">25</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Upheld</td>
                        <td class="text-center">5</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Sorting</td>
                        <td class="text-center">2</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Rectification</td>
                        <td class="text-center">4</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Price Reduction</td>
                        <td class="text-center">8</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Lifted Before JI</td>
                        <td class="text-center">3</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Transit Damange</td>
                        <td class="text-center">2</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Unstamped</td>
                        <td class="text-center">1</td>
                    </tr>
                    <tr>
                        <td class="textLeft">Not on Rites A/C</td>
                        <td class="text-center">3</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

    




    @*<section>
        <div class="row">
            <div class="col-lg-8">
                <div class="graph-section">
                    <div class="invoice">
                        <h3 class="headingh3">Requests</h3>

                        <div class="datefrom">

                            <select class="dateSelect">
                                <option>Date</option>
                            </select>
                        </div>
                    </div>
                    <div class="graph">
                        <div id="monthlychart"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="boxRadius inlineCalendar">
                    <div class="invoice">
                        <h3 class="headingh3">Calendar</h3>

                        <div class="datefrom">

                            <select class="dateSelect">
                                <option>Date</option>
                            </select>

                        </div>
                    </div>
                <div class="datepickerInline">
                    </div>
                    <div><hr></div>
                    <div class="dateLabel">
                        <div class="roundNumber inspect1">07</div> <span>Inspection at Mahabaleshwar, for Building material</span>
                    </div>
                    <div class="dateLabel">
                        <div class="roundNumber inspect2">07</div> <span>Inspection at Mahabaleshwar, for Building material</span>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

<section class="table-section iePieGraphGrid">
        <div class="table-title">
        <h3 class="headingh3">
            INSTRUCTIONS FOR IE
        </h3>
        </div>


    <table class="borderGrid">
        <tr>
            <th>Message ID</th>
            <th>Message Dt</th>
            <th>Message</th>
            <th>Letter No.</th>
            <th>Letter Date</th>
        </tr>
        <tr>
            <td>380</td>
            <td>13/07/2022</td>
            <td>SIGNING OF DOCUMENTS DURING INSPECTION</td>
            <td>RITES/RMI/06/IE INST NO. 331</td>
            <td>07-07-2022</td>
        </tr>
        <tr>
            <td>379</td>
            <td>13/07/2022</td>
            <td>ASSESSMENT OF IEs AFTER COMPLETING OF INDUCTION TRAINING</td>
            <td>RITES/RMI/06/IE INST NO. 330</td>
            <td>07-04-2022</td>
        </tr>
        <tr>
            <td>378</td>
            <td>13/07/2022</td>
            <td>PROCEDURAL LAPSES OBSERVED DURING PREVENTIVE CHECK BY VIGILANCE</td>
            <td>RITES/RMI/06/IE INST NO. 329</td>
            <td>30/05/2022</td>
        </tr>
        <tr>
            <td>377</td>
            <td>16/03/2022</td>
            <td>VERIFICATION OF MODIFICATION ADVICE (MA) BY INSPECTING ENGINEERS</td>
            <td>RITES/RMI/06/IE INST NO. 328</td>
            <td>16/03/2022</td>
        </tr>
        <tr>
            <td>376</td>
            <td>02-01-2022</td>
            <td>INSPECTION OF &quot;CABLE HARNESS OF UNDER FRAME &amp; ROOF ARR FOR LHB AC EOG 2-TIER COACHES&quot; AS PER SPEC EDTS252,REV-J</td>
            <td>RITES/RMI/06/IE INST NO. 327</td>
            <td>31/01/2021</td>
        </tr>
        <tr>
            <td>375</td>
            <td>23/11/2021</td>
            <td>PREVENTIVE MEASURES TO BE TAKEN DURING INSPECTION OF AUSTENITIC STAINLESS STEEL ITEMS</td>
            <td>RITES/RMI/06/IE INST NO. 326</td>
            <td>22/11/2021</td>
        </tr>
        <tr>
            <td>365</td>
            <td>21/01/2021</td>
            <td>SYSTEM IMPROVEMENT FOR INSPECTION</td>
            <td>RITES/RMI/06/IE INST NO. 316</td>
            <td>14/01/2021</td>
        </tr>
        <tr>
            <td>373</td>
            <td>21/09/2021</td>
            <td>TESTING OF CONDUCTOR RESISTANCE FOR XLPE/PVC CABLES</td>
            <td>RITES/RMI/06/IE INST NO. 325</td>
            <td>21/09/2021</td>
        </tr>
        <tr>
            <td>374</td>
            <td>21/09/2021</td>
            <td>TESTING OF CONDUCTOR RESISTANCE FOR XLPE/PVC CABLES</td>
            <td>RITES/RMI/06/IE INST NO. 325</td>
            <td>21/09/2021</td>
        </tr>
        <tr>
            <td>372</td>
            <td>21/09/2021</td>
            <td>STRICT COMPLIANCE OF INSPECTION PROCEDURES TO REDUCE CONSIGNEE COMPLAINTS</td>
            <td>RITES/RMI/06/IE INST NO. 324</td>
            <td>21/09/2021</td>
        </tr>
        <tr>
            <td>371</td>
            <td>21/09/2021</td>
            <td>NO. OF SAMPLES FOR DESTRUCTIVE TESTING IF HEAT OR CAST DETAILS ARE NOT AVAILABLE OR RELEVANT</td>
            <td>RITES/RMI/06/IE INST NO. 323</td>
            <td>20/09/2021</td>
        </tr>
        <tr>
            <td>370</td>
            <td>08-10-2021</td>
            <td>TESTING OF CONDUCTOR RESISTANCE FOR XLPE/PVC CABLES</td>
            <td>RITES/RMI/06/IE INST NO. 321</td>
            <td>08-10-2021</td>
        </tr>
        <tr>
            <td>369</td>
            <td>23/06/2021</td>
            <td>SYSTEM IMPROVEMENT FOR INSPECTION - REGARDING BILLING</td>
            <td>RITES/RMI/06/IE INST NO. 320</td>
            <td>22/06/2021</td>
        </tr>
        <tr>
            <td>368</td>
            <td>06-08-2021</td>
            <td>UTILIZATION OF CALIBRATOR BOX ISSUED FROM OFFICE</td>
            <td>RITES/RMI/06/IE INST NO. 319</td>
            <td>06-08-2021</td>
        </tr>
    </table>
    
    </section>
<section class="table-section iePieGraphGrid">
    <div class="table-title">
        <h3 class="headingh3">
            Pending Calls
        </h3>
    </div>


    <table class="borderGrid">
        <tr>
            <th>Sr. No.</th>
            <th>Case no.</th>
            <th>Call Date</th>
            <th>Call Sr. no.</th>
            <th>Inspection Desired Date</th>
            <th>Client</th>
            <th>Vendor</th>
            <th>Contact Person</th>
            <th>Contact No.</th>
        </tr>
        <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    </section>


       @* <div class="dash-table">
            <table class="table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Sr. No</th>
                        <th scope="col">Date</th>
                        <th scope="col">Req. No.</th>
                        <th scope="col">Client</th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Work Type</th>
                        <th scope="col">Inspection<br> Due Date</th>
                        <th scope="col">Contact<br> Person</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td>20-07-2023</td>
                        <td>#3123</td>
                        <td>S.G.Mandalik</td>
                        <td>Rajat Co. Ltd.</td>
                        <td>Railway bridge material testing</td>
                        <td>10/12/2023</td>
                        <td class="action center"><a href="#"><span class="fa fa-eye"></span></a></td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>20-07-2023</td>
                        <td>#3812</td>
                        <td>Pawar R.V. &amp; Ors.</td>
                        <td>Milan Facbrication</td>
                        <td>Building Material Testing</td>
                        <td>10/12/2023</td>
                        <td class="action center"><a href="#"><span class="fa fa-eye"></span></a></td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>20-07-2023</td>
                        <td>#58014</td>
                        <td>Marco Co. Ltd.</td>
                        <td>India Con. Ltd.</td>
                        <td>Furniture Material Testing</td>
                        <td>10/12/2023</td>
                        <td class="action center"><a href="#"><span class="fa fa-eye"></span></a></td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td>20-07-2023</td>
                        <td>#2154</td>
                        <td>Ajit Mfg. Pvt. Ltd</td>
                        <td>Rajendra Co. Ltd.</td>
                        <td>Metal Lab Testing</td>
                        <td>10/12/2023</td>
                        <td class="action center"><a href="#"><span class="fa fa-eye"></span></a></td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>20-07-2023</td>
                        <td>#4587</td>
                        <td>Hares &amp; Co.</td>
                        <td>Nitesh Machines</td>
                        <td>Railway bridge material testing</td>
                        <td>10/12/2023</td>
                        <td class="action center"><a href="#"><span class="fa fa-eye"></span></a></td>
                    </tr>
                </tbody>
            </table>
        </div>*@

    
@section scripts{
@*<script>
    Highcharts.chart('monthlychart', {
        colors: ['#815FE5', '#079871', '#1962C1'],
        chart: {
            type: 'spline'
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Number of Requests'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:14px">{point.key}</span><table style="border:none; margin:0;"><tr>',
            pointFormat: '<td style="color:{series.color};padding:5px; font-size:14px; text-align:center; border:none;">{point.y:.1f} Lac' +
                '<span style="display:block; color:#000; font-size:11px;">{series.name}</span></td>',
            footerFormat: '</tr></table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            spline: {
                lineWidth: 2,
                states: {
                    hover: {
                        lineWidth: 4
                    }
                },
                marker: {
                    enabled: false
                },
            }
        },
        exporting: {
            enabled: false
        },
        series: [{
            name: 'Total Requests',
            data: [5, 10, 5, 20, 10, 15, 20, 10, 15, 20, 10, 5]
        }, {
            name: 'Completed',
            data: [10, 15, 10, 20, 35, 20, 10, 35, 25, 35, 10, 35]
        }, {
            name: 'Pending',
            data: [20, 10, 30, 10, 15, 20, 30, 10, 20, 30, 20, 15]

        }]
    });

</script>*@
<script>
        Highcharts.chart('complaintPieChart', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '',
                align: 'left'
            },
            tooltip: {
                pointFormat: '{name}'
            },
            tooltip: {
                valueSuffix: ''
            },
            filter: {
                operator: '>',
                property: 'percentage',
                value: 10
            },
            plotOptions: {
                pie: {
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                //name: 'Brands',
                colorByPoint: true,
                data: [{
                    name: 'Deleted',
                    y: 2.0,
                    sliced: false,
                    selected: false
                }, {
                    name: 'Pending',
                    y: 12.0
                }, {
                    name: 'Accepted',
                    y: 25.0
                }, {
                    name: 'Upheld',
                    y: 5.0
                }, {
                    name: 'Sorting',
                    y: 2.0
                }, {
                    name: 'Rectification',
                    y: 4.0
                }, {
                    name: 'Price Reduction',
                    y: 8.0
                }, {
                    name: 'Lifted Before JI',
                    y: 3.0
                }, {
                    name: 'Transit Damange',
                    y: 2.0
                }, {
                    name: 'Unstamped',
                    y: 1.0
                }, {
                    name: 'Not on Rites A/C',
                    y: 3.0
                }]                                      
            }]
        });

</script>

}