@{
    ViewData["Title"] = "MA SUBMITTED BY VENDORS AWAITING FOR APPROVAL";
}

<div>
    <div class="list-inner">
        <div class="tast-list">
            <h2>MA SUBMITTED BY VENDORS AWAITING FOR APPROVAL List</h2>
        </div>
        @*<div class="list-btn">
        <a asp-area="" asp-controller="UserAdministrator" asp-action="UserManage" class="formBtn"> Add New User</a>
        </div>*@
    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtUser" class="table-responsive nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Case Number</th>
                            <th>PO No.</th>
                            <th>PO Date</th>
                            <th>MA No.</th>
                            <th>MA Date</th>
                            <th>Agency</th>
                            <th>MA Description</th>
                            <th>Original PO Entry</th>
                            <th>Amended PO Entry</th>
                            <th>View MA</th>
                            <th>Status</th>
                            <th>Source</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@section scripts{

    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            InitializeDatatable();
        });

        function InitializeDatatable() {

            $("#dtUser").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
              //  scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "CaseNo" },
                    { data: "PoNo" },
                    {
                        data: "PoDt",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD-MM-YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "MaNo" },
                    {
                        data: "MaDt",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD-MM-YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "RlyCd" },
                    { data: "MaDesc" },
                    { data: "OldPoValue" },
                    { data: "NewPoValue" },
                    { data: "MADoc" },
                    { data: "MaStatus" },
                    { data: "PoSrc" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var CaseNo = data.CaseNo;
                            var MaNo = data.MaNo;
                            var MaDtc = data.MaDtc;
                            var MaSno = data.MaSno;
                            var editUrl = '@Url.Action("Manage", "MAapprove")?CaseNo=' + CaseNo + "&MaNo=" + MaNo + "&MaDtc=" + MaDtc + "&MaSno=" + MaSno;
                            var html = '<div align=\"center\" class=\"reportIcon\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil Permission_EditView\" title="Edit"></i></a>';
                            html += '</div>';
                            return html;
                        }
                    },
                    //{ data: "MaStatus" },
                ],
                "order": [[0, "asc"]],
                "initComplete": function (settings, json) {
                    $("#dtUser").wrap("<div style='overflow:auto; width:100%;position:relative;'></div>");
                },
            });
        }

    </script>
}