@{
    ViewData["Title"] = "QA Vidoes Eletrical";
}

<div class="list-inner landLordIdflex">
    <div class="tast-list">
        <h2>QA Video Eletrical</h2>
    </div>
    @*<a asp-action="Index" asp-controller="TransactionQAVideos" class="formBtn viewall-btn">View All</a>*@
</div>
<div class="custom-tab">
    <ul class="nav nav-tabs d-none d-lg-flex" id="myTab" role="tablist">
        <li class="nav-item" role="presentation" style="pointer-events: unset;">
            <button class="nav-link active" id="tab-1-tab" data-bs-toggle="tab" data-bs-target="#tab-1" type="button" role="tab" aria-controls="tab-1" aria-selected="true">Inspection of High Drawn Grooved Copper Contact wire 107sq.mm</button>
        </li>
        <li class="nav-item" role="presentation" style="pointer-events: none;">
            <button class="nav-link" id="tab-2-tab" data-bs-toggle="tab" data-bs-target="#tab-2" type="button" role="tab" aria-controls="tab-2" aria-selected="false">About the working principle and construction features of Distribution Transformers.</button>
        </li>
        <li class="nav-item" role="presentation" style="pointer-events: none;">
            <button class="nav-link" id="tab-3-tab" data-bs-toggle="tab" data-bs-target="#tab-3" type="button" role="tab" aria-controls="tab-3" aria-selected="false">Acceptance testing process of Brushless DC Railway carriage (sensor less)</button>
        </li>
        <li class="nav-item" role="presentation" style="pointer-events: none;">
            <button class="nav-link" id="tab-4-tab" data-bs-toggle="tab" data-bs-target="#tab-4" type="button" role="tab" aria-controls="tab-4" aria-selected="false">LED LIGHT FITTING TYPE-B1 (9W) - NON AC Rail Coaches of Conventional  and LHB Types</button>
        </li>
        <li class="nav-item" role="presentation" style="pointer-events: none;">
            <button class="nav-link" id="tab-5-tab" data-bs-toggle="tab" data-bs-target="#tab-5" type="button" role="tab" aria-controls="tab-5" aria-selected="false">Manufacturing and Inspection of Armature Shaft(Traction Motor )</button>
        </li>
        <li class="nav-item" role="presentation" style="pointer-events: none;">
            <button class="nav-link" id="tab-6-tab" data-bs-toggle="tab" data-bs-target="#tab-6" type="button" role="tab" aria-controls="tab-6" aria-selected="false">Railway Electrical Traction catenary Wire testing</button>
        </li>
        <li class="nav-item" role="presentation" style="pointer-events: none;">
            <button class="nav-link" id="tab-7-tab" data-bs-toggle="tab" data-bs-target="#tab-7" type="button" role="tab" aria-controls="tab-7" aria-selected="false">Testing procedure of XLPE Cables -NR</button>
        </li>
        <li class="nav-item" role="presentation" style="pointer-events: none;">
            <button class="nav-link" id="tab-8-tab" data-bs-toggle="tab" data-bs-target="#tab-8" type="button" role="tab" aria-controls="tab-8" aria-selected="false">Inspection - Railway Traction Insulator</button>
        </li>
        <li class="nav-item" role="presentation" style="pointer-events: none;">
            <button class="nav-link" id="tab-9-tab" data-bs-toggle="tab" data-bs-target="#tab-9" type="button" role="tab" aria-controls="tab-9" aria-selected="false">Inspection electrical items</button>
        </li>
        <li class="nav-item" role="presentation" style="pointer-events: none;">
            <button class="nav-link" id="tab-10-tab" data-bs-toggle="tab" data-bs-target="#tab-10" type="button" role="tab" aria-controls="tab-10" aria-selected="false">Transformer Oil cooler inspection</button>
        </li>
        <li class="nav-item" role="presentation" style="pointer-events: none;">
            <button class="nav-link" id="tab-11-tab" data-bs-toggle="tab" data-bs-target="#tab-11" type="button" role="tab" aria-controls="tab-11" aria-selected="false">Vacuum circuit breaker and interrupter</button>
        </li>
        <li class="nav-item" role="presentation" style="pointer-events: none;">
            <button class="nav-link" id="tab-12-tab" data-bs-toggle="tab" data-bs-target="#tab-12" type="button" role="tab" aria-controls="tab-12" aria-selected="false">VRLA battery Testing & Inspection</button>
        </li>
        <li class="nav-item" role="presentation" style="pointer-events: none;">
            <button class="nav-link" id="tab-13-tab" data-bs-toggle="tab" data-bs-target="#tab-13" type="button" role="tab" aria-controls="tab-13" aria-selected="false">Constructional Features, Testing and Inspection of EBeam Cable</button>
        </li>
        <li class="nav-item" role="presentation" style="pointer-events: none;">
            <button class="nav-link" id="tab-14-tab" data-bs-toggle="tab" data-bs-target="#tab-14" type="button" role="tab" aria-controls="tab-14" aria-selected="false">BEE DOMESTIC Appliances Energy rating</button>
        </li>
        <li class="nav-item" role="presentation" style="pointer-events: none;">
            <button class="nav-link" id="tab-15-tab" data-bs-toggle="tab" data-bs-target="#tab-15" type="button" role="tab" aria-controls="tab-15" aria-selected="false">BEE ENERGY RATING industrial appliances</button>
        </li>
        <li class="nav-item" role="presentation" style="pointer-events: none;">
            <button class="nav-link" id="tab-16-tab" data-bs-toggle="tab" data-bs-target="#tab-16" type="button" role="tab" aria-controls="tab-16" aria-selected="false">Electrical Cable Construction, Inspection  and testing methods</button>
        </li>
        <li class="nav-item" role="presentation" style="pointer-events: none;">
            <button class="nav-link" id="tab-17-tab" data-bs-toggle="tab" data-bs-target="#tab-17" type="button" role="tab" aria-controls="tab-17" aria-selected="false">About the construction features of VRLA Batteries used in PASSENGER COACHES OF INDIAN RAILWAYS</button>
        </li>
    </ul>

    <div class="tab-content accordion" id="myTabContent">
        <!-- Inspection of High Drawn Grooved Copper Contact wire 107sq.mm -->
        <div class="tab-pane fade show active accordion-item" id="tab-1" role="tabpanel" aria-labelledby="tab-1" tabindex="0">
            <h2 class="accordion-header d-lg-none" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Inspection of High Drawn Grooved Copper Contact wire 107sq.mm</button>
            </h2>
            <div class="accordion-body">
                <div class="tast-list">
                    <h4>Inspection of High Drawn Grooved Copper Contact wire 107sq.mm</h4>
                </div>
                <td style="WIDTH: 675px">
                    <VIDEO WIDTH="540" HEIGHT="310" CONTROLS controlsList="nodownload">
                        <SOURCE SRC="/Videos/V4.mp4" TYPE="VIDEO/MP4" />
                    </VIDEO>
                </td>
            </div>
            <div id="collapseOne" class="accordion-collapse collapse show  d-lg-block" aria-labelledby="headingOne" data-bs-parent="#myTabContent">
            </div>
        </div>
        <!-- About the working principle and construction features of Distribution Transformers. -->
        <div class="tab-pane fade accordion-item" id="tab-2" role="tabpanel" aria-labelledby="tab-2" tabindex="0">
            <h2 class="accordion-header d-lg-none" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> About the working principle and construction features of Distribution Transformers. </button>
            </h2>
            <div class="accordion-body">
                <div class="tast-list">
                    <h4>About the working principle and construction features of Distribution Transformers.</h4>
                </div>
                <td style="WIDTH: 675px">
                    <VIDEO WIDTH="540" HEIGHT="310" CONTROLS controlsList="nodownload">
                        <SOURCE SRC="/Videos/V10.mp4" TYPE="VIDEO/MP4" />
                    </VIDEO>
                </td>
            </div>
            <div id="collapseTwo" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingTwo" data-bs-parent="#myTabContent">
            </div>
        </div>
        <!-- Acceptance testing process of Brushless DC Railway carriage (sensor less) -->
        <div class="tab-pane fade accordion-item" id="tab-3" role="tabpanel" aria-labelledby="tab-3" tabindex="0">
            <h2 class="accordion-header d-lg-none" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Acceptance testing process of Brushless DC Railway carriage (sensor less) </button>
            </h2>
            <div class="accordion-body">
                <div class="tast-list">
                    <h4>Acceptance testing process of Brushless DC Railway carriage (sensor less)</h4>
                </div>
                <td style="WIDTH: 675px">
                    <VIDEO WIDTH="540" HEIGHT="310" CONTROLS controlsList="nodownload">
                        <SOURCE SRC="/Videos/V12.mp4" TYPE="VIDEO/MP4" />
                    </VIDEO>
                </td>
            </div>
        </div>
        <!-- LED LIGHT FITTING TYPE-B1 (9W) - NON AC Rail Coaches of Conventional  and LHB Types -->
        <div class="tab-pane fade accordion-item" id="tab-4" role="tabpanel" aria-labelledby="tab-4" tabindex="0">
            <h2 class="accordion-header d-lg-none" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> LED LIGHT FITTING TYPE-B1 (9W) - NON AC Rail Coaches of Conventional  and LHB Types </button>
            </h2>
            <div class="accordion-body">
                <div class="tast-list">
                    <h4>LED LIGHT FITTING TYPE-B1 (9W) - NON AC Rail Coaches of Conventional  and LHB Types</h4>
                </div>
                <td style="WIDTH: 675px">
                    <VIDEO WIDTH="540" HEIGHT="310" CONTROLS controlsList="nodownload">
                        <SOURCE SRC="/Videos/V22.mp4" TYPE="VIDEO/MP4" />
                    </VIDEO>
                </td>
            </div>
            <div id="collapseFour" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingFour" data-bs-parent="#myTabContent">
            </div>
        </div>
        <!-- Manufacturing and Inspection of Armature Shaft(Traction Motor ) -->
        <div class="tab-pane fade accordion-item" id="tab-5" role="tabpanel" aria-labelledby="tab-5" tabindex="0">
            <h2 class="accordion-header d-lg-none" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> Manufacturing and Inspection of Armature Shaft(Traction Motor ) </button>
            </h2>
            <div class="accordion-body">
                <div class="tast-list">
                    <h4>Manufacturing and Inspection of Armature Shaft(Traction Motor )</h4>
                </div>
                <td style="WIDTH: 675px">
                    <VIDEO WIDTH="540" HEIGHT="310" CONTROLS controlsList="nodownload">
                        <SOURCE SRC="/Videos/V24.mp4" TYPE="VIDEO/MP4" />
                    </VIDEO>
                </td>
            </div>
            <div id="collapseFive" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingFive" data-bs-parent="#myTabContent">
            </div>
        </div>
        <!-- Railway Electrical Traction catenary Wire testing -->
        <div class="tab-pane fade accordion-item" id="tab-6" role="tabpanel" aria-labelledby="tab-6" tabindex="0">
            <h2 class="accordion-header d-lg-none" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"> Railway Electrical Traction catenary Wire testing</button>
            </h2>
            <div class="accordion-body">
                <div class="tast-list">
                    <h4>Railway Electrical Traction catenary Wire testing</h4>
                </div>
                <td style="WIDTH: 675px">
                    <VIDEO WIDTH="540" HEIGHT="310" CONTROLS controlsList="nodownload">
                        <SOURCE SRC="/Videos/V33.mp4" TYPE="VIDEO/MP4" />
                    </VIDEO>
                </td>
            </div>
            <div id="collapseSix" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingSix" data-bs-parent="#myTabContent">
            </div>
        </div>
        <!-- Testing procedure of XLPE Cables -NR -->
        <div class="tab-pane fade accordion-item" id="tab-7" role="tabpanel" aria-labelledby="tab-7" tabindex="0">
            <h2 class="accordion-header d-lg-none" id="headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"> Testing procedure of XLPE Cables -NR </button>
            </h2>
            <div class="accordion-body">
                <div class="tast-list">
                    <h4>Testing procedure of XLPE Cables -NR</h4>
                </div>
                <td style="WIDTH: 675px">
                    <VIDEO WIDTH="540" HEIGHT="310" CONTROLS controlsList="nodownload">
                        <SOURCE SRC="/Videos/V43.mp4" TYPE="VIDEO/MP4" />
                    </VIDEO>
                </td>
            </div>
            <div id="collapseSeven" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingSeven" data-bs-parent="#myTabContent">
            </div>
        </div>
        <!-- Inspection - Railway Traction Insulator -->
        <div class="tab-pane fade accordion-item" id="tab-8" role="tabpanel" aria-labelledby="tab-8" tabindex="0">
            <h2 class="accordion-header d-lg-none" id="headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight"> Inspection - Railway Traction Insulator </button>
            </h2>
            <div class="accordion-body">
                <div class="tast-list">
                    <h4>Inspection - Railway Traction Insulator</h4>
                </div>
                <td style="WIDTH: 675px">
                    <VIDEO WIDTH="540" HEIGHT="310" CONTROLS controlsList="nodownload">
                        <SOURCE SRC="/Videos/V48.mp4" TYPE="VIDEO/MP4" />
                    </VIDEO>
                </td>
            </div>
            <div id="collapseEight" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingEight" data-bs-parent="#myTabContent">
            </div>
        </div>
        <!-- Inspection electrical items -->
        <div class="tab-pane fade accordion-item" id="tab-9" role="tabpanel" aria-labelledby="tab-9" tabindex="0">
            <h2 class="accordion-header d-lg-none" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Inspection electrical items </button>
            </h2>
            <div class="accordion-body">
                <div class="tast-list">
                    <h4>Inspection electrical items</h4>
                </div>
                <td style="WIDTH: 675px">
                    <VIDEO WIDTH="540" HEIGHT="310" CONTROLS controlsList="nodownload">
                        <SOURCE SRC="/Videos/V51.mp4" TYPE="VIDEO/MP4" />
                    </VIDEO>
                </td>
            </div>
            <div id="collapseTwo" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingTwo" data-bs-parent="#myTabContent">
            </div>
        </div>
        <!-- Transformer Oil cooler inspection -->
        <div class="tab-pane fade accordion-item" id="tab-10" role="tabpanel" aria-labelledby="tab-10" tabindex="0">
            <h2 class="accordion-header d-lg-none" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Transformer Oil cooler inspection </button>
            </h2>
            <div class="accordion-body">
                <div class="tast-list">
                    <h4>Transformer Oil cooler inspection</h4>
                </div>
                <td style="WIDTH: 675px">
                    <VIDEO WIDTH="540" HEIGHT="310" CONTROLS controlsList="nodownload">
                        <SOURCE SRC="/Videos/V57.mp4" TYPE="VIDEO/MP4" />
                    </VIDEO>
                </td>
            </div>
            <div id="collapseTwo" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingTwo" data-bs-parent="#myTabContent">
            </div>
        </div>
        <!-- Vacuum circuit breaker and interrupter -->
        <div class="tab-pane fade accordion-item" id="tab-11" role="tabpanel" aria-labelledby="tab-11" tabindex="0">
            <h2 class="accordion-header d-lg-none" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Vacuum circuit breaker and interrupter </button>
            </h2>
            <div class="accordion-body">
                <div class="tast-list">
                    <h4>Vacuum circuit breaker and interrupter</h4>
                </div>
                <td style="WIDTH: 675px">
                    <VIDEO WIDTH="540" HEIGHT="310" CONTROLS controlsList="nodownload">
                        <SOURCE SRC="/Videos/V61.mp4" TYPE="VIDEO/MP4" />
                    </VIDEO>
                </td>
            </div>
            <div id="collapseTwo" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingTwo" data-bs-parent="#myTabContent">
            </div>
        </div>
        <!-- VRLA battery Testing & Inspection -->
        <div class="tab-pane fade accordion-item" id="tab-12" role="tabpanel" aria-labelledby="tab-12" tabindex="0">
            <h2 class="accordion-header d-lg-none" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> VRLA battery Testing & Inspection </button>
            </h2>
            <div class="accordion-body">
                <div class="tast-list">
                    <h4>VRLA battery Testing & Inspection</h4>
                </div>
                <td style="WIDTH: 675px">
                    <VIDEO WIDTH="540" HEIGHT="310" CONTROLS controlsList="nodownload">
                        <SOURCE SRC="/Videos/V63.mp4" TYPE="VIDEO/MP4" />
                    </VIDEO>
                </td>
            </div>
            <div id="collapseTwo" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingTwo" data-bs-parent="#myTabContent">
            </div>
        </div>
        <!-- Constructional Features, Testing and Inspection of EBeam Cable -->
        <div class="tab-pane fade accordion-item" id="tab-13" role="tabpanel" aria-labelledby="tab-13" tabindex="0">
            <h2 class="accordion-header d-lg-none" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Constructional Features, Testing and Inspection of EBeam Cable </button>
            </h2>
            <div class="accordion-body">
                <div class="tast-list">
                    <h4>Constructional Features, Testing and Inspection of EBeam Cable</h4>
                </div>
                <td style="WIDTH: 675px">
                    <VIDEO WIDTH="540" HEIGHT="310" CONTROLS controlsList="nodownload">
                        <SOURCE SRC="/Videos/V73.mp4" TYPE="VIDEO/MP4" />
                    </VIDEO>
                </td>
            </div>
            <div id="collapseTwo" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingTwo" data-bs-parent="#myTabContent">
            </div>
        </div>
        <!-- BEE DOMESTIC Appliances Energy rating -->
        <div class="tab-pane fade accordion-item" id="tab-14" role="tabpanel" aria-labelledby="tab-14" tabindex="0">
            <h2 class="accordion-header d-lg-none" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> BEE DOMESTIC Appliances Energy rating </button>
            </h2>
            <div class="accordion-body">
                <div class="tast-list">
                    <h4>BEE DOMESTIC Appliances Energy rating</h4>
                </div>
                <td style="WIDTH: 675px">
                    <VIDEO WIDTH="540" HEIGHT="310" CONTROLS controlsList="nodownload">
                        <SOURCE SRC="/Videos/V74.mp4" TYPE="VIDEO/MP4" />
                    </VIDEO>
                </td>
            </div>
            <div id="collapseTwo" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingTwo" data-bs-parent="#myTabContent">
            </div>
        </div>
        <!-- BEE ENERGY RATING industrial appliances -->
        <div class="tab-pane fade accordion-item" id="tab-15" role="tabpanel" aria-labelledby="tab-15" tabindex="0">
            <h2 class="accordion-header d-lg-none" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> BEE ENERGY RATING industrial appliances </button>
            </h2>
            <div class="accordion-body">
                <div class="tast-list">
                    <h4>BEE ENERGY RATING industrial appliances</h4>
                </div>
                <td style="WIDTH: 675px">
                    <VIDEO WIDTH="540" HEIGHT="310" CONTROLS controlsList="nodownload">
                        <SOURCE SRC="/Videos/V75.mp4" TYPE="VIDEO/MP4" />
                    </VIDEO>
                </td>
            </div>
            <div id="collapseTwo" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingTwo" data-bs-parent="#myTabContent">
            </div>
        </div>
        <!-- Electrical Cable Construction, Inspection  and testing methods -->
        <div class="tab-pane fade accordion-item" id="tab-16" role="tabpanel" aria-labelledby="tab-16" tabindex="0">
            <h2 class="accordion-header d-lg-none" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Electrical Cable Construction, Inspection  and testing methods </button>
            </h2>
            <div class="accordion-body">
                <div class="tast-list">
                    <h4>Electrical Cable Construction, Inspection  and testing methods</h4>
                </div>
                <td style="WIDTH: 675px">
                    <VIDEO WIDTH="540" HEIGHT="310" CONTROLS controlsList="nodownload">
                        <SOURCE SRC="/Videos/V82.mp4" TYPE="VIDEO/MP4" />
                    </VIDEO>
                </td>
            </div>
            <div id="collapseTwo" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingTwo" data-bs-parent="#myTabContent">
            </div>
        </div>
        <!-- About the construction features of VRLA Batteries used in PASSENGER COACHES OF INDIAN RAILWAYS-->
        <div class="tab-pane fade accordion-item" id="tab-17" role="tabpanel" aria-labelledby="tab-17" tabindex="0">
            <h2 class="accordion-header d-lg-none" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> About the construction features of VRLA Batteries used in PASSENGER COACHES OF INDIAN RAILWAYS </button>
            </h2>
            <div class="accordion-body">
                <div class="tast-list">
                    <h4>About the construction features of VRLA Batteries used in PASSENGER COACHES OF INDIAN RAILWAYS</h4>
                </div>
                <td style="WIDTH: 675px">
                    <VIDEO WIDTH="540" HEIGHT="310" CONTROLS controlsList="nodownload">
                        <SOURCE SRC="/Videos/V9.mp4" TYPE="VIDEO/MP4" />
                    </VIDEO>
                </td>
            </div>
            <div id="collapseTwo" class="accordion-collapse collapse d-lg-block" aria-labelledby="headingTwo" data-bs-parent="#myTabContent">
            </div>
        </div>
    </div>
</div>


@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#tab-1-tab").css("pointer-events", "all");
            $("#tab-2-tab").css("pointer-events", "all");
            $("#tab-3-tab").css("pointer-events", "all");
            $("#tab-4-tab").css("pointer-events", "all");
            $("#tab-5-tab").css("pointer-events", "all");
            $("#tab-6-tab").css("pointer-events", "all");
            $("#tab-7-tab").css("pointer-events", "all");
            $("#tab-8-tab").css("pointer-events", "all");
            $("#tab-9-tab").css("pointer-events", "all");
            $("#tab-10-tab").css("pointer-events", "all");
            $("#tab-11-tab").css("pointer-events", "all");
            $("#tab-12-tab").css("pointer-events", "all");
            $("#tab-13-tab").css("pointer-events", "all");
            $("#tab-14-tab").css("pointer-events", "all");
            $("#tab-15-tab").css("pointer-events", "all");
            $("#tab-16-tab").css("pointer-events", "all");
            $("#tab-17-tab").css("pointer-events", "all");
        });
    </script>
}
