@model IBS.Models.VendorCallsForSpecificPOReportModel
@{
    ViewData["Title"] = "CALL DETAILS FOR SPECIFIC PO REPORT";
}

<form data-ajax="true" asp-antiforgery="true" asp-controller="VendorCallsMarkedForSpecificPO" asp-action="DetailsSave" data-ajax-method="post" data-ajax-complete="completed" id="frmDetails">
    <div class="list-inner">
        <div class="tast-list">
            <h2 style="color:#2b368b">CALL DETAILS FOR SPECIFIC PO REPORT</h2>
            <br />
            <h5 style="color:cornflowerblue">Report Sorted on Call Date (Descending)</h5>
        </div>

        <input type="hidden" asp-for="L5NoPo" />
        <input type="hidden" asp-for="PoDt" />
        <input type="hidden" asp-for="RlyNorly" />
        <input type="hidden" asp-for="RlyCd" />

        <div class="savenext-btn">
            <a asp-controller="VendorCallsMarkedForSpecificPO" asp-route-type="C" asp-action="Index" class="reset-btn">Back</a>
        </div>
    </div>
    
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtList" class="table-responsive">
                    <thead>
                        <tr>
                            <th>SNO</th>
                            <th>VENDOR NAME</th>
                            <th>PURCHASER</th>
                            <th>ITEM</th>
                            <th>CALL DATE</th>
                            <th>ENGINEER DEPUTED</th>
                            <th>ENGINEER CONTACT NO.</th>
                            <th>PONO</th>
                            <th>PO DATE</th>
                            <th>CASE NO</th>
                            <th>STATUS</th>
                            <th>HOLOGRAM OR OTHER</th>
                            <th>VIEW IC</th>
                            <th>CONTACT PERSON</th>
                            <th>CONTACT PERSON PHONE NO.</th>
                            <th>CALL SERIAL NO.</th>
                            <th>CONTROLLING MANAGER</th>
                            <th>REMARKS</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</form>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" />
    <style>
        #dtList td {
            word-wrap: anywhere;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            InitializeDatatable();
        });

        function InitializeDatatable() {
            var L5NoPo = $("#L5NoPo").val();
            var PoDt = $("#PoDt").val();
            var RlyNorly = $("#RlyNorly").val();
            var RlyCd = $("#RlyCd").val();

            $("#dtList").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                dom: 'Blfrtip',
                //buttons: [
                //    'csv', 'excel', 'pdf', 'print'
                //],
                buttons: [
                    'csv', 'excel', 'print'
                ],
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTableReportCall", "VendorCallsMarkedForSpecificPO")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            "L5NoPo": L5NoPo,
                            "PoDt": PoDt,
                            "RlyNorly": RlyNorly,
                            "RlyCd": RlyCd
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "Vendor" },
                    { data: "Consignee" },
                    { data: "ItemDescPo" },
                    //{
                    //    data: "ItemDescPo",
                    //    createdCell: function (td, cellData, rowData, row, col) {
                    //        // Set the font color of the "Vendor" column to blue
                    //        $(td).css('color', 'blue');
                    //    }
                    //},

                    {
                        data: "CallMarkDt",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD-MM-YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "IeName" },
                    { data: "IePhoneNo" },
                    { data: "PoNo" },
                    {
                        data: "PoDt",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD-MM-YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "CaseNo" },
                    //{ data: "CallStatus" },
                    {
                        data: "CallStatus",
                        createdCell: function (td, cellData, rowData, row, col) {
                            // Set the font color of the "Vendor" column to blue
                            $(td).css('color', 'blue');
                        }
                    },
                    { data: "Hologram" },
                    { data: "IcPhoto" },
                    { data: "MfgPers" },
                    { data: "MfgPhone" },
                    { data: "CallSno" },
                    { data: "CoName" },
                    { data: "Remark" },


                ],
                "order": [[0, "asc"]]
            });
        }

        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            //window.location.href = "/PurchesOrder1LOA";
            window.location.href = '@Url.Action("Index", "PurchesOrder1LOA")';
        };
    </script>
    }