
@{
    ViewData["Title"] = "PhotoGallery";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}
<div class="container">
    <div class="row m-0">
        <div class="col-lg-12">
            <div class="innerContent">
                <div class="list-inner">
                    <div class="tast-list">
                        <h2>Photo Gallery</h2>
                    </div>
                </div>
                <div class="accordion-body">
                    <div class="photoGallery">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="galleryzoom galleryBoxInner">
                    <div class="galleryBox">
                                        <a href="~/frontend/photogallery/insp1.jpg" title="Inspection 1" class="colorbox">
                                            <img src="~/frontend/photogallery/insp1.jpg" alt="Inspection 1" />
                        </a>
                                        <div class="galleryTitle"><span>Inspection 1</span></div>
                    </div>
                        </div>
                        </div>
                            <div class="col-lg-4">
                                <div class="galleryzoom galleryBoxInner">
                                    <div class="galleryBox">
                                        <a href="~/frontend/photogallery/insp3.jpg" title="Inspection 2" class="colorbox">
                                            <img src="~/frontend/photogallery/insp3.jpg" alt="Inspection 2" />
                                        </a>
                                        <div class="galleryTitle"><span>Inspection 2</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="galleryzoom galleryBoxInner">
                                    <div class="galleryBox">
                                        <a href="~/frontend/photogallery/insp4.jpg" title="Inspection 3" class="colorbox">
                                            <img src="~/frontend/photogallery/insp4.jpg" alt="Inspection 3" />
                                        </a>
                                        <div class="galleryTitle"><span>Inspection 3</span></div>
                                    </div>
                                </div>
                            </div>
                    </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="galleryzoom galleryBoxInner">
                                    <div class="galleryBox">
                                        <a href="~/frontend/photogallery/insp5.jpg" title="Inspection 4" class="colorbox">
                                            <img src="~/frontend/photogallery/insp5.jpg" alt="Inspection 4" />
                                        </a>
                                        <div class="galleryTitle"><span>Inspection 4</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="galleryzoom galleryBoxInner">
                                    <div class="galleryBox">
                                        <a href="~/frontend/photogallery/insp6.jpg" title="Inspection 5" class="colorbox">
                                            <img src="~/frontend/photogallery/insp6.jpg" alt="Inspection 5" />
                                        </a>
                                        <div class="galleryTitle"><span>Inspection 5</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="galleryzoom galleryBoxInner">
                                    <div class="galleryBox">
                                        <a href="~/frontend/photogallery/insp7.jpg" title="Inspection 6" class="colorbox">
                                            <img src="~/frontend/photogallery/insp7.jpg" alt="Inspection 6" />
                                        </a>
                                        <div class="galleryTitle"><span>Inspection 6</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="galleryzoom galleryBoxInner">
                                    <div class="galleryBox">
                                        <a href="~/frontend/photogallery/insp8.jpg" title="Inspection 7" class="colorbox">
                                            <img src="~/frontend/photogallery/insp8.jpg" alt="Inspection 7" />
                                        </a>
                                        <div class="galleryTitle"><span>Inspection 7</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="galleryzoom galleryBoxInner">
                                    <div class="galleryBox">
                                        <a href="~/frontend/photogallery/insp9.jpg" title="Inspection 8" class="colorbox">
                                            <img src="~/frontend/photogallery/insp9.jpg" alt="Inspection 8" />
                                        </a>
                                        <div class="galleryTitle"><span>Inspection 8</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="galleryzoom galleryBoxInner">
                                    <div class="galleryBox">
                                        <a href="~/frontend/photogallery/insp10.jpg" title="Inspection 9" class="colorbox">
                                            <img src="~/frontend/photogallery/insp10.jpg" alt="Inspection 9" />
                                        </a>
                                        <div class="galleryTitle"><span>Inspection 9</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="galleryzoom galleryBoxInner">
                                    <div class="galleryBox">
                                        <a href="~/frontend/photogallery/insp11.jpg" title="Inspection 10" class="colorbox">
                                            <img src="~/frontend/photogallery/insp11.jpg" alt="Inspection 10" />
                                        </a>
                                        <div class="galleryTitle"><span>Inspection 10</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="galleryzoom galleryBoxInner">
                                    <div class="galleryBox">
                                        <a href="~/frontend/photogallery/insp12.jpg" title="Inspection 11" class="colorbox">
                                            <img src="~/frontend/photogallery/insp12.jpg" alt="Inspection 11" />
                                        </a>
                                        <div class="galleryTitle"><span>Inspection 11</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="galleryzoom galleryBoxInner">
                                    <div class="galleryBox">
                                        <a href="~/frontend/photogallery/insp13.jpg" title="Inspection 12" class="colorbox">
                                            <img src="~/frontend/photogallery/insp13.jpg" alt="Inspection 12" />
                                        </a>
                                        <div class="galleryTitle"><span>Inspection 12</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="galleryzoom galleryBoxInner">
                                    <div class="galleryBox">
                                        <a href="~/frontend/photogallery/insp17.jpg" title="Inspection 13" class="colorbox">
                                            <img src="~/frontend/photogallery/insp17.jpg" alt="Inspection 13" />
                                        </a>
                                        <div class="galleryTitle"><span>Inspection 13</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="galleryzoom galleryBoxInner">
                                    <div class="galleryBox">
                                        <a href="~/frontend/photogallery/insp18.jpg" title="Inspection 14" class="colorbox">
                                            <img src="~/frontend/photogallery/insp18.jpg" alt="Inspection 14" />
                                        </a>
                                        <div class="galleryTitle"><span>Inspection 14</span></div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.photoGallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
            },
            image: {
                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                titleSrc: function (item) {
                    return item.el.attr('title') + '<small>by RITES</small>';
                }
            }
        });
    });
</script>

