@{
    ViewData["Title"] = "Master Items PL Form";
}

<div class="list-inner">
    <div class="tast-list">
        <h2>Master Items PL Form</h2>
    </div>
    <div class="list-btn">
        <a asp-area="" asp-controller="MasterItemsPLForm" asp-action="Manage" class="formBtn"><span class="fa fa-plus"></span> Add New</a>
    </div>
</div>
<div class="task-listinput">
    <div class="accordion-body">
        <div class="task-inner row">
            <div class="col-md-6">
                <div class="input-search">
                    <label for="ItemDescription">Item Description</label>
                    <input type="text" class="input" id="ItemDescription" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-search">
                    <label for="PLNO">PL NO</label>
                    <input type="text" class="input" id="PLNO" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="savenext-btn btnAlign">
                    <button type="button" class="save-btn active" onclick="InitializeDatatable();">Search</button>
                    <button type="button" class="reset-btn" onclick="CLearControls();">Clear</button>
                </div>
            </div>
        </div>
    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtMSIL" class="table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Item Description</th>
                            <th>PL NO</th>
                            <th class="dt-align-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>


@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            InitializeDatatable();
        });

        function InitializeDatatable() {

            var ItemDescription = $("#ItemDescription").val();
            var PLNO = $("#PLNO").val();

            $("#dtMSIL").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            ItemDescription, PLNO
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "ItemDesc" },
                    { data: "PlNo" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var id = data.PlNo;
                            var editUrl = '@Url.Action("Manage", "MasterItemsPLForm")/' + id;
                            var html = '<div align=\"center\" class=\"reportIcon actionCenter\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                            html += '<a onclick="Delete(this.id); return false;" href="javascript:void(\'0\');" id=\"' + id + '\" class=\"delete\"><i class=\"fa fa-trash\" title="Delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }

        function CLearControls() {
            $("#ItemDescription").val("");
            $("#PLNO").val("");

            InitializeDatatable();
        }

        function Delete(id) {
            var url = '@Url.Action("Delete", "MasterItemsPLForm")';
            $("#btn-delete-yes").attr("href", url + "/" + id);
            $("#modal-delete-conf").modal("show");
        }
    </script>

}
