@model IBS.Models.VenderCallStatusModel

@{
    ViewData["Title"] = "Call Status Update form";
}
<div class="list-inner">
    <div class="tast-list">
        <h2>Call Status Update form</h2>
    </div>
</div>

<div class="task-listinput">
    <form role="form" asp-controller="CallRegisterIB" asp-action="CallStatus" id="frmCallStatus">
        <input type="hidden" asp-for="ActionType" />
        <div class="accordion-body" style="overflow-x: auto;">
            <table>
                @*<col style="width: 20%;" />
                <col style="width: 80%;" />*@
                <tr>
                    <td>
                        <label for="Reference">Vendor : </label>
                    </td>

                    <td colspan="4">
                        <input type="text" class="input" asp-for="VendName" maxlength="100" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Purchaser : </label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="input" asp-for="Consignee" maxlength="100" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Item : </label>
                    </td>
                    <td colspan="4">
                        <textarea rows="4" asp-for="ItemDescPo" style="color:red;text-transform: uppercase;" readonly="readonly"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Call Date : </label>
                    </td>
                    <td>
                        <input type="text" class="input" asp-for="CallRecvDt" maxlength="30" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                    <td colspan="2">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Inpection Desire Date : </label>
                    </td>
                    <td>
                        <input type="text" class="input" asp-for="DesireDt" maxlength="30" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                    <td colspan="2">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Engineer Name : </label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="input" asp-for="IeName" maxlength="100" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Engineer Contact No. : </label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="input" asp-for="IePhoneNo" maxlength="12" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">PO No. : </label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="input" asp-for="PoNo" maxlength="50" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">PO Date : </label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="input" asp-for="PoDt" maxlength="30" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Case No. : </label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="input" asp-for="CaseNo" maxlength="30" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Contact Person : </label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="input" asp-for="MfgPers" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Contact Person Tel No. : </label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="input" asp-for="MfgPhone" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Call Serial No. : </label>
                    </td>
                    <td colspan="4">
                        <input type="text" class="input" asp-for="CallSno" style="color:red;text-transform: uppercase;" readonly="readonly">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">Case Status : </label>
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.CallStatus, new SelectList(IBS.Models.Common.CallStatus() , "Value", "Text"), "--Select--")
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.CallCancelStatus, new SelectList(IBS.Models.Common.CallCancelStatus() , "Value", "Text"), "--Select--")
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Reference">BK & Set No : </label>
                    </td>
                    <td>
                        <input type="text" class="input" asp-for="BkNo" style="color:red;text-transform: uppercase;">
                    </td>
                    <td>
                        <input type="text" class="input" asp-for="SetNo" style="color:red;text-transform: uppercase;">
                    </td>
                </tr>
                @if (Model.ActionType != "C")
                {
                    <tr>
                        <td>
                            <label for="Reference">Allow Updation of Call(Y/N) : </label>
                        </td>
                        <td colspan="4">
                            @Html.DropDownListFor(model => model.UpdateAllowed, new SelectList(IBS.Models.Common.OnlineCallStatus() , "Value", "Text"), "--Select--")
                        </td>
                    </tr>
                }
                @if (Model.ActionType == "C")
                {
                    <tr>
                        <td>
                            <label for="Reference">Case Status Date : </label>
                        </td>
                        <td>
                            <input type="text" class="datepicker" asp-for="CallStatusDt" style="color:red;text-transform: uppercase;" readonly="readonly" placeholder="DD/MM/YYYY">
                        </td>
                        <td colspan="2">
                            <span style="color:red;">(Current Date Will be the Case Status Date i.e Date of Cancellation/Acceptance..etc)</span>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="savenext-btn">
            <button type="button" class="save-btn active" onclick="Save();">Save</button>
            <a asp-controller="CallRegisterIB" asp-action="Index" class="reset-btn">Cancel</a>
        </div>
    </form>

</div>

<div id="tab-1" class="task-listinput">
    <form role="form" asp-controller="CallRegisterIB" asp-action="CallStatusFiles" id="frmCallStatusAccept">
        <input type="hidden" asp-for="ActionType" />
        <input type="hidden" asp-for="CaseNo" />
        <input type="hidden" name="hdnUploadedDocumentList_tab-1" id="hdnUploadedDocumentList_tab-1" value="" />

        <div class="accordion-body" style="overflow-x: auto;" id="accepted">
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="Reference">Consignee : </label>
                    <input type="text" asp-for="ConsigneeFirm" maxlength="100" style="color:red;text-transform: uppercase;">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Book No : </label>
                    <input type="text" asp-for="BkNo" maxlength="100" style="color:red;text-transform: uppercase;">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Set No : </label>
                    <input type="text" asp-for="SetNo" maxlength="100" style="color:red;text-transform: uppercase;">
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload1" />
                </div>
                <div class="col-md-4 mb-3">
                    <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload2" />
                </div>
                <div class="col-md-4 mb-3">
                    <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload3" />
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload4" />
                </div>
                <div class="col-md-4 mb-3">
                    <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload5" />
                </div>
                <div class="col-md-4 mb-3">
                    <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload6" />
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload7" />
                </div>
                <div class="col-md-4 mb-3">
                    <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload8" />
                </div>
                <div class="col-md-4 mb-3">
                    <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload9" />
                </div>
                <div class="col-md-4 mb-3">
                    <partial name="_FileUploader" model="(IBS.Models.FileUploaderDTO)ViewBag.IC_Photos_Upload10" />
                </div>
                <div class="col-md-4 mb-3">
                    <div class="savenext-btn">
                        <button type="button" class="save-btn active" onclick="SaveImages();">Save Files</button>
                        <a asp-controller="CallRegisterIB" asp-action="Index" class="reset-btn">Cancel</a>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        function Save() {
            if ($("#ActionType").val() == "C") {
                $("#frmCallStatus").submit();
            }
            else {
                if ($("#frmCallStatus").valid()) {
                    $("#frmCallStatus").submit();
                }
            }
        }

        function SaveImages() {
            SaveSingleDocuments("tab-1");
            if ($("#ActionType").val() == "C") {
                $("#frmCallStatusAccept").submit();
            }
            else {
                if ($("#frmCallStatusAccept").valid()) {
                    $("#frmCallStatusAccept").submit();
                }
            }
        }

    </script>
}