<div class="list-inner">
    <div class="tast-list">
        <h2>Consignee Complaints Report</h2>
    </div>
    <div class="list-btn"> <a class="btnicons" href="javascript:void(0);" title="Export to Excel"><img id="imgExcel" src="../images/excel.png" alt="Export to Excel" /></a> <a class="btnicons" href="javascript:void(0);" title="Export to PDF"><img id="imgPdf" src="../images/pdf.png" alt="Export to PDF" /></a> <a class="btnicons" href="javascript:void(0);" title="Print"><img id="imgPrint" src="../images/print.png" alt="Print" /></a> </div>
</div>
<div class="accordion-body">
    <div class="row my-0">
        <div class="col-md-3 mb-2">
            <label for="reference">Complaints Recieved From Date</label>
            <input type="text" class="input datepicker" id="compfromdt">
        </div>
        <div class="col-md-3 mb-2">
            <label for="reference">To Date</label>
            <input type="text" class="input datepicker" id="comptodt">
        </div>
    </div>
    <div class="row my-0">
        <div class="col-md-12">
            <h3 class="heading3">Inspection Region</h3>
        </div>
    </div>
    <ul class="radioListForm">
        <li>
            <input type="radio" id="allRegions" name="inspectionRegion" value="All Regions">
            <label for="allRegions">All Regions</label>
        </li>
        <li>
            <input type="radio" id="northern" name="inspectionRegion" value="Northern">
            <label for="northern">Northern</label>
        </li>
        <li>
            <input type="radio" id="southern" name="inspectionRegion" value="Southern">
            <label for="southern">Southern</label>
        </li>
        <li>
            <input type="radio" id="eastern" name="inspectionRegion" value="Eastern">
            <label for="eastern">Eastern</label>
        </li>
        <li>
            <input type="radio" id="western" name="inspectionRegion" value="Western">
            <label for="western">Western</label>
        </li>
    </ul>
    <div class="row my-0">
        <div class="col-md-12">
            <h3 class="heading3">Joint Inspection Region</h3>
        </div>
    </div>
    <ul class="radioListForm">
        <li>
            <input type="radio" id="allRegions" name="inspectionRegion" value="All Regions">
            <label for="allRegions">All Regions</label>
            <br>
        </li>
        <li>
            <input type="radio" id="northern" name="inspectionRegion" value="Northern">
            <label for="northern">Northern</label>
            <br>
        </li>
        <li>
            <input type="radio" id="southern" name="inspectionRegion" value="Southern">
            <label for="southern">Southern</label>
            <br>
        </li>
        <li>
            <input type="radio" id="eastern" name="inspectionRegion" value="Eastern">
            <label for="eastern">Eastern</label>
            <br>
        </li>
        <li>
            <input type="radio" id="western" name="inspectionRegion" value="Western">
            <label for="western">Western</label>
            <br>
        </li>
    </ul>
    <div class="row my-0">
        <div class="col-md-12">
            <h3 class="heading3">Include Complaints Where JI Required ?</h3>
        </div>
    </div>
    <ul class="radioListForm">
        <li>
            <input type="radio" id="all" name="inspectionRegion" value="All">
            <label for="allRegions">All</label>
            <br>
        </li>
        <li>
            <input type="radio" id="Yes" name="inspectionRegion" value="Yes">
            <label for="northern">Yes</label>
            <br>
        </li>
        <li>
            <input type="radio" id="No" name="inspectionRegion" value="No">
            <label for="southern">No</label>
            <br>
        </li>
        <li>
            <input type="radio" id="Cancelled" name="inspectionRegion" value="Cancelled">
            <label for="eastern">Cancelled</label>
            <br>
        </li>
        <li>
            <input type="radio" id="Under Consideration" name="inspectionRegion" value="Under Consideration">
            <label for="western">Under Consideration</label>
            <br>
        </li>
    </ul>
    <div class="row my-0">
        <div class="col-md-12 mb-4">
            <h3 class="heading3">Action Proposed</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
    <ul class="radioListForm">
        <li>
            <input type="radio" id="allaction" name="inspectionRegion" value="allaction">
            <label for="allaction">All</label>
            <br>
        </li>
        <li>
            <input type="radio" id="ParticularAction" name="inspectionRegion" value="ParticularAction">
            <label for="ParticularAction">Particular Action</label>
            <br>
        </li>
    </ul>
    </div>
        <div class="col-md-3"> @Html.DropDownList("ParticularAction", new SelectList(IBS.Models.Common.ParticularAction(), "Value", "Text"), "--Select--", new { id = "ParticularAction" }) </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="savenext-btn">
                <button type="button" class="save-btn active" id="btnSearch">search</button>
            </div>
        </div>
    </div>
</div>
@*
<section class="table-section">
  <div class="task-listinput">
    <div class="dash-table">
      <table id="dtCentralRegion" class="table-responsive">
        <thead>
          <tr>
            <th>#</th>
            <th>Bill No</th>
            <th>Bill Date</th>
            <th>BPO</th>
            <th>Insp Fee</th>
            <th>Tax (Inclusive of EDU + SHE Cess)</th>
            <th>Total Fee</th>
            <th>IC No.</th>
            <th>IC Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</section>
*@ 