<div class="list-inner">
    <div class="tast-list">
        <h2>Write Off Entry</h2>
    </div>
</div>

<form data-ajax="true" asp-antiforgery="false" asp-controller="" asp-action="" data-ajax-method="post" data-ajax-complete="completed" id="frmsearch">
    <div class="accordion-body">
        <div class="row my-0 d-flex align-items-end">
            <div class="col-md-2 mb-4">
                <label for="Reference">From Date</label>
                <input type="text" id="FrmDt" class="datepicker"  maxlength="200" />
            </div>
            <div class="col-md-2 mb-4">
                <label for="Reference">To Date</label>
                <input type="text" id="ToDt" class="datepicker"  maxlength="200" />
            </div>
            <div class="col-md-2 mb-4">
                <label for="Reference">BPO Name</label>
                @Html.DropDownList("BPOName", new SelectList(IBS.Models.Common.GetBPOByRegion(@ViewBag.Region), "Value", "Text"),"--Select--" , new { id = "BPOName" })
            </div>
            <div class="col-md-3 mb-4">
                <div class="savenext-btn">
                    <button type="button" class="save-btn active" onclick="btnsearch()">Search</button>
                </div>
            </div>
        </div>
    </div>
</form>

<section class="table-section">
    <div class="task-listinput">
        <div class="dash-table">
            <table id="dtWriteoffam" class="table-responsive">
                <thead>
                    <tr>
                        <th>Bill No.</th>
                        <th>Bill Date</th>
                        <th>Bill Amount(A)</th>
                        <th>Amount Already Recieved Thru Cheque/EFT</th>
                        <th>Total Amount Cleared(B)</th>
                        <th>Write-off Amount</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        function btnsearch(){
            InitializeDatatable();
        }

        function InitializeDatatable() {

            var FrmDt = $("#FrmDt").val();
            var ToDt = $("#ToDt").val();
            var BPOName = $("#BPOName").val();
            
            var ajaxUrl = "@Url.Action("LoadTable")";

            $("#dtWriteoffam").DataTable({
                stateSave: false,
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true,
                serverSide: true,
                destroy: true,
                paging: true,
                searching: true,
                ajax: {
                    url: ajaxUrl,
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            "FrmDt": FrmDt,
                            "ToDt": ToDt,
                            "BPOName": BPOName,
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    },
                },
                columns: [
                    { data: "Bill_No" },
                    {
                        data: "BillDt",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {
                                return data != null && data != "" ? moment(data).format("DD-MM-YYYY") : "";
                            }
                            return data;
                        }
                    },
                    { data: "BillAmt" },
                    { data: "BillAmtRec" },
                    { data: "BillAmtClr" },
                    {
                        data: "WRITE_OFF_AMT",
                        "targets": [1, 2],
                        render: function (data, type, row, meta) {
                            return '<input type="text" name="txtwriteofamt" onkeypress="return isNumber(event)" class="textbox1"  value="">';
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }

    </script>
}