@{
    ViewData["Title"] = "DAILY IE WISE CALLS";
    string ReportUrl = ViewBag.ReportUrl;   
}
<div class="list-inner">
    <div class="tast-list">
        <h2>Daily IE Wise Call</h2>
    </div>
</div>
<section>
    <div class="task-listinput">     
            <div class="accordion-body">
                <div class="row my-0">

                    <div class="col-md-4 mb-3">
                        <label for="Reference">Call Date </label>
                        <input type="text" id="callDate" class="input datepicker">
                    <span class="text-danger field-validation-error" id="spnError1"></span>
                    </div>
                </div>

                <div class="savenext-btn">
                <button type="button" class="save-btn" onclick="submit();">Search</button>
                    @*<button type="submit" onclick="find();">Search2</button>*@
                </div>
            </div>
    </div>
</section>
@section scripts{

    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">


        $(function () {
           
        });

        function submit() {
            $("#spnError1").html("");
            var IsValid = true;

            if ($("#callDate").val() == "") {
                $("#spnError1").html("The Call Date field is required.");
                IsValid = false;
            }
            
            if (!IsValid) return;
            var callDate = $("#callDate").val();
            var RegNo = '@ViewBag.Region';
            var QueryString = "?RptFlag=4" +
                "&callDate=" + encodeURIComponent(callDate) +
                "&RegNo=" + encodeURIComponent(RegNo);

            window.open('@ReportUrl' + QueryString);
        }

       


    </script>
}