
@*<form data-ajax="true" asp-antiforgery="true" asp-controller="LaboratoryMaster" asp-action="LabDetailsSave" data-ajax-method="post" data-ajax-complete="completed" id="frmLabDetails">*@


    <div id="print">
    <div class="task-listinput">
        <div class="accordion-body">
            <div class="row my-0">
                <div class="col-md-3 mb-3">
                    <label for="Reference">Voucher No.</label>
                    <input type="text" class="input" id="lblvno" readonly="readonly">

                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">Dated:</label>
                    <input type="text" class="input" id="dtdt" readonly="readonly">

                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">CHQ No.</label>
                    <input type="text" class="input" id="lblcno" readonly="readonly">

                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">Dated:</label>
                    <input type="text" class="input" id="lbldt" readonly="readonly">

                </div>
            </div>
            <div class="row my-0">
                
                <div class="col-md-4 mb-3">
                    <label for="Reference">Bank:</label>
                    <input type="text" class="input" id="lblbnk" readonly="readonly">

                </div>
                <div class="col-md-2 mb-3">
                    <label for="Reference">Amount:</label>
                    <input type="text" class="input" id="lblamt" readonly="readonly">

                </div>
                <div class="col-md-6 mb-3">
                    <label for="Reference">Laboratory:</label>
                    <input type="text" class="input" id="lbllab" readonly="readonly">

                </div>
            </div>
            <div class="row my-0">
               
                
            </div>

        </div>
    </div>
<section class="table-section">
    <div class="task-listinput">
        <div class="dash-table">
            <table id="printlab" class="table-responsive">
                <thead>
                    <tr>
                        <th>Account Code</th>
                        <th>Sub Code</th>
                        <th>SBU Code</th>
                        <th>Project Code</th>
                        <th>Sample Reg No</th>
                        <th>Amount</th>                       
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>
</div>
@* <table border="1" width="100%">
    <tbody>
        <tr>
            <td width="10%" valign="top" style="padding: 10px; border: 1px solid #b0c4de;"><font size="1" face="Verdana">Account Code</font></td>
            <td width="20%" valign="top" style="padding: 10px; border: 1px solid #b0c4de;"><font size="1" face="Verdana">Sub Code</font></td>
            <td width="10%" valign="top" style="padding: 10px; border: 1px solid #b0c4de;"><font size="1" face="Verdana">SBU Code</font></td>
            <td width="10%" valign="top" style="padding: 10px; border: 1px solid #b0c4de;"><font size="1" face="Verdana">Project Code</font></td>
            <td width="15%" valign="top" style="padding: 10px; border: 1px solid #b0c4de;"><font size="1" face="Verdana">Sample Reg No</font></td>
            <td width="10%" valign="top" style="padding: 10px; border: 1px solid #b0c4de;"><font size="1" face="Verdana">Amount</font></td>
        </tr>
        <tr>
            <td width="5%" valign="top" align="right" style="padding: 10px; border: 1px solid #b0c4de;"> <label>642</label></td>
            <td width="35%" valign="top" align="left" style="padding: 10px; border: 1px solid #b0c4de;"> <label></label></td>
            <td width="10%" valign="top" align="right" style="padding: 10px; border: 1px solid #b0c4de;"> <label>20</label></td>
            <td width="10%" valign="top" align="right" style="padding: 10px; border: 1px solid #b0c4de;"> <label></label></td>
            <td width="10%" valign="top" align="right" style="padding: 10px; border: 1px solid #b0c4de;"> <label id="lblregno"></label></td>
            <td width="10%" valign="top" align="right" style="padding: 10px; border: 1px solid #b0c4de;"> <label id="lbliamt"></label></td>
        </tr>


    </tbody>
</table> *@
@* <div class="savenext-btn">
    <button type="button" class="save-btn active" onclick="printPage();">Print</button>
    <button type="button" class="save-btn active" onclick="cancel();">Cancel</button>

</div> *@

@*</form>*@
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "mm/dd/yy" // Set the date format to "dd/mm/yy"
            });

            var pyid = '@ViewBag.PaymentID';

            Print(pyid);
            InitializeDatatable(pyid);
        });
        function InitializeDatatable(pyid) {

            $("#printlab").DataTable({
                stateSave: false,
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true,
                serverSide: false,
                destroy: false,
                paging: false,
                searching: false,
                ajax: {
                    url: "@Url.Action("PrintLoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            pyid: pyid
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [

                    { data: "AccountCd" },
                    { data: "SubCd" },
                    { data: "SBUCd" },
                    { data: "ProjectCd" },
                    { data: "SAMPLE_REG_NO" },
                    { data: "Amount" }

                ],
                "order": [[0, "asc"]]
            });
        }
        function Print(pyid) {

            var VOUCHER_NO = pyid;
            var url = '@Url.Action("PrintLapPayments", "LabPaymentsForm")';
            $.ajax({
                //url: '/LabPaymentsForm/PrintLapPayments',
                url:url,
                type: "POST",
                dataType: "JSON",
                data: { VOUCHER_NO: VOUCHER_NO },

                success: function (success) {

                 
                    //$("#dtregdt").val(success.SampleRegDate);
                    $("#lblvno").val(success.PaymentID);
                    $("#dtdt").val(success.PaymentDt);
                    $("#lblcno").val(success.CHQ_NO);
                    $("#lbldt").val(success.CHQ_DT);
                    $("#lblbnk").val(success.Bank);
                    $("#lblamt").val(success.Amount);
                    $("#lbllab").val(success.Lab);
                    // $("#lblregno").text(success.SAMPLE_REG_NO);
                    // $("#lbliamt").text(success.IAMOUNT);

                }

            });
        }
                        //completed = function (response) {
                        //    var res = response.responseJSON;
                        //    ShowHideMsgNew(res.status, res.responseText);
                        //    window.location.href = "/LaboratoryMaster/LaboratoryMaster";
                        //};
        // $(document).ajaxSend(function () {
        //     $(".overlayLoader").show();
        // });

        // $(document).ajaxComplete(function () {
        //     $(".overlayLoader").hide();
        // });
        // $(function () {
        //     generatePdf(true);
        // });
        // function generatePdf(isPrint) {
        //     var HTML = $('#print').html();

        //     $.ajax({
        //         url: "@Url.Action("GeneratePDF", "LabPaymentsForm")",
        //         type: "POST",
        //         contentType: "application/x-www-form-urlencoded",
        //         data: { htmlContent: HTML },
        //         xhrFields: {
        //             responseType: 'blob'
        //         },
        //         success: function (result) {
        //             var url = window.URL.createObjectURL(result);
        //             if (isPrint) {
        //                 iframe = document.createElement('iframe');
        //                 document.body.appendChild(iframe);

        //                 iframe.style.display = 'none';
        //                 iframe.src = url;
        //                 iframe.onload = function () {
        //                     setTimeout(function () {
        //                         iframe.focus();
        //                         iframe.contentWindow.print();
        //                     }, 1);
        //                 };
        //             }
        //             else {
        //                 var a = document.createElement('a');
        //                 a.href = url;
        //                 a.download = getExportFileName(fileName) + '.pdf';
        //                 document.body.append(a);
        //                 a.click();
        //                 a.remove();
        //                 window.URL.revokeObjectURL(url);
        //             }
        //         },
        //         error: function (error) {
        //             console.error(error);
        //         }
        //     });
        // }
    </script>
}