
@{
    ViewData["Title"] = "OurCommittment";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<div class="container">
    <div class="row m-0">
        <div class="col-lg-12">


            <div class="innerContent">
                <div class="list-inner">
                    <div class="tast-list">
                        <h2>Our Commitment</h2>
                    </div>
                </div>
                <div class="accordion-body">
                    <p><strong>Integrity,Impartiality & Transparency</strong></p>
<p>RITES is committed to eradicate corruption and uphold highest standards of ethical conduct, transparency, impartiality & good governance.</p>
<p>On the initiative of Central Vigilance Commission (CVC),all our Inspecting Engineers and Controlling Managers have been taking the Citizens Integrity Pledge to follow probity, honesty and integrity.</p>
<p>We kindly request our esteemed partners (Vendors) to participate in CVC drive for eradication of corruption by signing Organisation Integrity Pledge, as available on the <a href="http://pledge.cvc.nic.in/" target="_blank">CVC Website</a>.</p>
<p>Thank You for Your consideration and cooperation.</p>
                </div>
            </div>
        </div>
    </div>
</div>

