
@{
    ViewData["Title"] = "OurClients";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}
<div class="container" id="content">
    <div class="row m-0">
        <div class="col-lg-12">


            <div class="innerContent">
                <div class="list-inner">
                    <div class="tast-list">
                        <h2>Our Clients</h2>
                    </div>
                </div>
                <div class="accordion-body">
                    <p><strong>Following are the major clients to whom RITES is extending its specialized services in the form of Quality Assurance/Third Party Inspection</strong></p>

                    <ul class="clientList">
                        <li><img src="~/frontend/images/01-indian-railways.jpg" alt="Indian Railways" /></li>
                        <li><img src="~/frontend/images/02-dedicated-freight-corridor.jpg" alt="Dedicted Freight Corridor" /></li>
                        <li><img src="~/frontend/images/03-dmrc.jpg" alt="Delhi Metro Rail Corporation" /></li>
                        <li><img src="~/frontend/images/04-indian-railway-cofmow.jpg" alt="Indian Railway, COFMOW" /></li>
                        <li><img src="~/frontend/images/05-central-organization-for-railway-electrification.jpg" alt="Central Organization for Railway Electrification" /></li>
                        <li><img src="~/frontend/images/06-rail-vikas-nigam-limited.jpg" alt="Rail Vikas Nigam Limited" /></li>
                        <li><img src="~/frontend/images/07-rail-coach-factory-kapurthala.jpg" alt="Rail Coach Factory, Kapurthala" /></li>
                        <li><img src="~/frontend/images/08-modern-coach-factory-raebareli.jpg" alt="Modern Coach Factory, Raibareli" /></li>
                        <li><img src="~/frontend/images/09-integral-coach-factory.jpg" alt="Integral Coach Factory" /></li>
                        <li><img src="~/frontend/images/10-tata.jpg" alt="TATA" /></li>
                        <li><img src="~/frontend/images/11-lnt.jpg" alt="L&T" /></li>
                        <li><img src="~/frontend/images/12-gmr.jpg" alt="GMR" /></li>
                        <li><img src="~/frontend/images/13-kec.jpg" alt="KEC" /></li>
                        <li><img src="~/frontend/images/14-crp.jpg" alt="CRP" /></li>
                        <li><img src="~/frontend/images/15-oiso.jpg" alt="OISO" /></li>
                        <li><img src="~/frontend/images/16-bhl.jpg" alt="BHEL" /></li>
                        <li><img src="~/frontend/images/17-PHED-rajasthan.jpg" alt="PHED Rajasthan" /></li>
                        <li><img src="~/frontend/images/18-indian-oil.jpg" alt="Indian Oil" /></li>
                        <li><img src="~/frontend/images/19-rajasthan-transco.jpg" alt="Rajasthan Transco" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

