
@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<div class="container" id="content">
    <div class="row m-0">
        <div class="col-lg-12">


            <div class="innerContent">
                <div class="list-inner">
                    <div class="tast-list">
                        <h2>Overview</h2>
                    </div>
                </div>
                <div class="accordion-body">
                    @*<div class="overViewSection">*@
                        <div class="row m-0">
                            <div class="col-md-12">
                                @*<div class="overViewContent">*@
                                    <div class="row m-0">
                                        <div class="col-md-6">
                                            <ul class="bulletTextList m-0">
                                                <li>One of the largest, oldest, multidisciplinary Govt. </li>
                                                <li>Third Party Inspection (TPI) Agency </li>
                                                <li>Very rich experience over 47 years </li>
                                                <li>Transparent and Impartial TPI for all engineering items including Mechanical/ Civil/ Electrical/ Electronics items/components &amp; assemblies, Machine &amp; Plants (M&amp;P), Bridge Girders, track items etc.</li>
                                                <li>Vendors Capability &amp; Capacity Assessment </li>
                                                <li>Rich experience of Inspection in Foreign Countries </li>
                                                <li>Material testing in laboratories accredited to ISO/IEC 17025 by NABL</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="bulletTextList m-0">
                                                <li>PAN India presence through five Regional Inspection offices</li>
                                                <li>More than 300 highly qualified inspection professionals located across the country </li>
                                                <li>Transparent TPI monitoring operations through In-house software (IBS)</li>
                                                <li>Client Interface through dedicated Client Login </li>
                                                <li>Quality Awards winner </li>
                                                <li>Deals with large diversified clientele Govt., PSUs, State Govt., Autonomous bodies, Private sectors</li>
                                            </ul>
                                        </div>
                                    </div>
                                @*</div>*@
                            </div>
                        </div>
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
</div>

