
@{
    ViewData["Title"] = "Resources";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}
<div class="container">
    <div class="row m-0">
        <div class="col-lg-12">


            <div class="innerContent">
                <div class="list-inner">
                    <div class="tast-list">
                        <h2>Resources</h2>
                    </div>
                </div>
                <div class="accordion-body">
                    <ul class="bulletText">
                        <li>More than 300 highly qualified inspection professionals located across the country</li>
                        <li>Professionally trained technical expertise</li>
                        <li>Vast pool of experienced personnel from within and drawn from the pool of professionals from Railways,Defence, PSUs, State Governments etc.</li>
                        <li>Laterally and horizontally inducted engineers and project managers</li>
                        <li>Transparent and Impartial third party inspection services executed through use of latest digital technologies</li>
                        <li>Pan India Presence of offices & Inspecting personnel all over India</li>
                        <li>NABL Accredited Labs to ISO/IEC 17025 for material testing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

