
@{
    ViewData["Title"] = "ServiceSpectrum";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<div class="container">
    <div class="row m-0">
        <div class="col-lg-12">


            <div class="innerContent">
                <div class="list-inner">
                    <div class="tast-list">
                        <h2>Service Spectrum</h2>
                    </div>
                </div>
                <div class="accordion-body">
                    <ul class="bulletText">
 <li>Pre dispatch third party inspection (stage and final) of material at manufacturers premises</li>
 <li>In-Process &amp; In-Plant Inspection</li>
 <li>Vendor capability and capacity assessment- On behalf of Indian Railways, other Central/State Govt. Bodies.</li>
 <li>Accredited Laboratory Testing Services: RITES has laboratory accredited to NABL (ISO/IEC 17025) with testing facilities including
    <ul class="bulletText">
        <li>Mechanical Testing (Ferrous &amp; Non-ferrous Products)</li>
        <li>Metallurgical Testing (Ferrous &amp; Non-ferrous Products)</li>
        <li>Non-Destructive Testing</li>
        <li>Rubber &amp; Plastic</li>
        <li>Oil Grease &amp; Lubricant</li>
        <li>Paint &amp; Varnish</li>
        <li>Textile &amp; Leather Products</li>
    </ul>
</li>    
<li>Inspection of Bridge Girders</li>
<li>Product Certification Audits on behalf of BIS</li>
<li>Star Marking Verification for Bureau of Energy Efficiency</li>
</ul>
                </div>
            </div>
        </div>
    </div>
</div>


