@model IBS.Models.CityMasterModel
@{
    ViewData["Title"] = "City Details";
}

<div class="list-inner">
    <div class="tast-list">
        <h2>City Details</h2>
    </div>
</div>
<section class="table-section">
    <div class="task-listinput">
        <div class="accordion-body">
            <form asp-controller="CityMaster" asp-action="Manage" id="frmCityMaster">
                <input type="hidden" asp-for="CityCd" />
                <div class="accordion-body">
                    <div class="row my-0">
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Location</label>
                            <input type="text" class="input" asp-for="Location" maxlength="50" />
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="Reference">City <i class="text-danger">*</i></label>
                            <input type="text" class="input" asp-for="City" maxlength="50" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Pin Code <i class="text-danger">*</i></label>
                            <input type="text" class="input" asp-for="PinCode" maxlength="6" onkeypress="return isNumber(event)" />
                            <span asp-validation-for="PinCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row my-0">
                        <div class="col-md-4 mb-3">
                            <label for="Reference">State <i class="text-danger">*</i></label>
                            @Html.DropDownListFor(model => model.StateCd, Common.GetStates(), "--Select--",  new { @class = "" })
                            <span asp-validation-for="StateCd" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Country </label>
                            @Html.DropDownListFor(model => model.CountryCd, Common.GetCountries(), new { @class = "" })
                        </div>
                    </div>
                    <div class="savenext-btn">
                        <a asp-controller="CityMaster" asp-action="Index" class="reset-btn">Cancel</a>
                        <button type="button" class="save-btn active" onclick="SubmitCityMaster();">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section scripts{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        function SubmitCityMaster() {
            if ($("#frmCityMaster").valid()) {
                $("#frmCityMaster").submit();
            }
        }

    </script>
}