@model IBS.Models.TDSEntryModel

@{
    ViewData["Title"] = "TDS Entry";
}

<div class="list-inner">
    <div class="tast-list">
        <h2>TDS Form</h2>
    </div>
</div>
<div class="task-listinput">
    <form asp-antiforgery="true" asp-controller="TDSEntry" asp-action="Manage" id="frmTDSentry">
        <input type="hidden" asp-for="BILL_NO" name="BILL_NO" />
        <div class="accordion-body">
            <div class="row my-0">
                <div class="col-md-3 mb-3">
                    <div class="reference">
                        <label for="CompanyId">Bill No </label>
                        <input type="text" class="input" id="BillNo" />
                        <span class="text-danger" id="spnErrorMsgBillNo"></span>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label>&nbsp;</label>
                    <div class="savenext-btn" style="justify-content: left">
                        <button type="button" class="save-btn active" id="btnSearch">Search</button>
                    </div>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="Reference">Case No.</label>
                    <input type="text" class="input" asp-for="CASE_NO" maxlength="20" readonly>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Bill Amount</label>
                    <input type="text" class="input" asp-for="Bill_Amount" maxlength="20" readonly>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">TDS Posting Date	</label>
                    <input asp-for="TdsDt" type="text" class="datepicker" placeholder="DD/MM/YYYY" />
                    <span class="text-danger" asp-validation-for="TdsDt"></span>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="Reference">TDS</label>
                    <input type="text" class="input" asp-for="TDS" onkeypress="return isNumberWithDot(event)" maxlength="10">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">TDS CGST</label>
                    <input type="text" class="input" asp-for="TDSCGST" onkeypress="return isNumberWithDot(event)" maxlength="10">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">TDS SGST	</label>
                    <input type="text" class="input" asp-for="TDSSGST" onkeypress="return isNumberWithDot(event)" maxlength="10">
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="Reference">TDS IGST	</label>
                    <input type="text" class="input" asp-for="TDSIGST" onkeypress="return isNumberWithDot(event)" maxlength="10">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Retention Money</label>
                    <input type="text" class="input" asp-for="Retention_Money" onkeypress="return isNumberWithDot(event)" maxlength="10">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="Reference">Write off Amt/Amt Adjusted</label>
                    <input type="text" class="input" asp-for="WrtOffAmount" onkeypress="return isNumberWithDot(event)" maxlength="10">
                </div>
            </div>
            <div class="savenext-btn">
                <a asp-controller="TDSEntry" asp-action="Index" class="reset-btn">Cancel</a>
                <button type="button" class="save-btn active" onclick="SubmitTDSData();">Save</button>
            </div>
            <div class="row my-0 mt-3">
                <div class="col-md-12">
                <h3 class="heading3">TDS History</h3>
                <table id="dtTdsHistory" class="table-responsive">
                    <thead>
                        <tr>
                            <th>TDS</th>
                            <th>TDS CGST</th>
                            <th>TDS SGST</th>
                            <th>TDS IGST</th>
                            <th>Retention Money</th>
                            <th>Write off Amt/Amt Adjusted</th>
                            <th>TDS Posting Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(document).ready(function () {
            $("#dtTdsHistory").DataTable({
                searching: false
            });
        });

        $('#btnSearch').click(function () {
            $("spnErrorMsgBillNo").html("");

            var BillNo = $("#BillNo").val();

            if (BillNo == "") {
                $("#spnErrorMsgBillNo").html("The Bill No field is required.");
                return;
            }

            $.get("@Url.Action("BillDetails", "TDSEntry")", { BillNo }, function (response) {
                if (response.status) {
                    $("#BILL_NO").val(response.responseText.BILL_NO);
                    $("#CASE_NO").val(response.responseText.CASE_NO);
                    $("#Bill_Amount").val(response.responseText.Bill_Amount);
                    $("#TDS").val(response.responseText.TDS);
                    $("#TDSCGST").val(response.responseText.TDSCGST);
                    $("#TDSSGST").val(response.responseText.TDSSGST);
                    $("#TDSIGST").val(response.responseText.TDSIGST);
                    $("#Retention_Money").val(response.responseText.Retention_Money);
                    $("#WrtOffAmount").val(response.responseText.WrtOffAmount);
                    if (response.responseText.TdsDt != null && response.responseText.TdsDt != "") {
                        $("#TdsDt").val(moment(response.responseText.TdsDt).format("DD/MM/YYYY"));
                    }
                    LoadTdsHistory(response.responseText.BILL_NO);
                }
            });
        });

        function SubmitTDSData() {
            if ($("#frmTDSentry").valid()) {
                $("#frmTDSentry").submit();
            }
        }

        function LoadTdsHistory(BillNo) {
            $("#dtTdsHistory").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: false,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTableTDSHistory")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            BillNo
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [// Columns Setups
                    { data: "TDS" },
                    { data: "TDSCGST" },
                    { data: "TDSSGST" },
                    { data: "TDSIGST" },
                    { data: "Retention_Money" },
                    { data: "WrtOffAmount" },
                    {
                        data: "TdsDt",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD/MM/YYYY") : "";
                            }
                            return data;
                        }
                    },
                ]
            });
        }
    </script>
}