@model IBS.Models.VendorModel

@{
    ViewData["Title"] = "Vendor Profile";
}

<div class="list-inner">
    <div class="tast-list">
        <h2>Vendor Profile</h2>
    </div>
</div>
<section class="table-section">
    <div class="task-listinput">
        <div class="accordion-body">
            <form data-ajax="true" asp-antiforgery="true" asp-controller="VendorProfile" asp-action="VendorProfileDetailsSave" data-ajax-method="post" data-ajax-complete="completed" id="frmVendorProfileDetails">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="VendCd" />
                <div class="accordion-body">
                    <div class="row my-0">
                        <div class="col-md-3 mb-3">
                            <label for="Reference">Vendor Code</label>
                            <input type="text" class="input" asp-for="VendCd"  disabled="disabled">
                            <span asp-validation-for="VendCd" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Reference">Vendor Name</label>
                            <input type="text" class="input" asp-for="VendName"  disabled="disabled">
                            <span asp-validation-for="VendName" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Reference">City</label>
                            @Html.DropDownListFor(model => model.VendCityCd, new SelectList(IBS.Models.Common.GetCity() , "Value", "Text"),"--Select--")
                            <span asp-validation-for="VendCityCd" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Reference">Vendor Approval</label>
                            @Html.DropDownListFor(model => model.VendApproval, new SelectList(IBS.Models.Common.VendorApproval() , "Value", "Text"),"--Select--", new { @disabled="disabled"})
                            <span asp-validation-for="VendApproval" class="text-danger"></span>
                        </div>
                    </div>
                   
                    <div class="row my-0">
                        <div class="col-md-3 mb-3">
                            <label for="Reference">Approval Period From</label>
                            <input type="text" class="input datepicker" asp-for="VendApprovalFr" readonly="true" disabled="disabled">
                            <span asp-validation-for="VendApprovalFr" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Reference">Approval Period To</label>
                            <input type="text" class="input datepicker" asp-for="VendApprovalTo" readonly="true" disabled="disabled">
                            <span asp-validation-for="VendApprovalTo" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Reference">Contact Person 1</label>
                            <input type="text" class="input" asp-for="VendContactPer1" >
                            <span asp-validation-for="VendContactPer1" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Reference">Tel No.</label>
                            <input type="text" class="input" asp-for="VendContactTel1" >
                            <span asp-validation-for="VendContactTel1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row my-0">
                        <div class="col-md-3 mb-3">
                            <label for="Reference">Contact Person 2</label>
                            <input type="text" class="input" asp-for="VendContactPer2" >
                            <span asp-validation-for="VendContactPer2" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Reference">Tel No.</label>
                            <input type="text" class="input" asp-for="VendContactTel2" >
                            <span asp-validation-for="VendContactTel2" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Reference">Email</label>
                            <input type="text" class="input" asp-for="VendEmail" >
                            <span asp-validation-for="VendEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row my-0">
                        <div class="col-md-3 mb-3">
                            <label for="Reference">Vendor Address</label>
                            <textarea class="input" asp-for="VendAdd1" ></textarea>
                            <span asp-validation-for="VendAdd1" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Reference">Address (Count).</label>
                            <textarea class="input" asp-for="VendAdd2" ></textarea>
                            <span asp-validation-for="VendAdd2" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Reference">Remarks</label>
                            <textarea class="input" asp-for="VendRemarks" ></textarea>
                        </div>
                    </div>
                    <div class="savenext-btn">
                        @*<a asp-controller="VendorProfile" asp-action="Index" class="reset-btn">Cancel</a>*@
                        <button type="button" class="save-btn active" onclick="Save();">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        function Save() {
            if ($("#frmVendorProfileDetails").valid()) {
                $("#frmVendorProfileDetails").submit();
            }
        }
        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
        };
    </script>
}