@{
    ViewData["Title"] = "IE Performance";
}

<div class="list-inner">
    <div class="tast-list">
        <h2>IE Performance</h2>
    </div>
</div>
<div class="task-listinput">
    <div class="accordion-body">
        <div class="task-inner row">
            <div class="col-md-3">
                <div class="input-search">
                    <label for="FromDate">For The Period From</label>
                    <input type="text" class="datepicker" id="FromDate" placeholder="DD/MM/YYYY" />
                    <span class="text-danger field-validation-error" id="spnErrorFromDate"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-search">
                    <label for="ToDate">To</label>
                    <input type="text" class="datepicker" id="ToDate" placeholder="DD/MM/YYYY" />
                    <span class="text-danger field-validation-error" id="spnErrorToDate"></span>
                </div>
            </div>
            <div class="col-md-3" style="margin-top: 30px;">
                <div class="savenext-btn">
                    <button type="button" class="save-btn active" onclick="ViewReport();">Submit</button>
                    <button type="button" class="reset-btn" onclick="ClearControls();">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        function ClearControls() {
            $("#FromDate").val("");
            $("#ToDate").val("");
            $("#spnErrorFromDate").html("");
            $("#spnErrorToDate").html("");
        }

        function ViewReport() {

            $("#spnErrorFromDate").html("");
            $("#spnErrorToDate").html("");

            var IsValid = true;

            if ($("#FromDate").val() == "") {
                $("#spnErrorFromDate").html("The From Date field is required.");
                IsValid = false;
            }
            if ($("#ToDate").val() == "") {
                $("#spnErrorToDate").html("The To Date field is required.");
                IsValid = false;
            }

            if ($("#FromDate").val() != "" && IsValidDate($("#FromDate").val()) == false) {
                $("#spnErrorFromDate").html("Invalid date format.");
                IsValid = false;
            }
            if ($("#ToDate").val() != "" && IsValidDate($("#ToDate").val()) == false) {
                $("#spnErrorToDate").html("Invalid date format.");
                IsValid = false;
            }

            if (!IsValid) return;

            var ReportType = "IE_X";
            var FromDate = moment($('#FromDate').datepicker('getDate')).format("YYYY-MM-DD");
            var ToDate = moment($('#ToDate').datepicker('getDate')).format("YYYY-MM-DD");
            let myObject = { ReportType, FromDate, ToDate };

            var url = '@Url.Action("Manage", "ManagementReports")?' + $.param(myObject);
            window.open(url, '_blank');
        }

    </script>
}
