@model IBS.Models.Reports.ClusterPerformanceModel

<table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse;" bordercolor="#111111" width="100%">
    <tbody>
        <tr bgcolor="#99cc99">
            <td width="100%" colspan="17">
                <h5 align="center">
                    <font face="Verdana">Bills Raised During The Month of January-2022 (all figures in Rs.)&nbsp;&nbsp;----&nbsp;&nbsp;Status as on : 14/09/2023 - 04:08 PM</font><br>
                    <p></p>
                </h5>
            </td>
        </tr>
        <tr height="30px" bgcolor="#ccccff">
            <th width="4%" valign="top"><b><font size="2" face="Verdana">SL.No.</font></b></th>
            <th width="12%" valign="top" align="left"><b><font size="2" face="Verdana">SECTOR</font></b></th>
            <th width="28%" valign="top" align="center" colspan="5"><b><font size="2" face="Verdana">INSP.FEE (Without Tax)</font></b></th>
            <th width="28%" valign="top" align="center" colspan="5"><b><font size="2" face="Verdana">INSP.FEE (Inclusive of All Tax &amp; Cess)</font></b></th>
            <th width="28%" valign="top" align="center" colspan="5"><b><font size="2" face="Verdana">NO. OF BILLS.</font></b></th>
        </tr>
        <tr height="40px">
            <th width="16%" valign="top" colspan="2"></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Northern Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Western Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Eastern Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Southern Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Central Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Northern Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Western Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Eastern Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Southern Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Central Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Northern Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Western Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Eastern Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Southern Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Central Region</font></b></th>
        </tr>
        <tr height="30px">
            <td width="4%" valign="top" align="center"> <font size="2" face="Verdana">1</font></td>
            <td width="12%" valign="top" align="left"> <font size="2" face="Verdana">RITES</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">330460</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">839995</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">1304</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">948886</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">0</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">389942</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">991194</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">1539</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">1119688</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">0</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">22</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">34</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">1</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">32</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">0</font></td>
        </tr>
        <tr bgcolor="#faebd7" height="30px">
            <td width="16%" valign="top" align="center" colspan="2"> <font size="2" face="Verdana"><b>Totals</b></font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana"><b>76891730</b></font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana"><b>78770246</b></font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana"><b>40554070</b></font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana"><b>38463110</b></font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana"><b>41828631</b></font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana"><b>91059537</b></font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana"><b>92943513</b></font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana"><b>47853803</b></font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana"><b>45386467</b></font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana"><b>49357788</b></font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana"><b>2452</b></font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana"><b>1949</b></font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana"><b>1458</b></font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana"><b>1136</b></font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana"><b>175</b></font></td>
        </tr>
        <tr bgcolor="#ccccff" height="30px">
            <td width="16%" valign="top" align="center" colspan="2"> <font size="2" face="Verdana"><b>Grand Totals</b></font></td>
            <td width="28%" valign="top" align="center" colspan="5"> <font size="2" face="Verdana"><b>276507787</b></font></td>
            <td width="7%" valign="top" align="center" colspan="5"> <font size="2" face="Verdana"><b>326601108</b></font></td>
            <td width="7%" valign="top" align="center" colspan="5"> <font size="2" face="Verdana"><b>7170</b></font></td>
        </tr>
        <tr height="70px">
            <td colspan="17"></td>
        </tr>
        <tr bgcolor="#99cc99">
            <td width="100%" colspan="17">
                <h5 align="center">
                    <font face="Verdana">Bills of Value less than 100 generated during above period for Railways for which no revenue to be collected</font><br>
                    <p></p>
                </h5>
            </td>
        </tr>
        <tr height="30px" bgcolor="#ccccff">
            <th width="4%" valign="top"></th>
            <th width="12%" valign="top" align="left"><b><font size="2" face="Verdana">SECTOR</font></b></th>
            <th width="28%" valign="top" align="center" colspan="5"><b><font size="2" face="Verdana">INSP.FEE (Without Tax)</font></b></th>
            <th width="28%" valign="top" align="center" colspan="5"><b><font size="2" face="Verdana">INSP.FEE (Inclusive of All Tax &amp; Cess)</font></b></th>
            <th width="28%" valign="top" align="center" colspan="5"><b><font size="2" face="Verdana">NO. OF BILLS.</font></b></th>
        </tr>
        <tr height="40px">
            <th width="16%" valign="top" colspan="2"></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Northern Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Western Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Eastern Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Southern Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Central Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Northern Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Western Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Eastern Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Southern Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Central Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Northern Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Western Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Eastern Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Southern Region</font></b></th>
            <th width="7%" valign="top" align="right"><b><font size="2" face="Verdana">Central Region</font></b></th>
        </tr>
        <tr height="30px">
            <td width="4%" valign="top" align="center"></td>
            <td width="12%" valign="top" align="left"> <font size="2" face="Verdana">Railway</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">-2552807</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">-311496</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">-1123974</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">-5000</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">-4842676</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">-2685025</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">-367563</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">-1326291</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">-5900</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">-5714358</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">129</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">42</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">71</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">53</font></td>
            <td width="7%" valign="top" align="right"> <font size="2" face="Verdana">16</font></td>
        </tr>
        <tr bgcolor="#ccccff" height="30px">
            <td width="16%" valign="top" align="center" colspan="2"> <font size="2" face="Verdana"><b>Totals</b></font></td>
            <td width="28%" valign="top" align="center" colspan="5"> <font size="2" face="Verdana"><b>-8835953</b></font></td>
            <td width="7%" valign="top" align="center" colspan="5"> <font size="2" face="Verdana"><b>-10099137</b></font></td>
            <td width="7%" valign="top" align="center" colspan="5"> <font size="2" face="Verdana"><b>311</b></font></td>
        </tr>
    </tbody>
</table>
