@model IBS.Models.IE_MaximumCallLimitFormModel

@{
    ViewData["Title"] = "IE Maximum Call Limit Form";
}
<div class="list-inner">
    <div class="tast-list">
        <h2>IE Maximum Call Limit Form</h2>
    </div>
</div>
<section class="table-section">
    <div class="task-listinput">
        <div class="accordion-body">
            <form data-ajax="true" asp-antiforgery="true" asp-controller="IE_MaximumCallLimitForm" asp-action="IE_MaximumCallLimitFormDetailsSave" data-ajax-method="post" data-ajax-complete="completed" id="frmIE_MaximumCallLimitForm">
                <input type="hidden" asp-for="RegionCode" />
                <div class="accordion-body">
                    <div class="row my-0">
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Region Name</label>
                            @*<textarea class="input" asp-for="RegionCode" maxlength="30"> </textarea>*@
                            @Html.DropDownListFor(model => model.RegionCode, new SelectList(IBS.Models.Common.GetRegion(Model.RegionCode) , "Value", "Text"),"--Select--",new {@disabled = "disabled" })
                            <span asp-validation-for="RegionCode" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="Reference">Maximum Call Limit</label>
                            <input type="text" class="input" asp-for="MaximumCall" maxlength="100">
                            <span asp-validation-for="MaximumCall" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="savenext-btn">
                        <a asp-controller="IE_MaximumCallLimitForm" asp-action="Index" class="reset-btn">Cancel</a>
                        <button type="button" class="save-btn active" onclick="Save();" id="btnSave">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(function () {
            
            const urlParams = new URLSearchParams(window.location.search);
            const Region = urlParams.get('Region');
            if (Region != null) {
                $("#btnSave").text("Update");
                //$("#RegionCode").attr("disabled", "disabled");
                $("#RegionCode").prop("disabled", true);
            }
            else
            {
                $('#RegionCode').removeAttr('disabled');
            }
        });


        function Save() {
            if ($("#frmIE_MaximumCallLimitForm").valid()) {
                $('#RegionCode').removeAttr('disabled');
                $("#frmIE_MaximumCallLimitForm").submit();
            }
        }
        completed = function (response) {
            var res = response.responseJSON;
            ShowHideMsgNew(res.status, res.responseText);
            window.location.href = "/IE_MaximumCallLimitForm/Index";
        };
    </script>
}