<div class="list-inner">
    <div class="tast-list">
        <h2>JI TOPSHEET</h2>
    </div>
</div>

<div class="accordion-body">
    <div class="row d-flex align-items-end my-0">
        <div class="col-md-2 mb-3">
            <label for="reference">JI SNO</label>
            <input type="text" class="input" id="JISNO">
            <span class="text-danger field-validation-error" id="spnErrorJISno"></span>
        </div>
        <div class="col-md-3 mb-3">
            <div class="savenext-btn">
                <button type="button" class="save-btn active" onclick="ViewReport();">Submit</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        function ViewReport() {

            $("#spnErrorJISno").html("");
            var IsValid = true;

            if ($("#JISNO").val() == "") {
                $("#spnErrorJISno").html("Enter JISno");
                IsValid = false;
            }
         

            if (!IsValid) return;

            var IsValid = true;

            var JISNO = $('#JISNO').val();;

            let myObject = {JISNO};

            var url = '@Url.Action("Manage", "JITopsheetReport")?' + $.param(myObject);
            window.open(url, '_blank');
        }

    </script>
}