@model IBS.Models.ICIsuued
<div class="list-inner">
    <div class="tast-list">
        <h2>CM Wise IC Issued By IE But Not Rrecived in Office</h2>
    </div>
</div>
<div class="accordion-body" id="BYIE">
    <div class="row my-0 d-flex align-items-end">
        <div class="col-md-3 mb-3">
            <label for="Reference">From Date</label>
            <input type="text" class="input datepicker" asp-for="FromDT" readonly="true" id="FromDate" required>
            <span asp-validation-for="FromDT" class="text-danger"></span>
        </div>
        <div class="col-md-3 mb-3">
            <label for="Reference">To Date</label>
            <input type="text" class="input datepicker" asp-for="ToDT" readonly="true" id="ToDate" required>
            <span asp-validation-for="ToDT" class="text-danger"></span>
        </div>
        <div class="col-md-3 mb-3">
            <div class="savenext-btn">
                <button type="button" class="save-btn active btncls" id="btnsubmit" onclick="Submit();">Submit</button>
            </div>
        </div>
    </div>
</div>