@{
    ViewData["Title"] = "Central Item Master List";
}

<div>
    <div class="list-inner">
        <div class="tast-list">
            <h2>Central Item Master List</h2>
        </div>
        <div class="list-btn">
            <a asp-area="" asp-controller="CentralItemMaster" asp-action="Manage" class="formBtn Permission_Add"><span class="fa fa-plus"></span> Add Central Item</a>
        </div>
    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtCentralMaster" class="table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Rail Cd</th>
                            <th>Rail Desc</th>
                            <th>Rail Length Meter</th>
                            <th>View Details</th>
                            <th class="width10p center padR10">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        $(function () {
            InitializeDatatable();
        });

        function InitializeDatatable() {
            $("#dtCentralMaster").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "RailCd" },
                    { data: "RailDesc" },
                    { data: "RailLengthMeter" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var Id = data.Id;
                            var poDetsilsUrl = '@Url.Action("Details", "CentralItemMaster")?id=' + Id;
                            var html = '<div align=\"center\" class=\"reportIcon\"> <a href=\"' + poDetsilsUrl + '\" class=\"edit\"><i class=\"fa fa-eye\" title="View"></i></a>';
                            html += '</div>';
                            return html;
                        }
                    },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var Id = data.Id;
                            var editUrl = '@Url.Action("Manage", "CentralItemMaster")/' + Id;
                            var html = '<div align=\"center\" class=\"reportIcon\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil Permission_EditView\" title="Edit"></i></a>';
                            //html += '<a onclick="MasterDelete(' + Id + '); return false;" href="javascript:void(\'0\');" id=\"' + Id + '\" class=\"delete\"><i class=\"fa fa-trash Permission_Delete\" title="Delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }

        function MasterDelete(id) {
            var url = '@Url.Action("Delete", "CentralItemMaster")';
            $("#btn-delete-yes").attr("href", url + "/" + id);
            $("#modal-delete-conf").modal("show");
        }
    </script>
}
