@model IBS.Models.OnlinePaymentGateway

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<div class="container">
    <div class="innerContent">
        <div class="list-inner">
            <div class="tast-list">
                <h2>3-Party Transaction</h2>
            </div>
        </div>
        <div class="accordion-body p-4">
            <form data-ajax="true" asp-antiforgery="true" data-ajax-method="Get" id="frmPaymentGateway" enctype="multipart/form-data">
                <div class="row">
                    <div class="row my-0">
                        <div class="col-md-12">
                            <h3 class="heading3 mb-4">Transaction Receipt Fields</h3>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">MerchTxnRef:</label>
                        <input type="text" class="input" ASP-FOR="CaseNo"  />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Merchant ID </label>
                        <input type="text" class="input"  ASP-FOR="CallDate"  />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Order Info. </label>
                        <input type="text" class="input" ASP-FOR="CallSno"  />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Transaction Amount: </label>
                        <input type="text" class="input" ASP-FOR="CallSno"  />
                    </div>
                    <label style="color: dodgerblue;font-weight: bold;text-decoration: underline;">Fields above are the primary request values.</label>
                    <label style="color: dodgerblue;font-weight: bold;text-decoration: underline;">Fields below are receipt data fields.</label>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Transaction Response Code:</label>
                        <input type="text" class="input" ASP-FOR="CaseNo" />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Transaction Response Code Description: </label>
                        <input type="text" class="input" ASP-FOR="CallDate"  />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Payment Server Message: </label>
                        <input type="text" class="input" ASP-FOR="CallSno" />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Acquirer Response Code: </label>
                        <input type="text" class="input" ASP-FOR="CallSno"  />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Shopping Transaction Number: </label>
                        <input type="text" class="input" ASP-FOR="CallSno"  />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Receipt Number: </label>
                        <input type="text" class="input" ASP-FOR="CallSno"  />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Authorization ID: </label>
                        <input type="text" class="input" ASP-FOR="CallSno"  />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Batch Number For This Transaction: </label>
                        <input type="text" class="input" ASP-FOR="CallSno"  />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Card Type: </label>
                        <input type="text" class="input" ASP-FOR="CallSno"  />
                    </div>
                    <label style="color: dodgerblue;font-weight: bold;text-decoration: underline;">Fields above are for a Standard Transaction.</label>
                    <label style="color: dodgerblue;font-weight: bold;text-decoration: underline;">Fields below are additional fields for extra functionality.</label>
                </div>
                <div class="row">
                    <div class="row my-0">
                        <div class="col-md-12">
                            <h3 class="heading3 mb-4">CSC Data Fields</h3>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">CSC Result Code:</label>
                        <input type="text" class="input" ASP-FOR="CaseNo" />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">CSC Result Description: </label>
                        <input type="text" class="input" ASP-FOR="CallDate" />
                    </div>
                    <div class="row my-0">
                        <div class="col-md-12">
                            <h3 class="heading3 mb-4">3DS Response Fields</h3>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">3DS ECI: </label>
                        <input type="text" class="input" ASP-FOR="CallSno" />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">3DS XID: </label>
                        <input type="text" class="input" ASP-FOR="CallSno" />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">3DS Enrolled: </label>
                        <input type="text" class="input" ASP-FOR="CallSno" />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">3DS Status: </label>
                        <input type="text" class="input" ASP-FOR="CallSno" />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">3DS VerToken: </label>
                        <input type="text" class="input" ASP-FOR="CallSno" />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">3DS VerType: </label>
                        <input type="text" class="input" ASP-FOR="CallSno" />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">3DS VerSecurityLevel: </label>
                        <input type="text" class="input" ASP-FOR="CallSno" />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">3DS VerStatus: </label>
                        <input type="text" class="input" ASP-FOR="CallSno" />
                    </div>
                </div>
                <div class="row">
                    <div class="row my-0">
                        <div class="col-md-12">
                            <h3 class="heading3 mb-4">Risk Assessment Result Fields</h3>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Risk Overall Result:</label>
                        <input type="text" class="input" ASP-FOR="CaseNo" />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="Reference">Transaction Reversal Result: </label>
                        <input type="text" class="input" ASP-FOR="CallDate" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>