@{
    ViewData["Title"] = "Returned Bills yet to be Resent (Not Posted in IBS)";
}



    <div id="hide">
    <div class="list-inner">
        <div class="tast-list">
            <h2>Returned Bills yet to be Resent (Not Posted in IBS)</h2>
        </div>
        <div class="col-md-3">
            <div class="list-btn">
                <a class="btnicons" href="javascript:void(0);" title="Export to Excel"><img id="imgExcel" src="../images/excel.png" alt="Export to Excel" /></a>
                <a class="btnicons" href="javascript:void(0);" title="Export to PDF"><img id="imgPdf" src="../images/pdf.png" alt="Export to PDF" /></a>
                <a class="btnicons" href="javascript:void(0);" title="Print"><img id="imgPrint" src="../images/print.png" alt="Print" /></a>
            </div>
        </div>
    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtinvoiced" class="table-responsive">
                    <thead>
                        <tr>
                            
                            <th>S.No.</th>
                            <th>Client</th>
                            <th>Bill No.</th>
                            <th>Bill Dt.</th>
                            <th>Bill Amount</th>
                            <th>BK No.</th>
                            <th>SET No.</th>
                            <th>Return Reason</th>
                            <th>Retun Date</th>
                            <th>
                                AU CODE
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    </div>


@section scripts{

    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        
        $(function () {
            InitializeDatatable1();
        });
        $("#imgExcel").on("click", function () {
            $('#dtinvoiced').DataTable().buttons(0, 0).trigger();
        });

        $("#imgPdf").on("click", function () {
            $('#dtinvoiced').DataTable().buttons(0, 1).trigger();
        });

        $("#imgPrint").on("click", function () {
            $('#dtinvoiced').DataTable().buttons(0, 2).trigger();
        });
        function InitializeDatatable1() {
            var _title = 'Returned Bills';
            $("#dtinvoiced").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                dom: 'rtip',
                buttons: [
                    {
                        extend: 'excel',
                        text: 'Export to Excel',
                        filename: function () { return getExportFileName('Returned_Bills'); },
                        download: 'open',
                        orientation: 'landscape',
                        title: _title,
                        footer: true,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
                            modifier: {
                                page: 'all',
                                search: 'none'
                            }
                        },
                    },
                    {
                        extend: 'pdfHtml5',
                        filename: function () { return getExportFileName('Returned_Bills'); },
                        text: 'Export to PDF',
                        orientation: 'landscape',
                        title: _title,
                        footer: true,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
                            modifier: {
                                page: 'all',
                                pageSize: 'LEGAL',
                                search: 'none',
                            }
                        },
                        customize: function (doc) {
                            doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                            doc.defaultStyle.fontSize = 8; //<-- set fontsize to 16 instead of 10
                            doc.pageMargins = [5, 100, 5, 5];

                        }
                    },
                    {
                        extend: 'print',
                        text: 'Print',
                        title: _title,
                        footer: true,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                        },
                    },
                ],
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    //{
                    //    render: function (data, type, row) {
                    //        var Id = data.LabId;
                    //        var editUrl = '@Url.Action("LaboratoryManage", "LaboratoryMaster")';
                    //        var html = '<div align=\"center\" class=\"reportIcon\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                    //        html += '</div>';
                    //        return html;
                    //    }
                    //},
                    { data: "BpoRly" },
                    { data: "BillNo" },
                    { data: "BillDate" },
                    { data: "BillAmount" },
                    { data: "BkNo" },
                    { data: "SetNo" },
                    { data: "ReturnReason" },
                    { data: "ReturnDate" },
                    { data: "AU" },
                    
                    
        //            {
        //                data: null, orderable: false,
        //                render: function (data, type, row) {
                           
        //                    //var CASE_NO = data.CASE_NO;
        //                    //var SAMPLE_REG_NO = data.SAMPLE_REG_NO;
        //                    //var INVOICE_NO = data.INVOICE_NO;
                           
        //                    var escapedRow = JSON.stringify(row).replace(/"/g, '&quot;'); 
        //                    var linkText = 'Select';
        //                var editLink = '<a href="javascript:void(0);" ' +
        //               'onclick="editRow(' + escapedRow + ')" ' +
        //               'style="color: blue; text-decoration: underline;">' +
        //               linkText +
        //               '</a>';
                       
        //return editLink;
        //                }
        //            },
                    
                ],
                
                "order": [[0, "asc"]]
            });
        
        }
        //function editRow(escapedRow) {
        //    $("#hide").css("display","none");
        //    $("#txtcno").val(escapedRow.CASE_NO);
        //    $("#txtregno").val(escapedRow.SAMPLE_REG_NO);
        //    $("#txtinno").val(escapedRow.INVOICE_NO);
           
           
        //}
      
        //function UserDelete(UserId) {
        //        var url = '@Url.Action("Delete", "UserAdministrator")?UserId=' + UserId;
        //    $("#btn-delete-yes").attr("href", url);
        //    $("#modal-delete-conf").modal("show");
        //}

    </script>
}