@model IBS.Models.ReportsModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    string Bk_No = !string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Request.Query["Bk_No"]) ? Convert.ToString(HttpContextAccessor.HttpContext.Request.Query["Bk_No"]) : "";
    string Set_No_Fr = !string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Request.Query["Set_No_Fr"]) ? Convert.ToString(HttpContextAccessor.HttpContext.Request.Query["Set_No_Fr"]) : "";
    Layout = null;
    string ReportType = (Model != null ? Model.ReportType : "");
    string ReportTitle = (Model != null ? Model.ReportTitle : "");
    ViewData["Title"] = ReportTitle;
}

<html>
<head>
    <title>@ReportTitle</title>
    <style>
        body {
            background-color: transparent;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
        }

        .commonBtn {
            background: #F66A2F;
            border: 1px solid #F66A2F;
            padding: 8px 15px;
            border-radius: 6px;
            color: #fff;
            cursor: pointer;
        }

            .commonBtn:hover {
                background: #008B29;
                border: 1px solid #008B29;
            }

        .borderTable {
            border-left: 1px solid #d1d1d1;
            border-top: 1px solid #d1d1d1;
            white-space: nowrap;
        }

            .borderTable th, .borderTable td {
                border-right: 1px solid #d1d1d1;
                border-bottom: 1px solid #d1d1d1;
                padding: 5px;
            }

            .borderTable th {
                background: #008B29;
                color: #fff;
                font-weight: bold;
                font-size: 14px;
            }

            .borderTable tr:nth-child(odd) td {
                background: #f1f1f1;
            }

        .reportLabelList {
            margin: 0 0 20px 0;
            padding: 0;
            list-style: none;
        }

            .reportLabelList li {
                display: inline-block;
                font-weight: bold;
                margin-right: 30px;
                color: #FC5518;
            }

                .reportLabelList li .labelName {
                    font-weight: normal;
                    color: #000;
                }

        .tableOuter {
            width: 100%;
            overflow: auto;
            max-height: 450px;
            margin-bottom: 20px;
        }

        .heading3 {
            font-size: 20px;
            font-weight: 600;
            position: relative;
            color: #118133;
            margin: 0;
            padding: 0;
            margin-bottom: 40px;
        }

            .heading3:before {
                background: #FC5518;
                content: "";
                width: 5%;
                height: 2px;
                position: absolute;
                bottom: -10px;
                left: 0;
            }

        .orangeText {
            color: #F66A2F;
        }

        .borderTable tr.reportTotal td {
            background: #ff0;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <p align="right">
        <input type="button" class="commonBtn" value="Print" id="btnPrint" />
        <input type="button" class="commonBtn" value="Export To PDF" id="btnExportToPdf" />
        <input type="button" class="commonBtn" value="Export To Excel" id="btnExportToExcel" />
    </p>
    <div id="dvReportViewer"></div>
    <div class="overlayLoader" style="display: none">
        <div class="loaderHolder">
            <div class="lds-dual-ring"></div>
        </div>
    </div>
</body>
</html>
<link href="~/css/report.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/html2pdf.bundle.min.js"></script>
<script src="~/js/site.js"></script>

<script type="text/javascript">

    var fileName = '';

    $(document).ready(function () {
        if ('@ReportType' == 'IE7thCopy_X') {
            loadIE7thCopy();
            fileName = 'IC_Book_Set_7th_Copy';
        }       
    });

    function loadIE7thCopy() {
        debugger
        $("#dvReportViewer").load("@Url.Action("IE7thCopyReport")", { Bk_No: '@Bk_No', Set_No: '@Set_No_Fr' }, function (response) {
            $("#dvReportViewer").empty();
            $("#dvReportViewer").html(response);
        });
    }  
    
    $("#btnPrint").click(function () {
        generatePdf(true);
    });

    $("#btnExportToPdf").click(function () {
        generatePdf(false);
    });

    $("#btnExportToExcel").click(function () {
        let file = new Blob([$('#dvReportViewer').html()], { type: "application/vnd.ms-excel" });
        let url = URL.createObjectURL(file);
        let a = $("<a />", {
            href: url,
            download: getExportFileName(fileName) + ".xls"
        }).appendTo("body").get(0).click();
        e.preventDefault();
    });

    function generatePdf(isPrint) {
        var element = document.getElementById('dvReportViewer');

        element.style.width = "1100px";

        const options = {
            margin: 0,
            filename: getExportFileName(fileName) + '.pdf',
            image: { type: 'jpeg', quality: 1 },
            html2canvas: {
                scale: 4,
                useCORS: true
            },
            jsPDF: { unit: 'in', format: 'a4', orientation: 'landscape' }
        };

        if (isPrint) {
            html2pdf().set(options).from(element).toPdf().get('pdf').then(function (pdfObj) {
                pdfObj.autoPrint();
                window.open(pdfObj.output('bloburl'), '_blank');
            });
        }
        else {
            html2pdf().set(options).from(element).save();
        }

        element.style.width = "100%";
    }

    $(document).ajaxSend(function () {
        $(".overlayLoader").show();
    });

    $(document).ajaxComplete(function () {
        $(".overlayLoader").hide();
    });

</script>
