@{
    ViewData["Title"] = "IECopy";
}

<div class="list-inner">
    <div class="tast-list">
        <h2>INSPECTION CERTIFICATE BOOK SET 7TH COPY REPORT</h2>
    </div>
</div>
<div class="task-listinput">
    <div class="accordion-body">
        <div class="task-inner row">
            <div class="col-md-3">
                <div class="input-search">
                    <label for="txtBookNo">Book No.</label>
                    <input type="text" id="txtBookNo" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-search">
                    <label for="txtSetNo">Set No. From</label>
                    <input type="text" id="txtSetNo" readonly />
                </div>
            </div>
            <div class="col-md-3" style="margin-top: 30px;">
                <div class="savenext-btn">
                    <button type="button" class="save-btn active" onclick="InitializeDatatable();">Search</button>
                    <button type="button" class="reset-btn" onclick="ClearControls();">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="table-section" id="tblsection">
    <div class="task-listinput">
        <div class="dash-table">
            <table id="dtList" class="table-responsive">
                <thead>
                    <tr>
                        <th>Book No.</th>
                        <th>Set No. From</th>
                        <th>Set No. To</th>
                        <th>Issue Date to IE</th>
                        <th>IE to Whom Issued</th>
                        <th>Book Submitted</th>
                        <th>Book Submit Date</th>
                        <th>Book Issued To Region</th>
                        <th>View Report</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        function InitializeDatatable() {
            debugger
            var Bk_No = $("#txtBookNo").val() == "" ? null : $("#txtBookNo").val();
            var Set_No_Fr = $("#txtSetNo").val() == "" ? null : $("#txtSetNo").val();
            $("#dtList").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: false,// Paging Setups
                searching: false,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("Get_Book_Set_Copy", "Reports")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            Bk_No, Set_No_Fr
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },

                columns: [
                    { data: "Bk_No" },
                    { data: "Set_No_Fr" },
                    { data: "Set_No_To", },
                    { data: "Issue_Dt" },
                    { data: "Issue_To_Iecd" },
                    { data: "Bk_Submited" },
                    { data: "Bk_Submit_Dt" },
                    { data: "Bk_Issue_To_Region" },
                    {
                        data: "", render: function (data, type, row, meta) {
                            var Bk_No = row.Bk_No;
                            var Set_No_Fr = row.Set_No_Fr;
                            var html = '<div align=\"center\" class=\"reportIcon\" style=\"text-align: center;\"> <a onclick="ViewReport(\'' + Bk_No + '\',\'' + Set_No_Fr + '\'); return false; " href="javascript: void (\'0\');" class=\"edit\"><i class=\"fa fa-pencil\" title="Report"></i></a>';
                            html += '</div>';
                            return html;
                        }
                    }
                ],
                "order": [[0, "asc"]]
            });
        }
        function ViewReport(Bk_No, Set_No_Fr) {           
            let myObject = { Bk_No, Set_No_Fr };
            var url = '@Url.Action("IE7thCopyReport", "Reports")?' + $.param(myObject);
            window.open(url, '_blank');
        }
    </script>
}

