@model IBS.Models.LabTDSEntryModel
@{
    ViewData["Title"] = "LAB TDS ENTRY FORM";

    string clsView = "";
    // if (Model.SampleRegNo != "0")
    // {

    //     clsView = "Permission_View";
    // }
}

<div class="list-inner">
    <div class="tast-list">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>
<section class="@clsView">
    <div class="task-listinput">
        <div class="accordion-body">
            <div class="row my-0">
                <div class="col-md-4 mb-3">
                    <label for="Reference">Sample Reg No.</label>
                    <input type="text" class="input" asp-for="SampleRegNo" id="txtSRNO">
                    <span class="text-danger field-validation-error" id="spnErrorsRegNo"></span>
                </div>
                <div class="col-md-4 mb-3 savenext-btn" style="margin-top:auto;">
                    <button type="button" class="save-btn active" onclick="SearchRegNo();">Search</button>
                </div>
            </div>
            
            <div class="row my-0">
                <div class="col-md-3 mb-3">
                    <label for="Reference">CaseNo</label>
                    <input type="text" class="input" asp-for="CaseNo" id="lblCNo" readonly="readonly">
                </div>

                <div class="col-md-3 mb-3">
                    <label for="Reference">Amount Received</label>
                    <input type="text" class="input" asp-for="AmountReceived" id="lblAmtRec" readonly="readonly">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">TDS Amount</label>
                    <input type="text" class="input" asp-for="TDSAmount" id="lbltsdamt">
                    <span class="text-danger field-validation-error" id="spnErrorsTdsAmt"></span>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Reference">TDS Date</label>
                    <input class="input datepicker" asp-for="TDSDate" id="lbltdsdate">
                    <span class="text-danger field-validation-error" id="spnErrorsTdsDt"></span>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-md-3 mb-3">
                    <label for="Reference">Total Lab Charges</label>
                    <input type="text" class="input" asp-for="TotalLabCharges" id="lblTotLabCharges" readonly="readonly">
                </div>

            </div>
            <div class="savenext-btn" style="margin-left:47%;">
                <button type="submit" class="save-btn active Permission_Save" style="width:auto;" onclick="Save();">Save</button>
                <button type="button" class="save-btn active" style="width:auto;" onclick="resetFields()">Reset</button>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        //function Validation(){
        //    if ("#txtSRNO").val() == ""){
        //        alert("Please Enter Sample Registration No.");
        //        return false;
        //    }
        //    SearchRegNo();
        //}
        function resetFields() {
            location.reload();
        }
        function SearchRegNo() {
            $("#spnErrorsRegNo").html("");
            var IsValid = true;
            if ($("#txtSRNO").val() == "") {
                $("#spnErrorsRegNo").html("Please Enter Sample Register No.");
                IsValid = false;
            }
            
            if (!IsValid) return;
            var RegNo = $("#txtSRNO").val();
            var TDSAmt = $("#lbltsdamt").val();
            var TDSDate = $("#lbltdsdate").val();
            $.ajax({
                url: '/LabTDSEntry/SearchRegNo',
                type: "POST",
                dataType: "JSON",
                data: { RegNo: RegNo },

                success: function (success) {
                    if (success.SampleRegNo == null) {
                        $("#lblCNo").val('');
                        $("#lblAmtRec").val('');
                        $("#lblTotLabCharges").val('');
                        $("#lbltsdamt").val('');
                        $("#lbltdsdate").val('');
                        alert("InValid Sample Registration No.");
                        return false;
                    }
                    else {
                        $("#lblCNo").val(success.CaseNo);
                        $("#lblAmtRec").val(success.AmountReceived);
                        $("#lblTotLabCharges").val(success.TotalLabCharges);
                        $("#lbltsdamt").val(success.TDSAmount);
                        $("#lbltdsdate").val(success.TDSDate);
                    }

                }

            });

        }
        function Save() {
            $("#spnErrorsRegNo").html("");
            $("#spnErrorsTdsAmt").html("");
            $("#spnErrorsTdsDt").html("");
            var IsValid = true;
            if ($("#txtSRNO").val() == "") {
                $("#spnErrorsRegNo").html("Please Enter Sample Register No.");
                IsValid = false;
            }
            if ($("#lbltsdamt").val() == "") {
                $("#spnErrorsTdsAmt").html("Please Enter TDS Amount");
                IsValid = false;
            }
            if ($("#lbltdsdate").val() == "") {
                $("#spnErrorsTdsDt").html("Please Enter TDS Date");
                IsValid = false;
            }
            if (!IsValid) return;
            var RegNo = $("#txtSRNO").val();
            var TDSAmt = $("#lbltsdamt").val();
            var parts = $("#lbltdsdate").val().split('/');
            var TDSDate = parts[1] + '/' + parts[0] + '/' + parts[2];
            $.ajax({
                url: '/LabTDSEntry/SaveTDSEntry',
                type: "POST",
                dataType: "JSON",
                data: { RegNo: RegNo, TDSAmt: TDSAmt, TDSDate: TDSDate },

                success: function (success) {
                    if (success == true) {
                        alert("YOUR RECORD IS SAVED");
                        location.reload();
                    }
                    else {
                        alert("An unexpected error occurred while saving. Please try again later or contact the system administrator.");
                    }

                }

            });

        }
    </script>
}
