@model IBS.Models.LabTDSEntryModel
@{
    ViewData["Title"] = "LAB TDS ENTRY FORM";
}

<h2>@ViewData["Title"]</h2>
<div class="boxRadius">
<form asp-controller="YourController" asp-action="YourAction" method="post">
    <table>
        <tr align="center">
            <td class="width10p"><label asp-for="SampleRegNo" class="control-label"></label></td>
                <td class="width25p">
                <div class="gridSearch">
                <input asp-for="SampleRegNo" class="form-control" />
                <button type="submit" class="btn btn-primary">Search</button>
                    </div>
            </td>
                <td class="width25p"><label asp-for="CaseNo" class="control-label"></label></td>
                <td class="width25p">
                <label asp-for="CaseNo" class="control-label" id="lblCNo"></label>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="AmountReceived" class="control-label"></label>
            </td>
            <td>
                <label asp-for="TDSAmount" class="control-label"></label>
            </td>
            <td>
                <label asp-for="TDSDate" class="control-label"></label>
            </td>
            <td>
                <label asp-for="TotalLabCharges" class="control-label"></label>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="AmountReceived" class="control-label" id="lblAmtRec"></label>
            </td>
            <td>
                <input asp-for="TDSAmount" class="form-control" />
            </td>
            <td>
                <input asp-for="TDSDate" class="form-control" />
            </td>
            <td>
                <label asp-for="TotalLabCharges" class="control-label" id="lblTotLabCharges"></label>
            </td>
        </tr>
    </table>
    <span> * To Add New Record Fill Values and Click on Save </span>
        <div class="savenext-btn">
            <a type="button" class="reset-btn">Cancel</a>
            <button type="submit" class="save-btn active">Save</button>
    </div>
   
</form>
</div>