@{
    ViewData["Title"] = "IC Cancellation List";
}

<div>
    <div class="list-inner">
        <div class="tast-list">
            <h2>IC Cancellation List</h2>
        </div>
        <div class="list-btn">
            <a asp-area="" asp-controller="ICCancellation" asp-action="Manage" class="formBtn Permission_Add"><span class="fa fa-plus"></span> Add New IC Cancellation</a>
        </div>
    </div>
    <div class="accordion-body">
        <div class="row my-0">
            <div class="col-md-2 mb-3">
                <label for="reference">Book No.</label>
                <input type="text" class="input" id="txtBKNo">
            </div>
            <div class="col-md-3 mb-3">
                <label for="reference">Set No.</label>
                <input type="text" class="input" id="txtSetNo">
            </div>
            <div class="col-md-2 mb-3">
                <label for="reference">IE To Whom Issued</label>
                @Html.DropDownList("ddlIEToWhomIssued", new SelectList(IBS.Models.Common.GetIEToWhomIssued(ViewBag.Region) , "Value", "Text"),"--Select--")
            </div>
            <div class="col-md-2 mb-3">
                <div class="savenext-btn" style="margin-top: 31px;">
                    <button type="button" class="save-btn active" onclick="Search();">search</button>
                </div>
            </div>
        </div>
    </div>
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtICCancellation" class="table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Book No.</th>
                            <th>Set No.</th>
                            <th>IE</th>
                            <th>Status</th>
                            <th>Status Date</th>
                            <th>Remarks</th>
                            <th>Region</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        $(function () {
            InitializeDatatable();
        });
        function Search() {
            InitializeDatatable();
        }
        function InitializeDatatable() {
            var txtBKNo = $("#txtBKNo").val();
            var txtSetNo = $("#txtSetNo").val();
            var ddlIEToWhomIssued = $("#ddlIEToWhomIssued").val();
            $("#dtICCancellation").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: true,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            BKNo: txtBKNo, SetNo: txtSetNo, ISSUE_TO_IECD: ddlIEToWhomIssued
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "BK_NO" },
                    { data: "SET_NO" },
                    { data: "IE_NAME" },
                    { data: "IC_STATUS" },
                    { data: "STATUS_DT" },
                    { data: "REMARKS" },
                    { data: "REGION" },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            return data.IStatus=="1" ? "Aprroved" : "Pending";
                        }
                    },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var REGION = "";
                            if (data.REGION == 'Northern')
                            {
                                REGION = 'N';
                            }
                            else if (data.REGION == 'Western') {
                                REGION = 'W';
                            }
                            else if (data.REGION == 'Eastern') {
                                REGION = 'E';
                            }
                            else if (data.REGION == 'Central') {
                                REGION = 'C';
                            }
                            
                            var BK_NO = data.BK_NO;
                            var SET_NO = data.SET_NO;
                            var editUrl = '@Url.Action("Manage", "ICCancellation")?REGION=' + REGION + "&BK_NO=" + BK_NO + "&SET_NO=" + SET_NO;
                            var html = '<div align=\"center\" class=\"reportIcon\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil Permission_EditView\" title="Edit"></i></a>';
                            //html += '<a onclick="ICCancellationDelete(\'' + REGION + '\'); return false;" href="javascript:void(\'0\');" id=\"' + EncryptedRoleId + '\" class=\"delete\"><i class=\"fa fa-trash Permission_Delete\" title="Delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },
                ],
                "order": [[0, "asc"]]
            });
        }

        //function ICCancellationDelete(id) {
        //    var url = '@Url.Action("Delete", "ICCancellation")';
        //    $("#btn-delete-yes").attr("href", url + "/" + id);
        //    $("#modal-delete-conf").modal("show");
        //}
    </script>
}

