@{
    ViewData["Title"] = "Quality manual & procedures";
}

<div class="list-inner landLordIdflex">
    <div class="tast-list">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<div class="task-listinput">
    <div class="accordion-body">
        <div class="task-inner row my-0">
            <div class="col-md-1">
                <div class="reference">
                    <img id="BArrow1" src="~/images/BArrow.gif" />
                </div>
            </div>
            <div class="col-md-11">
                <div class="reference">
                    <a href="http://ritesltd.com/upload/misc/ISO/QA_ISO_Manual.pdf" target="_blank">Quality Manual</a>
                </div>
            </div>
        </div>
        <div class="task-inner row my-0">
            <div class="col-md-1">
                <div class="reference">
                    <img id="BArrow2" src="~/images/BArrow.gif" />
                </div>
            </div>
            <div class="col-md-11">
                <div class="reference">
                    <a href="http://ritesltd.com/upload/misc/QA_Q.Procedure/1.List%20of%20Procedures.docx" target="_blank">Quality Procedures</a>
                    <span style="font-family: Verdana; color: DarkBlue; height: 20px">@("(PWD: qa_proc@)")</span>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>