@model IBS.Models.InterUnit_TransferModel
@{
    //ViewData["Title"] = "Inter Unit Transfer";
    //    string clsView = "";
    //if (Model.BANK_CD > 0)
    //    {
    //        clsView = "Permission_View";
    //    }
}
<div class="list-inner">
    <div class="tast-list">
        <h2>INTER UNIT TRANSFERS</h2>
    </div>
    @*<div class="list-btn">
    <a asp-area="" asp-controller="InterUnit_Transfer" asp-action="Manage" class="formBtn"><span class="fa fa-plus"></span> Add New</a>
    </div>*@
</div>
<div class="task-listinput">
    <div class="accordion-body">
        <form role="form" asp-controller="InterUnit_Transfer" asp-action="Manage" id="frmDetail">
            <input type="hidden" id="hdnBank" name="hdnBank" />
            <input type="hidden" id="hdnChequeNo" name="hdnChequeNo" />
            <input type="hidden" id="hdnChequeDate" name="hdnChequeDate" />
            <div class="task-inner row">
                <div class="col-md-3">
                    <div class="input-search">
                        <label for="dpBank">Bank</label>

                        @Html.DropDownList("dpBank", Common.GetBank().OrderBy(x => x.Text), new { @id = "dpBank" })
                        <label class="text-danger" id="lblErrorBank"></label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-search">
                        <label for="txtChequeNo">Cheque No.</label>
                        <input type="text" id="txtChequeNo" class="input" />
                        <label class="text-danger" id="lblErrorChequeNo"></label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-search">
                        <label for="txtChequeDate">Cheque Date</label>
                        <input type="text" id="txtChequeDate" class="input datepicker" placeholder="DD/MM/YYYY" />
                        <label class="text-danger" id="lblErrorChequeDate"></label>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top: 30px;">
                    <div class="savenext-btn">
                        <button type="button" class="save-btn active" id="btnSearch">Search</button>                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {            

        });

        $("#btnSearch").click(function () {
            var Bank = $("#dpBank").val();
            var ChqNo = $("#txtChequeNo").val();
            var ChqDate = $("#txtChequeDate").val();

            if (Bank == "" || ChqNo == "" || ChqDate==""){
                if (Bank == "") { $("#lblErrorBank").html("Please select Bank") }
                if (ChqNo == "") { $("#lblErrorChequeNo").html("Enter Cheque No") }
                if (ChqDate == "") { $("#lblErrorChequeDate").html("Enter Cheque Date") }
                return;
            }


            var url = "@Url.Action("Manage","InterUnit_Transfer")?Bank=" + Bank + "&ChqNo=" + ChqNo + "&ChqDT=" + ChqDate;
            window.location.href = url;                       
        });        
    </script>
}
