<div class="list-inner">
    <div class="tast-list">
        <h2>RITES QA DIVISION (GURUGRAM) CLIENT FEEDBACK FORM</h2>
    </div>
</div>
<div class="accordion-body">
    <div class="row my-0">
        <div class="col-md-12 mb-3">
            <div class="alert alert-info"><span class="astric">*</span> Kindly Enter Your Name Of Organisation , Your Name, Mobile No. and Email-ID then Select the Region for which you are submitting the Rating/Feedback, then enter Rating/Feedback and Click on Save Button.</div>
        </div>
    </div>
    <div class="row my-0">
        <div class="col-md-3 mb-3">
            <label for="NameOfOrganisation">Name Of Organisation</label>
            <input type="text" id="NameOfOrganisation" />
        </div>
        <div class="col-md-3 mb-3">
            <label for="NameoftheOfficialFillingtheform">Name of the Official Filling the form</label>
            <input type="text" id="NameoftheOfficialFillingtheform" />
        </div>
        <div class="col-md-3 mb-3">
            <label for="MobileNo">Mobile No.</label>
            <input type="text" id="MobileNo" />
            <span class="astric note">(10 Digits Mobile No.)</span>
        </div>
        <div class="col-md-3 mb-3">
            <label for="Email">Email</label>
            <input type="text" id="Email" />
        </div>
    </div>
    <hr />
    <h3 class="headingh3">Region for which Feedbak to be submitted</h3>
    <div class="row my-0">
        <div class="col-md-3 mb-3">
            <label for="RegionFeedbakSubmitted" class="d-none">Region for which Feedbak to be submitted</label>
            <select id="RegionFeedbakSubmitted">
                <option value=""></option>
                <option value="N">NORTHERN REGION</option>
                <option value="E">EASTERN REGION</option>
                <option value="W">WESTERN REGION</option>
                <option value="S">SOUTHERN REGION</option>
                <option value="C">CENTRAL REGION</option>
                <option value="Q">CO QA DIVISION</option>
            </select>
        </div>
    </div>
    <hr />
    
    <div class="row my-0">
        <div class="col-md-6 mb-3">
            <h3 class="headingh3">Description</h3>
            <hr />
            <p class="bold mb-0">Response of RITES office in attending to priorities given by the Railways.</p>
        </div>
        <div class="col-md-6 mb-3">
            <h3 class="headingh3">Rating</h3>
            <hr />
            <div class="company-checkbox rattingCheckboxGrp">
                <div class="remember">
                    <div class="remecheckbox">
                        <input type="radio" name="ratting" id="BelowAverage0" />
                        <label for="BelowAverage0">Below Average</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Good0" />
                        <label for="Good0">Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="VeryGood0" />
                        <label for="VeryGood0">Very Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Excellent0" />
                        <label for="Excellent0">Excellent</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-0">
        <div class="col-md-6 mb-3">
            <p class="bold mb-0">Completion of inspections in time by RITES Inspecting Engineer.</p>
        </div>
        <div class="col-md-6 mb-3">
            <div class="company-checkbox rattingCheckboxGrp">
                <div class="remember">
                    <div class="remecheckbox">
                        <input type="radio" name="ratting" id="BelowAverage1" />
                        <label for="BelowAverage1">Below Average</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Good1" />
                        <label for="Good1">Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="VeryGood1" />
                        <label for="VeryGood1">Very Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Excellent1" />
                        <label for="Excellent1">Excellent</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-0">
        <div class="col-md-6 mb-3">
            <p class="bold mb-0">Quality of Inspections and Rejection Advices on RITES website for JI Registration.</p>
        </div>
        <div class="col-md-6 mb-3">
            <div class="company-checkbox rattingCheckboxGrp">
                <div class="remember">
                    <div class="remecheckbox">
                        <input type="radio" name="ratting" id="BelowAverage2" />
                        <label for="BelowAverage2">Below Average</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Good2" />
                        <label for="Good2">Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="VeryGood2" />
                        <label for="VeryGood2">Very Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Excellent2" />
                        <label for="Excellent2">Excellent</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-0">
        <div class="col-md-6 mb-3">
            <p class="bold mb-0">Ease of Registering of Rejection Advices on RITES website for JI Registration.</p>
        </div>
        <div class="col-md-6 mb-3">
            <div class="company-checkbox rattingCheckboxGrp">
                <div class="remember">
                    <div class="remecheckbox">
                        <input type="radio" name="ratting" id="BelowAverage3" />
                        <label for="BelowAverage3">Below Average</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Good3" />
                        <label for="Good3">Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="VeryGood3" />
                        <label for="VeryGood3">Very Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Excellent3" />
                        <label for="Excellent3">Excellent</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-0">
        <div class="col-md-6 mb-3">
            <p class="bold mb-0">Response of RITES in attending to Joint Inspection requests for Rejection Cases.</p>
        </div>
        <div class="col-md-6 mb-3">
            <div class="company-checkbox rattingCheckboxGrp">
                <div class="remember">
                    <div class="remecheckbox">
                        <input type="radio" name="ratting" id="BelowAverage4" />
                        <label for="BelowAverage4">Below Average</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Good4" />
                        <label for="Good4">Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="VeryGood4" />
                        <label for="VeryGood4">Very Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Excellent4" />
                        <label for="Excellent4">Excellent</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-0">
        <div class="col-md-6 mb-3">
            <p class="bold mb-0">Nature of Technical references sent by RITES and suggestions on improvement of material quality.</p>
        </div>
        <div class="col-md-6 mb-3">
            <div class="company-checkbox rattingCheckboxGrp">
                <div class="remember">
                    <div class="remecheckbox">
                        <input type="radio" name="ratting" id="BelowAverage5" />
                        <label for="BelowAverage5">Below Average</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Good5" />
                        <label for="Good5">Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="VeryGood5" />
                        <label for="VeryGood5">Very Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Excellent5" />
                        <label for="Excellent5">Excellent</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-0">
        <div class="col-md-6 mb-3">
            <p class="bold mb-0">Liaison by RITES officials with your office and their responsiveness.</p>
        </div>
        <div class="col-md-6 mb-3">
            <div class="company-checkbox rattingCheckboxGrp">
                <div class="remember">
                    <div class="remecheckbox">
                        <input type="radio" name="ratting" id="BelowAverage6" />
                        <label for="BelowAverage6">Below Average</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Good6" />
                        <label for="Good6">Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="VeryGood6" />
                        <label for="VeryGood6">Very Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Excellent6" />
                        <label for="Excellent6">Excellent</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-0">
        <div class="col-md-6 mb-3">
            <p class="bold mb-0">Quality of RITES website and dissemination of information for the clients.</p>
        </div>
        <div class="col-md-6 mb-3">
            <div class="company-checkbox rattingCheckboxGrp">
                <div class="remember">
                    <div class="remecheckbox">
                        <input type="radio" name="ratting" id="BelowAverage7" />
                        <label for="BelowAverage7">Below Average</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Good7" />
                        <label for="Good7">Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="VeryGood7" />
                        <label for="VeryGood7">Very Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Excellent7" />
                        <label for="Excellent7">Excellent</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-0">
        <div class="col-md-6 mb-3">
            <p class="bold mb-0">Accessibility of IC issued by RITES on IREPS portal.</p>
        </div>
        <div class="col-md-6 mb-3">
            <div class="company-checkbox rattingCheckboxGrp">
                <div class="remember">
                    <div class="remecheckbox">
                        <input type="radio" name="ratting" id="BelowAverage8" />
                        <label for="BelowAverage8">Below Average</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Good8" />
                        <label for="Good8">Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="VeryGood8" />
                        <label for="VeryGood8">Very Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Excellent8" />
                        <label for="Excellent8">Excellent</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-0">
        <div class="col-md-6 mb-3">
            <p class="bold mb-0">Responsiveness of the Inspection Engineer to queries raised by your office.</p>
        </div>
        <div class="col-md-6 mb-3">
            <div class="company-checkbox rattingCheckboxGrp">
                <div class="remember">
                    <div class="remecheckbox">
                        <input type="radio" name="ratting" id="BelowAverage9" />
                        <label for="BelowAverage9">Below Average</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Good9" />
                        <label for="Good9">Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="VeryGood9" />
                        <label for="VeryGood9">Very Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Excellent9" />
                        <label for="Excellent9">Excellent</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-0">
        <div class="col-md-6 mb-3">
            <p class="bold mb-0">Overall experience with RITES QA divison.</p>
        </div>
        <div class="col-md-6 mb-3">
            <div class="company-checkbox rattingCheckboxGrp">
                <div class="remember">
                    <div class="remecheckbox">
                        <input type="radio" name="ratting" id="BelowAverage10" />
                        <label for="BelowAverage10">Below Average</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Good10" />
                        <label for="Good10">Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="VeryGood10" />
                        <label for="VeryGood10">Very Good</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="ratting" id="Excellent10" />
                        <label for="Excellent10">Excellent</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-0">
        <div class="col-md-12 mb-3">
            <label class="bold mb-0" for="Comments">Any other Comments/Suggestiong regarding functioning RITES QA system.</label>
            <textarea id="Comments"></textarea>
            <span class="note astric">(250 Chars Maxm)</span>
        </div>
    </div>
    <div class="savenext-btn">
        <button type="button" class="save-btn active">Save</button>
    </div>
</div>