<div class="list-inner">
    <div class="tast-list">
        <h2>RITES QA Division (Gurugram) Client Feedback Form</h2>
    </div>
</div>
<div class="accordion-body">
    <div class="row my-0">
        <div class="col-md-12 mb-3">
            <div class="alert alert-info"><span class="astric">*</span> Kindly Enter Your Name Of Organisation , Your Name, Mobile No. and Email-ID then Select the Region for which you are submitting the Rating/Feedback, then enter Rating/Feedback and Click on Save Button.</div>
        </div>
    </div>
    <h3 class="headingh3">Region for which Feedbak to be submitted</h3>
    <div class="row my-0">
        <div class="col-md-6 mb-3">
            <label for="RegionFeedbakSubmitted" class="d-none">Region for which Feedbak to be submitted</label>
            <select id="RegionFeedbakSubmitted">
                <option value=""></option>
                <option value="N">NORTHERN REGION</option>
                <option value="E">EASTERN REGION</option>
                <option value="W">WESTERN REGION</option>
                <option value="S">SOUTHERN REGION</option>
                <option value="C">CENTRAL REGION</option>
                <option value="Q">CO QA DIVISION</option>
            </select>
        </div>
    </div>
    <hr />
    <div class="row my-0">
        <div class="col-md-6 mb-3">
            <label for="NameOfOrganisation">Name Of Organisation</label>
            <input type="text" id="NameOfOrganisation" />
        </div>
        <div class="col-md-6 mb-3">
            <label for="NameoftheOfficialFillingtheform">Name of the Official Filling the form</label>
            <input type="text" id="NameoftheOfficialFillingtheform" />
        </div>
        <div class="col-md-6 mb-3">
            <label for="MobileNo">Mobile No.</label>
            <input type="text" id="MobileNo" />
            <span class="astric note">(10 Digits Mobile No.)</span>
        </div>
        <div class="col-md-6 mb-3">
            <label for="Email">Email</label>
            <input type="text" id="Email" />
        </div>
    </div>
    <hr />
    
    <div class="row my-0">
        <div class="col-md-12">
            <div class="tableScroll">
                <table>
                    <tr>
                        <th class="width50p">Description</th>
                        <th>Rating</th>
                    </tr>
                    <tr>
                        <td>Response of RITES office in attending to priorities given by the Railways.</td>
                        <td>
                            <div class="d-flex align-items-center">
                            <div class="startRating">
                                <div class="ratingGroup">
                                    <input disabled checked class="ratingInput ratingInputNone" name="rating-1" id="ratingNone" value="0" type="radio">
                                    <label class="ratingLabel" for="BelowAverage-1"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                    <input class="ratingInput" name="rating-1" id="BelowAverage-1" value="Below Average" type="radio">
                                    <label class="ratingLabel" for="Good-1"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                    <input class="ratingInput" name="rating-1" id="Good-1" value="Good" type="radio">
                                    <label class="ratingLabel" for="VeryGood-1"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                    <input class="ratingInput" name="rating-1" id="VeryGood-1" value="Very Good" type="radio">
                                    <label class="ratingLabel" for="Excellent-1"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                    <input class="ratingInput" name="rating-1" id="Excellent-1" value="Excellent" type="radio">
                                </div>
                            </div>
                            <div class="ratingText"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Response of RITES office in attending to priorities given by the Railways.</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="startRating">
                                    <div class="ratingGroup">
                                        <input disabled checked class="ratingInput ratingInputNone" name="rating-2" id="ratingNone" value="0" type="radio">
                                        <label class="ratingLabel" for="BelowAverage-2"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-2" id="BelowAverage-2" value="Below Average" type="radio">
                                        <label class="ratingLabel" for="Good-2"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-2" id="Good-2" value="Good" type="radio">
                                        <label class="ratingLabel" for="VeryGood-2"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-2" id="VeryGood-2" value="Very Good" type="radio">
                                        <label class="ratingLabel" for="Excellent-2"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-2" id="Excellent-2" value="Excellent" type="radio">
                                    </div>
                                </div>
                                <div class="ratingText"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Quality of Inspections and Rejection Advices on RITES website for JI Registration.</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="startRating">
                                    <div class="ratingGroup">
                                        <input disabled checked class="ratingInput ratingInputNone" name="rating-3" id="ratingNone" value="0" type="radio">
                                        <label class="ratingLabel" for="BelowAverage-3"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-3" id="BelowAverage-3" value="Below Average" type="radio">
                                        <label class="ratingLabel" for="Good-3"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-3" id="Good-3" value="Good" type="radio">
                                        <label class="ratingLabel" for="VeryGood-3"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-3" id="VeryGood-3" value="Very Good" type="radio">
                                        <label class="ratingLabel" for="Excellent-3"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-3" id="Excellent-3" value="Excellent" type="radio">
                                    </div>
                                </div>
                                <div class="ratingText"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Ease of Registering of Rejection Advices on RITES website for JI Registration.</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="startRating">
                                    <div class="ratingGroup">
                                        <input disabled checked class="ratingInput ratingInputNone" name="rating-4" id="ratingNone" value="0" type="radio">
                                        <label class="ratingLabel" for="BelowAverage-4"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-4" id="BelowAverage-4" value="Below Average" type="radio">
                                        <label class="ratingLabel" for="Good-4"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-4" id="Good-4" value="Good" type="radio">
                                        <label class="ratingLabel" for="VeryGood-4"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-4" id="VeryGood-4" value="Very Good" type="radio">
                                        <label class="ratingLabel" for="Excellent-4"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-4" id="Excellent-4" value="Excellent" type="radio">
                                    </div>
                                </div>
                                <div class="ratingText"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Response of RITES in attending to Joint Inspection requests for Rejection Cases.</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="startRating">
                                    <div class="ratingGroup">
                                        <input disabled checked class="ratingInput ratingInputNone" name="rating-5" id="ratingNone" value="0" type="radio">
                                        <label class="ratingLabel" for="BelowAverage-5"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-5" id="BelowAverage-5" value="Below Average" type="radio">
                                        <label class="ratingLabel" for="Good-5"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-5" id="Good-5" value="Good" type="radio">
                                        <label class="ratingLabel" for="VeryGood-5"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-5" id="VeryGood-5" value="Very Good" type="radio">
                                        <label class="ratingLabel" for="Excellent-5"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-5" id="Excellent-5" value="Excellent" type="radio">
                                    </div>
                                </div>
                                <div class="ratingText"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Nature of Technical references sent by RITES and suggestions on improvement of material quality.</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="startRating">
                                    <div class="ratingGroup">
                                        <input disabled checked class="ratingInput ratingInputNone" name="rating-6" id="ratingNone" value="0" type="radio">
                                        <label class="ratingLabel" for="BelowAverage-6"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-6" id="BelowAverage-6" value="Below Average" type="radio">
                                        <label class="ratingLabel" for="Good-6"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-6" id="Good-5" value="Good" type="radio">
                                        <label class="ratingLabel" for="VeryGood-6"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-6" id="VeryGood-6" value="Very Good" type="radio">
                                        <label class="ratingLabel" for="Excellent-6"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-6" id="Excellent-6" value="Excellent" type="radio">
                                    </div>
                                </div>
                                <div class="ratingText"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Liaison by RITES officials with your office and their responsiveness.</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="startRating">
                                    <div class="ratingGroup">
                                        <input disabled checked class="ratingInput ratingInputNone" name="rating-7" id="ratingNone" value="0" type="radio">
                                        <label class="ratingLabel" for="BelowAverage-7"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-7" id="BelowAverage-7" value="Below Average" type="radio">
                                        <label class="ratingLabel" for="Good-7"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-7" id="Good-7" value="Good" type="radio">
                                        <label class="ratingLabel" for="VeryGood-7"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-7" id="VeryGood-7" value="Very Good" type="radio">
                                        <label class="ratingLabel" for="Excellent-7"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-7" id="Excellent-7" value="Excellent" type="radio">
                                    </div>
                                </div>
                                <div class="ratingText"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Quality of RITES website and dissemination of information for the clients.</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="startRating">
                                    <div class="ratingGroup">
                                        <input disabled checked class="ratingInput ratingInputNone" name="rating-8" id="ratingNone" value="0" type="radio">
                                        <label class="ratingLabel" for="BelowAverage-8"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-8" id="BelowAverage-8" value="Below Average" type="radio">
                                        <label class="ratingLabel" for="Good-8"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-8" id="Good-8" value="Good" type="radio">
                                        <label class="ratingLabel" for="VeryGood-8"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-8" id="VeryGood-8" value="Very Good" type="radio">
                                        <label class="ratingLabel" for="Excellent-8"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-8" id="Excellent-8" value="Excellent" type="radio">
                                    </div>
                                </div>
                                <div class="ratingText"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Accessibility of IC issued by RITES on IREPS portal.</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="startRating">
                                    <div class="ratingGroup">
                                        <input disabled checked class="ratingInput ratingInputNone" name="rating-9" id="ratingNone" value="0" type="radio">
                                        <label class="ratingLabel" for="BelowAverage-9"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-9" id="BelowAverage-9" value="Below Average" type="radio">
                                        <label class="ratingLabel" for="Good-9"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-9" id="Good-9" value="Good" type="radio">
                                        <label class="ratingLabel" for="VeryGood-9"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-9" id="VeryGood-9" value="Very Good" type="radio">
                                        <label class="ratingLabel" for="Excellent-9"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-9" id="Excellent-9" value="Excellent" type="radio">
                                    </div>
                                </div>
                                <div class="ratingText"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Responsiveness of the Inspection Engineer to queries raised by your office.</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="startRating">
                                    <div class="ratingGroup">
                                        <input disabled checked class="ratingInput ratingInputNone" name="rating-10" id="ratingNone" value="0" type="radio">
                                        <label class="ratingLabel" for="BelowAverage-10"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-10" id="BelowAverage-10" value="Below Average" type="radio">
                                        <label class="ratingLabel" for="Good-10"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-10" id="Good-10" value="Good" type="radio">
                                        <label class="ratingLabel" for="VeryGood-10"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-10" id="VeryGood-10" value="Very Good" type="radio">
                                        <label class="ratingLabel" for="Excellent-10"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-10" id="Excellent-10" value="Excellent" type="radio">
                                    </div>
                                </div>
                                <div class="ratingText"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Overall experience with RITES QA divison.</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="startRating">
                                    <div class="ratingGroup">
                                        <input disabled checked class="ratingInput ratingInputNone" name="rating-11" id="ratingNone" value="0" type="radio">
                                        <label class="ratingLabel" for="BelowAverage-11"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-11" id="BelowAverage-11" value="Below Average" type="radio">
                                        <label class="ratingLabel" for="Good-11"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-11" id="Good-11" value="Good" type="radio">
                                        <label class="ratingLabel" for="VeryGood-11"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-11" id="VeryGood-11" value="Very Good" type="radio">
                                        <label class="ratingLabel" for="Excellent-11"><i class="ratingIcon ratingIconStar fa fa-star"></i></label>
                                        <input class="ratingInput" name="rating-11" id="Excellent-11" value="Excellent" type="radio">
                                    </div>
                                </div>
                                <div class="ratingText"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row my-0">
        <div class="col-md-12 mb-3">
            <label class="bold mb-0" for="Comments">Any other Comments/Suggestiong regarding functioning RITES QA system.</label>
            <textarea id="Comments"></textarea>
            <span class="note astric">(250 Chars Maxm)</span>
        </div>
    </div>
    <div class="savenext-btn">
        <button type="button" class="save-btn active">Save</button>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('input:radio[name]').change(function () {
            var radioValue = this.value
            $(this).parent().parent().next().text('(' + radioValue + ')');
        });
    });
</script>