@model IBS.Models.NCRRegister

@{
    ViewData["Title"] = "Create NCR";
}

<div class="list-inner">
    <div class="tast-list">
        <h3>NON CONFORMITY FORM</h3>
    </div>
</div>

<form data-ajax="true" asp-antiforgery="true" asp-controller="NCRRegister" asp-action="Manage" data-ajax-method="post" data-ajax-complete="completed" id="frmNCRDetails">
    <div class="accordion-body">
        <div class="row my-0">

            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">IC NO.</label>
                    <input type="text" asp-for="IC_NO" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="reference">
                    <label for="Reference">IC Date</label>
                    <input type="text" class="input" asp-for="ICDate" readonly="true" id="fromdate" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">BK NO.</label>
                    <input type="text" asp-for="BKNo" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Set No.</label>
                    <input type="text" asp-for="SetNo" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Case No.</label>
                    <input type="text" asp-for="CaseNo" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">	Call Date - SNo.</label>
                    <input type="text" asp-for="CALL_SNO" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Contract No.</label>
                    <input type="text" asp-for="PO_NO" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Date</label>
                    <input type="text" asp-for="PO_DT" class="input" readonly="true" maxlength="100" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Vendor</label>
                    <input type="text" asp-for="Vendor" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Inspecting Er.</label>
                    <input type="text" asp-for="IE_SNAME" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Consignee</label>
                    <input type="text" asp-for="CONSIGNEE" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Item</label>
                    <input type="text" asp-for="Item" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">Qty Passed</label>
                    <input type="text" asp-for="QtyPassed" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            @if (ViewBag.ShowNCRNO)
            {
                <div class="col-md-2 mb-3">
                    <div class="reference">
                        <label for="Reference">NCR No.</label>
                        <input type="text" asp-for="NC_NO" maxlength="100" readonly="true" style="text-transform: uppercase;" required>
                    </div>
                </div>
            }
            <div class="col-md-2 mb-3">
                <div class="reference">
                    <label for="Reference">	NCR Date</label>
                    <input type="text" asp-for="NCRDate" maxlength="100" class="input" readonly="true" style="text-transform: uppercase;" required>
                </div>
            </div>
            @if (ViewBag.ShowNCRButton)
            {
                <div class="row mt-0">
                    <div class="col-md-2 mb-3" id="ncrclass">
                        <div class="reference">
                            <label for="Reference">	NCR Class</label>
                            <select asp-for="NCRClass" id="NCRClass" class="form-control" required>
                                <option value="minor">Minor</option>
                                <option value="major">Major</option>
                                <option value="cast">Critical</option>
                            </select>
                            <span asp-validation-for="NCRClass" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5 mb-3" id="ncrcodes">
                        <div class="reference">
                            <label for="Reference">	NCR Code</label>
                            @*<input type="text" asp-for="NCRCode" maxlength="100" style="text-transform: uppercase;" required>*@
                            @Html.DropDownListFor(model => model.NcCdSno, new SelectList(IBS.Models.Common.GetNCCode(), "Value", "Text"), "--Select--", new { id = "NCcode" })
                            <span asp-validation-for="NCRCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <input type="radio" id="rdononc" name="drone">
                        <label for="rdononc" id="rdononc" val name="rdononc" runat="server">No NC</label>
                    </div>
                    <div class="col-md-2 mb-3">
                        <input type="radio" id="rdoaddnc" name="drone" checked>
                        <label for="rdoaddnc" id="rdoaddnc" name="rdoaddnc" runat="server">Add NC</label>
                    </div>
                    <div class="col-md-5 mb-3">
                        <div class="reference">
                            <input name="ncdesc" id="nccodeother" class="form-control" placeholder="NCR Desc in Case of Others" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>
              
            }
            
            <div class="savenext-btn">
                @if (ViewBag.ShowSaveButton)
                {
                    <button type="button" class="save-btn active btncls" id="btnsave" onclick="Save()">Save</button>
                }
                @if (ViewBag.ShowRemarksButton)
                {
                    <button type="button" class="save-btn active btncls" id="btnremarks" onclick="BtnSaveRemarks();">Save Remarks</button>
                }
            <button type="button" class="save-btn active btncls" id="btnsendIE">Send To IE</button>
                <button type="button" class="save-btn active btncls" onclick="cancelAction()">Cancel</button>
        </div>

        </div>
    </div>
</form>
<section class="table-section" id="tableNCR">
    <div class="task-listinput">
        <div class="dash-table">
            <table id="dtNCR" class="table-responsive">
                <thead>
                    <tr>
                        <th>NC Code Sn.</th>
                        <th>NC Code</th>
                        <th>NC Description</th>
                        <th>IE Corrective & Preventive Action1</th>
                        <th>Controlling Remarks1</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>

@*@section script{

    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
     
        </script>
 }*@
<partial name="_DataTablesScriptsPartial" />
<partial name="_ValidationScriptsPartial" />
 <script>
    $(document).ready(function () {
        InitializeDatatable();
    });

    function Save(){

    }

    $(function () {
        if ($('#rdoaddnc').is(':checked')) {
            $('#tableNCR').hide();
            $('#nccodeother').hide();
        }
        $("input[name='drone']").change(function () {
            var selectedValue = $("input[name='drone']:checked").attr("id");
            if (selectedValue === "rdononc") {
                $("#ncrclass").hide();
                $("#ncrcodes").hide();
                $("#btnsendIE").hide();
                $("#tableNCR").hide();
                $("#rdononc").prop("checked", true);
            } else if (selectedValue === "rdoaddnc") {
                $("#ncrclass").show();
                $("#ncrcodes").show();
                $("#btnsendIE").show();
                $("#tableNCR").hide();
                $("#rdoaddnc").prop("checked", true);
            }
        });
    });
    function cancelAction() {
        window.location.href = '@Url.Action("Index", "NCRRegister")';
    }

    //$('#NCcode').change(function () {
    //    if ($(this).val() === '99'){
    //        $('#nccodeother').show();
    //        $('#tableNCR').hide();
    //    }
    //}

    function InitializeDatatable(){
       
        var jsonData = '@Html.Raw(ViewBag.JsonData)';
        var data = JSON.parse(jsonData);

        $(document).ready(function () {
            $('#dtNCR').DataTable({
                data: data,
                columns: [
                    {
                        data: '', orderable: false, width: '10%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { data: "NcCd" },
                    { data: "NC_DESC" },
                    {
                        data: "EditableColumn1",
                        render: function (data, type, row) {
                            return '<input type="text" class="form-control" value="' + data + '" />';
                        }
                    },
                    {
                        data: "EditableColumn2",
                        render: function (data, type, row) {
                            return '<input type="text" class="form-control" value="' + data + '" />';
                        }
                    }
                ]
            });
        });
    }

   
 </script>
    