
@{
    ViewData["Title"] = "Holiday Detail";
}

<h1>Holiday Detail</h1>

<div class="list-inner">
    <div class="tast-list">
        <h2>Holiday Detail List</h2>
    </div>
    <div class="list-btn">
        <a asp-area="" asp-controller="HolidayMaster" asp-action="HolidayDetail" class="formBtn"><span class="fa fa-plus"></span> Add New</a>
    </div>
</div>
<div class="task-listinput">
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtList" class="table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Action</th>
                            <th>View Holiday Detail</th>
                            <th>Financial Year</th>
                            <th>From Date</th>
                            <th>To Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>