@model IBS.Models.HolidayMasterModel
@{
    ViewData["Title"] = "Holiday Master";
}
<div class="list-inner">
    <div class="tast-list">
        <h2>Holiday Master List</h2>
    </div>
    <div class="list-btn">
        <a asp-area="" asp-controller="HolidayMaster" asp-action="Manage" class="formBtn"><span class="fa fa-plus"></span> Add New Holiday Master</a>
    </div>
</div>
<div class="task-listinput">
    <section class="table-section">
        <div class="task-listinput">
            <div class="dash-table">
                <table id="dtList" class="table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="padR10 center">Action</th>
                            <th class="padR10 center">View Holiday Detail</th>
                            <th>Financial Year</th>
                            <th>Region</th>
                            <th>From Date</th>
                            <th>To Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            InitializeDatatable();

            function SubmitHolidayData() {
                debugger
                if ($("#frmHolidayMaster").valid()) {
                    $("#frmHolidayMaster").submit();
                }
            }
        });

        function InitializeDatatable() {

            $("#dtList").DataTable({
                stateSave: false,// Design Assets
                autoWidth: true,
                scrollX: true,
                scrollCollapse: true,
                processing: true, // ServerSide Setups
                serverSide: true,
                destroy: true,
                paging: true,// Paging Setups
                searching: false,// Searching Setups
                ajax: {// Ajax Filter
                    url: "@Url.Action("LoadTable","HolidayMaster")",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: function (d) {
                        var AdditionalValues = {
                            //BankName, FMISBankCD
                        };
                        d.AdditionalValues = AdditionalValues;
                        return JSON.stringify(d);
                    }
                },
                columns: [// Columns Setups
                    {
                        data: '', orderable: false, width: '5%',
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var id = data.ID;
                            var editUrl = '@Url.Action("Manage", "HolidayMaster")/' + id;
                            var html = '<div align=\"center\" class=\"reportIcon actionCenter\"> <a href=\"' + editUrl + '\" class=\"edit\"><i class=\"fa fa-pencil\" title="Edit"></i></a>';
                            html += '<a onclick="HolidayMasterDelete(this.id); return false;" href="javascript:void(\'0\');" id=\"' + id + '\" class=\"delete\"><i class=\"fa fa-trash\" title="Delete" style="margin:10px;"></i>';
                            html += '</div>';
                            return html;
                        }
                    },
                    {
                        data: null, orderable: false,
                        render: function (data, type, row) {
                            var id = data.ID;
                            var poDetsilsUrl = '@Url.Action("HolidayDetail", "HolidayMaster")/' + id;
                            var html = '<div align=\"center\" class=\"reportIcon center\"> <a href=\"' + poDetsilsUrl + '\" class=\"edit\"><i class=\"fa fa-eye\" title="View Holiday Details"></i></a>';
                            html += '</div>';
                            return html;
                        }
                    },
                    { data: "Finance_Year" },
                    { data: "Region" },
                    {
                        data: "FY_FR_DT",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD/MM/YYYY") : "";
                            }
                            return data;
                        }
                    },
                    {
                        data: "FY_TO_DT",
                        render: function (data, type, row) {
                            if (type === "display" || type === "filter") {// If display or filter data is requested, format the date
                                return data != null && data != "" ? moment(data).format("DD/MM/YYYY") : "";
                            }
                            return data;
                        }
                    },

                ],
                "order": [[0, "asc"]]
            });
        }

        function HolidayMasterDelete(id) {
            var url = '@Url.Action("HolidayMasterDelete", "HolidayMaster")/' + id;
            $("#btn-delete-yes").attr("href", url);
            $("#modal-delete-conf").modal("show");
        }

    </script>
}

