@model IBS.Models.HolidayMasterModel
@{
    ViewData["Title"] = "Holiday Manage";
}

<div class="list-inner">
    <div class="tast-list">
        <h2>Holiday Master</h2>
    </div>
    <div class="list-btn">
        <a asp-area="" asp-controller="HolidayMaster" asp-action="Index" class="formBtn"><span class="fa fa-plus"></span> View List</a>
    </div>
</div>
<div class="task-listinput">
    <form role="form" asp-controller="HolidayMaster" asp-action="ManageSave" id="frmHolidayMaster">
        <input type="hidden" asp-for="ID" />
        <div class="accordion-body">
            <div class="task-inner row">
                <div class="col-md-3">
                    <div class="input-search">
                        <label for="Finance_Year">Financial Year</label>
                        <input type="text" class="input" asp-for="Finance_Year" placeholder="YYYY-YYYY" maxlength="9" />
                        <span asp-validation-for="Finance_Year" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-search">
                        <label for="FY_FR_DT">From Date</label>
                        <input type="text" class="datepicker" asp-for="FY_FR_DT" placeholder="DD/MM/YYYY" />
                        <span asp-validation-for="FY_FR_DT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-search">
                        <label for="FY_TO_DT">To Date</label>
                        <input type="text" class="datepicker" asp-for="FY_TO_DT" placeholder="DD/MM/YYYY" />
                        <span asp-validation-for="FY_TO_DT" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="savenext-btn btnAlign">
                        <button type="submit" class="save-btn active" onclick="SubmitHolidayData();" id="btnSave">Save</button>
                        <button type="button" class="reset-btn" onclick="CLearControls();">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <partial name="_DataTablesScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            function SubmitHolidayData() {                
                if ($("#frmHolidayMaster").valid()) {
                    $("#frmHolidayMaster").submit();
                }
            }

            function CLearControls() {
                $("#frmHolidayMaster").clear();
            }
        });
    </script>
}

